[2020-07-21 02:23] jemise111 commented on #491
@jungleyu Hm that's strange. Maybe something to do with `getItemLayout` or you could try passing `extraData` and forcing the FlatList to re-render on orientation changes.

Happy to look at some more code if you want to post more. But since this isn't an issue with the RNSLV itself I'm going to close this issue if that's cool

[2020-07-21 02:23] #491 closed

[2020-07-21 12:21] ashok-sl commented on #231
@jemise111
How Can I swipe the row left/right dynamically without touching/clicking on the row?
The button is outside the rows. I want all rows to swipe left/right by clicking the button.

[2020-07-21 12:43] jemise111 commented on #231
Hi @ashok-sl please see the discussion here: https://github.com/jemise111/react-native-swipe-list-view/issues/486

[2020-07-22 05:18] GwFreak01 commented on #486
@jemise111 I resolved it! Not sure how, but had to  reinstall some packages or something.

Thank you so much for this feature though! You're a lifesaver! 🙏

[2020-07-22 10:09] damian-balas commented on #486
Awesome! :)
Thanks! :)

[2020-07-22 10:26] damian-balas commented on #486
@jemise111 Is there also a way to prevent the rows from closing if you hold and swipe?
I have already tried:

disableRightSwipe
disableLeftSwipe
closeOnRowPress={false}
closeOnScroll={false}

[2020-07-22 14:25] damian-balas commented on #486
@jemise111
I wan't to prevent from closing the row if it's open.
![Jul-22-2020 16-23-33](https://user-images.githubusercontent.com/39343843/88188215-cfcfef80-cc37-11ea-8cba-582938096962.gif)

[2020-07-22 21:52] jemise111 commented on #486
Hm @damian-balas I'm not sure I've ever supported the case of opening a row and then preventing it from closing. I'm surprised `disableLeft/RightSwipe` isn't working here. I'll have to dig a little deeper on this one in a day or two

[2020-07-22 21:55] damian-balas commented on #486
@jemise111 Thanks for your work :)!

[2020-07-24 22:57] Synvox commented on #473
This isn't specific to `react-navigation`. I ran into this problem with `react-native`'s `<Modal>` component.

Wrapping the Swipe List in a `PanGestureHandler` seems capture the touch before it gets to the underlaying Modal.

try:
[code]

[2020-07-25 04:04] spooksmus commented on #491
I'm seeing the same issue. When changing the orientation the height of the swipe row is incorrect and it causes some of the red background to be shown.

[2020-07-27 12:14] developerZirkonzahn opened #492 "Swiperow crashed after navigate to new view"
I use a Swiperow with 2 buttons, on one button i change view and when i go back to the previouse view my app crashes.

[code]

[2020-07-27 14:23] jemise111 commented on #492
Hey @developerZirkonzahn do you have any info about the crash, what the error message is?

[2020-07-27 14:54] developerZirkonzahn commented on #492
When i run it on Expo it doesn`t thorw an error, but if i build the app on ios and run it on testflight it crashs. In the crashlog it only sasy:

Exeption Type:  EXC_CRASH (SIGABRT)
Exeption Note: EXC_CORPSE_NOTIFY

[2020-07-27 14:55] developerZirkonzahn commented on #492
the `onDelete` button works how it should, it only crashes when i change screen with the onInfo button.

[2020-07-27 21:54] jemise111 commented on #492
@developerZirkonzahn This is the first I'm ever hearing of this so I have a feeling this issue isn't related to this library, but happy to help you debug.. what's going on in the `onInfo` function?

[2020-07-28 06:08] developerZirkonzahn commented on #492
i call `navigation.navigate` to navigate to the next view. nothing else

[2020-07-28 06:14] developerZirkonzahn commented on #492
I used the old version of swipeout `react-native-swipeout` and everything worked fine.

In my `homescreen` i use a Flatlist:
[code]

I pass every Item to the class `MachineListItem`, where I use `SwipeRow`.

[2020-07-28 14:37] jemise111 commented on #492
Hm I don't see anything wrong with the code. Is there anyway to run this in debug mode in Xcode and try to see more in the crash logs? Without more to go on this is tough to diagnose on this end

[2020-07-28 14:43] developerZirkonzahn commented on #492
Maybe the Native Driver is causing a problem...

[2020-07-29 08:29] developerZirkonzahn commented on #492
I rewrote my code and I use a SwipeListView now. How can I close ah row when i press a button, bc when I use `rowMap[rowData.item.key].closeRow()`, `rowData.item.key` is `undefined`.

`<SwipeListView
                    useNativeDriver={true}
                    data={this.state.machineList}
                    onRefresh={() => this.onRefresh()}
                    refreshing={this.state.isFetchin

[2020-07-29 14:10] jemise111 commented on #492
@developerZirkonzahn can you show me where in your code you're calling `rowData.item.key`, I don't see it above?

This should definitely be working, see here for a reference: https://github.com/jemise111/react-native-swipe-list-view/blob/master/SwipeListExample/examples/basic.js#L54

[2020-07-29 14:14] developerZirkonzahn commented on #492
nvm, I could fix all my problems.
thanks.

[2020-07-29 14:14] #492 closed

[2020-07-31 18:21] ShayGit opened #493 "TypeError: null is not an object (evaluating 'row.currentTranslateX)"
Hello, I'm new to React Native and I am making a food ordering app, I found this swipe list view very usefull for the Products in the CartScreen for having 3 buttons for each product item when swiping, buttons are for editing the items in the cart.
each product has 'add', 'edit' and 'remove' button. Using each one of them updates the state array of products such as:
'add' duplicates the specified

[2020-08-02 16:30] Samtruc commented on #493
I also encountered this error. I think it is because of the "closeAllOpenRows()" method that cannot handle something in your way of manipulating items of the list.
In my project, I didn't provide the possibility to open all rows at the same time. I also stopped using the "closeAllOpenRows()" method and use "safeCloseOpenRow()" instead.
Not sure if it will really help you fixing your issue though.

[2020-08-03 09:28] damian-balas commented on #486
@jemise111 Did you manage to fix it?

[2020-08-06 02:37] jemise111 commented on #486
Hey @damian-balas sorry for the delay. I really can't find a way to do this with existing props. I think it would require some additional dev work, and I just don't have the time to do it at the moment.

I got close by passing `stopLeftSwipe={-150}` as a prop along with the example I gave above. Maybe that'll help a little?

[2020-08-09 08:03] GwFreak01 opened #494 "App crashes when trying to close multiple rows"
Recently, I implemented your new feature for `manuallyOpenAllRows` which works mostly, but I ran into some strange issue where if I try to swipe to close multiple rows in quick succession, I get a `Maximum call stack size exceeded`.

It keeps repeating this:

{"module":"NativeAnimatedModule","method":"startAnimatingNode"},"7237":{"module":"NativeAnimatedModule","method":"startAnimatingNode"},"7305

[2020-08-12 13:32] Foosballfan opened #495 "Android crashes when it has a rightActivationValue without a rightActionValue"
**Describe the bug**
Android crashes when it has a rightActivationValue without a rightActionValue

**To Reproduce**
https://snack.expo.io/@foosballfan/react-native-swipe-list-view

Swipe an item to midpoint, in order to trigger action, and release.
The app will crash.
Uncomment row 56 to provide a rightActionValue and fix the issue

**Environment (please complete the following information):**
 -

[2020-08-13 14:51] avishags opened #497 "Can't get swipe to delete in class component"
Hi,
I'm using the swipe list for a todo list, where swiping will get the item done.
I'm not using hooks as an example, but classes. And when I'm using setState for the new updated list the item doesn't disappear, instead the row stays green.
Also it seems like it get into a recursive state (doing some logging seems like the list get to 0 items).
I'm new to recat native, so it might be something ve

[2020-08-13 21:41] jemise111 commented on #497
Hi @avishags, it looks like you commented out these lines:

[code]

By doing that the animation is going to run on every swipe event, i.e. many many times. And each time it's going to delete a row. You need to leave those lines in or write your own code to prevent the animation from running more than once per row.

Hope that helps!

Going to close this but please reopen if you still have problems

[2020-08-13 21:41] #497 closed

[2020-08-14 14:24] avishags commented on #497
Hi,
Thanks a lot for your reply! But unfortunately this doesn't fix it.
Still same issue.
When I'm using the original sample code as is, it is working also when this is commented out so it is clearly not the problem.
The only main difference is that I am using component and not hooks.
From some reason the deletion of the item doesn't really work

[2020-08-14 14:28] avishags commented on #497
Also after updating the new list it still stays in the screen as an open row and doesn't disappear

[2020-08-14 16:23] avishags commented on #497
Seems like the problem is in the setState which I'm using instead of setListData, and from some reason doesn't work properly

[2020-08-14 18:28] avishags commented on #497
Also, when I'm using my own data source, how do I set the key value?

[2020-08-17 00:35] dontpressthat opened #498 "Next row down from deleted row becomes "swiped""
I have a delete button that removes a row item based on index in the state array. After I swipe and delete, the next item in the list shows as "swiped", showing its Delete button. I am looking to keep the next item from showing swiped state after deleting the item above it.

[2020-08-17 18:12] mshafex opened #499 "Render Hidden Item only if the row is swiped"
I want to render Hidden Button Component only if the row is swiped is it possible to do that ?
here is the code that am trying to make it work

    ` <SwipeListView
        data={data}
        refreshing={loading}
        onRefresh={() => {
          getData();
        }}

        keyExtractor={(item, index) => `item._id`}
        renderItem={({item}) => {
          return (
            <Card

[2020-08-18 05:44] salmanitb opened #500 "how to reset previouslyOpenedRowKey..."
Your issue may already be reported!
Please search on the [issue tracker](https://github.com/jemise111/react-native-swipe-list-view/issues) before creating one.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (please complete the f

[2020-08-18 05:56] salmanitb commented on #500
@jemise111 i have 3 button.. button1 , button 2 and button 3..
and i have react native swipe list view.
if i click button 1,button2 or button 3 just change the data.
<SwipeListView data={this.state.data} />
 the problem is if i open swipe in one item(button 1) if
i click button 2, automatic item open in the same one  posisition in previousopenedrowkey.

this is my function to open and close manual

[2020-08-18 05:59] salmanitb commented on #500
i want if i click button2, my swipe is reset..

[2020-08-26 02:46] markmoomoo commented on #373
@eladgel @superhos @jemise111 this bug totally replicable, and happens when I added quickaction list for ios, when I start from quick action, the hidden part disappears

after I dig deep to the source code, I found the `
<View
                style={this.props.style ? this.props.style : styles.container}

                <View
                    style={[
                        styles.hidden,

[2020-08-26 12:34] nhimspec opened #501 "Handle for onLongPress"
I have issue with onLongPress. It not work when i release apk. When i hold on item, it won’t trigger my own onLongPress. Could you help me?

[2020-08-27 03:44] salmanitb commented on #501
can u share u code???
in my case its work.

[2020-08-27 12:04] nhimspec commented on #501
![image](https://user-images.githubusercontent.com/19776115/91439915-fb2da600-e897-11ea-9fe8-aa8fe5919133.png)
In this case, i use my own onLongPress. On debug mode, it works, however when I release apk, it won't work

[2020-08-30 20:19] z-Javier-w opened #502 "UnCaught Error: toValue on android after swipe"
recieveing this error everytime i swipe on my android device

heres my code:

import {SwipeListView,SwipeRow} from "react-native-swipe-list-view"
         <View style={styles.list}>
          <SwipeListView
            data={todos}
            renderItem={({item})=> (
              <TodoItem item={item} pressHandler={pressHandler}/>
            )}
            renderHiddenItem={()=>{

[2020-08-31 13:19] khurram-wasim commented on #427
I had multiple text inputs in my list

Lets say you have 10 text inputs
On focus of each item I saved focused current Index, like:

       `onFocus={ () => setFocusFieldIndex(index) }`

In effect hook you can scrollToIndex using that saved index:

       `scrollViewRef.current.scrollToIndex({animated: true, index: focusFieldIndex});`

On keyboard hide, you can reset focusFieldIndex to -1, like:

[2020-08-31 13:51] kenzo23312 commented on #388
some issue

[2020-08-31 19:34] fleissigal opened #503 "Row gets clicked onPressOut the swipe"
Hello everyone,

I have an issue with <SwipeListView> that I couldn't find the answer to in the docs or within the other issues.

**The issue**
Every time I swipe the row, then I release the mouse press while the mouse is located on the swiped row (I'm using react native web), the item that I swiped gets clicked. However, if I swipe and release the mouse press while the mouse is located on a diffe

[2020-09-02 08:06] SallyHabib97 commented on #502
I have the same issue

[2020-09-02 18:40] fleissigal commented on #503
I managed to solve the issue:

All I had to do was to wrap the <SwipeListView> with <ScrollView>.

This way, as soon as I start the swipe the "item press gets canceled" so when I release the mouse press the item does not get clicked.

[2020-09-02 18:40] #503 closed

[2020-09-06 08:37] elirangoshen commented on #145
how you solve it ? i trie to use i have it both on android and ios ..
i tried to use SafeAresView but it doenst seems to work
thats really big issue so i wonder

[2020-09-06 11:03] Duya3fithou commented on #473
I try it, but still not working :(

[2020-09-08 01:20] MedRedha commented on #502
Same here too :(

[2020-09-09 06:57] nenjamin2405 commented on #473
I'm having the same problem with react-native-modal in Android, and @Synvox 's solution works for me, thank you

[2020-09-10 12:26] muhammadtaha1998 commented on #71
@IamStephan fixed the row closing issue thanks to you. There is also another problem I am facing. Deleting the last row leaves a little of the deleted row hidden delete button. It show like a little line. I have attached the image. Please give them a look. Look at the the little red line that stays after the item is deleted.

![Screenshot_20200910-161325](https://user-images.githubusercontent.com/

[2020-09-11 21:53] saumaypaul20 opened #504 "How to stop updating a Row Item when the Hidden Item is visible?"
I want to stop update a Row Item if its swiped open its hidden item. Going through the docs, found shouldItemUpdate is a prop to play with. But can anybody explain how to know if Row is opened so that I can apply a logic in shouldItemUpdate?

[2020-09-13 16:55] eramudeep commented on #498
**Having the same issue.  did you found the fix .??**

[2020-09-14 01:59] aidankinzett commented on #498
I had the same issue and ended up fixing it by passing the closeRow function into my hiddenItem component, and then calling it before deleting the item.
[code]
and then
[code]

[2020-09-14 20:17] durdevic opened #505 "iOS - When the list is inverted, sometimes the items are not clickable"
**Describe the bug**
When I list out my items with **inverted** to true, some items become unclickable and unswipeable. The issue disappears if I remove the inverted flag, or if I remove renderHiddenItem, but then I don't have the option to swipe any longer. You can check the screenshot video later. This issue only appears on iOS, on Android everything works.

This is the code
[code]

**To Reprodu

[2020-09-14 21:19] durdevic commented on #505
I tested thoroughly and it seems it's because of the image previews I have in the messages, some images fail to load and that breaks it. Still seems strange that this only happens only if the list is inverted.

If you consider this as not fixable in the list, feel free to close the this issue.

[2020-09-15 09:02] nenjamin2405 commented on #473
Hi @m-ruhl, did you find a solution for this?

[2020-09-15 15:37] flavio0567 commented on #388
I have the same issue :(

[2020-09-15 23:33] ethankeshishian opened #506 "Swipe-to-delete with TypeScript gives 'this' implicitly has type 'any' because it does not have a type annotation.ts(2683)"
I've tried to implement the swipe-to-delete example, but I keep encountering an error on `this.animationIsRunning` in `onSwipeValueChange`. Here's the error:
[code]

I've even implemented the list exactly like the example, but the issue persists. I noticed that when I try to `console.log(this)`, `this` is undefined. Any idea why? Thanks.

[2020-09-16 02:52] jemise111 commented on #493
Hey @ShayGit, I think @Samtruc is right. I think after removing an item from the list the `closeAllOpenRows()` is still trying to close a row that doesn't exist. I just merged a PR that should hopefully fix this issue. It will go out with the next release

Apologies for the delay in responding

[2020-09-16 02:58] jemise111 commented on #494
Hi @GwFreak01 I just ran this code in my own example and I'm not seeing any issues, I think I need to see more of your code to be able to help here. e.g. what is the dispatched action doing?

Apologies for the delay in responding

[2020-09-16 03:03] jemise111 commented on #495
Thanks @Foosballfan!

[2020-09-16 03:06] jemise111 commented on #497
Hey @avishags sorry for the late reply. Can you post more code I can look at? Also you can set a `key` on each object in an array of objects if that is your data source. Or you can use a `keyExtractor`, see more here: https://reactnative.dev/docs/flatlist#keyextractor

[2020-09-16 03:21] jemise111 commented on #499
Hey @mshafex how about this?

[code]

![hidden MP4](https://user-images.githubusercontent.com/4265163/93288089-bb742300-f7a0-11ea-897c-b877d7dcc239.gif)

[2020-09-16 09:27] mshafex commented on #499
Thanks This really Helps

[2020-09-16 14:21] jemise111 commented on #499
Hey @mshafex it's in there. Please see this doc: https://github.com/jemise111/react-native-swipe-list-view/blob/master/docs/SwipeListView.md

Going to close this for now, thanks!

[2020-09-16 14:21] #499 closed

[2020-09-17 21:08] durdevic commented on #505
I leave this as my problem. I fixed it to one extend, but if I don't load the pictures, the list works fine in both orientations

[2020-09-17 21:08] #505 closed

[2020-09-18 10:38] binhchili opened #508 "HiddenView is broken when delete item in ListView"
I have `UserBookmark` component which renders a list of bookmarked item of an user :
[code]
and its `style.js`:
[code]

This is my `BookmarkItem` component
[code]
When I swipe to the left and touch red button to delete the first item, the hidden view is broken and it got like this
Before deleteing:
![Screenshot_1600424935](https://user-images.githubusercontent.com/69777410/93588217-4c334480-f9d5-1

[2020-09-18 14:27] jemise111 commented on #508
@binhchili can you try adding the prop `recalculateHiddenLayout={true}` to the `SwipeListView`

[2020-09-23 05:21] binhchili commented on #508
Thank you sir it worked

[2020-09-23 05:21] #508 closed

[2020-09-30 12:18] meetjpatel commented on #243
In case, anyone still facing this issue, It may be because of the background color of <SwipeListView>'s parent view.
So you could just add contentContainerStyle={{backgroundColor: '#FFF'(whatever the color of your list item is)}} to <SwipeListView> and it should be fixed.

[2020-10-02 08:17] NilsKrause commented on #502
This happens because in `handleLeftSwipe` and in `handleRightSwipe` in `SwipeRow.js` the `rightActionValue` / `leftActionValue` is used to set the `toValue` for `Animated.spring` (called in `manuallySwipeRow`).
see for example: https://github.com/jemise111/react-native-swipe-list-view/blob/2f5cdec5ebd6ee320c42e4c9f477d1f072ecb40c/components/SwipeRow.js#L459

These props are optional and aren't ini

[2020-10-06 02:50] azai91 opened #509 "Render Left Hidden Item and Right Hidden Item"
Great library. I was wondering if there was a way to render different hidden items based on whether the visible row is swiped from the left or right?

[2020-10-06 09:48] Yandamuri opened #510 "rowMap is not getting updated after deleting an item from the list"
**Describe the bug**
if any item is deleted from the list, rowMap is still holding it as a key but it's value is null. Even though there is a state update rowMap is not getting updated unless go to another screen and come back to the current screen. That means if component is unMounted and mounted once again then only rowMap is getting updated

**To Reproduce**
Delete any item from list and then c

[2020-10-06 11:02] KiranCNayak commented on #34
Hey guys this issue is an old one, I found the fix for iPhone X and above (I don't know the fix if you guys are getting on other iOS devices), where the issue was found initially for me. I gave a bottom margin of 40 which avoids the bottom menu/nav bar (For the lack of correct term 😉  ). And now the issue is resolved for me. I don't know how this padding/margin fix makes it work, but the issue is

[2020-10-06 13:14] Yandamuri opened #511 "How to prevent list scroll while swiping an item"
**Describe the bug**
List scrolls everytime i swipe an item in the list. this is happening every time i swipe any item in the list

**To Reproduce**
run the swipe list view and try to swipe any item in the list

Environment :

OS: Android
RNSLV Version: "^3.2.4"
RN Version: "0.63.2"

[2020-10-06 17:50] staghouse commented on #509
Here's my solve, its a bit nuanced as your hidden items may vary but note the css:

[code]

[code]

[code]

[2020-10-06 17:54] staghouse commented on #510
Have you tried adding the row data in the `extraData` prop of `<SwipeListView>`?:

[code]

This worked for me to keep the re-render "stateful".

[2020-10-07 06:46] Yandamuri opened #512 "Getting error when try to delete two items consecutively"

[2020-10-08 02:40] Yandamuri commented on #510
@staghouse This solution doesn't show any effect. Any alternative to refresh rowMap?

[2020-10-13 10:02] Yandamuri commented on #512
issue solved. it was my mistake in coding.

[2020-10-13 10:02] #512 closed

[2020-10-14 14:43] Prashantsam commented on #465
@jemise111  It would be very helpful if you could share me the above reference code of it.

[2020-10-14 17:50] rampark commented on #465
@jemise111 It would be very helpful if you could share me the above reference code of it.

[2020-10-16 06:54] ashok-sl opened #515 "Warning - VirtualizedLists should never be nested inside plain ScrollViews."
I am constantly getting this warning.
`VirtualizedLists should never be nested inside plain ScrollViews with the same orientation - use another VirtualizedList-backed container instead.
`

My Code is
`<View
      style={{flex: 1, justifyContent: 'center'}}

       <ScrollView
		style={{flex: 1}}
		ref={(c) => {this.scroll = c}}
		nestedScrollEnabled={true}

		<View style={{paddingLeft: 15, padding

[2020-10-16 15:23] GodzSky opened #516 "[Question] Swipe item on click?"
Is there a way to trigger a swipe on an item of a SwipeListView by clicking on it (like onPress)?
Sry for my bad english and thanks in advance

[2020-10-16 21:42] staghouse opened #517 "[Question] Is it possible to trigger a row close?"
When I show the hidden show and have a button there, once pressed I would like the drawer to close. How can I trigger this?

[2020-10-19 21:04] staghouse commented on #517
Answer: `rowMap[rowIndex].closeRow()`

[2020-10-19 21:04] #517 closed

[2020-10-20 10:26] frodoe7 opened #518 "SwipeRow Override on the internal button"
**Describe the bug**

The swipe list component works well , but there's a trick with me
There's a SwipeRow element override on a button (check the inspector details on the below screenshot)
I don't use these hidden items and so on..

instead , I wrote some customized stylings to increase the main component width and so on..

here's my codes

[code]

**Screenshots**
![bb6875d3-dbeb-4859-872e-99f72f

[2020-10-20 13:15] huurray opened #519 "hiddenItem height can't change"
![image](https://user-images.githubusercontent.com/41982439/96590755-5e303c00-1321-11eb-8499-6372e535570b.png)

i tried to swipe list with basic example

but i couldn't change hidden item's height.
if i put static height to button, it disapeared..
i want to set full height like rowFront.
help me!!

[code]

[code]

[2020-10-21 12:23] #519 closed

[2020-10-21 19:49] staghouse opened #520 "[Feature Request] Add property to add content above or below the list"
It would be nice to add a custom header or footer to the list for increased usability. Optional props that takes a function and returns jsx would do the trick.

[2020-10-21 19:55] staghouse commented on #520
I did not read the full documentation. This is a supported inherited prop from FlatList

https://reactnative.dev/docs/flatlist#listfootercomponent

[2020-10-21 19:55] #520 closed

[2020-10-24 14:10] jemise111 commented on #94
Closing as this issue does not seem to be a problem anymore

[2020-10-24 14:10] #94 closed

[2020-10-24 14:11] jemise111 commented on #271
Closing as inactive

[2020-10-24 14:11] #271 closed

[2020-10-24 14:13] jemise111 commented on #327
Closing as inactive

[2020-10-24 14:13] #327 closed

[2020-10-24 14:13] jemise111 commented on #354
Closing as inactive

[2020-10-24 14:13] #354 closed

[2020-10-24 14:14] jemise111 commented on #396
Closing as inactive

[2020-10-24 14:14] #396 closed

[2020-10-24 14:16] jemise111 commented on #399
Closing as inactive, and possibly solved

[2020-10-24 14:16] #399 closed

[2020-10-24 14:17] jemise111 commented on #445
Closing as inactive

[2020-10-24 14:17] #445 closed

[2020-10-24 14:18] jemise111 commented on #448
Closing as inactive

[2020-10-24 14:18] #448 closed

[2020-10-24 14:18] jemise111 commented on #460
Closing as inactive

[2020-10-24 14:18] #460 closed

[2020-10-24 14:18] jemise111 commented on #470
Closing as resolved

[2020-10-24 14:18] #470 closed

[2020-10-24 14:19] jemise111 commented on #472
Closing as inactive

[2020-10-24 14:19] #472 closed

[2020-10-24 14:20] jemise111 commented on #479
Closing as inactive

[2020-10-24 14:20] #479 closed

[2020-10-24 14:20] jemise111 commented on #484
Closing as inactive

[2020-10-24 14:20] #484 closed

[2020-10-24 14:20] jemise111 commented on #493
Closing as resolved

[2020-10-24 14:20] #493 closed

[2020-10-24 14:21] jemise111 commented on #494
Closing as inactive, please feel free to reopen when you can respond to the above, thanks!

[2020-10-24 14:21] #494 closed

[2020-10-24 14:25] jemise111 commented on #498
Hey @dontpressthat I'll admit I tend to manually close a row as it's being deleted so there's never a chance that I run into this issue. However I just ran my example and removed this line: https://github.com/jemise111/react-native-swipe-list-view/blob/master/SwipeListExample/examples/basic.js#L26 and I'm still not seeing the behavior you're talking about. Can you post some code to show how you're

[2020-10-24 14:29] jemise111 commented on #500
Hey @salmanitb I'm sorry but I'm not fully understanding the question. Do you think you could post a gif of the problem? Happy to take another look then, thanks!

(apologies for the delay in responding)

[2020-10-24 14:34] jemise111 commented on #501
Hey @nhimspec I'm pretty positive if this is really an issue it's not with this library. Can you try adding a `onLongPress` handler to a `Touchable` in your app in a component that's **not** using your library and see if you have the same issue? Thanks!

(apologies for the delay in responding)

[2020-10-24 15:59] jemise111 commented on #504
Hi @saumaypaul20 there are a couple ways to do this. You can use the `onRowOpen`, `onRowClose` props to keep track of which rows are open / closed. See more here: https://github.com/jemise111/react-native-swipe-list-view/blob/master/docs/SwipeListView.md. Or you can keep refs to rows and check if it is open using `rowRef.isOpen`.

If you have more questions please reopen and let me know, thanks!

[2020-10-24 15:59] #504 closed

[2020-10-24 16:03] jemise111 commented on #502
Hey @z-Javier-w just adding those props above and running this on Android I'm not seeing any errors, can you please provide a reproducible example I can run on my end?

@NilsKrause Do you have an idea on how to fix this? Would love to look at a PR if you could, thanks!

[2020-10-24 16:10] jemise111 commented on #506
Hi @ethankeshishian, good call! `this` shouldn't be there. Fixed here: https://github.com/jemise111/react-native-swipe-list-view/pull/521

[2020-10-24 16:10] #506 closed

[2020-10-24 16:26] jemise111 commented on #509
Hey @azai91 you can follow @staghouse advice if you only care a 50% left right split with your hidden row. You can also use the `onSwipeValueChange` prop to detect when a row is open left or right and update state accordingly. Here's an example and what it looks like
[code]
![RedBlue mov](https://user-images.githubusercontent.com/4265163/97086884-b26e4100-15eb-11eb-9373-dfc078eec323.gif)

[2020-10-24 16:26] #509 closed

[2020-10-24 16:30] jemise111 commented on #510
Hi @Yandamuri I suppose I could constantly check for changes in the `data` prop and compare them to the `rowMap` but it's a pretty expensive computation to keep `rowMap` stateful. Can I ask why this is an issue for you?

[2020-10-24 16:33] jemise111 commented on #511
Hi @Yandamuri the SwipeListView is locked to scrolling when an item is swiped so I'm not sure how this could be happening? Could you show me a gif of the issue and some reproducible sample code? I can't currently reproduce on my side, thanks!

[2020-10-24 16:34] jemise111 commented on #515
Hi @ashok-sl, `SwipeListView` is a virtualized list so RN is warning you it should not be nested within a `ScrollView` as you have shown above, if the orientation is the same. To fix you'll need to remove your `ScrollView` wrapper

[2020-10-24 16:34] #515 closed

[2020-10-24 17:55] jemise111 commented on #516
Hey @GodzSky this should do the trick

[code]

[2020-10-24 17:55] #516 closed

[2020-10-24 17:57] jemise111 commented on #518
Hi @frodoe7 I'm not sure what the issue is here? Can you elaborate please

[2020-10-25 22:10] fdelavra opened #522 "Animation problem in height on swipe to delete"
Hello.

I have a problem on the swipe to delete example :
Even if the usenativedriver is set to false, I have an error trying to animate the height of the list item as in the example:
- Style property 'height' is not supported by native animated module

Every supported animations like translate or scale works fine.

React native version :0.62

Thanks for your help

[2020-10-25 22:21] jemise111 commented on #522
Hi @fdelavra can you share your code please?

[2020-10-26 00:13] fdelavra commented on #522
Yes of course sorry ;)

import React, {useEffect, useState, useRef} from 'react';
import _ from 'lodash';
import {Animated, Easing, View} from 'react-native';
import {Button, Text, Icon} from 'native-base';
import CartContent from './CartContent';
import { SwipeListView } from 'react-native-swipe-list-view';
import styles, {colors} from '../styles/index.style';
import { useSelector, useDispatch }

[2020-10-26 01:05] jemise111 commented on #522
@fdelavra can you try also adding `useNativeDriver={false}` as a prop to the `SwipeListView` like this https://github.com/jemise111/react-native-swipe-list-view/blob/master/SwipeListExample/examples/swipe_to_delete.js#L93

[2020-10-26 01:31] fdelavra commented on #522
It's working perfectly ! thanks a lot!

[2020-10-26 01:41] jemise111 commented on #522
👍 glad to hear

[2020-10-26 01:41] #522 closed

[2020-10-26 06:40] Yandamuri commented on #511
@jemise111 I am not if it happened in my device only i found only once and i am unable to reproduce it now. Anyway thank you for your response. If i can reproduce in the future i will come up with code .

[2020-10-26 06:41] #511 closed

[2020-10-26 06:52] Yandamuri commented on #510
@jemise111  I used to get error when i try to delete two records consecutively. so i thought it's because of  rowmap. Then later i realized that i didn't provide the unique keys to the list of records. when i did so everything was ok. But i'm sure that when i console logged rowmap after deleting an item, we can see null for the deleted item as i shown in the screen shot mention in the question.

[2020-10-26 13:37] jemise111 commented on #510
Hey @Yandamuri glad you solved your issue. I think you're definitely right that `rowMap` will have `null` items when rows are deleted, I just don't think it's a problem worth solving. It's just a lot easier to check to a `null` row on the end users side than it is for the library to try and keep the `rowMap` and `data` props in perfect sync

[2020-10-27 00:20] andrey-shostik opened #523 "swipeGestureEnded is not called"
**Describe the bug**
I would like to add custom logic when swipe is end, but the prop `swipeGestureEnded` doesn't work for SwipeRow component

**To Reproduce**
Just pass `swipeGestureEnded` prop to SwipeRow, and the `swipeGestureEnded` never be called. I was debugging  and no matter if I pass `swipeGestureEnded` or no the `swipeGestureEnded` comes for SwipeRow component, it looks like it overwriti

[2020-10-27 14:27] jemise111 commented on #523
Hi @andrey-shostik I just double checked this on my machine, it's most certainly working as intended. If you look through the entire codebase you will not find any mention of `swipeGestureEnd`

Since you have this working can I close this issue?

[code]

![gesture mov](https://user-images.githubusercontent.com/4265163/97315297-94485100-1836-11eb-9e77-291dbfdb50b7.gif)

[2020-10-27 15:26] andrey-shostik commented on #523
@jemise111 Hi. I have checked with your swipe list example `per_row_config.js` and there actually some issue exist. I'm attaching video https://drive.google.com/file/d/1e4TuPK6pNZD4nB_82VEaX7vNqGxueUNS/view

[2020-10-28 06:14] Yandamuri commented on #510
@jemise111 Thanks for giving clarity over rowMap.

[2020-10-28 06:14] #510 closed

[2020-10-28 13:45] jemise111 commented on #523
Hi @andrey-shostik okay I see what is going on now. You are referring to cases when you use a `SwipeListView` **and** a `SwipeRow`. In these cases you should pass the prop to the `SwipeListView` instead of the `SwipeRow`, and that should fix your issues

[2020-10-28 15:13] andrey-shostik commented on #523
@jemise111 Thank you, it helped me

[2020-10-28 15:24] jemise111 commented on #523
Excellent, thanks

[2020-10-28 15:24] #523 closed

[2020-10-30 09:52] binhchili opened #524 "Close row after deleting item"
I already post an issue a month ago about the problem when delete an item in `SwipeListView` and that was fixed . But now I come up with a new one. After I delete the item the row still open and I have to close it manually. How to do it automatically whenever the user delete an item ? Here is my code :
[code]
Here is my old issue https://github.com/jemise111/react-native-swipe-list-view/issues/508

[2020-10-30 13:20] slolkunchik commented on #388
me too (

[2020-10-30 13:51] jemise111 commented on #524
Hi @binhchili you can close the row just before you delete it. See an example here: https://github.com/jemise111/react-native-swipe-list-view/blob/master/SwipeListExample/examples/basic.js#L25

In your case it would look something like

[code]

[2020-10-30 13:51] jemise111 commented on #524
If that does not help please reopen, thanks!

[2020-10-30 13:51] #524 closed

[2020-10-30 18:38] jemise111 commented on #275
Hi @kpietrzak-web please see this doc https://github.com/jemise111/react-native-swipe-list-view/blob/master/docs/per-row-behavior.md

[2020-10-31 18:07] istanbulbyefendisi opened #525 "SwipeToDelete - Example in Expo fails."
I want to use its package, but here (https://snack.expo.io/@jemise111/react-native-swipe-list-view) SwipeToDelete example fails. I fixed the error by replacing the height with translateY and adding useNativeDriver: true. But scroll animation does not work after item deletion as in Gif.

[2020-11-01 16:26] jemise111 commented on #525
Hi @istanbulbyefendisi you just need to set `useNativeDriver={false}` on the `SwipeListView` and everything works as intended. I updated the snack, thanks!

[2020-11-01 16:26] #525 closed

[2020-11-05 06:29] methineeinkan opened #526 "How to swipe only one and turn off another"
![Screen Shot 2563-11-05 at 13 27 33](https://user-images.githubusercontent.com/40588602/98205439-c0687e00-1f6a-11eb-84ab-da12f0757828.png)

[2020-11-05 15:49] florinvasilevilsan opened #527 "React 16.13.1 - Warning: function components cannot be given refs. Use forwardRef"
Your issue may already be reported!
Please search on the [issue tracker](https://github.com/jemise111/react-native-swipe-list-view/issues) before creating one.

**Describe the bug**
On React 16.13.1 getting 'Warning: Function components cannot be given refs. Attempts to access this ref will fail. Did you mean to use React.forwardRef()'.

This is due to React changes where we have been asked to ren

[2020-11-06 03:55] luojiong commented on #526
This document wrote  https://github.com/jemise111/react-native-swipe-list-view/blob/master/docs/manually-closing-rows.md

[2020-11-06 03:57] luojiong commented on #526
If you are using'SwipeRow', please define a'ref' for him and use'ref' to call'closeRow()'

[2020-11-09 07:57] methineeinkan commented on #526
SwipeListView  not work closeOnRowBeginSwipe and closeOnRowOpen

[2020-11-09 08:06] luojiong commented on #526
Please check if your 'data' contains' key '

[2020-11-10 22:16] ghasemikasra39 commented on #388
same issue

[2020-11-11 01:57] jspizziri commented on #527
@florinvasilevilsan , not sure how you've implemented this, but I'm guessing that you're returning a functional component in your `renderItem` callback. If that's the case you need to make sure you wrap the component returned from `renderItem` in a `forwardRef` like below:

[code]

[2020-11-12 08:27] mohity777 commented on #94
i am still facing this issue. Why closed/??

[2020-11-12 16:55] florinvasilevilsan commented on #527
Thanks, that sorted it for me.

[2020-11-12 16:55] #527 closed

[2020-11-13 07:34] tudiantuan opened #528 "Warning: Something is calling a React component directly."
I use swipe-list-view recieve warning: Warning: Something is calling a React component directly. Use a factory or JSX instead. See: https://fb.me/react-legacyfactory

             <SwipeListView
                data={newsList}
                extraData={newsList}
                renderItem={renderItem}
                keyExtractor={item => item.c13}
                renderHiddenItem={renderHiddenIt

[2020-11-13 08:11] binhchili commented on #524
@jemise111 sorry for late response since I have to solve another problem in my project. Just comeback to this today and thanks for your solution, it works very well . But I come up with new problem. My data in each item can be different so the view inside `renderItem` can be different too. So is there a way to set the height of hidden view equal to the size of main view.? Right now I'm setting fix

[2020-11-18 20:41] osvald0 opened #529 "Doesn't touch on swipe"
I have a list of touchable components and when I want to make a Swipe always the component receive the touch event.
Can I swipe a touchable component without make the touch action?

 - OS: Android 10
 - RN Version: 0.63.2

[2020-11-23 08:31] akhatriST commented on #473
Quick solution of this is to disable the modal drag gesture, this way the swipe row will receive the gesture and will work accordingly.
Add the drag gesture of Modal on Header or top component so that you are able to drag the Modal as well

[2020-11-23 11:43] hengkx opened #530 "SectionList typescript sections error"
[code]

[2020-11-25 08:14] ThuyDang88 commented on #484
I got the same issue with latest version of this library.
"react-native-swipe-list-view": "^3.2.5"
Please help me check it?

[2020-11-27 20:55] ikeliec commented on #526
This helped. `closeOnRowBeginSwipe` prop works for me.

[2020-12-01 10:00] IamMasterWayne commented on #388
**1**
Facing...
Sending `onAnimatedValueUpdate` with no listeners registered

[2020-12-03 06:37] xiaobinhuang commented on #526
I meet this problem too when I create a SwipeListView, and use SwipeRow in the renderItem funciton. I found my data not contains the 'key', so I add a _keyExtractor_ property in the SwipeListView element and solved this problem.
`
_keyExtractor = (item, index) => {
        return index.toString();
    }
`
`
   <SwipeListView
                        useFlatList
                        keyExtractor=

[2020-12-04 20:01] ethanSE commented on #524
@binhchili I'm seeing giving the hidden view { flex : 1 } make it take up the full height of the row.
Have you tried setting the 'recalculateHiddenLayout' prop of the SwipeListView to true?

[2020-12-11 15:57] osvald0 commented on #529
I couldn't found a solution. Is this project abandoned?

[2020-12-13 05:49] tcagkansokmen opened #531 "Close all open rows?"
Is that possible to close all open rows?

I want to close them, when I click any otherwhere

None of these methods works:

[code]

If they are not working, why they are still on docs?

[2020-12-15 16:34] jemise111 commented on #526
Hey @methineeinkan I agree with @luojiong , this is almost always solved by ensuring you either have a `key` for your data or pass a `keyExtractor` prop.

Looks like that is working for people in this thread, so I will close this, but reopen if you still have issues, thanks!

[2020-12-15 16:34] #526 closed

[2020-12-15 16:35] jemise111 commented on #94
@mohity777 There was no activity and it didn't seem to be an issue for people anymore. If you are experiencing this problem can you please reopen a new issue and post some example code. I've never been able to repro this issue.

[2020-12-15 16:39] jemise111 commented on #530
Hey @hengkx what is the issue? Any chance you could submit a PR to fix? Thanks!

[2020-12-15 18:11] jemise111 commented on #531
Hi @tcagkansokmen please see the discussion here for a solution to this problem, thanks!

https://github.com/jemise111/react-native-swipe-list-view/issues/465

[2020-12-15 18:11] #531 closed

[2020-12-15 18:19] jemise111 commented on #529
Hey @osvald0 this project is not abandoned, just took some time off :)

Are you saying you have a row that is touchable but you do **not** want the touch event to fire when the row is swiped? If so please see this https://github.com/jemise111/react-native-swipe-list-view#note and you can also see an example of that here: https://github.com/jemise111/react-native-swipe-list-view/blob/master/SwipeLi

[2020-12-15 19:21] jemise111 commented on #528
Hi @tudiantuan I just updated to the latest RN version to be safe. I'm definitely not seeing this warning on my side. Can you confirm that this is not due to the `AntDesign` or `Feather` components?

[2020-12-19 15:16] usman646 opened #533 "OnPress of Delete button currently deletes the last item in the FlatList, rather than what is selected."
[HomeScreen1.txt](https://github.com/jemise111/react-native-swipe-list-view/files/5719608/HomeScreen1.txt)
[reviewForm.txt](https://github.com/jemise111/react-native-swipe-list-view/files/5719609/reviewForm.txt)l
[reviewDetails.txt](https://github.com/jemise111/react-native-swipe-list-view/files/5719612/reviewDetails.txt)

Hi everyone.. hope you are well!
Any help with this issue would be greatly

[2020-12-23 17:40] jemise111 commented on #533
Hey @usman646 can you try changing this:

[code]

to this

[code]

and see if that works, thanks

[2020-12-24 12:59] krupalikevadiya opened #534 "SwipeListView does not scroll untill end while using it inside scrollview with other content in ios.Last some item is hidden."

[2020-12-30 00:25] psdewar2 opened #535 "onPreview prop"
I would like to update state after a preview has occurred. Is there an easy way to do this (i.e. with a callback)?

[2020-12-30 02:01] jemise111 commented on #535
Hey @psdewar2 a preview swipe is the same as a user generated swipe so you can use any of the regular callbacks (i.e. `onRowDidClose`, `onRowClose`, etc) see more here https://github.com/jemise111/react-native-swipe-list-view/blob/master/docs/SwipeListView.md

[2020-12-30 02:01] #535 closed

[2021-01-01 14:47] usman646 commented on #533
Hi @jemise111, thank you for your respnse
Unfortunately, that did not work.

[2021-01-01 14:53] usman646 commented on #533
@jemise111 Thanks for your help!

I had to make one change and it now works- replacing rowKey with item.key...

`            onPress={ () => {
              const newData= [...reviews];
              const index = reviews.findIndex(review => review.key === item.key);
              console.log(index)
              newData.splice(index, 1);
              setReviews(newData);
            }}`

[2021-01-01 14:54] #533 closed

[2021-01-03 11:56] tcagkansokmen opened #536 "Can't close all rows with hooks"
Is there any way?
There's no example, or no docs about it.

I want to close all rows, when I swipe another row.
I want to close all rows, when I click on any renderitem

[2021-01-03 12:38] tcagkansokmen opened #537 "RenderHiddenItems parameter returns undefined"
Here is my renderHiddenItem code.

it returns "undefined" on console.
Whats wrong with that component? That waste my time.

It doesnt close rows,
It doesnt get any parameters.

Whats that? a joke?

[code]

[2021-01-03 12:55] #537 closed

[2021-01-09 15:22] psdewar2 commented on #535
Hey @jemise111 thanks for the info. Thinking about it further, the above scenario I described was a bit oversimplified. I want to update state meant to persist across sessions. In other words:
1. A user who updates the app should see the preview
2. When user closes the previewed row, this is an acknowledgement of the app update
3. Some toggle (boolean state) is flipped so that a preview never happ

[2021-01-09 16:29] psdewar2 commented on #535
Also, none of these work as I expected when a preview occurs, but are fine when a swipe is done manually.

- onRowOpen
- onRowClose
- onRowDidOpen
- onRowDidClose

Is this by design?

[2021-01-17 13:03] wennaspeedy commented on #502
It works, thank you!

[2021-01-21 10:07] ingerable opened #538 "Scroll being called while swiping"
**Describe the bug**
When I'm swiping an item the scroll event may be fired which means is it not disabled while swiping. We have combined recycle list view and row swipe like @tomasmozeris did in the issue [513#](https://github.com/jemise111/react-native-swipe-list-view/issues/513#issuecomment-716420373).

**To Reproduce**
We have our list :

[code]
And each swipeable row rendered :

[code]
**Scr

[2021-01-22 16:00] ingerable commented on #538
I have tested with https://www.npmjs.com/package/react-native-swipeable-row and the scroll is locked when I am swiping the rows.

[2021-01-24 14:18] jemise111 commented on #534
Hey @krupalikevadiya do you have some example code you could share. I'm not exactly sure how to go about looking at this problem

[2021-01-24 14:20] jemise111 commented on #536
Hi @tcagkansokmen please see the solution here https://github.com/jemise111/react-native-swipe-list-view/issues/242 thanks

[2021-01-24 14:20] #536 closed

[2021-01-24 14:26] jemise111 commented on #538
Hey @ingerable `SwipeRow` has a prob called `setScrollEnabled`, you can pass a function that takes a bool to enable or disable scroll on the parent list view

This is done by default for you when you use both the `SwipeListView` and the `SwipeRow` but since in this case the package has no access to the parent ListView, you have to pass the prop yourself.

Give it a try and LMK how it works for you

[2021-01-24 15:32] jemise111 commented on #535
@psdewar2 Oh man idk what happened the first time around but you're 100% right. Those props are not supported on a preview. I added a new prop that will hopefully take care of your issue called `onPreviewEnd` in v3.2.6. Here it is in action:

[code]

https://user-images.githubusercontent.com/4265163/105635127-fd843400-5e26-11eb-848b-81d704e293ce.mov

[2021-01-25 12:51] ingerable commented on #538
Yes it is working thanks !
For SwipeRow component: <br>
`       setScrollEnabled={(enable) => {
          this.setState({enableScroll: enable})
        }}`

To add on RecycleListView (or any flatlist): <br>
`scrollEnabled={this.state.enableScroll}`

[2021-01-25 12:51] #538 closed

[2021-01-25 23:29] psdewar2 commented on #535
thanks man, this is exactly what I was looking for!

[2021-01-27 04:05] akhan118 opened #540 "Switching Animated for react-native-reanimated ?"
Hola amigos,

Is it possible to switch to react-native-reanimated? It will definitely improve many of the performance issues

any thoughts?

[](https://github.com/software-mansion/react-native-reanimated)

[2021-02-01 11:10] myckhel commented on #540
some of us will be glad to contribute in the changes.

[2021-02-05 06:17] psdewar2 commented on #535
@jemise111 could you add the prop to types for TypeScript support?

[2021-02-09 18:28] Lisamarie73187 opened #541 "Android loads hidden item firsts"
When going to the page with the swipeListView the hidden items shows first and there is a weird flashing. Is there anything that can be done to avoid this?

[http://g.recordit.co/OVfueqeNPj.gif](http://g.recordit.co/OVfueqeNPj.gif)

[2021-02-12 05:57] krupalikevadiya commented on #534
<ScrollView

[2021-02-12 06:00] krupalikevadiya commented on #534
ScrollView>
 <View>
<...Some view>

  <SwipeListView></SwipeListView>
</View>
</Scrollview>

code is something like these.It's worked fine in android but in ios last some item 3-4 is always hide.

[2021-02-12 06:17] krupalikevadiya commented on #534
<SpringScrollView>
 <View >

<…..Some other view….>

 <SwipeListView></SwipeListView>

 </View >
</SpringScrollView>

[2021-02-12 06:17] krupalikevadiya commented on #534
<SpringScrollView>
 <View >

<…..Some other view….>

 <SwipeListView></SwipeListView>

 </View >
</SpringScrollView>

[2021-02-12 06:19] krupalikevadiya commented on #534
<SpringScrollView>
 <View >

<…..Some other view….>

 <SwipeListView></SwipeListView>

 </View >
</SpringScrollView>

hey @jemise111 code is something like these and it is worked fine in android but not in ios.Last 3-4 item of list is always hide.

[2021-02-12 13:15] sulaigor opened #542 "Warning: Function components cannot be given refs."
I use SwipeListView and get this error message: Warning: Function components cannot be given refs. Attempts to access this ref will fail. Did you mean to use React.forwardRef()?

I am rendering a function component in row and this message receive only if my row isn't swipeable (or if renderHiddenItem return null).

From my perspective it happens because of row 179 of components/SwipeListView.js mo

[2021-02-17 16:14] QiYuNew opened #543 "Need to touch twice to fire onPress after adding RefreshControl"
**Describe the bug**
After adding RefreshControl, need to touch the screen first and then touch the list items, the onPress of inner Touchableopacity can be fired. Both renderItem and renderHiddenItem use Touableopacity for the top-most.

**To Reproduce**
1. add RefreshControl for swipeListView
2. refreshing state and refreshing function(useCallback) are working well
3. pull to refresh
4. press th

[2021-02-17 16:21] dngconsulting opened #544 "How to avoid swiping lag effect when calling setList() ?"
I'm trying to mimic something equivalent to the sample "SwipeToDelete.js",  the issue occurs even with the provided sample.
When you try to swipe fast several rows, you face a lag effect that happens when "setList(data)" is called to refresh the list and re-render items. It is not related to the swipe component but how can I avoid that ? I have to display an icon each time the user swipes on a row

[2021-02-17 17:27] QiYuNew commented on #543
I find maybe this is related to the following
https://github.com/facebook/react-native/issues/20011

[2021-02-17 17:40] QiYuNew commented on #543
disableScrollViewPanResponder = {true} works for me - by @ravirajn22
rn 0.63.4

[2021-03-01 00:46] danstepanov commented on #503
@fleissigal How did you solve this?

[2021-03-01 02:07] danstepanov commented on #503
for me it was making sure I was importing TouchableWithoutFeedback from react-native, rather than from react-native-gesture-handler

[2021-03-01 16:02] raghavmathur1993 opened #545 "Can I make section headers as sticky headers in the flat list?"
I need to make the section headers as sticky headers. Please help.

[2021-03-01 20:28] fleissigal commented on #503
Sorry, just noticed that my comment was not formatted correctly.

I just fixed it, you can see there, I basically had to wrap the SwipeListView with ScrollView and it solved the problem.

[2021-03-03 16:48] dl-husky73 commented on #519
Huurrray, wondering how you fixed this problem. I am new to this component and having the same issue.

[2021-03-19 15:25] ajitdas123 commented on #518
@jemise111 , let's say a button appears on top of the swipe list when swiping , on clicking the button nothing happens. On inspection, it shows that the swipe list is taking over.

[2021-03-20 02:54] frodoe7 commented on #518
It's very old issue
I had to use another swipe list library

[2021-03-20 02:54] #518 closed

[2021-03-24 20:03] unstableair opened #546 "rowMap object unpopulated on first render"
The rowMap object passed to each row appears to be unpopulated on first render of a SwipeListView

Subsequent re-renders do pass a populated rowMap

I've created a snack that illustrates the problem
It logs the rowMap objects keys and on first render the objects passed to all rows are empty.
Pressing the 'Update' button will force a re-render which then shows the keys.

https://snack.expo.io/@unst

[2021-03-24 21:14] jemise111 commented on #546
Hey @unstableair I believe this is a long outstanding issue because the rowMap is populated by tapping into the `ref` callback of each row. So only **_after_** a row is rendered will it be added to the rowMap. Is this causing you any problems?

[2021-03-25 00:01] unstableair commented on #546
Hi @jemise111 thanks for the explanation and the plugin which has some great features. I call manuallySwipeRow() from SwipeRow to open the row on a longPress (common on Android) but this only works after the 2nd render. I guess the best workaround would be to immediately force a 2nd render of the SwipeListView. or is there a better way?

[2021-03-25 00:31] jemise111 commented on #546
Can you show me some example code? I think there should be a way around that

[2021-03-25 10:17] unstableair commented on #546
This snack has the longPress to open logic but only works after you click the button to force a re-render

https://snack.expo.io/@unstableair/press-and-hold-issue

[2021-03-25 16:17] jemise111 commented on #546
@unstableair Oops! Forgot you already sent that, thank you!

I modified your snack code and was able to make it work without re-rendering by passing in a reference to the `rowMap` object (which is later populated with rows)

[code]

[2021-03-25 17:00] unstableair commented on #546
@jemise111  The update works perfectly. Thanks so much for the help!

[2021-03-25 17:00] #546 closed

[2021-04-02 21:59] rpattcorner commented on #449
Let's see if this reopens ... I've got an interesting case where keyExtractor information does not seem to reach the rowMap...

[2021-04-02 21:59] rpattcorner commented on #449
No, not reopened.  I'll post a new issue and reference this one

[2021-04-02 22:28] rpattcorner opened #547 "Cannot close row: keyExtractor doesn't appear to be honored in rowMap when 'key' attribute present in row item"
I've got a corner case perhaps ... my application is a music application, so its data.item object has an attribute called, lterally, 'key'.

* As an aside, [this doc](https://github.com/jemise111/react-native-swipe-list-view/blob/master/docs/manually-closing-rows.md) seems germane, but results in unswipable rows when inserted in my code
* FWIW, the screen is a functional component, not class based

[2021-04-03 13:28] rpattcorner commented on #547
As an aside, [this doc](https://github.com/jemise111/react-native-swipe-list-view/blob/master/docs/manually-closing-rows.md) seems germane, but results in unswipable rows when inserted in my code

[2021-04-05 01:13] jemise111 commented on #547
Hey @rpattcorner, I never thought that if objects had a `key` they wouldn't be unique! I guess if you had a music app or a locksmith app there's definitely an edge case I never thought of 😂 !

Currently a `key` takes precedence over a `keyExtractor` so that certainly could be the issue. Let's do this.. can you manually make a change to the code and if it works I'll push a release with the fix.

Ca

[2021-04-05 14:55] rpattcorner commented on #547
@jemise111 , thanks for the quick response!  Yes, the proposed one line substitution fixes the problem for my app!  Any reason to hold out for a push before sending my next build to testers?

[2021-04-05 14:59] rpattcorner commented on #547
(hold on a minute, seeing a problem, likely unrelated)

[2021-04-05 15:12] jemise111 commented on #547
@rpattcorner I just released version v3.2.7 which will now favor `keyExtractor` over `key`, you should be able to use that version without issue

I will leave this issue open per your latest comment, but please close this if it is unrelated, thanks!

[2021-04-05 15:31] rpattcorner commented on #547
Thanks!  It looks to me like the issue I experienced (a freeze on navigation) is unrelated, and seems to correlate with running both an older Android emulator and a real Android device at the same time, but I'll download the new version and bang on it awhile, then close if all still seems well.

Again, much appreciated.  Those edge cases are like 'who's on first'.

[2021-04-05 15:33] rpattcorner commented on #547
I did see this, which is new and possibly relates, just FWIW:

[code]

[2021-04-05 16:03] jemise111 commented on #547
@rpattcorner IMO that shouldn't be something related to this lib but I'll keep an eye out for other reports

[2021-04-05 20:31] rpattcorner commented on #547
Looks good, many thanks!  Closing.

[2021-04-05 20:31] #547 closed

[2021-04-06 00:41] jainshreyp opened #549 "Automatically close row doesn't work"
**Describe the bug**
- My items that are rendered, aren't automatically closing when another one is opened, and aren't closing as soon as they are pressed (even when i manually set the options on the component). They all open and don't close until they are manually closed with a swipe in the opposite direction to the way they were opened

**To Reproduce**
Steps to reproduce the behavior:
Create a

[2021-04-06 07:39] mauhammadadnan opened #550 "Swipe LandScape issue"
SwipeListView working perfectly in portrait mode, but in Landscape mode delete and close button show center of flex which is wrong
![Screenshot_2021-04-06-12-31-09 1](https://user-images.githubusercontent.com/33023754/113677591-2f433200-96d7-11eb-9052-2f12b74b479b.png)
![Screenshot_2021-04-06-12-57-16](https://user-images.githubusercontent.com/33023754/113678393-02dbe580-96d8-11eb-91dd-a88c84a6694

[2021-04-06 08:04] mauhammadadnan commented on #550
rowBack: {
        flex: 1,
        width:"100%",
        flexDirection:'row',
        alignItems: 'center',
        justifyContent: 'flex-end',
    },

[2021-04-06 15:17] jemise111 commented on #549
@jainshreyp 99% of the time this is due to the objects not having a `key` property or your `keyExtractor` being implemented incorrectly. Can you please double check these two things and if you don't find any problems please post some example code I could look at, thanks!

[2021-04-06 15:18] jemise111 commented on #550
@mauhammadadnan can you please try this? https://github.com/jemise111/react-native-swipe-list-view/issues/491#issuecomment-661063501

[2021-04-06 15:23] jemise111 commented on #545
Hi @raghavmathur1993 sorry for the delay. Please see here for a full example of using a section list => https://github.com/jemise111/react-native-swipe-list-view/blob/master/SwipeListExample/examples/sectionlist.js

You can pass any props to the `SwipeListView` that you would normally pass to a `SectionList`, see more here https://reactnative.dev/docs/sectionlist#stickysectionheadersenabled

[2021-04-06 15:23] #545 closed

[2021-04-06 17:14] mauhammadadnan commented on #491
Thanks Issue Resolved

[2021-04-06 17:15] mauhammadadnan commented on #491
Issue Resolve by using  recalculateHiddenLayout={true}

[2021-04-06 17:17] mauhammadadnan commented on #550
Thanks for you reply issue gonna resolved  " recalculateHiddenLayout={true}
"

On Tue, Apr 6, 2021 at 8:19 PM Jesse Sessler ***@***.***>
wrote:

[2021-04-06 17:30] #550 closed

[2021-04-06 17:34] jainshreyp commented on #549
Ahhh your right, forgot to pass my keyExtractor haha! Thanks for your help, sorry for not being more informed, I didn't see the keyExtractor on the swipe list (but i realized thats cuz u had the key property). Thank you!

[2021-04-06 17:34] #549 closed

[2021-04-06 17:37] jemise111 commented on #544
@dngconsulting Maybe it's because I'm on a simulator but I'm not really seeing the issue you've described. Any chance you could send a demo video and maybe some example code?

[2021-04-07 14:12] Jurpp commented on #458
Hi! I've experienced this issue aswell. I fixed it by just trying things and never had een issue with it again until today. Luckily I'm able to reproduce the behaviour now.
When using this setup:
[code]
onLeftActionStatusChange does NOT fire.

When I comment out the MaskedView, onLeftActionStatusChange directly starts working. I can then even uncomment the MaskedView to re-enable my fade effect an

[2021-04-08 09:12] anthlasserre commented on #541
Hey @Lisamarie73187, can you share a sample of your code please that we can understand more ?

[2021-04-08 16:04] jainshreyp opened #551 "No scroll while swiping row (basically don't scroll when swiping diagonally)"
Your issue may already be reported!
Please search on the [issue tracker](https://github.com/jemise111/react-native-swipe-list-view/issues) before creating one.

**Describe the bug**
Compared to the expo (I have mostly the same fields set) I can scroll and open a row (which is something I shouldn't be able to do. I'm sure there is a default value, and I saw the onScroll function, but not sure where

[2021-04-09 00:50] #551 closed

[2021-04-09 14:43] jemise111 commented on #551
Hi @jainshreyp did you solve your issue?

[2021-04-10 00:08] jainshreyp commented on #551
Hey @jemise111 , this issue was found, I realized that that wrapping a ScrollView around the Swipe List View, will make it be able to scroll and swipe at the same time.

[2021-04-15 08:39] AnatolyMakarovKHM commented on #519
recalculateHiddenLayout={true}

[2021-04-20 19:38] LFMAKER commented on #502
any update?

[2021-04-20 19:38] LFMAKER commented on #502
I have the same issue

[2021-04-26 11:20] tmirun commented on #530
I think @hengkx refer this problem:

when we use `useSectionList`

renderItem the argument should return follow object
https://reactnative.dev/docs/sectionlist#requiredrenderitem
- 'item' (object) - the item object as specified in this section's data key
- 'index' (number) - Item's index within the section.
- 'section' (object) - The full section object as specified in sections.
- 'separators' (ob

[2021-05-03 11:06] tmirun commented on #542
same issue, same reason

[2021-05-06 09:37] Krunal-K-SimformSolutions opened #552 "Multiple SwipeRow inside SwipeRow"
Can we use Multiple SwipeRow inside SwipeRow with left and right swipe gestures?

[2021-05-20 13:50] Eldar4Levi opened #553 "closeOnRowBeginSwipe not working"
Hey i'v got function component AppointmentsContainer that has SwipeListView.

[code]

Appointment.js:

[code]

But when I open row the onRowDidOpen on SwipeListView   doesn't fire
And when I begin swipe another row , the previuse row doesn't close

What am I doing wrong ?

[2021-05-21 06:47] chriswayg opened #554 "SwipeListExample: Unable to resolve module SwipeListView - could not be found"
SwipeListExample fails with the same error both on iOS and Android

**To Reproduce**
followed all the steps for SwipeListExample

Error text on iOS iPhone 11 & Android Pixel 4 API29 Simulators:

[code]
**Environment - yarn react-native info**
System:
    OS: macOS 10.14.6
    CPU: (8) x64 Intel(R) Core(TM) i7-4770K CPU @ 3.50GHz
    Memory: 2.84 GB / 32.00 GB
    Shell: 3.2.57 - /bin/bash
  Binari

[2021-05-21 07:33] chriswayg commented on #554
See pull request above

`import SwipeListView from 'SwipeListView';`

in actions.js should be:

`import { SwipeListView } from 'react-native-swipe-list-view';`

[2021-05-24 05:13] kipperlhp commented on #502
+1 have the same issue

[2021-05-26 17:37] dburdan commented on #502
@jemise111 This crash occurs when [this line](https://github.com/jemise111/react-native-swipe-list-view/blob/2f5cdec5ebd6ee320c42e4c9f477d1f072ecb40c/components/SwipeRow.js#L479) is called and `toValue` is `undefined`. As mentioned above, that can happen when `leftActionValue` or `rightActionValue` are not passed as props due to .

Maybe a simple solution would falling back to `0` if `toValue` is

[2021-05-30 10:41] 3xpedia opened #556 "[IOS] Wrong vertical scroll offset when stressing a horizontal nested component"
Hi,

**Describe the bug**
When using a simple case (vertical list with items having two actions on the right) it is possible to stuck the vertical scroll in a normally "impossible" state. For example, I can stuck it at an offset of -3, which should never happens with a normal Scrollable item.
It is occurring on iOS (I did not test on Android) on all modern devices I tested (iPhone 8+, XR, 11 Pro).

[2021-06-02 06:17] pmclachlan commented on #388
This warning seems to be related to the call to _translateX.removeAllListeners() during componentWillUnmount().

If I change componentWillUnmount() to call .stopAnimation() & .runAfterInteractions() before removing the listeners, I don't get the warning anymore.

    componentWillUnmount() {
        clearTimeout(this._ensureScrollEnabledTimer);
        this._translateX.stopAnimation(()=>{

[2021-06-03 06:56] rahiMickey opened #557 "When I swipe any row of list view, it opens every 10th item from that row of list."

[2021-06-03 07:40] #557 closed

[2021-06-04 03:18] hengkx commented on #182
It can't be solved

[2021-06-04 16:27] #502 closed

[2021-06-04 16:29] jemise111 commented on #502
Hey guys, sorry for the delay and thanks for the proposed solution @dburdan!

There was a default in place when using a SwipeListView, but no default in place when using individual SwipeRows, hence my confusion. This will be fixed in the next release

[2021-06-04 16:39] jemise111 commented on #388
Hey guys sorry for the delay. I really have trouble producing this locally so I'm relying on y'all a bit here. If people want to try to verify @pmclachlan 's solution I'm happy to merge it, or push an rc tag or something

[2021-06-04 20:43] jemise111 commented on #554
Commented on the PR, this is expected. If you'd like to work on the repo you can run `yarn run dev` to fix this, thanks!

[2021-06-04 20:43] #554 closed

[2021-06-04 20:45] jemise111 commented on #553
99% of the time issues like this are related to improper use of `key`s or `keyExtractor`. Please double check that you're implementing one of those correctly with unique keys, thanks!

[2021-06-04 20:45] jemise111 commented on #552
Hey @Krunal-K-SimformSolutions I don't understand this question? Maybe some pseudo code or a visual example might help?

[2021-06-04 20:57] jemise111 commented on #541
Hey @Lisamarie73187 sorry for the delay. This has been reported a few times before and generally is not a problem with this component but rather with navigation libraries that fade in non-absolutely positioned elements. You can find suggestions for fixes here:

https://github.com/jemise111/react-native-swipe-list-view/issues?q=is%3Aissue+flash+is%3Aclosed

Thanks!

[2021-06-04 20:57] #541 closed

[2021-06-04 20:58] jemise111 commented on #543
Hey @QiYuNew seems like you found a fix and it definitely looks related to a RN bug with ListViews and not specifically this library. Going to close this one, thanks!

[2021-06-04 20:58] #543 closed

[2021-06-04 21:00] jemise111 commented on #540
Hey guys thanks for the suggestion. I'm exploring options to do a rewrite incorporating this and/or rn gesture handler, and maybe typescript as well. Just having a hard time finding enough free hours to do it but I'm trying.. thank you for the support

[2021-06-04 21:02] jemise111 commented on #528
Closing as inactive

[2021-06-04 21:02] #528 closed

[2021-06-04 21:03] jemise111 commented on #529
Closing as inactive

[2021-06-04 21:03] #529 closed

[2021-06-04 21:04] jemise111 commented on #501
Closing as inactive

[2021-06-04 21:04] #501 closed

[2021-06-04 21:04] jemise111 commented on #500
Closing as inactive

[2021-06-04 21:04] #500 closed

[2021-06-04 21:04] jemise111 commented on #498
Closing as inactive

[2021-06-04 21:04] #498 closed

[2021-06-09 08:36] 3xpedia commented on #556
Hi,
I'm sorry to bully you with this, I understand it's quite complicated to reproduce but it's quite important to have it fixed on my side.
I can take some time this week-end to work on it but I would really appreciate if you had some idea to give me (where to search, early ideas what could be the cause, ...). It would save me some time, you know this code better than me :)
Many thanks

[2021-06-10 21:33] jemise111 commented on #556
Hey @3xpedia thank you for the example repo, that is very helpful. I will try to look into this over the weekend. In the meantime I would start here:

https://github.com/jemise111/react-native-swipe-list-view/blob/master/components/SwipeRow.js#L304

It's possible that the list is being scrolled a bit past 0, then the scroll is being locked by the SwipeRow, and then when the scroll is unlocked the

[2021-06-11 05:58] assimovt opened #559 "How to combine swipe to delete and standalone swipe"
I am trying to combine the examples of **SwipeToDelete** and **StandaloneSwipeRow**.

Basically, I want to simulate the Apple Mail behavior, where you swipe a bit and it stops to show you a set of actions. Then you swipe further and it performs the outermost action, while also resizing it.

I've managed to dynamically change the size of the last item with `recalculateHiddenLayout`, however, I can'

[2021-06-11 14:56] jemise111 commented on #559
Hey @assimovt a bit selfish on my part but you mind uploading a gif or video of what it is you're trying to achieve? I don't have the Apple Mail app. I can give it a shot after that, thanks!

[2021-06-12 05:54] assimovt commented on #559
Sure @jemise111 Here is a little preview. There, I swiped to the left a bit and it opened action buttons. Then, I swiped further some threshold and it swiped till the end and performed the last action in the list - Archive (purple). Similarly, I swiped to the right and it opened Delete action button, and swiped further to perform it. As mentioned, I've managed to do all of that resizing/behavior b

[2021-06-13 14:19] Angelk90 opened #560 "Drag and drop"
Hi @jemise111 ,
It would be possible to implement an example that allows drag and drop, if it is enabled.

![image](https://res.cloudinary.com/flycatcher/image/upload/v1572289775/listgif_igl9j7.gif)

[2021-06-13 16:50] Angelk90 opened #561 "Check the render method of `CellRenderer`"
**Describe the bug**

Hi @jemise111 ,

I have the following code: https://snack.expo.io/wZVnHa9ll
When I try it on the snack emulator I have no problem or on my device scanning the qrcode on snack.
But when I try to run it on a physical device I get the error below.

From what I understand it looks like a `renderHiddenItem` problem.
When I try to remove it the problem disappears, but I don't get t

[2021-06-13 16:57] #561 closed

[2021-06-16 13:07] nicolas-adamini opened #562 "Can't re-render renderHiddenItem"
**Describe the bug**

Maybe not a bug but how could I re-render renderHiddenItem when a prop change ? I'd like to avoid using a state just to re-render this. I also tried with `recalculateHiddenLayout` and `shouldItemUpdate` but nothing changed

**To Reproduce**
- Create a SwipeListView
- In the callback of renderHiddenItem pass a prop that change (let say with a button from a parent component)

*

[2021-06-17 04:30] JEToStack opened #563 "Close opened row when touch outside row component"
Need guide and help for newbie!

[2021-06-17 13:50] alexcbluk commented on #530
That's correct as i'm facing the same exact issue as described by @tmirun, while waiting for a fix. Is there a short term fix to convert the data from `ListRenderItemInfo ` to `SectionListRenderItemInfo`. Something like:

[code]

[2021-06-18 03:38] jemise111 commented on #556
Hey @3xpedia I've looked into this some more and I'm sorry to say I'm not sure what an ideal solution would be. I can reproduce it pretty consistently now by swiping and scrolling at the same time. The issue is when it is detected that a swipe has begun the vertical scrolling is locked. If there happens to be an offset when it's locked the offset will persist even after the swipe. Let's take the c

[2021-06-18 14:20] jhta commented on #534
same happens to me, the list bounce back when it reach the end. (only IOS)

it looks like:
![e05c9cd7-048a-4f78-b63f-e4546ab4975f](https://user-images.githubusercontent.com/5351504/122574994-8d35b380-d050-11eb-8873-9e5d87332557.gif)

the code:
[code]

   @jemise111  no idea if I'm doing something wrong. I tried using a native `<FlatList>` removing the RNSLV parameters and it works fine.

[2021-06-18 17:45] jemise111 commented on #560
Hey @Angelk90, drag and drop is a separate feature set that is a really out of the scope of this component. I would recommend using one of the OS drag and drop flatlist libraries and in the renderItem use a `<SwipeRow />` from this library. You'll lose a little of the built in 'SwipeListView' functionality but it should get you a good chunk of the way there. Hope that helps!

[2021-06-18 17:45] #560 closed

[2021-06-18 18:01] jemise111 commented on #559
Hey @assimovt this is most certainly possible, just takes a little bit of tricky animated interpolation work. It's possible you can use actions. However, as that was an OS contribution, I'm not as familiar with that style of doing things. For something like this I would use the swipe value directly as the basis for all animations and interpolated styles. Here's the code and a demo I used to achiev

[2021-06-18 18:01] #559 closed

[2021-06-18 18:05] jemise111 commented on #562
Hi @nicolas-adamini if you are having issues it is almost certainly not a problem with this component. Here's an example of hidden component changing based on a prop change and it works as expected. Happy to help you try and debug if you post some code:

[code]

![RenderHidden mov](https://user-images.githubusercontent.com/4265163/122600731-d6c4d500-d035-11eb-9bae-bf14fa935a8e.gif)

[2021-06-18 18:05] #562 closed

[2021-06-18 18:41] #563 closed

[2021-06-18 18:41] jemise111 commented on #563
Hey @JEToStack Added an example for you, see the linked PR, thanks!

[2021-06-21 07:59] assimovt commented on #559
@jemise111 Thanks a lot for the example. That's exactly what I've managed to build myself but the only thing was missing is being able to stop the animation when you swipe a bit. There are basically two steps: First, you a bit swipe and it opens, stops. Then you swipe further and it swipes automatically to the end as you've shown. I've tried to use the `stopRightSwipe` to handle stopping, but then

[2021-06-21 13:38] LyricL-Gitster commented on #392
I was also unable to get this working using the latest versions of both libraries. According to the issue @lixuanle posted in [react-native-draggable-flatlist](https://github.com/computerjazz/react-native-draggable-flatlist/issues/107), they decided to implement [react-native-swipeable-item](https://github.com/computerjazz/react-native-swipeable-item#example) instead. I went that route as well aft

[2021-06-21 14:40] jemise111 commented on #559
Sorry @assimovt I'm having a hard time understanding the additional functionality you want to add. Can you explain further? I don't see any case where you would want to stop the user from swiping with these examples

[2021-06-22 06:03] assimovt commented on #559
@jemise111 Pls check on my video above that when I first swiped it paused the animation (what's missing). Only when I swiped further the threshold it started animating the last action in the row (like you have in the demo).

[2021-06-22 14:36] jemise111 commented on #559
@assimovt I'm watching the first video but I don't see anything in the mail app that stops the animation. If you're asking if it's possible to show just the buttons without immediately switching to the last action maybe you mean something like this? I'm still not 100% sure...

![RenderHidden mov](https://user-images.githubusercontent.com/4265163/122944210-3c1e0c00-d33d-11eb-847e-5c878034360c.gif)

[2021-06-29 13:11] SplinterStan commented on #542
For me as well.

[2021-07-02 14:05] RamProg commented on #388
How can I do this with a function component?

[2021-07-27 15:25] t1gor opened #567 "SwipeRow - onLongPress?"
Hello,

First of all - great job with the lib, thanks a lot for all your efforts!

I would like to add an `onLongPress` handler for `SwipeRow`. I could not find any API within the lib so far, maybe I'm missing something?

What would be the way to achieve it?

My sample row code:

[code]

[2021-07-27 18:28] jemise111 commented on #567
Hey @t1gor this is definitely possible. You just need to pass a `Touchable` as the top level component for visible content of the SwipeRow. Currently the top level component is a `Box`. I believe something like this should work:

[code]

[2021-07-27 18:29] jemise111 commented on #567
I just tested this myself and it is working, but if it is not for you please reopen this issue, thanks!

[2021-07-27 18:29] #567 closed

[2021-07-28 06:55] t1gor commented on #567
Thanks for the hint, @jemise111. My problem was that I was using `TouchableOpacity` instead of `TouchableHighlight` and it was producing weird effect - I could see the swipe actions while doing the long press on the item :) Probably worth mentioning in the docs for newbies, like myself ;)

[2021-08-01 17:21] ishan-cleartax commented on #553
If someone is here because onRowDidOpen is not firing on SwipeRow then use it on SwipeListView instead as SwipeListView is overwriting the onRowDidOpen prop for the row.

[2021-08-09 21:34] tkieft commented on #388
I'm able to repro this pretty easily: Have a single `FlatList` which swaps out its data based on some user-tappable buttons. Try tapping one of those buttons while the `SwipeRow` is animating open and you will get a bunch of these warnings.

@pmclachlan's solution didn't quite remove all the warnings for me; I think the correct solution is:

[code]

[2021-08-20 11:11] Nogias9x opened #568 "Warning: Animated.event now requires a second argument for options"
**Describe the bug**
Warning: `Animated.event now requires a second argument for options`

**To Reproduce**
[code]

**Screenshots**
![55da1030249ed3c08a8f](https://user-images.githubusercontent.com/11822492/130224683-bd1f6703-fb75-4b41-84c7-505d4f137e40.jpg)

**Environment (please complete the following information):**
 - OS: Android 10
 - RNSLV Version: 0.4.0
 - RN Version: 0.63.4

[2021-08-23 13:27] TommySorensen opened #569 "VirtualizedList supported?"
I see no documentation about the `SwipeListView` library support the `VirtualizedList` which is kind of the same as a normal FlatList. Can someone provide information about if it's supported? I tried with using the `data`, `getItem` and `getItemCount` props together but i keep getting error `FlatList does not support custom data formats.` on the `<SwipeListView` component

[2021-08-23 13:42] edenmeshulam opened #570 "Get Error when add ScrollView To component"
Get this error when i put the `<SwipeListView>` inside a `<ScrollView>`:

VirtualizedLists should never be nested inside plain ScrollViews with the same orientation because it can break windowing and other functionality - use another VirtualizedList-backed container instead.

![image](https://user-images.githubusercontent.com/20186807/130457823-99a4df21-9036-4c4d-9ce1-2910f35dffb4.png)

any ideas

[2021-08-24 08:36] DmitryKvant commented on #569
The same error
Any idea?

[2021-08-24 19:04] simplenotezy opened #571 "Missing examples for actions"
Looking at https://github.com/jemise111/react-native-swipe-list-view/blob/master/docs/actions.md in the bottom it says:

"See the actions example for reference."

But that link links to itself.

The examples would be really helpful, especially because it looks like the swipe_to_delete.js from https://snack.expo.dev/@jemise111/react-native-swipe-list-view? does not seem to leverage 'actions'.

Is i

[2021-08-24 19:41] simplenotezy opened #572 "onSwipeValueChange - throttle?"
I noticed that `onSwipeValueChange` fires A LOT when a callback is provided.

Is it possible to throttle it?

On a simple swipe from one end of the screen to the other (on iPhone 11), the callback is fired 112 times.

[2021-08-24 20:43] simplenotezy commented on #559
@jemise111 Sorry to interrupt here, but I hope I can ask a related question to this. I looked at the example here: https://snack.expo.dev/@simplenotezy/react-native-swipe-list-view, specifically `swipe_to_delete.js`.

1. How can the example know that the user released the finger? Naturally, you don't want to trigger a deletion event, before the finger is released. Say the user just swiped, and the

[2021-08-25 04:16] thanhluantl2304 commented on #477
why didn't you show how???

[2021-08-25 08:31] BlindDev commented on #477
It is in the doc.
You can use SwipeRow with specific 'leftOpenValue' and 'rightOpenValue'
https://github.com/jemise111/react-native-swipe-list-view/blob/master/docs/SwipeRow.md

[2021-08-25 15:35] simplenotezy opened #573 "Delete only when touch is released"
I looked at the example here: https://snack.expo.dev/@jemise111/react-native-swipe-list-view, specifically `swipe_to_delete.js`.

1. How can the example know that the user released the finger? Naturally, you don't want to trigger a deletion event, before the finger is released. Say the user just swiped, and then changed his mind, and moves the swipe "back" to its position. The demo takes care of t

[2021-09-02 13:33] musetraine opened #574 "closeOnRowBeginSwipe doesn't even work with keyExtractor"
[code]

[code]

[2021-09-03 19:12] #574 closed

[2021-09-03 19:12] musetraine commented on #574
my fault

[2021-09-06 15:30] simplenotezy commented on #573
@jemise111 You must be busy, but could you point me in any direction? As a workaround I experimented around with using state to detect onPressOut, however, as soon as you start to slide, onPressOut (on touchablehighlight) is fired.

[2021-09-06 15:36] simplenotezy commented on #573
OK, so I managed to use `swipeGestureBegan` and `swipeGestureEnded` and then only trigger the "delete" event when `isSwiping` is false.

          swipeGestureEnded={() => setIsSwiping(false)}
          swipeGestureBegan={() => setIsSwiping(true)}

However, it's still a mystery how the demo works, without using a state like I had to do, so would really appreciate an answer as to how it really work

[2021-09-06 19:18] jemise111 commented on #573
Hi @simplenotezy, apologies for the delay. I'm having a hard time these days finding free time to respond to GH issues.

The way the demo works is as follows:

The trigger for the delete animation has nothing to do with the user removing their finger from the screen. The lib itself takes care of deciding what to do when the user lifts their finger (e.g. swipe fully open if row is opened more than

[2021-09-06 19:20] jemise111 commented on #573
Oh and if this does answer your question please close the issue, thanks!

[2021-09-06 19:25] jemise111 commented on #568
@Nogias9x this is not the GH repo for `react-native-swipe-item`

[2021-09-06 19:25] #568 closed

[2021-09-06 19:31] jemise111 commented on #569
Hi @TommySorensen this lib currently does not support use of `VirtualizedList` out of the box. Your best bet would probably be to render a `VirtualizedList` and just use the `SwipeRow` for your individual list items. You'd lose some of the functionality of `SwipeListView` but that's the best I can offer at this time, sorry

[2021-09-06 19:31] #569 closed

[2021-09-06 19:32] jemise111 commented on #570
Hi @edenmeshulam this is an error from the RN library itself. You should follow what it says, remove any container ScrollViews around the `SwipeListView`. If you need more scrollable content on the page you should use the list's Header and Footer components, thanks

[2021-09-06 19:32] #570 closed

[2021-09-06 19:35] jemise111 commented on #571
Oops! Fixed with #575 , thanks for noticing :)

[2021-09-06 19:35] #571 closed

[2021-09-06 19:42] jemise111 commented on #572
@simplenotezy There is a listener on the animated value that is used to swipe the row which is added via this method https://reactnative.dev/docs/animatedvalue#addlistener

There is no built in way to throttle the listener. I could add throttling to how often the `onSwipeValueChange` prop function is called, but it seems like unnecessary work as I've never seen performance degradation, have you?

[2021-09-06 19:52] jemise111 commented on #542
@sulaigor (and everyone) sorry this completely fell off my radar! I'm trying to address this but I don't see the error message. Can someone please post a reproducible example and I'll get on a fix. Thanks!

[2021-09-06 20:25] The-Pr0grammer commented on #542
I am getting this error when I give the swipe-list a ref so that I can use scrollToIndex for scroll to top
I'm not sure how to fix it. The solutions I see involve refs for functional components like this

``
const FuncComponent = ({ forwardRef }) => {
  const [text, setText] = useState('functional component');

  forwardRef((text) => renderText(text));

  function renderText(text) {
    setText(te

[2021-09-07 02:10] jemise111 commented on #542
Hi @The-Pr0grammer I think you're looking for the prop `listViewRef`, see more here https://github.com/jemise111/react-native-swipe-list-view/blob/master/docs/SwipeListView.md

[2021-09-07 02:16] The-Pr0grammer commented on #542
ofc thank you

[2021-09-09 07:38] simplenotezy commented on #573
@jemise111 It definitely makes a lot of sense; thank you. Based on your input I've managed to tweak my app to perform even better, so thanks.

I'll close the issue. And oh, may I suggest you perhaps enable "Discussions" for your repo? Perhaps that would help close a lot of issues that's basically just questions like mine.

[2021-09-09 07:38] #573 closed

[2021-09-10 03:17] jemise111 commented on #573
@simplenotezy sure why not, I enabled it!

[2021-09-15 09:59] ngmikeng commented on #515
In my case I'm trying use `SwipeListView` in a children component. I have removed ScrollView wrapper arround `SwipeListView` in children component but still get the warning, I have another ScrollView wrapper on a parent component and it's required because of its content is very long.

[2021-09-17 11:06] roy-rayyone commented on #527
Just wrap your `<Foo key={index} item={item} />` in a `View` tag is good enough

[2021-09-28 10:34] Saimoon0311 commented on #533
-

1.

- [ ]   #@**_`[](url)`_**

[2021-09-29 02:32] elmcapp opened #576 "VirtualizedList ISSUE"
IS THIS A BUG CANT SET KEY

    at VirtualizedList (http://localhost:8081/index.bundle?platform=ios&dev=true&minify=false&modulesOnly=false&runModule=true&app=com.RemindLive:68932:36)
    at FlatList (http://localhost:8081/index.bundle?platform=ios&dev=true&minify=false&modulesOnly=false&runModule=true&app=com.RemindLive:68546:36)
    at SwipeListView (http://localhost:8081/index.bundle?platform=i

[2021-09-29 03:39] elmcapp commented on #576
I was able to fix this issue by adding the following
keyExtractor={item => item._id}

[2021-09-29 03:39] #576 closed, assigned to nobody

[2021-09-29 05:11] dongdyang commented on #562
wondering how do you resolve it? Thanks

[2021-10-06 15:00] qburst-subins opened #577 "How can I use swipe action in map function?"

[2021-10-08 13:04] code-by commented on #85
where I need to place this?

[2021-10-21 09:27] rashawa opened #578 "change height while running"
hello I'm having an issue
my logic is
I have a swipe item list which contains a toggler too when I click on the toggle it shows another component in a vertical
 way so this affects the height of the item and on this case the new hight of the visible row isn't reflected on the hidden one
 is there a way to set a hight dependency to it ?
![Simulator Screen Shot - iPhone 11 - 2021-10-21 at 11 48 10](

[2021-10-22 02:27] jemise111 commented on #578
@rashawa did you try the prop `recalculateHiddenLayout={true}`?

[2021-10-31 13:10] mwegener-com opened #579 "SwipeRow: close after onRightPress"
**Describe the bug**
I need to use this component in a vertical ScrollView, but since it is not possible to nest this component in such a ScrollView, I tried to build my own solution with SwipeRow.

In doing so, I have the following problem:
How can I hide the backView after pressing it?
It is working fine if I delete the last item, but not if I delete anything else except the last item.

I think

[2021-10-31 13:48] mwegener-com commented on #579
Another problem is, that sometimes the back view isn't visible at all.
Maybe you also have an idea for this:

https://user-images.githubusercontent.com/64470126/139586725-e3ccf5fa-51f5-4a90-85c8-8bb05c20c4b2.mov

[2021-10-31 15:24] kjoonas1 commented on #388
How come this issue was closed? I'm still facing the same problem, when the data changes by some button press. Is there a way to prevent that in functional components? After that warning comes, rows can't be swiped anymore.

[2021-11-01 17:08] mwegener-com commented on #579
Solved it using react-native-gesture-handler

[2021-11-01 17:08] #579 closed, assigned to nobody

[2021-11-08 10:40] chengdongXue opened #580 "Each border of data will shake after running in backend on iOS."
**Describe the bug**
Hey guys,
Hi @jemise111
Could you help me to take a look this issue, It is difficult for me to solve it.
The border of items of device list will always shake on IOS platform, ANDROID won't happen this.
Do you meet this bad situation, Please help to take a look the mp4 video

https://user-images.githubusercontent.com/19664527/140727851-7d8eddd8-37df-489d-9069-8967d71aca09.mp4

[2021-11-17 21:57] erayaras opened #581 "Changing Open Value According to Rendered Hidden Items"
I have 2 hidden buttons. I show both of them if `item.item.showViewJobButton` is `true`. If not `true` then I only show one button.

Even If I show only one hidden button, not showed button also occupies area.

Can I change `rightOpenValue` conditionally?

[code]

[code]

[2021-11-24 12:07] umeshbaldania opened #582 "Swipe full on left and right both with different different hidden item"
I can say it is not issue of you library but it is my requirement.

I have full left and right hidden view but as per current development i tried i can not successfully done that.
Please review attachment what i have done.

Also on left hidden side i have another list to scroll horizontally
I have used SwipeListView of done that.

SwipeListView======

`<View style={{ flex: 1 }}>
                <S

[2021-11-26 17:18] mixmaster429 commented on #515
In my case, the content is too long, so I need to use **ScrollView** wrapper and use **SwipeListView** inside of it.
Any solution to get rid of this issue without removing the **ScrollView** element

[2021-11-27 11:03] lukas-kuhl commented on #515
+1

I updated react and react-native. Before the update there was no error for the same code (<ScrollView> ...<SwipeListView/> ...</ScrollView>

[2021-11-29 02:03] manosKas commented on #308
@jobetdelima
May I take a look at your code? I'm trying to accomplish something similar where on long press goes into multiple selection mode and then every onPress on an item highlights it as selected. In my case its re-rendering all of the items in the list and I have a lag on every selection. I'm trying to wrap renderItem with memo properly but I can't find the proper syntax for this specific c

[2021-12-06 03:46] Aaketk17 opened #584 "1st index hidden Item not hidding when swiping the another element"
![image](https://user-images.githubusercontent.com/61150758/144783767-dda25278-576a-4d41-ad71-bac639414d51.png)

as you can see in the image, I have implemented adding Text inputs dynamically with the button press, everything is working perfectly only the 1st text input hidden item (Remove Button) not hiding when swiping the other text inputs.

[code]

but other all element's swipe is working as e

[2021-12-07 02:43] Aaketk17 commented on #584
found solution by adding keyExtractor={item => item.key.toString()} to swiper flatlist.

[2021-12-09 05:02] chengdongXue commented on #580
Does anyone could help me to answer this question?

[2021-12-13 10:46] wiru123321 commented on #572
hey i noticed performance degradation in this case. I create swipe to delete and standalone swipe from right and standalone swipe from left and it's working so slow. @simplenotezy is right it's too much re-renders when onSwipeValueChange is trigger. @jemise111

[2021-12-16 04:21] faustoct1 opened #585 "SwipeListView inside SwipeListView doesn't work"
Your issue may already be reported!
Please search on the [issue tracker](https://github.com/jemise111/react-native-swipe-list-view/issues) before creating one.

**Describe the bug**
I'm building a comment thread like instagram has. So two level of comments if enough. I'm trying to add a SwipeListView inside a SwipeListView. First SwipeListView is the comment, second SwipeListView is the reply. Whe

[2021-12-17 08:57] kkureli commented on #579
hi, how did u solve it ?

[2021-12-17 13:56] sakthimaheshalgo commented on #579
For the first issue, make sure the objects present in array supplied to the package has a key property whose value is unique other than index.

[2021-12-17 13:57] kkureli commented on #579
thanks, I solved the problem by using ref

[2021-12-17 23:12] Aryk opened #586 "Enable access to onPanResponderTerminationRequest through props"
When inside a horizontally scrolling tab view, it's very difficult to get certain interactions working without access to `onPanResponderTerminationRequest`.

For example, this user had to change this setting to get their issue working

https://github.com/jemise111/react-native-swipe-list-view/issues/34#issuecomment-245454580

I also needed to set `onPanResponderTerminationRequest ` to `() => false

[2021-12-21 13:23] oimolab commented on #515
ListHeaderComponent solved this problem.
[https://reactnative.dev/docs/flatlist#listheadercomponent](url)

[2021-12-24 06:51] FGhavamian commented on #399
In my case, the solution was to do exactly the opposite.

[2021-12-28 06:52] cs-yang commented on #585
same question

[2021-12-28 19:02] wkoutre commented on #94
For me, this issue came about when nesting `SwipeListView` within the `FlatList` primitive from `react-native`.

Didn't look into the source, but I'm guessing that the parent `FlatList` was taking over the gesture previously handled by `SwipeListView` on vertical scroll, and maybe something like `onPanResponderTerminate` from `SwipeListView` (or a row) is being called to automatically set the valu

[2022-01-23 10:57] butri71 opened #587 "Conflict dependency with reanimated"
Hi,

I'm using Expo for my react native app and just upgraded to SDK 42 which requires "react-native-reanimated": "~2.2.0"

Can you please confirm which version would be compatible.

Many Thanks!

[2022-02-01 17:25] Selenestica commented on #388
@kjoonas1 @RamProg I went to my node_modules folder > react-native-swipe-list > components > then in SwipeRow.js on around line 176 I changed the following code to use the solution posted by @tkieft, like below
[code]

This worked for me to remove the warning and things seem to be working fine.

[2022-02-03 07:44] ZubairovSalim opened #588 "Horizontal ScrollView inside renderItem of SwipeListView"
Hello! Can I add horizontal ScrollView for scrolling photos inside renderItem of SwipeListView? In other words, when I'm scrolling in area of ScrollView, photos scrolls and hidden items not showing, but when I scroll on other area of item - hidden items showing in height, that includes ScrollView area. Please look at the screenshot.

SwipeListView:
[code]

NoteItem:

[code]
![Simulator Screen Shot

[2022-02-10 08:43] AbhishekMuknak opened #590 "Bidirectional infinite scrolling"
i want add fetch more data on scrolling to the top in section list props true

[2022-02-23 16:56] mekhamata opened #592 "closeOnRowPress and closeOnRowOpen not working!"
Hi, i have a problem with closeOnRowOpen and closeOnRowPress, no action happend!
i expect the row close when i click on it or when i swipe another row.
here is my code:
`<SwipeListView
                    data={useraddresses}
                    renderItem={renderItems}
                    renderHiddenItem={renderHiddenItem}
                    leftOpenValue={75}
                    disableLeftSwi

[2022-03-09 02:47] mybuddy opened #593 "Perhaps wrong props used in SwipeRow.js"
L116 in SwipeRow.js, from the context of the logics, it supposed to be `this.props.forceCloseToLeftThreshold > 0` rather than `this.props.forceCloseToRightThreshold > 0`. Please check it out, thanks.

https://github.com/jemise111/react-native-swipe-list-view/blob/3c3fa95b0509af71dcf253834e367916ad688d13/components/SwipeRow.js#L116

[2022-03-13 15:46] JorensM opened #594 "onRightAction gets called with a delay."
Hello, I have problem. I put a function into the `onRightAction` prop. The problem is that it gets called with about 1-2 second delay. I'd like for it to be called instantly as soon as the action occurs.

[2022-04-06 07:38] cnytayvaz opened #596 "Swipe actions are stuck when you add a gesture recognizer to container view of SwipeListView"
**Describe the bug:**
I want to listen swipe gestures for logging purposes on the screen where I'm using the SwipeListView, so I added an UISwipeGestureRecognizer to the SwipeListView's container view. After that I saw that SwipeListView's actions are stuck.

**To Reproduce:**
You can reproduce the issue by adding any gesture recognizer to the window or the rootView in the appDelegate class of the

[2022-04-06 09:57] b0n1q commented on #588
any updates here?

[2022-04-06 09:59] b0n1q commented on #588
@ZubairovSalim Hello, have you solved the issue?

[2022-04-13 06:26] Urolovshohjahon commented on #304
ok

[2022-04-17 20:02] edurib17 commented on #594
Hello, I have the same problem, did you manage to solve it?

[2022-04-19 07:21] likon416 opened #597 "SwipeRow in ScrollView doesn't block ScrollView's scrolling"
When you have SwipeRow inside ScrollView and you're swiping left/right it also moves the scrolling list vertically.
How I can block ScrollView scrolling or receiving scroll events for ScrollView, so swiping left/right on SwipeRow will not move my list horizontally?

[2022-04-22 14:33] pnthach95 commented on #592
I just made it working after read [that note](https://github.com/jemise111/react-native-swipe-list-view/blob/master/docs/SwipeListView.md)

[2022-04-26 13:32] Robiullah2244 commented on #498
This fixed my issue.
https://github.com/jemise111/react-native-swipe-list-view/issues/455#issuecomment-618104389

[2022-05-04 08:42] fukemy opened #599 "show button only when swipe"
Hi, i want to implement the 'swipe to reply' method like whats app, here is what i want to do:
https://youtu.be/DgsYAJtz74U?t=136

But the problem is i do not know how to hide/show the reply button based on swipe state, can u help? Thanks in advance
Im using FlatList (giftedChat) for chat message screen

[2022-05-06 20:59] numsu commented on #594
Stumbled upon the same issue. For the time being I went with a temporary solution:
[code]

[2022-05-10 01:37] Mlu456 commented on #596
@cnytayvaz Did you ever find a solution for this?

[2022-05-10 06:58] Sagargajul41 opened #600 "Facing issue on Iphone"
Hello everyone, Well I am using react-native-modalize  and under this i am using react-native-swipe-list-view it is working but some how it not working smoothly to delete the items. can anyone know how to fix this issue?

[2022-05-17 17:30] deflexable opened #601 "java.lang.ClassCastException: java.lang.Double cannot be cast to java.lang.String"
Your issue may already be reported!
Please search on the [issue tracker](https://github.com/jemise111/react-native-swipe-list-view/issues) before creating one.

**Describe the bug**
SwipeListView throw a ClassCastException on react-native 0.68.2 but works on react-native 0.64.2

**To Reproduce**
[code]

**Screenshots**
If applicable, add screenshots to help explain your problem.

Android Logcat Er

[2022-05-17 17:47] deflexable commented on #601
after poke nosing into the code, i discover that the error comes from `RefreshControl` element. The size props is a string value of either 'default' or 'large'

[2022-05-17 20:32] #601 closed, assigned to nobody

[2022-05-18 11:46] THANGAKOWSALYA opened #602 "state is using this type ....but data option is not working ....please guide me sir"
this.state = {
        listViewData : Array(4)
        .fill('')
        .map((_, i) => ({
            title: `title${i + 1}`,
            data: [
               ... Array(6)
                    .fill('')
                    .map((_, j) => ({
                        key: `${i}.${j}`,
                        text: `item #${j}`,
                      })),
                    ],
                }))**

[2022-05-25 13:55] vanso-hubsi commented on #594
Hi! I just came across the same issue.

The issue is that the `onRightAction` only gets called after the swipeout animation has finished (see [here](https://github.com/jemise111/react-native-swipe-list-view/blob/f827f855a6db04848656f11f1f28d99682e9875b/components/SwipeRow.js#L560) and [here](https://github.com/jemise111/react-native-swipe-list-view/blob/f827f855a6db04848656f11f1f28d99682e9875b/com

[2022-05-26 11:38] NTJ3 commented on #399
Same, works for me @FGhavamian

[2022-06-03 15:54] Pashkagreen commented on #578
have the same problem, did you solve it?

[2022-06-07 15:25] KaneDenzil commented on #578
I also have the same problem, my `renderHiddenItem` are not matching the  `renderItem` height. even while adding `recalculateHiddenLayout={true}`
[code]

[code]

[code]

<img width="205" alt="image" src="https://user-images.githubusercontent.com/35671808/172421166-4cc985ce-63c9-4b8d-aa88-198c818c9115.png">

[2022-06-07 15:33] KaneDenzil commented on #519
Having the same issue even while using `recalculateHiddenLayout={true}`

detailed info posted [here](https://github.com/jemise111/react-native-swipe-list-view/issues/578#issuecomment-1148823878) also

[2022-06-07 15:33] Pashkagreen commented on #578
+++

[2022-06-09 19:07] fukemy commented on #206
how did u fixed this?

[2022-06-22 09:23] fukemy commented on #581
hi did u solved this?

[2022-06-22 09:25] fukemy commented on #383
what is rowId??????

[2022-06-22 10:52] ibrar-web opened #603 "Close previous row on new swipe not working"
<SwipeListView
                    data={custom}
                    renderItem={(data, rowMap) => (
                        <View style={style.rowFront}>
                            <Text style={styles.swipelistitem}>{data.item.name}</Text>
                        </View>
                    )}
                    renderHiddenItem={(data, rowMap) => (
                        <View style={style.ro

[2022-06-27 14:53] estebanrao commented on #603
Have you tried using `closeOnRowBeginSwipe` ?

[2022-07-05 18:50] nobane commented on #603
I had this problem recently.

The issue for me was that all my data items needed to have a unique `key` defined on them.

Make sure all the items in your `custom` data object have a unique `key` defined.

[2022-07-12 10:44] daweimau commented on #455
Better to use an actual item `id` if it is available 😁

[2022-07-15 09:08] marry1822 commented on #603
Doesn't work with the unique key and closeOnRowOpen, closeOnRowBeginSwipe
Still several rows are opened at the same time. How to fix it?

[code]

[2022-07-15 09:11] marry1822 commented on #581
Same issue, any suggestions?

[2022-07-27 09:58] mmaass commented on #578
recalculateHiddenLayout fixed my problem. As for you who have still problems, check if you have the flexGrow: 1 or absolute positioning with top/bottom: 0 styles set to your hiddenItem View

[2022-07-29 17:07] Pashkagreen commented on #578
vielen Dank! Alles funktioniert wie es soll)

[2022-08-01 14:36] lucasmcht opened #604 "manuallyOpenAllRows function not working with sections list"
**Describe the bug**
When using `<SwipeListView/>` component with `useSectionList` and a ref, the function `manuallyOpenAllRows()` only open the last section rows.

**To Reproduce**
Use a SwipeListView component with multiple sections using useSectionList, and then trigger the manuallyOpenAllRows function.

**Environment :**
 - OS: IOS 15.0
 - RNSLV: 3.2.9
 - RN Version: v0.69.1

[2022-08-02 06:36] GokuVijay opened #605 "Is there any way to close the swipe manually ?"
I want my swipe list to close while clicking a button. I didn't tried many way to close it, but can't find a way. please reply if there's any solution.

[2022-08-04 06:40] ngocphucstyle commented on #508
@jemise111, @binhchili  thank you it works for me, love you 3000
I'm from Finviet with love

[2022-08-05 07:30] AdamLee321 commented on #605
See the following link: https://github.com/jemise111/react-native-swipe-list-view/blob/master/docs/manually-closing-rows.md

[2022-08-08 03:38] GokuVijay commented on #605
Thanks dude ,I finally solved my issue

[2022-08-08 03:38] #605 closed, assigned to nobody

[2022-08-14 02:15] ucwealth commented on #388
Thanks. I tried this and it worked.

[2022-08-14 02:18] ucwealth commented on #388
Thanks. I tried this and it worked.

[2022-08-25 01:37] Nantris opened #606 "Library still maintained and/or actively developed?"
It would be great to see ongoing development, especially including support for [FlashList](https://shopify.github.io/flash-list/docs/usage/).

[2022-08-26 06:44] developerElmo opened #607 "rowMap returns me all the props instead of the actual rowMap. React Native 0.69.3"
**Describe the bug**
Hi! So our app recently changed version to 0.69.3 and maintained the react-native-swipe-list-view to 3.2.9.
After upgrading our app crashes whenever it involves closing any row item.

Upon further checking it seems that the reason behind it  rowMap returns me the props instead of the actual rowMap object.

**To Reproduce**
To reproduce the scenario here is the code of my test

[2022-09-02 06:47] lorenz199x commented on #607
I think that error is related on how you handle the data in state. Thanks 👍

[2022-09-07 08:42] manosKas opened #608 "Hidden row prevent re-render"
**Describe the bug**
Avoid re-rendering of hidden item (row) when hook state is changing

**To Reproduce**
SwipeListView with renderItem and renderHiddenItem as simple as it can be, but there is a useState hook to controll multiple select mode which renderItem toggles it onLongPress.

example expo link: [https://snack.expo.dev/@manolee22/flatlist-simple](url)

**Environment (please complete the fo

[2022-09-09 01:02] tdammy92 commented on #597
did you get a fix for this, am having same issues, row cant scroll on android but works perfectly well on ios.

[2022-09-11 02:25] jemise111 commented on #606
Hey @Slapbox thanks for the question. I'll use this issue as a place to say a few things about this library. But first..

Have you tried the `renderListView` and passing in a `FlashList`? I'll be honest that was an outside contribution so I'm not 100% sure it'll work, but it's what the prop was designed for.

**Comments on maintainership**
To be honest since I changed jobs and had a kid my free ti

[2022-09-11 15:16] tdammy92 opened #609 "Vertical scroll not working on android but works on ios. v3.2.9"
**Describe the bug**
I dont know if its a bug but, here is the issue you cant scroll vertically on android but, works on Ios.

**Environment (please complete the following information):**
 - OS: Android
 -  react: "18.0.0"
 -react-native": "0.69.5",
  -react-native-swipe-list-view": "^3.2.9"

[2022-09-22 15:59] shahanshah87 commented on #603
replace `id` with `key`

[2022-10-05 08:08] #604 closed, assigned to nobody

[2022-10-06 11:15] likon416 commented on #597
@tdammy92 I see a bit better results when u will use FlatList or SectionList

[2022-10-09 06:21] pop-thanit commented on #347
How to auto close when using standalone_row ?

[2022-10-09 11:33] pop-thanit commented on #347
How to auto close when using standalone_row ?
I didn't use <SwipeListView> so i can not use this

onRowOpen={(rowKey, rowMap) => {
        setTimeout(() => {
            rowMap[rowKey].closeRow()
        }, 2000)
    }}

Is there any other way to do that ?

<SwipeRow leftOpenValue={75} rightOpenValue={-75}>
                    <View style={styles.standaloneRowBack}>
                        <Text>L

[2022-10-19 15:19] cip123 opened #610 "Question: Change SwipeRow style when swiping started"
Hi, I started using the library, and it looks great.

The issue I am facing is that I couldn't find a way to change the style of the `SwipeRow` when the user started sliding it (I am using a standalone `SwipeRow`).
I would like a darker background or a border for that item, making it easier to see what row is selected ( I don't use borders for the elements of the ListView).

I have looked at `swip

[2022-10-19 17:03] #610 closed, assigned to nobody

[2022-11-05 10:00] muhammadmahad-debug commented on #603
@Shahanshah87 Sorry for being late but you need to remove bracly brackets or in brackets add return