[2016-04-18 22:12] chirag04 opened #1 "cannot disable left swipe for stand alone swiperow."
I'm trying to use the standalone swipe row component but seems like it always swipe to left.

[2016-04-18 22:24] jemise111 commented on #1
Hey @chirag04, would you mind pasting the code where you're using the SwipeRow and I'll have a look?
Thanks!

[2016-04-19 04:14] benoitvallon opened #3 "onPress method called at render"
If I do something like this, my `onPress` method gets call for every rows at render.

[code]

[2016-04-19 04:27] benoitvallon commented on #1
I am not sure if it is related to this issue but it would be nice to be able to lock a side of the row to avoid the swipe. The `leftOpenValue` sets to 0 avoids the swipe to open the row, but if the row cannot be opened I think it would make sense not to have the swipe gesture as well.

[2016-04-19 14:03] jemise111 commented on #1
Ah, I understand now. Yeah it's something I didn't get around to in the initial release. Will try to work on later today but PRs are welcome ;)

For flexibility's  sake maybe instead of disabling when the value is 0 there could be disableLeftSwipe and disableRightSwipe props?

[2016-04-19 14:05] jemise111 commented on #3
I think this is because you're actually calling the function when the onPress handler is bound to the TouchableHighlight. Could you give something like this a try:

`<TouchableHighlight onPress={ _ => this._handleRemoveIdea(rowID) } style={styles.rowBack}>`

Let me know if that does the trick otherwise I'll investigate further

[2016-04-19 14:20] benoitvallon commented on #1
Yes I agree, the new props disableXxxxSwipe would make the lib more flexible instead of doing it for 0.

[2016-04-19 14:21] benoitvallon commented on #3
Thanks, I will try that tonight and will let you know

[2016-04-19 19:03] matthiasleitner opened #5 "Touchables inside SwipeRow"
Hi,

you think with the current setup it would be possible to keep touchables inside a SwipeRow beeing able to respond to touch press? It works for me in the simulator but not on an actual Android device. Swiping works just fine but the press is no longer triggered on the TouchableHighlight inside the row.

Thanks a log

[2016-04-19 19:17] jemise111 commented on #5
Hey @matthiasleitner could you paste some code here showing how you're rendering the SwipeRow / SwipeListView? I just tried this on a device and it worked for me. The TouchableHighlight nested inside the row does not close the row but the onPress function IS triggered. Happy to look more if you could show an example. Thanks!

[2016-04-19 20:03] matthiasleitner commented on #5
@jemise111 my renderRow function basically looks like in the snippet below - the real structure is a little more complex but it behaves the same when reduced to the sample below.

`  _renderRow(entry) {
    return    <View style={styles.swipeRow}>
         <TouchableHighlight style={[styles.fab} onPress={this._onPressIncrement.bind(this, entry)}>
          <Text style={styles.buttonText}>+</Text>

[2016-04-19 22:29] jemise111 commented on #1
Fixed by #6. You can now use **disableLeftSwipe** and **disableRightSwipe** props on the SwipeListView or SwipeRow

[2016-04-19 22:29] #1 closed

[2016-04-20 01:09] benoitvallon commented on #3
It works great. thanks

[2016-04-20 01:09] #3 closed

[2016-04-20 14:11] jemise111 commented on #5
@matthiasleitner Just tried your code on a Moto G device and it's working just fine for me. Tapping on the "+" (or anywhere on the row) runs the _onPressIncrement function. Couple of things:

1. There's an extra bracket causing a syntax error in the code you pasted. Right before "styles.fab". But I doubt this solves your issue.
2. If your issue is that you want the row to run the _onPressIncrement

[2016-04-22 15:56] Thorbenandresen opened #7 "Close row on renderHiddenRow buttons?"
Really great work, thanks for making this!

How can I close the row if I press on the one of the buttons in the `renderHiddenRow`func?

[code]

[2016-04-22 16:47] jemise111 commented on #7
Thanks! Hm that's a great question. As it stands I'm not sure it's possible. I'll try to make this work over the weekend but if you want to look into it sooner I'd start by looking here:

https://github.com/jemise111/react-native-swipe-list-view/blob/master/components/SwipeListView.js#L72

If it's possible to pass the SwipeRow's ref to the renderHiddenRow function, i.e. `renderHiddenRow(rowData, s

[2016-04-22 21:16] jemise111 commented on #7
@Thorbenandresen fixed by #8. See this section of the README for more details https://github.com/jemise111/react-native-swipe-list-view#manually-closing-rows. Let me know if you still have issues, thanks! (published in 0.0.4)

[2016-04-22 21:16] #7 closed

[2016-04-22 22:54] Thorbenandresen commented on #7
that works, thanks so much for fast fix!

[2016-04-26 07:54] Haiwen01 opened #9 "Crash when remove the last item"
hi,

 I love this project. but recently I used it, and found a issues. I set a right button, when click this right button, the row will close manually. Then I remove the last item, it will crash.  The console is "Cannot read property 'closeRow' of null". I think maybe the "openCellId" out of array. Should the "openCellId" reset when items changed or the row close manually?

Thanks.

[2016-04-26 14:09] jemise111 commented on #9
Hey @Haiwen01, thanks for reporting. I'll take a look asap but would you be able to post the code you're using to render the SwipeList and remove an item? It'd be a big help. Thanks!

[2016-04-26 15:08] Thorbenandresen opened #10 "Some issues with this.ds.cloneWithRowsAndSections"
Hi Jesse,

I am using cloneWithRowsAndSections according to [this simple tutorial](https://medium.com/@darylrowland/reactnative-listview-with-section-headers-99a6714282c3#.h5fhpy1m3) but `cloneOnPress` and the "manually closing rows" does only work on my last section.

Thanks!

[2016-04-28 13:02] ramy612 opened #11 "error when i run the example"
after i npm install the component and i wrote the codes just like the example, but when i run
 the app, it shows

Element type is invalid: expected a string(for built-in components) or a class/function (for composite components) but got: object. Check the render method of 'TestSwipeListView'

I really don't know why? would you help me? THX

[2016-04-28 13:26] Thorbenandresen commented on #11
Have you modularized you components and maybe forgot to `module.exports` it? It would help if you could post your code.

[2016-04-28 19:56] jemise111 commented on #9
@Haiwen01 good call on the openCellId, fixed this in #12.

Closing this. Let me know if you have any other issues. Thanks!

[2016-04-28 19:56] #9 closed

[2016-04-28 19:59] jemise111 commented on #11
Hey @ramy612, like @Thorbenandresen said could you please post your TestSwipeListView code. There's likely an issue in that file. Happy to take a look. Thanks!

[2016-04-28 20:51] jemise111 commented on #10
@Thorbenandresen good call, wasn't accounting for sectionIds, only rowIds. Fixed by #13. Will be released with v0.1.0. Please note this introduced a small breaking change for the manually closing rows functionality that we discussed here: https://github.com/jemise111/react-native-swipe-list-view/issues/7. See the README and example for the change. It's very small. Let me know if you have any quest

[2016-04-28 20:51] #10 closed

[2016-04-28 21:02] jemise111 commented on #7
Note for anyone using this new functionality. v0.1.0 introduced a breaking change to how closeRow should be used. Please see https://github.com/jemise111/react-native-swipe-list-view#manually-closing-rows for details. Thanks!

[2016-04-28 23:58] ramy612 commented on #11
`/**
 * Sample React Native App
 * https://github.com/facebook/react-native
 */
'use strict'

import React, {
  AppRegistry,
  Component,
  StyleSheet,
  Text,
  View,
  ListView
} from 'react-native';

var SwipeListView = require('react-native-swipe-list-view');

var dataSource = [
  {data: 'a'},
  {data: 'b'},
  {data: 'c'},
];

class pandaswipelistview extends Component {
  render() {
    var d

[2016-04-29 14:03] jemise111 commented on #11
Hey @ramy612 - found the issue.

Change
```var SwipeListView = require('react-native-swipe-list-view');```

to
```var { SwipeListView } = require('react-native-swipe-list-view');```

This package exports two components so you just have to specify which one in your require statement.

Closing the issue. Please let me know if you have any more problems and I'll re open. Thanks!

[2016-04-29 14:03] #11 closed

[2016-04-30 02:32] ramy612 commented on #11
yeah, thx for your kindly help! problem solved! @jemise111

[2016-05-02 14:25] Thorbenandresen commented on #9
Hi Jesse,

I still have this problem in my list with sections.

`cannot read property 'closeRow' of null` (if debugger attached)
`null is not an object (evaluating 'rowMap["+secId+rowId].closeRow")` (if no debugger attached)

[code]

Thanks!

[2016-05-03 07:35] ramy612 opened #14 "Cannot read property 'closeRow' of undefined"
`import { SwipeRow, SwipeListView } from 'react-native-swipe-list-view';

< SwipeListView
  dataSource={this.state.dataSource}
  renderRow={this._renderRow}
  renderHiddenRow={ (data, sectionID, rowID, rowMap) => (
    < View style={styles.rowBack}>
      < TouchableOpacity style={[styles.backRightBtn, styles.backRightBtnRight]} onPress={ _ => rowMap[rowID].closeRow()}>
        < Text>delete< /Tex

[2016-05-03 15:39] jemise111 commented on #9
@Thorbenandresen I believe that's happening because I'm guessing your ```onDelete``` function removes that index from the dataSource before you tried to close it. If you reversed the order of deleting and closing I don't think you'd have a problem.

In any case I've released an update that safe checks against trying to close a row that no longer exists so if you npm install the latest (0.1.1) you

[2016-05-03 15:43] jemise111 commented on #14
@ramy612 Please see this section of the README: https://github.com/jemise111/react-native-swipe-list-view#manually-closing-rows. The latest update released a breaking change so you have to do things slightly differently.

Also see here: https://github.com/jemise111/react-native-swipe-list-view/blob/master/example.js#L25

That shows a working example of closing a row. You can ignore the part about

[2016-05-03 22:11] jemise111 commented on #5
@matthiasleitner I finally ran into this issue! I tried this on a newer Android devices and it behaves differently than an older one. For some reason on older devices (and iPhones and emulators) a Touchable still recognizes a tap even if there is a panresponder responding to touch events. On (presumably) newer Android devices this isn't the case and the the panresponder intercepts the touch.

#16

[2016-05-04 01:23] ramy612 commented on #14
@jemise111 I changed my code to the form that you give me like below:

`import { SwipeListView, SwipeRow } from 'react-native-swipe-list-view';

            < SwipeListView
                dataSource={this.state.dataSource}
                renderRow={this._renderRow}
                renderHiddenRow={ (data, sectionID, rowID, rowMap) => (
                    < View style={styles.rowBack}>

[2016-05-04 02:43] ramy612 commented on #14
@jemise111 problem solved. my fault, i use ' not `, my god,hahah, thank you very very much

[2016-05-04 08:07] matthiasleitner commented on #5
@jemise111 Thanks for the follow up, after your last post I also tested on another device where it was working after that I couldn't put in any more time to investigate. Will try with the new version. Thanks a lot!

[2016-05-04 11:19] jemise111 commented on #14
Ahh damn I missed that too. Glad it's working! Closing

[2016-05-04 11:19] #14 closed

[2016-05-04 13:57] jemise111 commented on #5
@matthiasleitner if you know it what phones / versions of Android we're you using when this worked and not worked? There's something going on with event bubbling/propagation not happening on certain devices but I can't nail down what exactly it is.

Also it appears my latest fix works for a touchable row, so the ```_renderRow``` function I posted above should work, but I believe a touchable nested

[2016-05-04 15:12] Thorbenandresen commented on #9
@jemise111 again, thank you very much! I really appreciate the effort you put into this. Of all the RN swipeout modules out there, this the most elegant one and the first one which works well for me. Keep up the good work!

[2016-05-04 18:58] matthiasleitner commented on #5
@jemise111  The device it does not work with is a cheap DOOGEE X5 running android version 5.1. Also tested on a variety of Android 4.4.2 Devices (e.g. Galaxy S4 Mini) where it was working fine.

Just tried with version 0.1.3 and it was still not working in my case, but I've to nest my touchable a few levels deep.

[2016-05-06 17:25] jemise111 commented on #5
@matthiasleitner fixed it! I'm very confident the latest version (v0.1.4) will fix the issue on all devices. Before I was hacking around detecting touches and manually triggering the onPress functions.

Now the SwipeRow won't capture touch events if the gesture isn't a swipe. So the appropriate onPress function will run (including the underlay or opacity animation 😄 ). And it shouldn't matter if y

[2016-05-09 16:37] matthiasleitner commented on #5
@jemise111 just re-checked and it works on all the devices I have available. thanks a lot for your efforts!

[2016-05-09 16:37] #5 closed

[2016-05-09 16:38] jemise111 commented on #5
@matthiasleitner awesome, glad to hear it. Thanks for testing

[2016-05-11 17:31] jdmunro commented on #5
I was experiencing the same problem on an iPhone 6S Plus. It would work on the simulator but not on the device. Seems to be cleared up in the new version though, thanks!

[2016-05-11 19:11] jemise111 commented on #5
@jdmunro np! Yeah I was reading somewhere that this problem happens on newer Androids and iPhones that have force touch. Glad it's working though

[2016-05-20 07:11] sparkdreamstudio opened #24 "package.json dependence is not adapt to RN0.25"

[2016-05-30 12:17] latusaki opened #25 "Removing open row opens next row"
UsingSwipeListView. When the action (say delete) of the hiddenRow causes the row to be removed, the row bellow it is set to the open state. closeOnRowPress has no effect if there is a touchable within the row content.

[2016-05-30 12:19] latusaki opened #26 "Cleanup of root"
If I make a PR with the example code moved to a separate DIR (which we can easily npmignore then) would it be accepted?

[2016-05-30 12:42] latusaki commented on #25
Missed the https://github.com/jemise111/react-native-swipe-list-view#manually-closing-rows !

[2016-05-30 12:42] #25 closed

[2016-05-31 14:09] jemise111 commented on #26
Yeah sure. If you could just make sure the examples still run and change the 1 or 2 references to example.js to the new full path that would be great.

[2016-06-02 12:25] #26 closed

[2016-06-07 13:57] #24 closed

[2016-06-13 15:04] braco opened #29 "swipeable rows are in RN core now"
Just FYI for searchers:

https://github.com/facebook/react-native/tree/26a92220c2a6355afc0a54be4a7266da50f7c692/Libraries/Experimental/SwipeableRow

https://github.com/facebook/react-native/releases/tag/v0.27.0

[2016-06-20 09:22] npomfret opened #30 "Using SwipeRow in ListView"
I want to use a SwipeRow in a ListView rather than use a SwipeListView because i want different behaviour on different rows. Some for example should not be swipeable.

The behaviour I'm seeing is that the right-swipe works fine, but the left-swipe doesn't.  After releasing the left-swipe, the view immediately switches as if I'd done a right-swipe.

[2016-06-26 19:54] cmdillon commented on #30
hi, i was wondering how i can make "rightOpenValue" value dynamic? i tried adding "ref=" to a "View" element, and then doing something like: https://github.com/facebook/react-native/issues/953
but that didn't work seems the "ref" is not available inside "renderHiddenRow". any ideas or examples would be appreciated.

[2016-06-26 19:55] cmdillon opened #31 "how to make "rightOpenValue" a dynamic value?"
hi, i was wondering how i can make "rightOpenValue" value dynamic? i tried adding "ref=" to a "View" element, and then doing something like: facebook/react-native#953
but that didn't work seems the "ref" is not available inside "renderHiddenRow". any ideas or examples would be appreciated.

[2016-06-28 03:56] cmdillon opened #32 "how to delete a row?"
hi, is there an example of how to delete a row?

[2016-06-28 13:34] jemise111 commented on #32
Yes! Check out `example.js` here: https://github.com/jemise111/react-native-swipe-list-view/blob/master/SwipeListExample/example.js#L71

Let me know if you have any further questions.

[2016-06-28 13:34] #32 closed

[2016-06-28 13:55] jemise111 commented on #29
Thanks! Added a note in the Readme

[2016-06-28 13:55] #29 closed

[2016-06-28 14:28] jemise111 commented on #30
Hey @npomfret. So I tried to replicate your issue but I can't. I think what may be happening is as you're swiping left you're also swiping up causing the ListView to scroll which causes the row to close. This is handled if you're using the SwipeListView since I have access to all scrolling behavior and can determine what is a scroll vs a swipe.

For this reason I wouldn't recommend using standalon

[2016-06-28 14:28] cmdillon commented on #32
i saw that, but it seems not to work. the row closes, but the row doesn't get removed. any ideas?
btw: used your example code and my rn is 0.27.0

[2016-06-28 14:31] jemise111 commented on #31
Hey @cmdillon, good find, as of now there isn't support for this. Currently whatever is passed to the `renderRow` and `renderHiddenRow` props is wrapped in a `SwipeRow` and each row is passed the same properties for `rightOpenValue`, `leftOpenValue` etc.

It would be great if there was an option to just pass a `SwipeRow` to the `renderRow` function and the `SwipeListView` could check for that and

[2016-06-28 14:34] cmdillon commented on #31
thanx for the feedback!

[2016-06-28 14:46] jemise111 commented on #32
What version of React are you using. I'll try to replicate

[2016-06-28 14:56] cmdillon commented on #32
i'm using the fallowing:
"react": "^15.1.0",
"react-native": "^0.27.0",

[2016-06-28 15:15] jemise111 commented on #32
Updated my package.json. Reinstalled all node_modules.
Using:
React 15.1.0
React Native 0.27.2

I'm not seeing any problems:

![](http://g.recordit.co/YyQ873caCA.gif)

Maybe remove node_modules, upgrade to 0.27.2, reinstall the app, and give it another shot?
If it's still not working let me know what device you're using, OS, etc and if I can I'll use the same.

[2016-06-28 15:18] cmdillon commented on #32
ok, i'll give it a try later and see if that helps. i'll keep you posted. thanx again for the quick feedback.

[2016-06-28 16:59] npomfret commented on #30
Thanks for the reply.  If i get some time I'll take a look at implementing per row behaviours

[2016-07-01 01:05] cmdillon commented on #32
hi, i removed node_modules, upgrade to 0.27.2, reinstall the app, and give it another shot. but unfortunately no effect.

i'm using a mac and i'm testing in the simulator with iphone 6. i'm also using redux.

[2016-07-01 02:35] cmdillon commented on #32
ok—so used exactly your code example and all works. i guess it must the the structure that i'm using in my lists. hmmm...

[2016-07-01 13:52] jemise111 commented on #32
Okay well I'm glad it's working in at least that case. I'm happy to take a look at some code if it's public. Or feel free to send me a private gist or something - jesse [dot] sessler [at] gmail

[2016-07-04 10:37] pixelgamma opened #34 "Swipe quickly makes the swipe buggy."
When you swipe quickly rows one by one (without scrolling the ListView, be careful), the swipe becomes really buggy at a time: the swipe is blocked, you can't discover buttons behind rows. Then if you scroll up/down a bit the ListView, it unblocks the swipe. You can reproduce this bug using the example file, I've tested it on iOS devices (iPad, iPhone).

[2016-07-04 14:02] Thorbenandresen commented on #34
I have also experienced that from time to time on iOS.

[2016-07-05 06:55] inetfuture commented on #34
me too

[2016-07-06 14:50] jemise111 commented on #34
@pixelgamma @Thorbenandresen @inetfuture Thanks for reporting. This is something I haven't been able to solve and could definitely use some help. I believe this is the same issue as when you delete one of the last rows in the ListView.

With some logging, my theory is that the onScroll event in the ListView is (incorrectly) being triggered, which overrides the panResponder and doesn't allow the ro

[2016-07-07 14:52] jemise111 commented on #31
@cmdillon Finally got around to it. Npm install the latest version and check out the docs [here](https://github.com/jemise111/react-native-swipe-list-view#per-row-behavior) for dynamic values on SwipeRows.

Let me know if you have any further problems or questions!

[2016-07-07 14:52] #31 closed

[2016-07-07 14:54] jemise111 commented on #30
@npomfret Npm install the latest version and check out the docs [here](https://github.com/jemise111/react-native-swipe-list-view#per-row-behavior) for dynamic values on SwipeRows.

The example now shows how to disable swiping on only some rows.

Let me know if you have any further problems or questions!

[2016-07-07 14:54] #30 closed

[2016-07-08 03:20] zamiang opened #39 "Unable to display SwipeRows of variable height"
I am in the process of transitioning a react native 0.29 ListView to your SwipeListView.

I've noticed that due to properties on a container I cannot style, the list items are all of equal height.

ListView on the left, SwipeListView on the right.
![row-height](https://cloud.githubusercontent.com/assets/110563/16676545/2c0f04be-4499-11e6-8dbd-0f148afaea29.jpg)

Happy to help out here -- maybe pass

[2016-07-08 13:21] jemise111 commented on #39
Hey @zamiang happy to look into this but I think I'm missing the issue. The first two items look like they're of equal height. The third item looks larger on the right but it's not equal to the height of any other items. So is the issue that the height of the third item is unexpectedly larger?

If you could provide some snippets of code for the ```ListView``` and ```SwipeListView``` that would be

[2016-07-08 15:27] zamiang commented on #39
Thanks! Here is a bit more detail. TLDR - All rows have `flex: 1` applied in a way that I cannot override. https://github.com/jemise111/react-native-swipe-list-view/blob/master/components/SwipeRow.js#L250

Color key:
- yellow is background of the the SwipeListView
- purple and gray are alternating backgrounds of SwipeRow

With `flex: 1`:
![screenshot 2016-07-08 11 15 17](https://cloud.githubuserco

[2016-07-08 15:54] snibib commented on #34
I alse met on IOS,I found that panResponder of row was replaced by listview's every time cannot slide.

[2016-07-10 21:56] jemise111 commented on #39
@zamiang Okay so without your code to run and I can't really test if this will fix your problem. But when checkout this PR, #40,  when you have a sec and let me know if it fixes your issue. Then I'll merge and release a new version. Thanks!

[2016-07-11 00:03] zamiang commented on #39
That looks great!

I have gained a bit more insight into the root issue. React-native 0.28 made changes to how flex: 1 vs flex: 0 works. I have been seeing similar pull requests / issues with other projects. In [the release notes ](https://github.com/facebook/react-native/releases/tag/v0.28.0) you will see this note:

"flex styling property behavior now behaves slightly differently. If you previou

[2016-07-11 03:40] snibib commented on #34
I am not good at English,so please don't mind.I found a solution which may can give some help.I found when the row cannot slide,the responder was replaced by listview via setScrollEnabled in SwipeRow.js.So I have done something here.

[2016-07-13 13:08] AzatFMS opened #42 "closeOnRowPress do not work on standalone SwipeRow"

[2016-07-14 13:50] jemise111 commented on #39
@zamiang I merged in the PR to allow for passing in styles. I'll do a release over the weekend. Good call on the flex: 1 issue, I'll take a look and see if it makes sense to remove it. Leaving this open until then. Thanks!

[2016-07-14 13:56] KishPatel1996 commented on #34
@snibib  Can you post the file?

[2016-07-16 13:23] jemise111 commented on #42
Hey @AzatFMS thanks for reporting but I'm not seeing any issues. I've tried it on RN 0.28 and 0.29. If you could post device, version numbers, and the code you're using I can look into this further.

![](http://g.recordit.co/XM9wPubeTC.gif)

[2016-07-16 13:54] jemise111 commented on #39
Removed flex: 1, closing. Fixed by #40 and #43

[2016-07-16 13:54] #39 closed

[2016-07-16 16:36] jdmunro commented on #34
Also experiencing this issue. Happy to try out any potential solutions.

[2016-07-16 16:56] zamiang commented on #39
Thanks!

[2016-07-18 06:42] AzatFMS commented on #42
`<SwipeRow
            rightOpenValue={-70}

            <View style={styles.rowBack}>
                <TouchableOpacity onPress={this.doSmth}>
              <Text>Click here but swipe not closing</Text>
       </TouchableOpacity>
            </View>
            <View >
            </View>
        </SwipeRow>`

Something like this.

[2016-07-22 07:46] npomfret commented on #30
Perfect, thanks!

[2016-07-22 10:05] npomfret opened #44 "getScrollResponder() is not a function"
I'm unable to call the getScrollResponder() function on my ListView.  I get:

`TypeError: messagesList.getScrollResponder is not a function`

[2016-07-23 07:09] npomfret opened #45 "Per-row feature not working in production"
I'm getting an error when deployed to an iPhone in production mode.  The behaviour seems to be different than when connecting to a local npm server.

I'm trying to use the new per-row features, but they're failing when I deploy it to TestFlight with this error:

`Fatal Exception: RCTFatalException: Unhandled JS Exception: this.props.renderHiddenRow is not a function. (In 'this.props.renderHiddenRo

[2016-07-24 22:10] npomfret commented on #45
This works: https://github.com/jemise111/react-native-swipe-list-view/pull/46

[2016-07-26 01:07] jemise111 commented on #45
Fixed by #46

[2016-07-26 01:07] #45 closed

[2016-07-26 02:10] jemise111 commented on #44
Hey @npomfret I've added a prop to get a ref to the ListView called listViewRef in #47.

I'll release it shortly and you should be able to do

[code]

and then ```this.messagesList.getScrollResponder``` should work just fine. Let me know if you have any issues!

[2016-07-26 02:10] #44 closed

[2016-07-26 02:18] jemise111 commented on #42
Hey @AzatFMS without seeing the rest of the code it's tough to tell what the problem is. But in the example in ```example.js``` is set up the same way and is working fine.

In the example I just splice the dataSource's array at the index of the rowId for whichever row is pressed. And then set the state for the dataSource to be the new array.

Have a look here https://github.com/jemise111/react-nat

[2016-07-26 10:35] npomfret commented on #44
Thanks!

[2016-07-27 07:21] AzatFMS commented on #42
Oh, vfyually closing rows is what i need. Thanks!

[2016-07-27 07:21] #42 closed

[2016-07-27 09:55] snibib commented on #34
@KishPatel1996 Sorry to reply so late.I found it didn't work so nice.It just seldom happens.

[2016-07-27 10:01] snibib commented on #34
componentWillMount() {
    this._panResponder = PanResponder.create({
      onMoveShouldSetPanResponder:(e,gs) => this.handleOnMoveShouldSetPanResponder(e,gs),
      onPanResponderMove:(e,gs) => this.handleOnPanResponderMove(e,gs),
      onPanResponderRelease:(e,gs) => this.handleOnPanResponderRelease(e,gs),
      onPanResponderTerminate:(e,gs) => this.handleOnPanResponderTermination(e,gs),

[2016-07-27 10:18] kendrickkesley opened #48 "Usage with Navigator react-native-navigation"
Hi! I was using your library and realized that something wrong when I implement it on tabBar using
react-native-navigation
https://github.com/wix/react-native-navigation

I use the same component and the backRow is not rendered in the second tab and above. But in the first tab, it's rendered perfectly (I'm using your example as the component)

Is it a bug or did I do something wrong?

[2016-07-27 10:37] kendrickkesley commented on #48
I managed to fix this by using props
recalculateHiddenLayout={true}

Is this a correct practice?

[2016-07-27 14:28] jemise111 commented on #48
Hey @kendrickkesley yep using that prop is just fine. It's a small performance optimization to set that prop to false. But if you are re-rendering swipe rows that could have different sizes (which it sounds like you are) then this prop should be set to true.

Closing this issue, please reopen if you still have problems!

[2016-07-27 14:28] #48 closed

[2016-07-27 17:33] kendrickkesley commented on #48
Thank you! @jemise111 btw your library is awesome!

[2016-07-27 17:35] jemise111 commented on #48
@kendrickkesley Thanks so much! Glad it's working for you

[2016-08-04 19:17] chandlervdw opened #49 "Expose "open" or "close" state to renderRow or renderHiddenRow"
If I wanted my SwipeRow to do one thing when tapped while the row is closed and another while it's open (say, close the row), is that possible with how things stand?

[2016-08-05 13:13] jemise111 commented on #49
Exposing methods to check row state is a great idea! (and a PR is always appreciated :) but as it stands that doesn't exist. However I think you could achieve this with the onRowOpen / onRowClosed props. If you're using a SwipeListView something like this should do the trick:

[code]

If it's just a plain SwipeRow (without the ListView) you may have to manage the open rowId differently but the app

[2016-08-05 13:51] chandlervdw commented on #49
@jemise111 thanks for that! To note, I think your `onPress()` if statement needs
[code]

[2016-08-05 14:43] jemise111 commented on #49
@chandlervdw Yeah it depends if you're using sections or not. I believe if you just have one section then just using the rowId will be good for a unique identifier. But if you have rows with sections you may need to keep track of both.

Hope this solution worked for you! If it did let me know so I can close this issue, thanks!

[2016-08-05 14:43] chandlervdw commented on #49
@jemise111 Yeah, it worked! Thank you so much. I will try to get a PR to you in the next couple of weeks.

[2016-08-05 14:43] #49 closed

[2016-08-05 14:49] jemise111 commented on #49
@chandlervdw awesome! Much appreciated

[2016-08-09 04:09] fabriziogiordano opened #50 "Add support for 1st row bounce"
It would be nice to have a method to bounce the 1st row of the list so users know it's a swipeable list.

[2016-08-23 03:27] vistier opened #51 "Attempted to transition from state `RESPONDER_INACTIVE_PRESS_IN` to `RESPONDER_ACTIVE_LONG_PRESS_IN`, which is not supported. This is most likely due to `Touchable.longPressDelayTimeout` not being cancelled."
ExceptionsManager.js:76 Attempted to transition from state `RESPONDER_INACTIVE_PRESS_IN` to `RESPONDER_ACTIVE_LONG_PRESS_IN`, which is not supported. This is most likely due to `Touchable.longPressDelayTimeout` not being cancelled.reactConsoleError @ ExceptionsManager.js:76console.error @ YellowBox.js:60_handleLongDelay @ Touchable.js:595JSTimersExecution.callbacks.(anonymous function) @ JSTimers.

[2016-08-24 19:20] agrass opened #52 "refreshControl prop"
It's possible to use refreshControl prop in the SwipeListView??

[2016-08-24 21:44] basdvries commented on #52
yes. see `{...props}` in SwipeListView, which basically means: pass all props inserted into SwipeListView into ListView

[2016-08-25 12:13] agrass commented on #52
Great!

[2016-08-25 12:13] #52 closed

[2016-09-01 14:51] jemise111 commented on #50
@fabriziogiordano done! This will be out in the next release (v0.3.0)

Fixed by #53

[2016-09-01 14:51] #50 closed

[2016-09-01 14:53] jemise111 commented on #51
@vistier I haven't been able to reproduce this.

Could you provide the code you're using with the SwipeListView or SwipeRow? Also if you could provide the version of RN, device info, and anything else that would be super helpful, thanks!

[2016-09-04 13:48] npomfret opened #54 "0.3.0 not working with RN0.32.0"
When I swipe a row in a SwipeListView it immediately bourse back and won't stay open.  I tried reverting back to 0.2.3 but that didn't help, so maybe is an issue with RN0.32

[2016-09-04 19:26] jemise111 commented on #54
Hm @npomfret I'm personally using 0.3.0 with RN 0.32 and haven't had an issue so far. If you could post your code and any other information about platform, OS, or version number that'd be really helpful and I'd be happy to take a look, thanks!

[2016-09-05 10:14] npomfret commented on #54
[code]

[2016-09-07 08:38] npomfret commented on #54
Solved it.

I was missing a `leftOpenValue={xx}` prop.  I thought because I'd used `disableLeftSwipe={true}` that it wasn't needed, but without it the right swipe just bounces back.  Strangely, I tried settings it to 0 and 1 but neither worked.  So I set it to 75 and the right swipe works now.

Thanks!

[2016-09-07 08:38] #54 closed

[2016-09-07 08:51] npomfret opened #55 "Request: preview row 'x'"
I'm using an [InvertibleScrollView](https://github.com/exponentjs/react-native-invertible-scroll-view) to render my ListView:

`renderScrollComponent={props => <InvertibleScrollView {...props} inverted/>}`.

And so my _first_ row,  i.e. the top row in the view is not the one I want to preview.  I want to preview the last row (the bottom most row).  It would be nice to be able to pick the row to pr

[2016-09-07 23:52] dangerwells commented on #34
Changing
[code]
to
[code]
worked for me. Perhaps a bit heavy-handed.

[2016-09-09 03:04] TossShinHwa opened #56 "How to use with a transparent background?"
Hi,

We want to use `SwipeRow` with a transparent background. If we set content style:

[code]

Then, the `hiddenView` will be displayed, it's not what we want. We want it just like Notification Center of IOS, Be displayed only when slid open.

Do you have some idea to resolve this? Thank you.

[2016-09-22 11:07] anthonyivol opened #60 "unique "key" prop"
I maybe missed something, but anyone had issue with that ? :

Warning: Each child in an array or iterator should have a unique "key" prop. Check the render method of `ListView`.

I put a unique key prop on each `<View>` child of my row, sectionHeader and hiddenRow, method returns, and it doesn't solve anything. I tried to put a key prop on the `<View>` wrapper in the render method of `<SwipeRow>`

[2016-09-22 11:11] anthonyivol commented on #60
Ok I forgot the key in the renderSeparator method...

[2016-09-22 11:11] #60 closed

[2016-09-28 14:26] eamonpenland opened #61 "Weird issue when switching between components"
Hey! great component, but I'm having a weird issue that I can't seem to track down. I have a parent component that determines which rn component to render based on a selected filter. The components are changed correctly, but when I want to navigate back to the component with the react-native-swipe-list-view i must press the button twice to get the list view to show on the screen. None of the under

[2016-10-03 13:42] basequatro commented on #61
@eamonpenland  Remove styles, or props, one by one, until you find the guilty.
I had this problem and was a color: 'white' on the Swipe component.
You can also change to default listview from RN to know if its a problem with this component.

[2016-10-06 10:42] npomfret opened #62 "Can't programatically close a row"
I'm using a per-row configuration and am seeing some strange behaviour.  I think its related to the view being updated with new rows while an existing row is a swiped state.  It looks like its getting confused as to while row was in the swiped state when the model was updated.  I'm not sure how to fix, but a workaround might be to programatically close all rows before the model changes - which in

[2016-10-10 12:02] YouYII opened #63 "renderRow params is null"
eg :
      <SwipeListView
            dataSource={ds.cloneWithRows([1,2,3,4,5])}
            renderRow={data=>{
              console.log(data);
              return <Text>test</Text>
            }}
          />

log :

null
null
null
null
null

[2016-10-10 12:57] YouYII commented on #63
Oh
this is my bug ,because i use realm list view datasource

import { ListView } from 'realm/react-native';
haha

[2016-10-10 12:57] #63 closed

[2016-10-17 01:09] bellatu opened #64 "How set DIRECTIONAL_DISTANCE_CHANGE_THRESHOLD properly?"
If set  DIRECTIONAL_DISTANCE_CHANGE_THRESHOLD value too large, the row can not swipe out easily. If set DIRECTIONAL_DISTANCE_CHANGE_THRESHOLD too small, when scroll the swipe list, the row is easy to bring out.

The large DIRECTIONAL_DISTANCE_CHANGE_THRESHOLD value set 4.
const DIRECTIONAL_DISTANCE_CHANGE_THRESHOLD = 4;
 _onMoveShouldSetPanResponder = (event, gestureState) => {
    const { dx } =

[2016-10-19 17:49] jorelllinsangan opened #65 "Using renderHiddenRows with per row behaviour"
I'm looking through your example and you're not using renderHiddenRows when implementing a per row behaviour list. Are we not able to use that property when doing per row behaviour?

[2016-10-20 18:04] levitanong commented on #65
Each SwipeRow requires two children: the first child will always be what will be rendered as renderHiddenRows, and the second child will be the row itself. You'll simply want to work on the first child.

It isn't explicitly stated in the doc, but as you can see here, there are two elements.
https://github.com/jemise111/react-native-swipe-list-view#per-row-behavior

[2016-10-20 18:06] levitanong opened #66 "Add a lifecycle hook for onRowDidClose, etc..."
This would be useful for applying computationally heavy stuff _after_ the row close is done animating.

[2016-10-24 17:14] levitanong commented on #65
@jorelllinsangan No problem.

The thing is, hiddenRow is just a convenience method. Under the hood, it actually just uses SwipeRow, and calls hiddenRow as the first element.
See https://github.com/jemise111/react-native-swipe-list-view/blob/master/components/SwipeListView.js#L104

[2016-10-24 18:59] joonhocho commented on #51
https://github.com/facebook/react-native/issues/1693

[2016-10-27 14:18] vestvud opened #69 "Rows with different height"
Hello!
Would you do support to rows with different height? Otherwise, rows height break.

[2016-10-27 20:05] jorelllinsangan opened #70 "renderRow not passing valid rowMap"
I have this block of code
`<SwipeListView
              dataSource={this.ds.cloneWithRows(this.state.listViewData)}
              renderRow={this._renderRow.bind(this)}
            />`

For some reason, `_renderRow` gets a empty object `{}` for its `rowMap` argument. Any idea what's happening?

[2016-10-31 07:06] sharingjingang050241 opened #71 "Close opened row is there any other ways when delete one row in listview?"
@jemise111
when I open one row ,there is  a delete-button .And I touch button to delete this row,its not closed when row in not end of listview .

Now ,how to close row which be opened voluntarily,not press to close and slide to close.Thanks

[2016-10-31 07:45] sharingjingang050241 commented on #71
![1](https://cloud.githubusercontent.com/assets/20335157/19847320/0f23b212-9f81-11e6-8391-c55e610982c2.png)
![2](https://cloud.githubusercontent.com/assets/20335157/19847319/0f1fd516-9f81-11e6-83e1-955768ca0e0a.png)
![3](https://cloud.githubusercontent.com/assets/20335157/19847321/0f2451e0-9f81-11e6-97a9-32f6f52de99b.png)

[2016-11-02 16:24] sun2rise opened #72 "SwipeRow in SortableListView"
Hi,
i am trying to use a SortableListView with SwipeRow.
the SortableListView item has to be a TouchableHighlight so i wrap SwipeRow inside it but i got this error:
[code]

this is my component:

[code]

How can i fix this?

[2016-11-02 16:58] CJStroud opened #73 "Determine which side a row is open"
Is there a way of telling which way a row is open?

I would like to be able to do something like:

[code]

[2016-11-04 13:01] robcalcroft opened #74 "Disable animation bouncing"
Possibility to have a prop to disable the rows bouncing when they are swiped or when they return to their normal position

[2016-11-05 20:25] #55 closed

[2016-11-05 20:31] jemise111 commented on #61
Hey @eamonpenland, hm.. I agree with @basequatro 's suggestions. My hunch is that this wouldn't be related to this component but it is possible.

If you see here: https://github.com/jemise111/react-native-swipe-list-view/blob/master/SwipeListExample/example.js#L76 the example is actually doing exactly what you're describing. There are two SwipeListView's and a toggle, when you press the toggle one

[2016-11-05 20:36] jemise111 commented on #65
Thanks @levitanong for answering!

@jorelllinsangan fair point. I think it's just matter of preference but if you want to submit a PR for a hiddenRow prop feel free.

If you do so just make sure not to break backwards compatibility and check for both cases, thanks!

Closing this as it looks like the problem's been resolved.

[2016-11-05 20:36] #65 closed

[2016-11-05 20:47] jemise111 commented on #70
Hey @jorelllinsangan. I just ran you're code in the example and I'm not having any problems with it. Here's the code:

![image](https://cloud.githubusercontent.com/assets/4265163/20033449/ef6339bc-a376-11e6-8038-c6eb5300dfb7.png)

And the corresponding logs:

![image](https://cloud.githubusercontent.com/assets/4265163/20033460/690cb75c-a377-11e6-8e36-243b8a414b90.png)

(the object looks empty in t

[2016-11-05 20:47] #70 closed

[2016-11-05 21:00] jemise111 commented on #71
Hey @sharingjingang050241 hm I'm not sure what's going. If you follow the `SwipeListExample/example.js` file it's working just fine with deleting rows and closing the deleted ones. Here's a GIF to show what the behavior is in the example:

http://g.recordit.co/0YGBMDeiLi.gif

If you still can't get it to work please reopen this issue and paste some code you're using to do the deleting, and I'll be

[2016-11-05 21:00] #71 closed

[2016-11-05 21:13] jemise111 commented on #73
Hey @CJStroud, good question, I'm not sure it's currently possible. I'll try to add it if I can but PR's are greatly appreciated :)

If you want to take a crack at it maybe you could pass the translateX value to the onRowOpen function here:

https://github.com/jemise111/react-native-swipe-list-view/blob/master/components/SwipeRow.js#L182

and then through to here:

https://github.com/jemise111/rea

[2016-11-05 21:20] #74 closed

[2016-11-05 21:22] jemise111 commented on #74
Hey @robcalcroft I added the tension / friction props to the SwipeListView. You should be able to stop the animation by playing with those values.

Higher friction seems to do the trick. See the Spring animation here for more: https://facebook.github.io/react-native/docs/animations.html#core-api

Thanks!

[2016-11-05 21:25] jemise111 commented on #56
Hey @TossShinHwa. Yeah with the way this is set up that wouldn't currently be possible. The "hiddenRow" in that example is really alongside the row, not behind it. You may have some luck using this with some styling..

https://github.com/dancormier/react-native-swipeout

[2016-11-05 21:25] #56 closed

[2016-11-05 21:27] jemise111 commented on #62
Hm @npomfret I'll have to look into this further but for now you could try keeping a ref to your `SwipeListView` and calling:

`this.refs.swipeListView.safeCloseOpenRow()`

That's a bit of a hack but it might work

[2016-11-05 21:31] jemise111 commented on #69
Hm @vestvud  I'm not sure what you mean. I tried running the example with rows with different heights and everything seems to be working fine! Here's the code:

![image](https://cloud.githubusercontent.com/assets/4265163/20033710/9a161e3c-a37d-11e6-8a9e-6f7a031ed7f5.png)

And the corresponding view

![image](https://cloud.githubusercontent.com/assets/4265163/20033706/8c729f1c-a37d-11e6-8a29-14ad98

[2016-11-05 21:31] #69 closed

[2016-11-05 21:47] CJStroud commented on #73
Yeah I'll take a look! :)

My current hack to get it working was this:

[code]

[2016-11-07 00:13] npomfret commented on #55
Thanks for implementing this.  Is there a trick to get it working though?

[2016-11-07 00:42] npomfret commented on #55
Ah, I think it's not working for me because I'm using the per-row rendering feature for hidden rows.

[2016-11-07 00:52] npomfret commented on #62
Thanks for the suggestion but it didn't seem to work.  I'm using per row behaviour, I think that's what's causing it to fail.  In fact I noticed that onRowPress and onRowOpen aren't being called either.  Maybe I've set it up wrong?

[2016-11-07 10:26] vestvud commented on #69
Thanks!
yes, i looked and it's really work, thanks!
and i used recalculateHiddenLayout, because, sometimes hidden row had wrong height, less than renderRow.

p.s. but in your screen - first row is break. No?
p.s.2 sorry, im have bad english.
p.s.3 i had also question - when my list view is changed, opened row hovewer also stay opened. why it may be?

`<SwipeListView
dataSource={this.ds.cloneWithRo

[2016-11-07 10:55] vestvud commented on #62
+1

[2016-11-08 09:59] xwartz commented on #34
@dangerwells   Thanks, it's worked for me.

[2016-11-08 10:25] xwartz commented on #34
@dangerwells  But it's not perfect, the scrollbar can't recover auto.

[2016-11-08 19:15] jorelllinsangan commented on #70
@jemise111: I should have followed this up. I figured out what was wrong. I'm very new to react-native and I was passing in rowMap to a component before it was even filled up. Basically, I was getting na empty object. I solved that by just passing in a function that closed the row for me.

[2016-11-08 19:32] jemise111 commented on #70
@jorelllinsangan No worries, glad you got it working!

[2016-11-14 19:38] oximer opened #80 "[Question] Scrolling the listview"
How do I scroll manually scroll the list to its end?
There is any method for it?

[2016-11-14 20:22] jorelllinsangan opened #81 "[Question] Multiple hidden left buttons"
How would you do this?

I know that for right buttons, you just increase the right position by whatever the button width is. For left buttons, it seems like the 2nd button gets rendered behind the first right button. Any ideas?

Thanks in advance!

[2016-11-14 20:27] jorelllinsangan commented on #80
Do you mean a function that when its called, the scroll view goes to the bottom of the list? If so, I don't think that there's a specific function for it. Though I did find this: [https://github.com/facebook/react-native/issues/913]. It looks like you might have to do a bit of writing for you to accomplish this.

[2016-11-14 20:28] oximer commented on #80
No, I mean a function like ScrollTo from https://facebook.github.io/react-native/docs/listview.html

[2016-11-14 20:30] jorelllinsangan commented on #80
I don't think there is one. Does `ScrollTo` not work with this module?

[2016-11-14 20:33] oximer commented on #80
To make it work, I need a reference for the listview.
However, when I tried the access the component using reference it doesn't work. I keep returning null.

<SwipeListView
          ref={(input) => this.listView = input}

So, I can't do it unless I change this project to expose the listview inside the component.

[2016-11-14 22:22] oximer commented on #80
I found a way. This component already expose the listview through a prop.
[code]

[2016-11-14 22:22] #80 closed

[2016-11-18 11:26] Burak07 commented on #1
I afraid this issue still exists. DisableRightSwap works but DisableLeftSwap doesn't work if swipeListView has renderHiddenRow property. After removing this property both works well.

[2016-11-19 00:18] jorelllinsangan commented on #81
Figured this out.

[2016-11-19 00:26] jorelllinsangan opened #82 "Implementing a different swipe behaviour"
Hi @jemise111

Have you ever thought of doing a swipe behaviour like this one: http://browniefed.com/blog/react-native-animated-listview-row-swipe/

The idea is an action gets triggered after a threshold.

I tried implementing the behaviour above but for some reason, the whole row changes color and not just the view behind the actual row.

[2016-11-30 12:46] sances15 opened #84 "Slide row onpress"
Is it possible to open/slide the row when user touches the row.?

[2016-11-30 14:33] #81 closed

[2016-11-30 14:43] jemise111 commented on #84
Yep! Definitely possible but sort of a private feature so it's not documented. Something like this should do the trick:

[code]

Also since you're maintaining taps on your own you may want to ensure ```closeOnRowPress={false}```

[2016-11-30 14:44] jemise111 commented on #84
Please let me know if that does the trick for you and feel free to close this issue if it does, thanks!

[2016-12-01 08:06] sances15 commented on #84
@jemise111  This is awesome. It did work. Thanks for helping out.

[2016-12-01 08:06] #84 closed

[2016-12-01 15:38] jemise111 commented on #84
Np, glad it worked!

[2016-12-02 10:14] robcalcroft commented on #74
As an FYI, I found
[code]
to work well to stop the rows bouncing on their way back.

[2016-12-05 14:06] Jaafar-abusair opened #85 "Not working with ios"
Hi,

It' working perfect with Android, for iOS it's not working the hidden layer exist under the row, I can swap 2 pixel only and I can see there is button beneath it, My swap margin is 150 pixel.

OS version 10
Any idea?

[2016-12-10 16:17] lednhatkhanh commented on #62
+1, any news on this?

[2016-12-10 16:34] lednhatkhanh opened #86 "Stop working when enable remote debug via chrome"
It's working normally until I turn on the remote debug via chrome, it stops working.

I mean, I just simply can't swift, and I haven't implement any functions to handle the swift so I don't know if they're still working or not, I will update the post after I tried it.

Windows.
React native 0.39
Android development.

[2016-12-14 09:31] stoufa88 commented on #62
It is working for me

[2016-12-17 20:43] lBroth commented on #34
I added a ScrollView and it works fine
<ScrollView>
            <SwipeListView ..../>
</ScrollView>

[2016-12-18 06:43] kingorange2309 commented on #62
@jemise111 hi,is it possible to programatically open a row ?

[2016-12-18 10:39] lBroth commented on #34
I have the same problem, anyone have a solution?

[2016-12-21 02:23] vivekmago commented on #85
Same issue

[2016-12-21 05:27] Jaafar-abusair commented on #85
I had to turn off the open side menu by gesure

[2016-12-22 04:45] asela-wijesinghe opened #87 "LANDSCAPE View swipebar size issue"
@jemise111  This works like a charm but In the props we put the amount of pixels for left or right swipe but after the orientation of device the pixels changed and the sizes should be changed.is their a way to capture this functionality easily without working with orientation change? thanks in advance

[2016-12-22 18:27] coderdave commented on #42
Just so I understand this, `closeOnRowPress` doesn't work when using `SwipeRow`, you have to close it manually?

[2016-12-22 19:37] coderdave opened #88 "How to closeRow() when using SwipeRow?"
I'm not understanding how to close the row when the user taps a button from the hidden row.

In the example: https://github.com/jemise111/react-native-swipe-list-view/blob/master/SwipeListExample/example.js#L92, it's using something called `rowMap`, however, I don't see that in the docs: https://facebook.github.io/react-native/docs/listview.html#renderrow

Has it been changed to `highlightRow` in

[2016-12-22 21:48] coderdave commented on #88
I think I got it... I need to use `SwipeListView` not react native's `ListView`, then you'll get the `rowMap`. Also, `SwipeRow` can only contain two children (as the docs say).

[2016-12-22 21:48] #88 closed

[2016-12-24 16:50] jemise111 commented on #62
@kingorange2309 Yes it is. Here is an example of opening a row programmatically when it is touched. You can use the `manuallySwipeRow` instance method on swipe rows.

[code]

[2016-12-24 16:57] jemise111 commented on #62
@npomfret I'm trying to reproduce your issues but I can't seem to. It would be super helpful if you could post all the version information (SLV version, RN version, device platform and OS version) and the code you're using.

![](http://g.recordit.co/FkXxViX1pb.gif)

[2016-12-24 16:59] jemise111 commented on #61
Closing as I haven't heard anything here for a while

[2016-12-24 16:59] #61 closed

[2016-12-24 17:00] jemise111 commented on #51
Closing as I haven't heard anything here for a while

[2016-12-24 17:00] #51 closed

[2016-12-24 17:04] jemise111 commented on #72
@sun2rise Sorry for the delay. Just doing some quick googling have you tried the suggestion provided by the RN error? See here: http://stackoverflow.com/a/31755629

http://stackoverflow.com/questions/31741705/error-invariant-violation-touchable-child-must-either-be-native-or-forward-set

[2016-12-24 17:10] jemise111 commented on #82
@jorelllinsangan It's interesting but doesn't seem to be a behavior a lot of people have a need for. I haven't exposed the `handlePanResponderMove` prop in the `SwipeRow` but that would probably be necessary to achieve this. Feel free to submit a PR :) if it's something you're looking to do or post the code you're trying to use if you're having problems

Going to close this issue for now..

Closin

[2016-12-24 17:10] #82 closed

[2016-12-24 18:42] jemise111 commented on #85
Hey @Jaafar-abusair I'm not sure I understand your issue. I'm testing on an iPhone6 simulator running iOS 10.1 with RN 0.39.0 and I'm not having any issues with Swiping or seeing the hidden row. Could you provide the code you're using and I'll see if I can reproduce?

[2016-12-24 18:51] jemise111 commented on #87
Hey @asela-wijesinghe, as a small perf optimization the layout is only calculated once by default. There is a prop you can pass to the `SwipeListView` called `recalculateHiddenLayout={true}` which I think should solve your issue. It should look like so:

[code]

After passing that prop it worked perfectly for me:

![http://g.recordit.co/GsZ4vwkmsZ.gif](http://g.recordit.co/GsZ4vwkmsZ.gif)

Let me

[2016-12-24 19:01] Jaafar-abusair commented on #85
I had to stop the open side menu by gesture then it worked, I have iOS 10.2, another problem I have list it get loaded when opening the application the swap work but I can see the button under the swapped row, once I refreshed the list by pull down the button will become visible, any idea?

[2016-12-24 19:05] jemise111 commented on #86
Hey @lednhatkhanh I don't have a Windows machine so it's tough for me to debug this but I just confirmed that remote debugging with an Android simulator is working just fine on my mac (although it is very laggy that's just an issue with Android simulator + chrome debugging, not this package).

I'm also not sure I understand your issue. Could you may post the code you're using and I can try to repr

[2016-12-24 19:29] jemise111 commented on #73
Fixed by #79

[2016-12-24 19:29] #73 closed

[2016-12-24 19:38] #66 closed

[2016-12-25 18:01] coderdave commented on #34
Any other ideas about this one? I'm having the same issue. Is there something we can disable for the time being that would fix it?

[2016-12-25 18:06] coderdave commented on #34
@snibib can you post the whole `SwipeRow.js` file? You're referencing functions that don't exist.

[2016-12-26 00:55] kingorange2309 commented on #62
@jemise111  yes,it worked ,thx!

[2016-12-29 06:43] #87 closed

[2017-01-02 08:34] THPubs opened #91 "How to adjust how far we should swipe for the row to open?"
Right now, we have to swipe past the middle of the row and release for it to open. If we release before that the row will close back. How can we adjust this?

[2017-01-08 12:33] Jaafar-abusair commented on #71
+

[2017-01-08 15:58] jdmunro commented on #91
I think you can use ```leftOpenValue``` and ```rightOpenValue``` to do what you're after.

[2017-01-11 10:41] oximer commented on #34
I'm having the some issue here.

[2017-01-17 15:17] ghost opened #94 "Lock vertical scrolling when swiping horizontal"
Is there a way to lock the vertical scrolling when swiping open one of the rows?

[2017-01-17 15:23] LeAcid commented on #94
Also is there a way with this package to trigger an open on touch?

[2017-01-20 23:42] FalkoJoseph commented on #94
I want to know this as well.

[2017-01-25 12:21] tiffanyricks commented on #85
Hi @Jaafar-abusair, I Believe I am having the same problem with IOS 10 and the Swipe Right feature (Swipe left is disabled).   The application crashes when a user tries to swipe right.  What code to did you change to "turn off the open side menu by gesture"?  Thanks.

[2017-01-25 12:26] Jaafar-abusair commented on #85
Hi @tiffanyricks , I'm using [Wix Navigation Module](https://github.com/wix/react-native-navigation) They have property for that. but do you have the native side menu in your app?

[2017-01-25 12:53] tiffanyricks commented on #85
@Jaafar-abusair yes... I am using the native wipe feature.   I will look into the Wix Module.

[2017-01-25 22:04] ItsNoHax commented on #85
`recalculateHiddenLayout={true}`

[2017-01-27 00:30] thienanle commented on #94
@LeAcid +1 for both of your requests... although the second request is not related to this issue and should have its own ticket.

[2017-01-31 02:33] booboothefool opened #95 "Can't seem to adjust the height/padding on the hiddenRow/rowBack"
So it's not growing with my `rowFront`:

![screen shot 2017-01-30 at 9 31 55 pm](https://cloud.githubusercontent.com/assets/13257645/22450300/ab9656dc-e733-11e6-9f1e-326b02301a36.png)

[code]

[code]

[2017-01-31 04:27] booboothefool opened #96 "Deleting the first row leaves remaining rows "swiped""
![lmaonaiiiasdfasde](https://cloud.githubusercontent.com/assets/13257645/22452355/2aa2dc92-e744-11e6-8cac-d800aa9356b4.gif)

It's a little better with `closeRow()`, but it actually closes the 2nd row (Aug 13, 2017)... not the one that was just deleted. I would expect the "Delete" to not show up on the 2nd row at all after the 1st is deleted.

[2017-01-31 20:03] LeAcid commented on #96
Have you come up with a solution for this yet? I am working on one now but it would be awesome if you had one.

[2017-01-31 21:07] booboothefool commented on #95
Worked when I wrapped my `<SwipeListView>` with a `<View>`.

[2017-01-31 21:07] #95 closed

[2017-01-31 21:11] booboothefool commented on #96
@LeAcid Haven't been able to come up with a solution besides `closeRow()`.

![saaa](https://cloud.githubusercontent.com/assets/13257645/22484506/baed8c80-e7cf-11e6-8ee0-7b3f6767429b.gif)

[code]

Not really what I want, but it's better than leaving it open. It seems like this was done in the example as well, so it's what the author intended?

[2017-01-31 21:18] booboothefool commented on #94
Maybe this?

[code]

[2017-01-31 22:25] LeAcid commented on #96
@booboothefool I am using the SwipeRow as a standalone in my list ( seemed easier that way ). I fixed my problem by wrapping the SwipeRow in a View  for each of the items and it no longer passes the state down one.

[2017-01-31 22:29] LeAcid commented on #94
@booboothefool I have tried that, while that solution worked it seemed like it would cause user headache being forced to close the row before moving on. Also it does not stabilize the screen until you have already dealt with the vertical scroll attempting to get it open.

[2017-02-01 00:01] booboothefool opened #97 "Too sensitive on Android? Can't press the TouchableHighlight."
[code]

I noticed this is awfully hard to press on Android real device. It keeps thinking I am trying to swipe. Have to make sure to press it still, and straight down / perpendicular.

Is there a way to adjust the sensitivity?

[2017-02-01 01:02] booboothefool commented on #97
Noticed it has to do with

[code]

Setting it to 3 gives me the effect I want. Feel like this should be exposed as a prop.

[2017-02-03 21:52] abcd-ca commented on #94
This package is great but yeah, I do find it kind of hard to swipe left

[2017-02-09 10:54] davideweaver opened #98 "Close row when another row starts to swipe"
On the built-in apps on iOS (like Mail), when a row is swiped open to show the Delete action, any touch outside the Delete action causes the currently open row to close.

I would like to achieve a similar behavior. I'm not sure how we could capture the touch on "any touch outside the Delete action", but I think we could better simulate that by closing the row if another row is touched (not just a

[2017-02-14 02:16] ajonno opened #99 "How to close a given row, on (say) a button tap ?"
hi, first thanks for the component its great.

need some quick guidance/example on how to programmatically close a row that is currently open/in delete mode? how can we do that from (say) a button press callback ? wasn't sure how to do this via ref's. We are using ```SwipeListView``` and ```SwipeRow```

![2017-02-14_13-06-31](https://cloud.githubusercontent.com/assets/3005269/22912157/b451c47a-f2b

[2017-02-14 12:50] podvipodvert commented on #94
I use this setScrollEnabled prop to lock scroll

[2017-02-16 03:25] pheromone opened #100 "Can't close the sliding?Android does not need to sliding function."
excuse me.
1.不能都关闭滑动?Android不需要滑动功能
   Can't close the sliding?Android does not need to sliding function
2.只使用SwipeRow,不使用SwipeListView,可以实现只能滑动一个吗?
only use SwipeRow,not use SwipeListView,Slide can be only one?

![default](https://cloud.githubusercontent.com/assets/14305431/23006147/1e998302-f43b-11e6-8d73-b2620d042455.gif)

[2017-02-20 17:20] vijayperlakota commented on #3
@jemise111 your solution works great :) Thanks a lot

[2017-02-21 23:32] AlisonWonderlandApps opened #101 "Get rid of the red highlight in the example"
It's due to the apostrophe in 'I'm'

It's super annoying.. thanks

[2017-02-22 00:31] chetstone commented on #97
Great catch! Care to send a PR?

[2017-02-24 09:51] lelup commented on #96
@LeAcid Could you explain in more detail? I have same problem in my project.
![screen shot 2017-02-24 at 16 50 23](https://cloud.githubusercontent.com/assets/19283388/23298738/6601b760-fab1-11e6-9611-dec246292462.png)

[2017-02-25 07:14] wuyi51 opened #102 "how to use scrollTo in SwipeListView"
how to use scrollTo in SwipeListView

[2017-03-01 00:40] AlisonWonderlandApps opened #103 "Example please?"
Hi there would anyone have an example of using this with redux and connect?

When I connect it to redux and use the props it renders all the rows, however, it only renders the data of the last row?

I assume its my ignorance in using redux, so any help would be appreciated.

Thanks for this component!

Here is my code:
I'm trying to render a ListView using an array of objects of the form:

Array[n

[2017-03-03 01:03] ajonno commented on #99
hi, any tips on this would be appreciated. id be happy to update your docs also.

[2017-03-04 02:09] AlisonWonderlandApps commented on #103
...?

[2017-03-05 21:37] jemise111 commented on #103
Hey @AlisonWonderlandApps! That doesn't quite sound like an issue with this component but if you'd like to share the code you're using I'd be happy to take a look and try to help.

[2017-03-05 21:42] jemise111 commented on #102
Hey @wuyi51. There's a prop on the SwipeListView called `listViewRef` where you can get a ref to the underlying `<ListView />` and call whatever methods on it you like. To use `scrollTo` do something like this:

[code]

[2017-03-05 21:42] jemise111 commented on #102
I'm going to close this. If you have any further problems please reopen, thanks!

[2017-03-05 21:42] #102 closed

[2017-03-05 21:48] #101 closed

[2017-03-05 21:49] jemise111 commented on #101
Fair enough, done

[2017-03-05 21:50] jemise111 commented on #100
Hey @pheromone there shouldn't be any difference between Android and iOS. If there is, it's a bug. Can you please paste the code you're using with the `<SwipeRow />`?

[2017-03-05 22:04] jemise111 commented on #99
Hey @ajonno. There is an instance method on the `<SwipeListView />` called `safeCloseOpenRow`.
It's not documented because it isn't really intended to be public but I think it should do what you're looking for.
[code]

Going to close this issue. Please reopen if this doesn't work and you're still having problems. If you'd like to add a section in the Readme please feel free to submit a PR. Thanks!

[2017-03-05 22:04] #99 closed

[2017-03-05 22:11] jemise111 commented on #98
Hey @davideweaver, if I understand your comment correctly this should be the default behavior of this component. Here is how the example behaves when touching either the open row or any other row:

![](http://g.recordit.co/HQvJ29Bc4g.gif)

Is this not what you are looking for?

[2017-03-05 22:37] #98 closed

[2017-03-05 22:40] jemise111 commented on #98
Hey @davideweaver, good suggestion! I've added a prop that I think will do what you're looking for. In the next release (which will be later today) set the `closeOnRowBeginSwipe` prop equal to `true` to achieve this behavior:

![](http://g.recordit.co/QbXtBrEcEA.gif)

If this isn't what you were looking for please reopen and let me know, thanks!

[2017-03-05 22:54] #97 closed

[2017-03-05 22:56] jemise111 commented on #97
@booboothefool @chetstone Thanks for the suggestion. I haven't heard about Android being too sensitive in most cases so I'm not going to change the default threshold number but I will expose the number as a prop so you can adjust this number yourself.

See #106 and use the `directionalDistanceChangeThreshold` prop in the next release (out later today).

Thanks!

[2017-03-05 23:10] jemise111 commented on #96
Hey @booboothefool thanks for the question. Unfortunately what you're doing is currently the best way I can think of to achieve delete functionality. One thing that may make this look more smooth is to not animate when the row is closed.

Currently that behavior isn't implemented but maybe you could submit a PR to do so? There's an open PR with a start on this. Have a look here #93

Thanks!

[2017-03-05 23:13] jemise111 commented on #94
@LeAcid Thanks for the question but I'm a bit confused. This should already be the default behavior. In this (low-quality) gif I open a row and then attempt to scroll while swiping and I can't, as the scroll view is locked. Once I release the row I can begin scrolling again. Is this not what you're looking for?

![](http://g.recordit.co/vfJ3mTJjMW.gif)

[2017-03-05 23:15] jemise111 commented on #94
@LeAcid @FalkoJoseph @thienanle See here for the solution to opening a row on touch:

https://github.com/jemise111/react-native-swipe-list-view/issues/84

Maybe it should be documented.. if anyone wants to add to the readme and submit a PR I'd appreciate it, thanks!

[2017-03-05 23:19] ajonno commented on #99
Brilliant thank you so much. I reckon this would be a great method to include in main release.

[2017-03-05 23:27] #91 closed

[2017-03-05 23:29] jemise111 commented on #91
@THPubs Thanks for the question. I added a prop called `swipeToOpenPercent` that will allow you to adjust the % of the openValue the user needs to swipe past to trigger the row to open.

The default is 50% (halfway) but you can change this to a lower number and I think that will solve your problem.

Just grab the latest release (will be released later today) and give that a shot and if it doesn't

[2017-03-05 23:30] jemise111 commented on #64
Fixed by #106

[2017-03-05 23:30] #64 closed

[2017-03-05 23:35] jemise111 commented on #86
Closing as I haven't heard anything on this in a while

[2017-03-05 23:35] #86 closed

[2017-03-05 23:36] jemise111 commented on #72
Closing as I haven't heard anything on this in a while

[2017-03-06 03:44] AlisonWonderlandApps commented on #103
Thanks jemise.. I have added my code... The output is as follows
<img width="383" alt="screen shot 2017-03-06 at 2 44 07 pm" src="https://cloud.githubusercontent.com/assets/12529822/23596079/6bfacd10-027b-11e7-89a1-812ecf9ba4ff.png">

[2017-03-06 15:11] jemise111 commented on #103
Hm @AlisonWonderlandApps looking through your code there's one thing that jumps out at me. In your constructor you're setting `listViewData` on your state here:

[code]

Let's say initially `receiptList` is an array with only one object in it, and then something changes so redux updates and `receiptList` has 10 objects in it. Your component would never update because you're not setting the state a

[2017-03-06 15:12] #72 closed

[2017-03-07 01:54] AlisonWonderlandApps commented on #103
Hi jemise I have tried this and it also does not work. Which Is why I changed back to using a state at all.. otherwise I would have just used componentShouldUpdate..

[2017-03-07 02:03] AlisonWonderlandApps commented on #103
UPDATE...WOW.... it seems to be TouchableHighlight causing the issue in renderRow...

[2017-03-07 02:17] #103 closed

[2017-03-07 14:36] jemise111 commented on #103
Ah gotcha, so it wasn't the data.. just the rendering. Nice find. Glad you were able to figure it out!

[2017-03-07 16:42] davideweaver commented on #98
Yes. That models the behavior for Apple apps. Thanks!

On Mar 5, 2017, at 5:11 PM, Jesse Sessler <notifications@github.com<mailto:notifications@github.com>> wrote:

Hey @davideweaver<https://github.com/davideweaver>, if I understand your comment correctly this should be the default behavior of this component. Here is how the example behaves when touching either the open row or any other row:

[htt

[2017-03-10 08:06] pshurygin opened #108 "Missing swipeToClosePercent prop"
There is a swipeToOpenPercent prop, which allows you to control how far you need to swipe to open the row, but there is no similar functionality for closing the row. I believe it should either be a separate prop or the existing prop should affect both opening and closing behavior.

[2017-03-14 08:19] maslianok opened #109 "Swipe doesn't work after item removal"
![react-native-swipe-list-view-bug](https://cloud.githubusercontent.com/assets/3485490/23891409/d0e709ac-08c8-11e7-86b3-68cf6b984013.gif)

Steps to reproduce:
1. scroll list to the bottom
2. remove any item
3. Swipe doesn't work anymore...

You have to scroll the list to make it work again.

[2017-03-14 13:41] mdramos commented on #96
@booboothefool's method is not working for me.  ```rowMap[`${secId}${rowId}`]``` evaluates to `undefined`.

[2017-03-17 16:10] hellomaya commented on #109
I have got the same issue, and this issue is happening because of this part code in SwipeRow:

[code]
By default, in SwipeListView it will do this:

[code]

In iOS, when you set it's disable, then touch event stopped too.

https://developer.apple.com/reference/uikit/uiscrollview/1619395-isscrollenabled

I am not fully confirmed the Native props of scrollEnabled is isScrollEnabled in iOS, but by it

[2017-03-17 16:17] hellomaya commented on #34
I have got the same issue, and this issue is happening because of this part code in SwipeRow:

[code]
By default, in SwipeListView it will do this:

[code]

In iOS, when you set it's disable, then touch event stopped too.

https://developer.apple.com/reference/uikit/uiscrollview/1619395-isscrollenabled

I am not fully confirmed the Native props of scrollEnabled is isScrollEnabled in iOS, but by it

[2017-03-21 04:14] ithieund opened #111 "Need to set leftOpenValue and rightOpenValue different for each item"
@jemise111 ,
These prop should be override in each item as sometimes the button in each item are not the same.
leftOpenValue={0}
rightOpenValue={-90}

Can you please make this feature available in next release?
Thanks.

[2017-03-21 14:32] jemise111 commented on #111
Hey @ithieund, thanks for the question. This feature is already available! Have a look at the documentation here:

https://github.com/jemise111/react-native-swipe-list-view#per-row-behavior

And if you're still having any problems feel free to reopen

[2017-03-21 14:32] #111 closed

[2017-03-22 04:43] ithieund commented on #111
@jemise111 ,
Awesome!
Thank you very much for your help.

[2017-03-26 22:14] bevinthomas opened #112 "Swipe & Sort"
I'm trying to combine sort and swipe list feature. Has anyone tried it?

[code]

[2017-03-29 13:21] jjhesk opened #113 "how do we possible to add footer and header"
It will be desired to adding footer and header with no swipe interactions. How can it be done?

[2017-03-29 15:28] jemise111 commented on #113
@jjhesk have you tried the using the ListView props `renderHeader` and `renderFooter`? Whatever components are passed to those props should not have any swipe interactions on them.

https://facebook.github.io/react-native/docs/listview.html#renderfooter

[2017-03-31 15:36] davideweaver opened #114 "Back row size problem with variable row heights"
I'm seeing a strange behavior in my app. My rows are variable height and my left-swipe button removes the row from the list. Once the first row is removed, it seems like the height of my hidden row gets messed up. It looks like it may be caching the height of the hidden row and when a row gets removed from the list the height should be recalculated. Here's a picture of before and after row 2 was d

[2017-04-04 03:30] jjhesk commented on #113
yes it worked. @jemise111

[2017-04-04 03:30] #113 closed

[2017-04-04 03:35] jjhesk commented on #34
@jemise111

I have got the same issue, and this issue is happening because of reloading the same listview in the canvas. It was not consistent, but it happens quite often.

[2017-04-04 07:58] jigarvyas opened #115 "Will it start using FlatList instead of ListView ?"
[Available in RN 0.43](https://facebook.github.io/react-native/docs/flatlist.html)

Especially since, there are apparent plans are to deprecate ListView, [more...](https://github.com/facebook/react-native/commit/a3457486e39dc752799b1103ebe606224a8e8d32#commitcomment-21097746)

[2017-04-04 19:00] ChengHsuanLiu commented on #94
@jemise111 Hello, thank u for building this.
Could you please give me the code of the example gif you show above? And for common usage, will you put the swipe-list-view component in a scroll view component?

[2017-04-04 23:25] npomfret commented on #115
Do you think its possible to use SwipeRow on its own within a FlatList?

[2017-04-05 23:04] raynor85 commented on #114
Try with recalculateHiddenLayout={true}. It looks like width and height of the hidden rows are never updated even when the layout changes (like on rotation), and that property seems solving this.

[2017-04-08 14:28] jemise111 commented on #114
Hey @davideweaver, I'd agree with @raynor85 that `recalculateHiddenLayout` should solve your problems. If not, please let me know!

[2017-04-09 19:33] jonolock91 commented on #34
Any resolution of the issue? I experience it quite often and I have to scroll within my ListView in order to get the swiper to work again.

[2017-04-12 12:44] MhtSuthar opened #116 "Click on swipe listview renderHiddenRow is visible"
All are implement is very good but i have implement click on your swipe list view than hidden row visible, how to resolve this issue, i use this code for row
renderRow(rowData, sectionID, rowID) {
        return (
            <TouchableOpacity onPress={() => this.clickMinimize(rowData, sectionID, rowID)} >
            <View style={styles.rowFront}>
                <Text>I am {rowData.row} in a Swi

[2017-04-13 03:57] juxiaowei opened #117 "Sometimes can not be closed when sliding"
Sometimes can not be closed when sliding

[2017-04-13 03:57] juxiaowei commented on #117
It is recommended to increase the shutdown function

[2017-04-13 05:44] juxiaowei commented on #117
@ajma

[2017-04-13 13:22] jemise111 commented on #117
Hey @juxiaowei, what do you mean by "can not be closed"? Do you have a way to repro this, or some code that's showing the buggy behavior?

[2017-04-13 20:42] alexcoady commented on #116
@MhtSuthar The nature of this plugin is that the hidden row sits behind the visible row, if you're using `TouchableOpacity` in your normal `renderRow` function, you *will* see the hidden row behind while transparency is applied.

[2017-04-14 13:30] juxiaowei commented on #117
@jemise111
Sometimes the slide will bounce back

[2017-04-15 20:15] privateOmega commented on #3
@jemise111 Thanks a lot for your solution and its explanation.

[2017-04-20 05:40] sagexy opened #118 "How to change the disableLeftSwipe state"
In normal mode
disableLeftSwipe:{true}

In edit mode
disableLeftSwipe:{false}

how to change the state with other button click

I tried the code
![image](https://cloud.githubusercontent.com/assets/4734448/25217451/93ced206-25d9-11e7-8994-f7e3f49c6061.png)

and  button onPress function

    onPressEditButton() {
        this.setState({
            isEditing:true
        });

        console.log('di

[2017-04-20 14:00] jemise111 commented on #118
@sagexy are you setting `disableLeftSwipe={!this.state.isEditing}` ?

[2017-04-21 00:18] sagexy commented on #118
@jemise111  yes

    render(){
        const isEditing = this.state.isEditing;
        ......
        <SwipeListView
                        dataSource={this.state.dataSource}
                        renderRow={this.renderList.bind(this)}
                        style={styles.listView}
                        rightOpenValue={-70}
                        disableRightSwipe={true}

[2017-04-23 11:01] Druux commented on #96
@jemise111 same issue as @mdramos described. I keep the refs to the swipe rows but I can't access any function of them.
<img width="766" alt="bildschirmfoto 2017-04-23 um 13 00 51" src="https://cloud.githubusercontent.com/assets/9655723/25312919/f305fe0a-2824-11e7-93f0-4be5f1a1733d.png">

[2017-04-23 12:46] Druux opened #120 "Can't call swipeRow's functions"
I keep the refs to the swipe rows but I can't access any functions of them.

[code]

See the console.log of one of the swipe rows:

<img width="766" alt="bildschirmfoto 2017-04-23 um 13 00 51" src="https://cloud.githubusercontent.com/assets/9655723/25312919/f305fe0a-2824-11e7-93f0-4be5f1a1733d.png">

Did anyone face the same problem?

[2017-04-23 18:27] #120 closed

[2017-04-26 08:31] farrukhbashir opened #121 "When add list with tab navigator the performance of TabNavigator slow"
I use a Tab Navigator in one tab I Display a Swipe-List-View .When I Click on This Tap the SwiplistView come after a little bit pause and it look like a glitch....Is there any solution to remove the pause on tabNavigator when tab click ...I think so tabNavigator Every time rerender may be that why error come is any method to stop rerender in tabnavigator

[2017-04-27 08:14] Sumrocks commented on #34
Any resolution of the issue? @hellomaya  Did you resolve it without side-effect?

[2017-04-28 12:09] npomfret commented on #115
Anyone got this working?  I'm trying to use a SwipeRow in a FlatList.  So far the row springs back as soon as I let go.... it doesn't stay open.

[2017-04-28 12:21] npomfret commented on #62
Is it possible just using a SwipeRow?

[2017-04-28 14:53] SamMatthewsIsACommonName commented on #115
Maybe the actual ListView component can just be directly swapped for a FlatList? I can't quite get my head around the SwipeListView component but aren't any  ListView specific props such as datasource etc just being passed directly into the ListView component? So it would just be a matter of passing in data in the way FlatView wants?

[2017-04-28 15:23] npomfret commented on #115
I got it working using a FlatList with a SwipeRow.  It took a bit of hackery, but seems to work for now.  It'd be nice to get a proper implementation at some point.  That way beyond my skills though

[2017-04-28 16:11] SamMatthewsIsACommonName commented on #115
Ok I'll give it a go thanks

[2017-05-04 07:10] zrsb opened #122 "How to explicitly close a row after it has already been swiped"

[2017-05-04 07:37] zrsb commented on #122
i am sorry
`<SwipeList
    renderHiddenRow={ (data, secdId, rowId, rowMap) => {
        <TouchableOpacity onPress={ _ => rowMap[`${secId}${rowId}`].closeRow() }>
            <Text>I close the row</Text>
        </TouchableOpacity>
    }}
/>`

[2017-05-08 21:14] terencestone opened #123 "Is there a way to trigger a function on swipe"
That is - I want my rows to function like the ios mail app. When I pull a row all the way to the left, I want to delete that item. As far as I can see based on the props, this does not seem possible. Unless I'm missing something...

Returning the e.target here could return coordinates to make it possible:
<img width="720" alt="screen shot 2017-05-08 at 11 07 23 pm" src="https://cloud.githubusercon

[2017-05-09 09:20] pengfeiyan opened #124 "[ios]after navigator, SwipeListView can not reload data."
My app navigates from SceneList to SceneAddNew.
The SceneList reads the data list as a dataSource, displays data list by SwipeListView.
The SceneAddNew can creat a new data, then add the new data to the data list.

When from  SceneAddNew  back to SceneList ,
The added data can be displayed on Android,
but can not be displayed on IOS , Just Nothing, a white screen without data,
All data list can no

[2017-05-10 01:42] pengfeiyan commented on #124
add "removeClippedSubviews={false}" to "<SwipeListView >"
IOS is working well.
Now it is OK.

[2017-05-10 01:42] #124 closed

[2017-05-10 10:13] theohdv commented on #115
@npomfret can you share the changes you made to use FlatList instead of ListView ?

[2017-05-10 15:06] npomfret commented on #115
[code]

[2017-05-11 11:16] theohdv commented on #115
@npomfret sorry but can you just explain this part of the code please

[code]

PS: I updated my code and it works weel thanks ! But do you think that it is possible to block the vertical scroll when you're swiping right or left an item of the list ?

[2017-05-12 10:03] npomfret commented on #115
It shows the user that the row can be swiped.  But just once.

[2017-05-12 15:38] jerinjohnk opened #125 "Android swipeable list is rendering as open by default whereas on ios its working fine"
All the SwipeRow's on android are rendering as open. Whereas on IOS its working fine and renders as closed.
Code

[code]
Android Image

![screenshot_20170512-205026](https://cloud.githubusercontent.com/assets/11266456/26005569/15a4fb8c-3757-11e7-837d-ea9041769622.png)

[2017-05-15 07:27] jerinjohnk commented on #125
I am closing the issue. Adding a background white color to view fixed the visibility issue.
But I am facing a problem on swiping the front row slides a little and closes instantly.
I added directionalDistanceChangeThreshold of value 2 and 10 but neither fixed the issue of #97

[2017-05-15 07:27] #125 closed

[2017-05-16 12:08] abellee commented on #115
@npomfret is it just wrap the component that I used for `FlatList` into `SwipeRow`?

[2017-05-16 12:15] npomfret commented on #115
Not quite.  Swipe row doesn't have exactly the same behaviour.  The instructions in the read me for getting SwipeRow working are correct - you can follow those.

[2017-05-16 12:26] abellee commented on #115
@npomfret I wanna just use the `SwipeRow` in `FlatList`, but I did not found any content about how to use the `SwipeRow` standalone in read me.

[2017-05-16 16:02] npomfret opened #126 "npm WARN react-native-swipe-list-view@0.4.1 requires a peer of react@>=0.14.8 but none was installed."
Can we removed [this](https://github.com/jemise111/react-native-swipe-list-view/blob/master/package.json#L25) dependency from the build?  I don't think it's valid.

[2017-05-16 16:27] npomfret commented on #115
[code]

[2017-05-19 19:02] peterdev6 commented on #121
same issue...

[2017-05-23 01:33] XIAOYAYAYAYA opened #127 "when i add a textInput into the listview ,sometimes the keyboard flashes and can't input anything."
when i add a textInput into the listview ,sometimes the keyboard flashes and can't input anything.
for example ,when i click the textInput which into the listview at the bottom of the screen,the keyboard just  suddently appearance and suddently closed ,but textInputs that at the top of the screen will not happen ,    i don't know why  ?  is there someone knows about it?

[2017-05-23 01:53] XIAOYAYAYAYA commented on #127
![image](https://cloud.githubusercontent.com/assets/26213730/26335329/a0103ce8-3f9d-11e7-8e29-6ac30e2d7b13.png)

[2017-05-23 05:27] XIAOYAYAYAYA commented on #127
and i find that  when the listview scroll to the bottom,it will close current keybroad,so i want to know where can i change the code to forbid listview close current keybroad when scroll to the bottom?

[2017-05-26 19:56] vendramini opened #129 "Prevent to close actual opened row"
I would like to open/close rows independently. Actually, every time I open one and try to open another one, it closes the first one.

I noticed that the function `safeCloseOpenRow` is called. So I go into it and we can see that the current opened row will be closed: `this._rows[this.openCellId].closeRow();`

Is there a way to do what i want without changing original code? And more: is there some p

[2017-05-27 13:12] SamMatthewsIsACommonName commented on #115
@npomfret have you found any way to disable the scrolling of the flatlist while swiping? Im having an issue with it feeling quite buggy, I think because two animations are happening simultaneously

[2017-05-29 08:55] npomfret commented on #115
@SamMatthewsIsACommonName i've not found that problem yet

[2017-05-29 09:26] theohdv commented on #115
@SamMatthewsIsACommonName @npomfret I worked a little bit on that but I do not find any information on how disable the scrolling of a flatlist. Because it was possible with the ListView and it is used to fix the problem when implementing swipe with a ListView.

[2017-05-29 09:40] SamMatthewsIsACommonName commented on #115
@theohdv hmm maybe we should raise an issue on react-native asking for such a functionality, considering the deprecation of ListView is essentially forcing FlatList on people

[2017-05-29 10:06] SamMatthewsIsACommonName commented on #115
Have raised the issue here https://github.com/facebook/react-native/issues/14240

[2017-05-29 10:08] theohdv commented on #115
Thanks man, hope it will be implement soon !

[2017-05-29 10:09] SamMatthewsIsACommonName commented on #115
* fingers crossed emoji * haha

[2017-05-31 14:09] semiautomatix commented on #123
+1

[2017-06-01 01:22] williams-voon opened #130 "View.propTypes has been deprecated"
Hi,

View.propTypes has been deprecated in RN 0.44.

Warning: View.propTypes has been deprecated and will be removed in a future version of ReactNative. Use ViewPropTypes instead.

The file:
react-native-swipe-list-view/components/SwipeRow.js

The code:
/**
	 * Styles for the parent wrapper View of the SwipeRow
	 */
	style: View.propTypes.style,

Please fix it, thank you very much!

Regards,
Willi

[2017-06-01 11:04] OstrichRunning opened #131 "hiddenRow height wrong"
hi:
SwipeRow.js
render() {
		return (
			<View style={this.props.style ? this.props.style : styles.container}>
				<View style={[
					styles.hidden,
					{
						//height: this.state.hiddenHeight,
						//width: this.state.hiddenWidth,
					}
				]}>
					{this.props.children[0]}
				</View>
				{this.renderRowContent()}
			</View>
		);
	}

7 8  lines,  i think is wrong, when  i delete row ,the h

[2017-06-02 06:20] junshengpierre commented on #94
Hi, may I know if there is a way to lock scrolling of the ScrollView in which standalone SwipeRows are nested in when swiping the rows?

[2017-06-02 09:36] theohdv commented on #115
guys, just found this component ([react-native-swipeable](https://github.com/jshanson7/react-native-swipeable)). I tried it and till now it works well. And it fixes the scroll issue we had with SwipeRow.

[2017-06-17 04:55] nonotest commented on #117
@juxiaowei what do you mean by "It is recommended to increase the shutdown function"
I am also experiencing this issue. Can try to take a look this weekend

[2017-06-19 05:23] bhoomika911 opened #132 "previewFirstRow is not working"
Hi...

This is a great package for swiping component.I have integrated this component in my react native app.It is working great.But I have one issue.PreviewFirstRow is not working.This is my code for swipeview :

//******************************** Code Start*************************************//

return (
        <SwipeListView
          // disableLeftSwipe = {true}
    			dataSource={ds.cloneWi

[2017-06-19 10:27] cielu opened #133 "I can drag the item to left without limit"
as the title descript , I can drag the list item to left without limit . That will result app stopped once a while . suggest: user can drag a item in a fixed width , but out of this width user can do nothing

[2017-06-19 10:27] bhoomika911 commented on #132
I got the problem.I forget to add previewOpenValue.After adding previewOpenValue ,it is working fine.

Thanks.

[2017-06-19 10:27] #132 closed

[2017-06-20 05:38] bhoomika911 commented on #71
I have same issue.I used SwipeRow in my project.Another solution that i found is to use SwipeListView.But sometime it creates problem in rendering rows.Sometimes some of rows getting rendered and other portion of the screen remains blank.When I just scroll,all rows getting rendered.So I avoid to use that solution and remains on SwipeRow to render my list.

Please any one can help?

[2017-06-20 08:14] SamMatthewsIsACommonName commented on #115
@theohdv it does seem nice but unfortunately it doesn't stop the scrolling on ios (for some reason I never had the issue on android anyway). I'm going to use it though it seems nice and concise for what we need )i.e not whole list component)

[2017-06-22 05:24] AndreyPatseiko commented on #127
have the same problem (

[2017-06-22 06:26] XIAOYAYAYAYA commented on #127
I solve this problem by using ScrollView instead of listview ,  you can have a try ScrollView binding Array.map()

[2017-06-29 10:06] cblavier commented on #117
Any update on this?

 I'm experiencing the same issue while opening or closing menus : sometime it become really hard to open / close it and I have to swipe really fast.

The issue is totally random, and can only be reproduced on a real device (iPhone)

[2017-06-30 07:01] zk2401 commented on #94
I have found a way to solve this:
`<SwipeRow
                    swipeGestureBegan={()=>this.setState({scroll:false})}
                    onRowClose={()=>this.setState({scroll:true})}
                    onRowOpen={()=>this.setState({scroll:true})}

`

[2017-07-04 19:47] peterdev6 opened #134 "swipeToOpenPercent does not work"
I am using SwipeRow as an independent component and want to change the percentage for sliding open. The default value is 50 which is half the width of the hidden row. I tried to change it to 20 but the default value does not seem to be changed.

Help is needed.

Thanks

[2017-07-11 06:10] grubstarstar opened #135 "useNativeDriver: true ?"
I noticed that none of the Animations use the `useNativeDriver: true`. I was just wondering if you had tried this and if it improves the animations?

http://facebook.github.io/react-native/blog/2017/02/14/using-native-driver-for-animated.html

[2017-07-11 09:19] elieteyssedou commented on #130
Seems to be important in my opinion ! I don't like very much having an error in the console.

Can someone please fix it ?

[2017-07-20 15:04] #134 closed

[2017-07-24 19:57] kyangy opened #137 "Open row on press"
Hi, is there a way to manually open a row by an onPress?

[2017-07-26 09:01] seclace commented on #129
@vendramini Hi! You can do this with using `ListView` with renderRow set to `SwipeRow`.

    <ListView
        dataSource={this.ds.cloneWithRows(this.props.data)}
        renderRow={this.renderRow}
    />

    renderRow = () => (
        <SwipeRow>
            <View style={styles.hiddenRow} />
            <View style={styles.row} />
        </SwipeRow>
    );

This makes each SwipeRow independent

[2017-07-29 05:16] jarvisluong opened #138 "on Android: Hidden row is placed on top of content"
Hi!

I found that on android if we use position 'absolute' on hidden row, it will automatically place that element on top of the ones that do not have 'absolute' position. In order to fix this, I add zIndex of 1 to hidden rows and zIndex of 2 to content.

I also made a pull request according to this.

[2017-07-31 06:00] Jagadeesh-Govindaraj opened #140 "swipe broken when continously swipe rows in ios"
when open continually swipe rows  swipe got broken and rows are not able to swipe, its only occurs in real device of ios (all devices)

Steps to reproduce
At least swipe 7times on diffrent postion like first scroll a listview up and down and next swipe a rows left to right ,now rows are get jumped in every swipe.and not opened the rows.

[2017-08-01 16:59] nonotest opened #141 "repo maintained"
Hello,

is this still maintained / active?
there are some useful PRs that could be merged :)

thanks!

[2017-08-02 08:55] dzonel opened #142 "Element type is invalid:"
![img_0205](https://user-images.githubusercontent.com/12531667/28865670-4ed0f316-77a3-11e7-8140-ac3bfe8861ae.PNG)

[2017-08-07 12:26] DominicHan opened #143 "can't open item"
When I scroll to bottom, delete any one in the screen. After that I can't open any item of the screens.

[2017-08-07 16:18] jemise111 commented on #141
Hey @nonotest,

Yes this repo is still being maintained / is active. I've been traveling / working a lot recently and have fallen behind in addressing issues and PRs.

I'll do my best to get those PRs merged in and a new release out in the next couple days. And take a look at issues as well.

If anyone's interested in being a maintainer shoot me an email (jesse [dot] sessler [at] gmail)

Thanks! :

[2017-08-08 22:50] vendramini commented on #129
@seclace Not too late! I have been working on other modules of this app, and I'm coming back for this issue now. I tested here and you are right! Thank you!

But this approach create another problem for me. I was using `SwipeListView` with `SwipeRow`, and on `renderRow` method I have access to `(data, secId, rowId, rowMap)` so I can close the row pressing a button with:
[code]
Now I don't have thi

[2017-08-09 03:26] seclace commented on #129
Oh, I don't know what version you are using now, but my version is `0.4.1` and there you can simply call the `closeRow()` method to close the row :)
Such as:
[code]

[2017-08-09 06:14] vendramini commented on #129
Yes, I was using this code, but inside a `SwipeList` that pass those parameters to the `renderRow` function.

Now, I'm using a `<FlatList>` with `renderItem=<SwipeRow>` as you said, to make they independent. (I changed `ListView` with `FlatList`.

[2017-08-09 10:12] seclace commented on #129
Sorry, I forgot that it needs for independent `swipeRow`. For call `closeRow` for independent `swipeRow` you need to refer to it's `ref`, for example:
[code]
And then you can use it anywhere in component or it's children.

[2017-08-13 07:40] nonotest commented on #141
thank you! I am happy to help where I can, let me know if you need help reviewing things etc.

[2017-08-21 11:35] juanjo-ramos opened #145 "Windows: Swiping not working when vertical scrolling enabled on the list"
I'm consistently seen the following problem:
If the total number of rows can fit in the visible screen and or if they can't but scrolling is disabled on the underlying List, the horizontal swiping works as expected.

However, as soon as vertical scrolling is enabled the swiping doesn't work anymore when interacting with the finger. Using the mouse or a stylus makes the swipe work as expected as we

[2017-08-25 17:20] rcorrie commented on #133
`stopLeftSwipe` and `stopRightSwipe` let you set hard limits for the swipe.

[2017-08-26 01:54] lenglengiOS opened #146 "How to let all cells scroll?"
I want to make all cells move to right, that i can show checkbox.

![image](https://user-images.githubusercontent.com/21171262/29737667-7c27bbf2-8a44-11e7-8924-fcb98edef109.png)

[2017-08-29 06:56] dotcink commented on #143
Same problem.

[2017-08-29 09:46] dotcink commented on #109
Seems that when you delete an item at the bottom(iOS), the ListView would scroll up a little bit and over its bottom, then unless you restore the unexpected scroll state the Row will never respond touch event.

I resolve it by force `scrollToEnd()` when `yScrollOffset >= contentHeight - layoutHeight` in `onContentSizeChange()`.

[code]

[2017-08-29 09:49] dotcink commented on #143
Seems that when you delete an item at the bottom(iOS), the ListView would scroll up a little bit and over its bottom, then unless you restore the unexpected scroll state the Row will never respond touch event.

I resolve it by force `scrollToEnd()` when `yScrollOffset >= contentHeight - layoutHeight` in `onContentSizeChange()`.

[code]

ps. Same issue as #109

[2017-09-05 02:57] Fox-3394 opened #147 "Sometimes can not swipe in iOS"
Hi @jemise111 @levitanong
Thank you for this awsome plugin.
But there is a bug in iOS that should be fixed: when I swipe in horizontal, it works OK. But when I try to swipe down 45 degree then the bug appears, it will not allow to swipe horizontal anymore.

This bug is only appear in iOS, in Android this plugin works fine.

![bug_swipe_ios-_online-video-cutter com_](https://user-images.githubuserc

[2017-09-05 12:02] seclace commented on #109
@dotcink Thank you for solution. But try to change list `dataSource` size programatically so when your `contentHeight - layoutHeight` value becomes `< 0`, and then the scrolling to end is very terrible. So you just need to extend this solution with `yScrollOffset >= contentHeight - layoutHeight && contentHeight - layoutHeight > 0` and only then call `scrollToEnd()`.

[2017-09-06 09:17] dotcink commented on #109
@seclace Yeah, you're more accurate.

BTW, what happens for you when `contentHeight - layoutHeight < 0`? For me, `scrollToEnd()` does nothing on that condition.

[2017-09-06 10:08] seclace commented on #109
@dotcink the scrollable content is bounces sometimes from top to down, then sometimes from down to top. It's unpredictable :)

[2017-09-09 08:35] whaoran commented on #147
I have the same problem.

[2017-09-11 06:51] csath commented on #147
Same here.

[2017-09-12 19:34] Abdisalan commented on #147
I also have this problem. bump.

[2017-09-14 07:33] sandeep-t2s opened #150 "onRowClose() is called even the row is already closed."
I am using the FlatListview like

[code]

[2017-09-14 18:23] sandeep-t2s opened #151 "I am using <SwipeRow> on hidden row click I want to close the swipeRow, but only last index is getting closed"
If you are using the standalone <SwipeRow> you can just keep a ref to the component and call closeRow() on that ref.

could you please give the example for the above sentence.

this is how I am using now (Pseudo code).

[code]

[2017-09-19 22:25] niocncn commented on #147
same problem

[2017-09-20 07:29] mmaschenko opened #152 "PropTypes issue with React Native 0.48"
After i upgraded react native to last version, swipe-list started to crash application because after react changes Proptypes is now can not be imported from react directly. You need install another package as described here https://facebook.github.io/react/blog/2017/04/07/react-v15.5.0.html. I was able to fix it by changing package files directly, but it is bad idea for a lot of reasons

[2017-09-20 10:01] bounddog commented on #147
why don't try the nativebase.io? it has such feature and worked perfectly.

[2017-09-21 05:35] grigy opened #153 "Question: how to render the hidden row based on the swipe position?"
I want to achieve Google Inbox's swipe experience, where the hidden row animates based on the swipe open position. Is this possible with the react-native-swipe-list-view?
<img src="https://media.giphy.com/media/vdQxv9751YX9m/source.gif" alt="Google Inbox" width="300"/>

[2017-09-25 05:14] grigy commented on #153
Hi everyone!

I'm trying to add a feature to let the hidden row component know the swipe position. Then I can use that to animate the icon, like the Google Inbox.

So what would be the best way to pass the _translateX value from the SwipeRow to its child component hiddren row?

[2017-09-28 06:53] ChenghaoHu opened #154 "How to turn off the sideslip when you click?Ask God for help"

[2017-09-30 07:03] cukiy commented on #154
swipeListView component has a function  name is safeCloseOpenRow,  using the ref to call this function

[2017-10-03 08:15] seclace commented on #146
may be it is not the best way, but a solved it by wrapping it in another component and put there more one listview component, so I have 1 parent wrapper, which has 2 children - listviews.

[2017-10-11 10:15] ronnen opened #156 "Direction of opened row lost in onRowOpen"
Using the combination of SwipeListView and SwipeRow in its renderRow function, I try to get the direction the row was swiped open.
While SwipeRow::onRowOpen is triggered with 'toValue' as a single param, it is then swallowed by SwipeListView which triggers its onRowOpen callback with param signature (secId, rowId, this._rows) and losing the toValue.
Below is the gist of the component structure and

[2017-10-13 06:57] seclace commented on #94
@zk2401 It is working, but very bad :( because there are could appear situations when user swipes the row to left and at the same time scrolls ListView, but at this moment the scroll offs and swipe is disabled for all rows. Anybody knows the workaround for this?
Please, try swipe to one side and scroll to down almost at the  same time and you'll see the unwanted result. Swipe enables after you scr

[2017-10-18 19:19] jemise111 commented on #130
This is fixed and will be release in the next version

[2017-10-18 19:19] #130 closed

[2017-10-18 20:04] jemise111 commented on #130
Fixed in v0.4.2

[2017-10-20 07:44] jemise111 commented on #138
Fixed by #139

[2017-10-20 07:44] #138 closed

[2017-10-20 18:26] jemise111 commented on #85
Closing as this has been inactive for a while, and looks to be related to another package

[2017-10-20 18:26] #85 closed

[2017-10-20 18:34] jemise111 commented on #94
@ChengHsuanLiu The code for the gif above is in the `SwipeListExample` that is a part of this repo. See `example.js`.

@junshengpierre I would agree with @zk2401, I think that's the best solution. I don't think the standalone `SwipeRow` should be responsible for what happens to its parent component.

@seclace I'm a little confused by your comment. The way the code works (theoretically) is that onc

[2017-10-20 18:37] jemise111 commented on #96
Going to close this as its been inactive for a while

[2017-10-20 18:37] #96 closed

[2017-10-20 18:38] jemise111 commented on #100
Going to close this as it has been inactive for a while

[2017-10-20 18:38] #100 closed

[2017-10-20 18:41] jemise111 commented on #112
Closing this as it's been inactive for a while and is not an issue

[2017-10-20 18:41] #112 closed

[2017-10-20 18:46] jemise111 commented on #116
@alexcoady Is absolutely right. I would recommend using a `TouchableHighlight` instead of `TouchableOpacity`. Going to close this

[2017-10-20 18:46] #116 closed

[2017-10-20 18:48] jemise111 commented on #117
Going to close as this has been inactive for a while. I strongly suspect this is a dupe of #34 or #109

[2017-10-20 18:48] #117 closed

[2017-10-20 18:53] jemise111 commented on #118
@sagexy Just confirmed again that this is working for me locally. Going to close this as I really don't think there's an issue here. If it's still a problem for you please reopen and paste the full code (including the constructor and the logic around the button click) and I'll be happy to take another look, thanks!

(sorry for the delay in responding)

[2017-10-20 18:53] #118 closed

[2017-10-20 18:54] jemise111 commented on #121
Going to close as this has been inactive for a while and is not related to this package. This sounds like a problem with the TabNavigator re-rendering and would likely happen to any `ListView`

[2017-10-20 18:54] #121 closed

[2017-10-20 18:55] jemise111 commented on #122
Hey @zrsb seems like you got it. Going to close this. Please re open if you're having any problems, thanks

[2017-10-20 18:55] #122 closed

[2017-10-20 19:00] jemise111 commented on #123
Hey @terencestone unfortunately that functionality isn't supported right now. Happy to look at a PR if you want to take a crack at it :)

I think you're on the right track. The swipe row could accept a callback to run when a row has been swiped more than, let's say, 75% of the way across. In that function (handlePanResponderMove) you could check what % of the way the row has been swiped and run th

[2017-10-20 19:05] jemise111 commented on #126
@npomfret Sorry for the delay in responding. Is this still an issue?

If anyone is using the package inside of a react-native project they should definitely have react-native and react installed so I don't see why they would have that warning. And since this package does `import { Component } from 'react'` it is indeed a peer dependency

[2017-10-20 19:06] jemise111 commented on #127
Going to close this as it's been inactive for a while and it looks like @XIAOYAYAYAYA found a solution. Thanks

[2017-10-20 19:06] #127 closed

[2017-10-20 19:09] jemise111 commented on #129
Sorry for the late response here.

Looks like @seclace found a solution for you, thanks!

Also @vendramini if you do end up using the `SwipeListView` again you can use the `closeOnRowBeginSwipe` to disable that behavior.

Going to close this issue, please re open if you're still having problems, thanks!

[2017-10-20 19:09] #129 closed

[2017-10-20 19:12] jemise111 commented on #131
@OstrichRunning not sure what your issue is here. If you wouldn't mind pasting a more complete example I'd be happy to take a look.

Also people with height issues after deleting a row often have success by setting the `recalculateHiddenLayout` prop to `false`.

Maybe give that a shot as well

(sorry for the delay in responding!)

[2017-10-20 19:13] jemise111 commented on #133
@rcorrie is right here. You should be able to limit swiping with those props. Going to close this, please reopen if you're still having problems, thanks!

(sorry for the delay in responding!)

[2017-10-20 19:13] #133 closed

[2017-10-20 19:19] #135 closed

[2017-10-20 19:20] jemise111 commented on #135
@grubstarstar Good call, done! via #162

[2017-10-20 19:27] jemise111 commented on #152
@mmaschenko This is fixed in the `v0.4.2` release. Sorry for the delay!

[2017-10-20 19:27] #152 closed

[2017-10-20 19:31] jemise111 commented on #141
Going to close this issue now. I have a lot more time on my hands and will be much more active.

Apologies for the long absence. I've addressed / merged all open PRs and have gone through over half the open issues. Will be addressing the other half and trying to solve as many as possible going forward.

[2017-10-20 19:31] #141 closed

[2017-10-22 08:20] jemise111 commented on #137
Hey @kyangy, this behavior is currently technically supported but there is some hackery you could do in meantime:

[code]

Hope that helps!

(sorry for the delay in responding!)

[2017-10-22 08:22] jemise111 commented on #140
Hey @Jagadeesh-Govindaraj thanks for the report! I'm almost positive this is a dupe of issue #34 which currently doesn't have a fix. Going to close this but it's being worked on

[2017-10-22 08:22] #140 closed

[2017-10-22 08:24] jemise111 commented on #142
Hey @dzonel make sure you are important just the component you need and not the entire library. i.e. do this:
[code]

and do NOT do this

[code]

Going to close this issue but please re-open and show some example code if you're still having problems, thanks!

(sorry for the delay in responding)

[2017-10-22 08:24] #142 closed

[2017-10-22 08:26] jemise111 commented on #143
Hey @DominicHan thanks for the report. @dotcink is right that this is a dupe of #109. Currently working on a fix but don't have anything yet. Thanks for the helpful comments, will look into them as possible solutions.

Going to close this issue though and track it in the original, thanks!

(sorry for the late response!)

[2017-10-22 08:26] #143 closed

[2017-10-22 08:29] jemise111 commented on #145
Hey @juanjo-ramos I haven't heard of this issue before. I'm a little confused.. is this only happening on emulators or on device as well? I only ask because you mentioned using a mouse.

If you have some example code to repro the issue that'd be really helpful and I'd be happy to take a look, thanks!

(Sorry for the delay in responding)

[2017-10-22 08:39] jemise111 commented on #146
Hey @lenglengiOS that behavior isn't really supported and isn't quite what this component is designed for (the use case is really swiping open rows on a row by row basis) but I think you could make this work by either:

1. Doing what @seclace suggested and sliding the entire ListView to the right
2. Wrapping your rows in an `<Animated />` component and controlling that animation yourself

Going to

[2017-10-22 08:39] #146 closed

[2017-10-22 08:47] jemise111 commented on #147
Hey @Fox-3394 thanks for the report. This is a dupe of #34, currently working on it but don't have a fix yet. Going to close this and track in the other issue, sorry for the delay in responding!

@bounddog nativebase's SwipeRow component is almost an exact copy paste of this one, right down to the comments, just FYI :)

[2017-10-22 08:47] #147 closed

[2017-10-22 09:50] jemise111 commented on #150
Hey @sandeep-t2s just double checked and the `onRowClose` callback runs immediately after the animation begins to close the row. It is possible that the animation is so quick by the time the callback runs the row is already closed, but in my testing I don't see that happening.

At what point in the animation would you expect that callback to run? Maybe I can add another callback at a different poi

[2017-10-22 18:35] jemise111 commented on #151
Hey @sandeep-t2s this is because as each row is rendered you are setting `this.refSwipeRow` to the newly rendered row. Therefore each new row over writes the previous one and you only keep a reference to the last rendered row.

In order to close a specific row you'll have to keep track of the ref to each SwipeRow, likely in an object.

For example let's say you just have a list of data, and each i

[2017-10-22 18:35] #151 closed

[2017-10-22 18:39] jemise111 commented on #153
Hey @grigy this currently isn't supported but could be achieved by passing the value of how much a row has been swiped as it is being opened / closed. Maybe you could pass the value to a callback here: https://github.com/jemise111/react-native-swipe-list-view/blob/master/components/SwipeRow.js#L134

Not sure what kind of impact this would have on performance though...

Give it a shot and I'd be ha

[2017-10-22 18:40] jemise111 commented on #154
Hey @ChenghaoHu, I'm not sure what your issue is referring to. Could you elaborate a bit and maybe provide some example code? Thanks!

[2017-10-22 19:09] jemise111 commented on #135
Hey @grubstarstar turns out this change actually had a nasty side effect and I had to revert it.

This package highly depends on being able to track the value of an `Animated.Value`. Unfortunately animating an Animated.Value with `useNativeDriver` set to `true` causes the internal `_value` to often be wrong.

So as long as people aren't seeing bad perf without the animations using the native drive

[2017-10-22 23:47] grubstarstar commented on #135
Ah okay, no worries. Thanks for trying it out though.

[2017-10-23 02:43] ChenghaoHu commented on #154
Such as, The react-native-swipeout component has autoClose functioned. However, I don't know the react-native-swipe-list-view component's autoClose method. I'm just trying to get the autoClose function. To implement this method, you can judge the display effect of each column in the click event. Thank you very much  for your letter and help!

------------------ 原始邮件 ------------------
发件人: "Jesse

[2017-10-23 08:28] jemise111 commented on #154
Hey @ChenghaoHu it sounds like you're trying to close a row on a click event. Here is some sample code that closes the row when you click on one of the hidden buttons:

[code]

Hope that works for you!

[2017-10-23 17:29] Fox-3394 commented on #147
@jemise111 Thank for your feedback.

[2017-10-24 03:55] seclace commented on #94
something as #34

[2017-10-24 18:55] peterdev6 commented on #108
Any updates on this issue?

[2017-10-25 01:55] ChenghaoHu commented on #154
Thank You very mach!

[2017-10-25 01:55] #154 closed

[2017-10-25 12:45] dzonel commented on #142
Thank you so much

[2017-10-26 20:41] jemise111 commented on #108
There is an open PR ( #148 ). Should be merged in and released very soon

[2017-10-29 07:48] jemise111 commented on #108
This has been fixed by #148 and is in the latest release (v0.4.6)

[2017-10-29 07:48] #108 closed

[2017-11-01 05:09] OstrichRunning commented on #131
[code]
In my code, my rows height is differ, sometimes my hidden row height show error, can not  equal row height, so when i comments this tow line out and set the hidden row flex = 1. the hidden row height is ok. so i think this tow line is wrong
(sorry for the delay in responding too!)

[2017-11-20 09:31] MaiYiHang opened #166 "When I sliding bottom to top ,I have some trouble"
hey,first Thank you to your good compoent.I'm a chinese ,and my English is not good,so please forgive me.
I have some trouble,when I sliding bottom to top for get more,it crash.

[2017-11-28 04:24] chudaotrucnhan commented on #42
set a ref in SwipeListView and call safeCloseOpenRow when onPress in SwipeRow.

[2017-11-28 04:29] chudaotrucnhan commented on #71
@sharingjingang050241 just set ref={'swipeListView'} in SwipeListView, and call this.refs.swipeListView.safeCloseOpenRow(); when you Press on Delete Button

[2017-11-28 19:27] brentvatne opened #167 "Add example to Snack"
I copied the example project code into Snack so people can easily try it out, see here: https://snack.expo.io/Sk-9ONjlz

Might be worth you copying this into your own Snack, then saving it to your profile so you can update it whenever you like and keep it at the same url.

[2017-11-28 19:29] brentvatne opened #168 "Update to use react-native-gesture-handler"
[react-native-gesture-handler](https://github.com/kmagiera/react-native-gesture-handler) includes a Swipeable component that uses native gesture recognizers and runs animations on the main thread, so there is no concern about the JS thread potentially dropping frames and leading to janky interactions.

[2017-12-01 19:29] jemise111 commented on #131
Hey @OstrichRunning, so I'm not sure what problem you're facing specifically, but basically the way the component usually works is the hidden row's height and width are initially set to 0, and then it uses the height and width of the visible row component to set the height and width of the hidden row (see here: https://github.com/jemise111/react-native-swipe-list-view/blob/master/components/SwipeR

[2017-12-01 19:30] jemise111 commented on #166
Hey @MaiYiHang, thanks for the compliment! Could you provide some more info? If you could provide some sample code the reproduces the issue I'd be happy to give it a shot on my end and try and fix it. Thanks!

[2017-12-01 19:42] jemise111 commented on #167
Great idea @brentvatne, done!

Added to the README

[2017-12-01 19:42] #167 closed

[2017-12-06 21:05] peterdev6 opened #169 "Have exclusive swipe when using standalone SwipeRow"
Is there any way I can only have one row open when using SwipeRow component in my Flatlist component?

[2017-12-08 06:52] YogeshYo commented on #123
Hi @terencestone, any progress on this? Any workaround? Thanks

[2017-12-08 06:53] YogeshYo commented on #34
Any resolution of the issue? Thanks

[2017-12-13 11:05] sabbiu opened #170 "closeRow() 'Out of Memory'"
On debugger mode, everything is working perfectly.
But, on non-debugger mode, when the following command is encountered, app freezes for a while and 'out of memory error is displayed.
```rowMap[`${secId}${rowId}`].closeRow();```

**Packages**
[code]
**Error**
![Out of Memory Error](https://user-images.githubusercontent.com/19733021/33935897-9dc91ac6-e025-11e7-8af6-698b174b6596.png)

[2017-12-13 12:13] sabbiu commented on #170
Turns out there was way more `console.log()` in my project.. :rofl:

[2017-12-13 12:13] #170 closed

[2017-12-13 14:11] jemise111 commented on #170
Hah glad it's all sorted!

[2017-12-15 07:09] poc7667 opened #171 "Slow performance and init size not working"
As you can see I tried to init 5 items at first.
However, from the debugger console I could also see all the items are rendered which slows down my app performance!

Any idea?

# ListView

    <SwipeListView
        initialListSize={5}
        dataSource={this.ds.cloneWithRows(this.props.words)}
        renderRow={this.renderWord.bind(this)}
        renderHiddenRow={(data, secId, rowId, rowMap) =>

[2017-12-17 13:41] jemise111 commented on #169
Hey @peterdev6 thanks for the question. I assume you're talking about the behavior in the SwipeListView whereby when you open a row it closes the previously opened row before opening the next one.

In order to achieve that we just have to implement some of the code from the SwipeListView into your FlatList.

This should get you on the right track:

[code]

The above code produces this:

![](http:/

[2017-12-17 14:02] jemise111 commented on #171
Hey @poc7667 I'm not sure I entirely understand your question but let me give it a shot. The `initialListSize` prop is simply passed on to the underlying `ListView` on this line: https://github.com/jemise111/react-native-swipe-list-view/blob/master/components/SwipeListView.js#L150.

So between a `SwipeListView` and a `ListView` there is absolutely no difference in how `initialListSize` works.

Whe

[2017-12-18 16:46] peterdev6 commented on #169
@jemise111 Thank you so much for your detailed response. You are the man!

[2017-12-18 16:46] #169 closed

[2017-12-19 05:03] rAnAaRsl opened #172 "how can we add an action on renderHidden row clicked item so we can access the row data"

[2017-12-19 11:53] jemise111 commented on #172
Hey @rAnAaRsl here's an example of how you can pass the row's data to an action on a hidden row button:

[code]

You can check the example code for more (https://github.com/jemise111/react-native-swipe-list-view/blob/master/SwipeListExample/example.js)

Thanks!

[2017-12-19 11:53] #172 closed

[2017-12-27 12:39] jemise111 commented on #115
`FlatList` support is out with v1.0.0!

[2017-12-27 12:39] #115 closed

[2017-12-28 14:32] sandeepjrs opened #175 "this._listView.setNativeProps is not the function."
![simulator screen shot - iphone 6 - 2017-12-28 at 15 12 42](https://user-images.githubusercontent.com/14137376/34413511-f89fc2a2-ec09-11e7-8870-4cd9597fb536.png)

[2017-12-28 14:43] sandeepjrs commented on #175
created the pull request #176

[2017-12-29 01:54] jemise111 commented on #175
Hey @sandeepjrs thanks for the PR, will get that merged in and released shortly.

Can I ask what platform / RN version you are using and if you're using FlatList or not?

I haven't run into this issue so I'm curious.

[2017-12-29 12:19] sandeep-t2s commented on #175
Thank you @jemise111 for the quick action. I am using the react-native 45 and yea I am using the FlatList.

[2017-12-30 03:22] jemise111 commented on #175
@sandeep-t2s Hm strange that I never seemed to run into this issue. Last question - iOS or Android?

[2017-12-30 11:40] sandeepjrs commented on #175
ha ha :D I don't have any problem in responding to your questions. This library is helping me a lot.

I tried only in iOS.

[2018-01-06 03:15] jemise111 commented on #175
Closing via #176

[2018-01-06 03:15] #175 closed

[2018-01-08 19:56] jobala commented on #42
@chudaotrucnhan

It would be nice if you could post an example

[2018-01-09 03:26] arthasshi opened #179 "How to scroll to end?"
how can I control the list scroll to end? like this method :`scrollToEnd({animated: true}) ` of react-native ListView

[2018-01-09 03:44] arthasshi commented on #179
Ok! I gotta it!
`setTimeout(() => {
            this.refs.list._listView.scrollToEnd({animated: true})
        }, 50);`

1. Need delay, [https://stackoverflow.com/questions/42313308/react-native-listview-scrolltoend-it-doesnt-work](url)
2. `this.refs.list._listView`,this code can get the listView prop, it's React-native ListView!

[2018-01-09 03:44] #179 closed

[2018-01-10 07:11] wangdicoder opened #180 "Is it possible to use SectionList to achieve swipe row?"
Hi,

Thanks for providing so much useful component.

I have a question. How can I use SwipeRow to achieve swipe function in the SectionList? ListView has been deprecated, and also I want to use the section function, so I think SectionList will be better. I tried to render the item as SwipeRow, but I could not figure out automatically closing row when another row is opening, and forbid vertical scr

[2018-01-10 08:49] sandeepjrs opened #181 "cannot read property 'getScrollResponder' of null"
![screenshot_2018-01-10-12-34-40-1803030797](https://user-images.githubusercontent.com/14137376/34762904-715c5f8e-f60f-11e7-841a-9a67daf8366c.png)

For temporary fix I am using try and catch in setScrollEnable()
[code]

But I am not sure wether it right way do or not.

[2018-01-10 10:33] sandeepjrs commented on #181
this is only happening sometime and  was crashing the app in the production.

[2018-01-11 07:02] Victoriayangx opened #182 "renderHiddenRow flash when switch page"
All  implement is very good but when i switch the  page  ,the renderHiddenRow flash once.
i can see the red hidden region in seconds,then it disapper. then everything is ok.when i navigate  to another page, and goBack ,the hidden region flash again.
How can i solve it？

Source Code:
1、**renderRow**(rowData, sectionID, rowID) {
return (
<TouchableHighlight
          underlayColor="#DDDDDD"

[2018-01-13 02:23] jemise111 commented on #182
Hey @Victoriayangx is the SwipeListView being rendered inside a tabbed view of some sort by any chance? Someone had a similar issue and was able to fix it by adding the following:
[code]

maybe give that a try? If that doesn't work could you show more code and perhaps a reproducible small example I could try on my end? Thanks!

[2018-01-13 02:29] jemise111 commented on #180
Hey @wangdicoder it is possible but you'll have to implement a lot of the same functionality that's included in the SwipeListView by default. I hope to getting around to supporting SectionList at some point but I just don't have the time right now. If I were you I would take a look at the source code for `SwipeListView`, in particular the logic in these methods:

`rowSwipeGestureBegan`
`onRowOpen`

[2018-01-13 02:37] jemise111 commented on #181
Hey @sandeepjrs, in the last issue / PR you submitted you were crashing on the line `this._listView.setNativeProps` so we added the `getScrollResponder()` but now that seems to be crashing too so for some reason your `_listView` ref is disappearing.

Do you have any more code you could share about how you're rendering the SwipeListView?

[2018-01-14 03:51] wangdicoder commented on #180
@jemise111 Thanks a lot. I try to have a look.

[2018-01-14 03:51] #180 closed

[2018-01-16 16:05] dvisco commented on #113
It's worthwhile to mention that when using the `Flatlist` implementation you'll need to use the `ListFooterComponent` and `ListHeaderComponent` props instead.

https://facebook.github.io/react-native/docs/flatlist.html#listfootercomponent

[2018-01-17 06:33] OstrichRunning commented on #131
hey @jemise111, I have a bug, when i render different height rows, render row without set height(auto with text image component height), i do not know row height so i can not set hidden row. when the row component render i use onLayout callback method get row height, then set hidden row height, sometimes the hidden row height no equal row height.
i change your code, and set hidden row style flex =

[2018-01-19 21:40] Elijen opened #183 "TouchableWithoutFeedback won't work"
If TouchableWithoutFeedback is used instead of TouchableOpacity onPress callback is never called.

[2018-01-19 21:57] ch3nj commented on #183
Wrap whatever you're putting in there with a View.

[2018-01-19 23:31] jemise111 commented on #183
Hey @Elijen could you post some code that you're using in your `renderRow` / `renderItem` function? Or a reproducible example I can try on my end? Thanks!

[2018-01-20 00:19] Elijen commented on #183
@jemise111, @ch3nj  So apparently the issue is `TouchableWithoutFeedback` itself. See: https://github.com/facebook/react-native/issues/10180#issuecomment-298375648

Thanks for your replies though :)

[2018-01-20 00:19] #183 closed

[2018-01-24 00:06] Elijen opened #184 "Disable scroll while swiping"
If you check out a native app that uses a similar swipe list (e.g. iOS Phone.app) it behaves slightly differently when you start swiping (left or right). A native app disables the scrolling so even when you suddenly move your finger down the list stays in the same place.

This makes it MUCH easier to swipe on items since a human thumb naturally moves along an elliptical path rather then straight l

[2018-01-27 09:55] sandeepjrs commented on #181
Sorry For delay.

this is how I am using
[code]

[2018-01-29 01:12] jemise111 commented on #184
Hey @Elijen the `SwipeListView` actually does disable scrolling on the parent `ListView` or `FlatList` as soon as it has been detected that a swipe has begun. See here: https://github.com/jemise111/react-native-swipe-list-view/blob/master/components/SwipeRow.js#L120

I also tried to demonstrate this in the gif below. If you're not experiencing that behavior that's a bug. Please let me know which p

[2018-01-29 01:19] jemise111 commented on #131
Hey @OstrichRunning sorry for the delay. When you say

Are you referring to the styles set here?

https://github.com/jemise111/react-native-swipe-list-view/blob/fc25078c703864f4f8b08f786f2012d8cfe1d42f/components/SwipeRow.js#L317

If so I can add a prop to you to set styles of the hidden row and maybe it's a win win for everyone :)

[2018-01-29 01:42] jemise111 commented on #181
@sandeepjrs For the life of me I cannot reproduce this issue. But I'll take your word for it that somehow your users are losing the `ref` to the listView and causing this crash. I've put in a fix in #185 that should solve this. They might not have their scrolling disabled properly but at least the app won't crash. That's the best I can do for now. Please re open if you have any new issues. Thanks!

[2018-01-29 01:42] #181 closed

[2018-01-29 06:22] OstrichRunning commented on #131
I think setting only flex without setting width&height, hidden row will show right.
if set height&width  and set flex, set flex not work.
in my code, i set flex is not work, because in your code,  you set height&width.
i hope you can make a test, set flex without height&width. if this ok, we will not care hidden row

[2018-01-31 07:57] sideme opened #186 "Cannot read property 'setNativeProps' of undefined"
![image](https://user-images.githubusercontent.com/10138628/35611087-cec4fff6-069e-11e8-9a75-fd1c73b93301.png)

[2018-01-31 08:01] sideme commented on #186
When I slide this error occurs
When I silde another one,the previous one will not be restored

[2018-01-31 08:14] sideme commented on #186
this is how I am using
`<SwipeListView
                useFlatList
                data={this.state.listViewData}
                renderItem={ (data, rowMap) => (
                    <View>
                        <TouchableHighlight>

                        </TouchableHighlight>
                    </View>
                )}
                renderHiddenItem={ (data, rowMap) => (

[2018-01-31 11:33] jemise111 commented on #186
Hey @sideme could you tell me:

1. What version of RN are you using?
2. What version of react-native-swipe-list-view are you using?
3. Is this on iOS and Android?

Thanks! This seems to be an issue for multiple people and I can't reproduce so that would be super helpful.

Also make sure you have the latest version of RNSLV. It may partially solve your issue

[2018-01-31 11:58] jemise111 commented on #131
Okay @OstrichRunning I just pushed a branch called `dont-set-hidden-height-width`. Could you give this a try by setting your package.json to point to it in your project. Like this:

[code]

Then you should be able to set the flex yourself and hopefully that fixes your issue. If that works I'll get it merged in and push it out in a new release. Let me know, thanks!

[2018-01-31 13:31] sideme commented on #186
Thank you for your reply
1. My version of RN is 52
2. My version of react-native-swipe-list-view  is 1.0.5
3.I'm using IOS

[2018-01-31 13:32] sideme commented on #186
Thank you for your reply

1. My version of RN is 52
2. My version of react-native-swipe-list-view is 1.0.5
3. I'm using IOS

[2018-02-02 00:23] Elijen commented on #184
@jemise111 Thanks for the reply.

Seems you are right and it works as expected when FlatList is used in a simple View. It breaks however when used as a child of another ScrollView.

I figured out I'd probably need to disable scrolling myself using `swipeGestureBegan`, but it seems there is no `swipeGestureEnded` to enable the scrolling again.

[2018-02-02 00:28] Elijen commented on #184
Perhaps it would be nice if `onScrollEnabled` prop was added. It would be called by `setScrollEnabled` so user can enable/disable scrolling of any nested `ScrollView`.

[2018-02-02 04:21] OstrichRunning commented on #131
Hi:  @jemise111,
 I use your demo(SwipeListExample) test, set different height, the bug did not reappear. so i think you do not need <#dont-set-hidden-height-width>, but in my old code( "react": "^16.0.0-alpha.12",
    "react-native": "0.36.1") ,when i set hiddenRow flex = 1, sometimes hiddenRow height show error.

However, I think there is no need to take the initiative to set the width and heigh

[2018-02-02 14:07] jemise111 commented on #131
Hey @OstrichRunning thanks for giving it a shot!

I'm gonna think about it and maybe implement a change in the future but seeing as you're not affected by this issue anymore and I don't have anyone else experiencing this I'm going to leave it alone for now and close this issue.

Good luck in your new job :)

[2018-02-02 14:07] #131 closed

[2018-02-03 23:42] neomib commented on #182
Hi,
I'm having the same problem.The `recalculateHiddenLayout` solution didn't help.
I'm using `react-native-elements` Button in my hidden rows and `TouchableHighlight` for my visibles rows.

It happens only upon navigation to a different page. When the view changes inside the same page the flashy thing doesn't happen.

@Victoriayangx did you find a solution?

[2018-02-04 01:05] neomib commented on #182
Found a solution: overriding the opacity value of the screen like so:
[code]

[2018-02-05 08:46] Victoriayangx commented on #182
i did not modify the code .this issue only happens on Android. because for Android, when open a new page, the default open/close mode is **forFadeFromBottomAndroid**,but ios is **forHorizontal**, so IOS did not found this issue.

**What i do to solve this issue:**
// import this line
import CardStackStyleInterpolator from 'react-navigation/src/views/CardStackStyleInterpolator';

// in StackNavigat

[2018-02-06 13:53] jemise111 commented on #184
@Elijen Done!

Get version v1.0.6 and see here: https://github.com/jemise111/react-native-swipe-list-view#onscrollenabled

Going to close this, please open if you have any other issues.

[2018-02-06 13:53] #184 closed

[2018-02-06 13:54] jemise111 commented on #186
Hey @sideme I've had people reporting various formats of this same issue across different versions.

I've rewritten this small piece of code to be as safe as possible. Please give the latest version a shot (v1.0.6) and let me know if it fixes your problem, thanks!

[2018-02-07 15:22] andrzey opened #188 "TypeError: Undefined is not an object"
`TypeError: undefined is not an object (evaluating 'dataSource.rowIdentities')` is the error I get even with the simplest example. Do you have any clue as to why I experience this error?

![screen shot 2018-02-07 at 16 21 13](https://user-images.githubusercontent.com/2391667/35924323-04f28218-0c23-11e8-9592-fc7921b25ea6.png)

[2018-02-07 15:29] jemise111 commented on #188
Hey @andrzey looks like there's a typo there. You have `useFlaList` instead of `useFlatList`. Therefore it's trying to use a `ListView` and looking for a `datasource` prop that doesn't exist.

Does that do the trick?

[2018-02-07 15:35] andrzey commented on #188
Djesus that was embarrasing. Thank you so much!

[2018-02-07 15:39] jemise111 commented on #188
Hah no problem man. Second pair of eyes always does the trick :)

[2018-02-07 15:39] #188 closed

[2018-02-08 07:28] sideme commented on #186
Thank you!
it seems to lead to another question，like this
![image](https://user-images.githubusercontent.com/10138628/35960277-099ebcac-0ce4-11e8-8e05-acc08ffeade8.png)
The previous one is not hidden

[2018-02-08 15:50] jemise111 commented on #186
@sideme Hm I'm really not sure why that would be happening. Do you have any of the props set that would cause a change to this behavior? such as `closeOnRowBeginSwipe`

[2018-02-09 01:19] sideme commented on #186
I'm used the basic features, like this
![image](https://user-images.githubusercontent.com/10138628/36006787-dfce3e8e-0d79-11e8-858f-7313be2aff06.png)
I think using FlatList is the cause of the problem
When I use ListView,The problem will not happen

[2018-02-11 12:58] jemise111 commented on #186
@sideme sorry man I'm really not sure what's going on. Could you investigate a little further for me?

If you go into your `node_modules/react-native-swipe-list-view/components/SwipeListView.js` and add a `debugger` on line 58 right inside the `onRowOpen` method and maybe you could see what's going on?

Is `safeCloseOpenRow` being called at all? If so is it able to grab a reference to a row?

Any

[2018-02-13 08:42] timorss opened #189 "problem with swipe list and tabs"
Hello.
my problem is i have tabs on the top of the screen.
so if i swipe, it swipes to other tab...and not the object itself.
without tabs it works well...

[2018-02-13 10:02] jemise111 commented on #189
Hey @timorss. I've run into this issue myself and unfortunately I had to turn off swipe gestures on the tab view.

I'm not sure how we could solve this from this component alone. Do you have any suggestions? If you were building both from scratch you could look at the velocity and distance of the swipe and try to determine whether the user is swiping a row or a tab but without access to your tab v

[2018-02-14 14:10] sideme commented on #186
Thank you!
I read your code and I used other way to achieve
Now I have solved it
Thank you very much! you are pretty good!

[2018-02-14 14:43] jemise111 commented on #186
@sideme great! Glad to hear it

[2018-02-14 14:43] #186 closed

[2018-02-15 11:43] timorss commented on #189
I had to turn off swipe gestures on the tab  as well...unfortunatlly

[2018-02-16 05:34] jemise111 commented on #189
@timorss Going to close this issue. If you want a better solution I'd suggest you copy the source code from this lib into your own project and play around on this line:

https://github.com/jemise111/react-native-swipe-list-view/blob/master/components/SwipeRow.js#L97

Here you can decide if the SwipeRow should take control of the swipe. I think if you return `false` in that function the tab will ta

[2018-02-16 05:34] #189 closed

[2018-02-20 10:39] olivier-soumillon commented on #112
Hi, I tried it too and the SwipeRow swipes correctly but the list is not sortable, as the touch event wasn't passed to the parent (?) any idea on how make it work ? Thanks !

[2018-02-20 10:43] jemise111 commented on #112
Hey @olivier-soumillon, I'll post the same advice I gave to someone else looking to use this component in a Swipeable Tab Container and try to detect which use swipe goes to which component:

"If you want a better solution I'd suggest you copy the source code from this lib into your own project and play around on this line:

https://github.com/jemise111/react-native-swipe-list-view/blob/master/com

[2018-02-22 11:33] Paul-Todd opened #190 "Add renderFlatList prop"
Right now we have a renderListView function which consumes the renderRow function.
If we want to use a flatlist then this consumes the renderItem method. We need to expose the renderItem method in addition to the renderRow function.

I propose adding a renderFlatList property that exposes the renderItem method if the useFlatList property is true.

Comments? If okay I will do a PR on this.

[2018-02-23 05:27] jemise111 commented on #190
Hey @Paul-Todd sounds good to me, happy to look at a PR

[2018-02-24 00:14] illank86 opened #191 "onRowOpen Problem if deleted"
hi,

i have problem with example for onRowOpen

[code]

if deleted the row, that function cause an error
`null is not an object (evaluating 'rowMap[rowKey].closeRow`

attached my full code for swipelistview

[code]

any ideas???

[2018-02-24 00:51] jemise111 commented on #191
Hey @illank86 if you delete a row there will no longer but a `ref` to that row so `rowMap[rowKey]` will be undefined.

You can just change this:
[code]
to this
[code]

Does that work for you?

[2018-02-24 01:20] illank86 commented on #191
Hey @jemise111 , its works perfectly..... thank you..

[2018-02-24 01:20] #191 closed

[2018-03-27 05:57] 312362115 opened #195 "swipeRow stopLeftSwipe props"
[code]

this.props.stopLeftSwipe is a positive number,
maybe `newDX  < this.props.stopLeftSwipe` is right

[2018-03-28 12:33] michalpetrov opened #196 "How to avoid binding when using touchables"
If I want to use a touchble row (according to the documentation) it must be the topmost component. So I have to use it like this:
[code]
So I have to call bind for each item to get the pressed item value as a parameter of onItemPress function. But binding like this should be not used because of perfomance issues (especially for large lists).

Normally to avoid such a binding I would use a wrapper

[2018-03-29 13:27] jemise111 commented on #195
Hey @312362115, thanks for the issue! You're totally right but I think this is more a naming issue than a code issue. I should have named the prop something like `stopLeftOpening` instead of `stopLeftSwipe`.

However at this point I'd like to keep it as is and not make the code change for two reasons. 1 - it would be a breaking change and I hesitate to do that and cause a lot of people problems. 2

[2018-03-29 13:27] #195 closed

[2018-03-29 14:00] jemise111 commented on #196
Hey @michalpetrov I don't think you need an entirely new component here. How about this:

[code]

[2018-03-29 17:54] michalpetrov commented on #196
`onPress={this.onItemPress(data.item)}`
Like this you are invoking the function during the render. You need to pass a function to `onPress` and not to invoke it.

[2018-03-29 23:56] jemise111 commented on #196
[code]

There's actually another `=>` here so `onItemPress` returns a function which can then be passed to `onPress`. I tested the code above and it works fine. I'm not sure if it's the best practice way to do things but it's how I usually handle this type of scenario when I don't want to explicitly `bind` and haven't seen performance issues as far as I know.

Hope it works for you!

[2018-03-30 16:37] michalpetrov commented on #196
Ok, I didn't note the second `=>` ... so, yes, like this it will work. But from performance site it's basically the same as using `bind` because it returns new function at each render, that means the props will change and that would cause another render.

[2018-03-31 17:28] Balasnest opened #198 "Call child component methods from parent"
I want to call child component methods `SingleCard` in `renderHiddenItem`.  But **this.name** is `empty` object. How can I achieve this?
[code]

[2018-04-02 05:07] #198 closed

[2018-04-02 08:32] jemise111 commented on #196
@michalpetrov fair enough. I'm having some trouble seeing how you would achieve what you want using a normal ListView (or FlatList). Could you expand your example above to include that bit? And I'll see if I can make a few changes to get it to work for the SwipeList as well. Thanks!

[2018-04-09 08:58] pisangGoreng opened #201 "undefined closeRow() from SwipeListView"
Hi.. im try to implement closeRow() when user click button from renderHiddenItem property.
when im try to access closeRow() from rowMap, its look like undefined.
im try with onPress={ _ => rowMap[rowData.item.key].closeRow()}

Any idea to solve this? Thanks

[code]

[2018-04-09 23:32] jemise111 commented on #201
@pisangGoreng are you calling `closeRow` from within `readThisNotif`? Because I don't see where you are passing the `rowMap` to `readThisNotif`?

Also what is `undefined`? The `rowMap` or something in `rowData`?

It would be super helpful if you could post the code for `readThisNotif` and the redbox error you're seeing as well.

Thanks!

[2018-04-12 10:15] jemise111 commented on #201
@pisangGoreng Sorry man I'm not sure what's going on.. I've plugged in the code you're using in `renderHiddenItem` into my example and it's working just fine.

Can I see what `notificationList` looks like? That might help figure out the issue.

Thanks!

[2018-04-19 11:27] ivanushka1703 opened #203 "rowData is undefined on a first event call in hidden items"
Here is my setup:

[code]

And the EditButton is:

[code]

When I add a first item to the list, then swipe to open hidden buttons and click EditButton I have `undefined` for `row` in `console.log('edit', _id, row)` of EditButton component.

If I print `row` in `renderHiddenItem` it seems like an empty object, but when I expand it there is a first  row (look at the first console.log):
**collapsed**

[2018-04-23 10:39] jemise111 commented on #203
Hey @ivanushka1703 I think there's a timing issue going on here but I'm not entirely sure.

At the exact moment the row is rendered I would expect the `rows` map to be undefined. The reason for this is I build the `rows` object as each is row is being rendered. So at the exact moment of rendering it will most likely be `undefined`. However any moment after that (including when you click on any hid

[2018-04-27 14:04] ethanx94 commented on #145
I have the same when nesting SwipeListView within a ScrollView. It seems as if the ScrollView is taking priority for only touch events but yet not mouse events.

[2018-04-29 23:05] jemise111 commented on #145
@ethanx94 is it completely necessary to nest the SwipeListView in a ScrollView? Can you make use of the `header` and `footer` for extra content and not use a ScrollView at all?

And then I'm a bit confused when you say "mouse events". Is this a problem only on an emulator?

Thanks!

[2018-04-29 23:47] dsc-ian opened #204 "RowKey undefined"
I'm having an issue when I open a row, the other rows doesn't close, when I console.log the rowkey it is set to undefined. What could be the problem?

<SwipeListView
      useFlatList
      inverted={true}
      data={comments}
      renderItem={this.renderComment}
      renderHiddenItem={this.renderDelete}
      disableRightSwipe
      rightOpenValue={-75}
      previewRowKey={''}
      onRowDidO

[2018-04-30 01:35] dsc-ian commented on #204
Also when using useFlatList the auto close of opened row is not closing.

[2018-04-30 13:12] liamse commented on #9
I have same problem. Add ```rowMap[`${secId}${rowId}`].closeRow()``` in `deleteRow` function solve it for me.
The point is you need to `closeRow` before delete it.

[2018-05-01 06:56] jemise111 commented on #204
Hey @dsc-ian I think your first and second issues are being caused by the same thing. Can I see an example of what `comments` looks like?

Each object in the `comments` array should have a `key` property or if not you need to pass a `keyExtractor` prop telling it how to create the `key`. Is this the case with your example? Thanks!

[2018-05-01 07:03] jemise111 commented on #145
@ethanx94 Awesome job finding that fix, thanks for doing the research on this!

[2018-05-01 07:03] #145 closed

[2018-05-01 07:06] jemise111 commented on #145
Fixed in v1.1.1

[2018-05-09 03:48] hkung77 opened #206 "getScrollResponder() isn't available."
I'm using nested swipelistviews (flatlist), the app crashes when i try to swipe on the inner swipe row.

Error:
Cannot read property 'setNativeProps' of undefined
Unhandled JS Exception: Cannot read property 'setNativeProps' of undefined

I looked into the swipelist, it seems like getScrollResponder() is not available function, however the flatlist ref is still available..

[2018-05-10 23:56] jemise111 commented on #196
@michalpetrov just saw this article and thought it might be helpful: https://medium.freecodecamp.org/the-best-way-to-bind-event-handlers-in-react-282db2cf1530

[2018-05-11 04:04] #206 closed

[2018-05-20 05:03] jemise111 commented on #109
Fixed in v1.3.0

[2018-05-20 05:03] #109 closed

[2018-05-20 05:07] jemise111 commented on #126
I don't believe this is an issue anymore

[2018-05-20 05:07] #126 closed

[2018-05-20 05:08] jemise111 commented on #137
Closing as this seems to be sufficient for most people

[2018-05-20 05:08] #137 closed

[2018-05-20 05:08] jemise111 commented on #150
Closing as this has been inactive for a while

[2018-05-20 05:08] #150 closed

[2018-05-20 05:09] jemise111 commented on #166
Closing as this has been inactive for a while

[2018-05-20 05:09] #166 closed

[2018-05-20 05:09] jemise111 commented on #171
Closing as this has been inactive for a while

[2018-05-20 05:09] #171 closed

[2018-05-20 05:10] jemise111 commented on #190
Closing as `FlatList` is now supported

[2018-05-20 05:10] #190 closed

[2018-05-21 06:05] nzrin opened #209 "Undefined is not an object (Version 1.3.0)"
I've got this error while try to trigger closeRow function :

undefined is not an object (evaluating 'rowMap[rowKey].closeRow')

I'm using FlatList option. This is my closeRow function code:
[code]

This is my trigger touch code :
[code]

This is SwipeListView (FlatList). When I swipe spesific row, another row I've swiped not closing automatically.

![aaaa](https://user-images.githubusercontent.co

[2018-05-21 12:36] rf1804 opened #211 "Flickering List in iphone X only"
react : 16.3.1
react-native : 0.55.2
react-native-swipe-list-view : 1.1.0

Only in Iphone X, in real device as well as in simulators list flickers whenever i navigate to another screen and come back

[Video Link](https://expirebox.com/download/45b161bf441ccc5c371fa4f0658baeb3.html)

[2018-05-22 14:54] suwu150 opened #212 "React-native-swipe-list-view can support pull-up to load more data and pull-down to refresh the page"
Can react-native-swipe-list-view support pull-ups to load more data and drop-down refresh pages, or how should I implement it, taking 10 data at a time

[2018-05-23 01:10] jemise111 commented on #212
Hey @suwu150 the `<SwipeListView>` component is just a `<FlatList>` (or a `<ListView>`) under the hood so you can follow any of the guides on how to implement pull to refresh for those components and it will work here, thanks!

Here's a guide e.g. https://dev-blog.apollodata.com/loading-data-into-react-natives-flatlist-9646fa9a199b

[2018-05-23 01:10] #212 closed

[2018-05-23 01:12] jemise111 commented on #209
Hey @nzrin can I see the structure of your data and how you're using the <SwipeListView>. I'm curious to know if each object in your data has a `key` property or if you're passing a `keyExtractor` prop, thanks!

[2018-05-23 01:16] jemise111 commented on #211
Hey @rf1804 I see the flickering you're talking about but I'm not sure this is a <SwipeListView> issue. It looks like the little white bar at the bottom of the list is flickering. I would suggest swapping out the <SwipeListView> with a <FlatList> or <ListView> to isolate the problem and see if it is really a problem with this component.

I'd be happy to help try to figure it out if you want to pos

[2018-05-23 01:48] nzrin commented on #209
Yes sure, this is my structure of data :

[code]

[2018-05-23 01:52] jemise111 commented on #209
Can you try adding a `key` to your data, so it looks like

[code]

or using a key extractor prop:

[code]

and seeing if that fixes it?

[2018-05-23 01:58] rf1804 commented on #211
Hey @jemise111 thanks for the reply, i was also not sure earlier that what is causing this flickering so first i removed fab button but that still happened, so i colored bottom tab bar as u also pointed i was also thinking that white part is of tab bar but it wasn't, den i commented the swipe list and problem does not occured, so i tried 2 3 times to check is it really coz of swipe list only and i

[2018-05-23 02:03] nzrin commented on #209
Thank you! It works fine when I use keyExtractor.

[2018-05-23 02:04] jemise111 commented on #209
👍 glad to hear it

[2018-05-23 02:04] #209 closed

[2018-05-23 02:05] jemise111 commented on #211
Hm that's very strange. Did you try swapping out the <SwipeListView> with a <FlatList> to isolate the problem?

You could also try setting a fixed height on the List, or playing with the `initialListSize` prop and setting it to a higher value than the default.

[2018-05-23 02:08] suwu150 opened #213 "TouchableOpacity component can see the hidden button"
![image-touchopcy](https://github.com/suwu150/static-resource/blob/master/images/react-native-swip-touchopcy.gif?raw=true)
When I use the TouchableOpacity component, I can see the back button when I click on the row. Can I remove the back button or hide it when I click, and make it unnecessary to display or modify the style? thank you！
my renderRow code
[code]
style css code
[code]

[2018-05-23 02:13] jemise111 commented on #213
Hey @suwu150 this is a long standing issue without a real solution because it's just two `<View />`s stacked on top of each other.

Either use `activeOpacity={1}` or use a `TouchableHighlight` instead of a `TouchableOpacity`.

If you really wanted to use a `TouchableOpacity` your could try to set the style to change using the `onRowOpened` prop but my guess is you would see some flickering and IMO

[2018-05-23 02:13] #213 closed

[2018-05-23 02:50] suwu150 commented on #213
Thank you very much for your explanation, I finally decided to use TouchableHighlight, the effect is also OK, as shown below
![hign](https://github.com/suwu150/static-resource/blob/master/images/react-native-swip-touchhign.gif?raw=true)
[code]

[2018-05-23 02:55] nzrin opened #214 "previewFirstRow vs previewRowKey"
Is there a way to use previewFirstRow instead previewRowKey?

Reason:
Value inside my keep keep on changing. For example, it doesn't always hold the value of '0', might be random number. How to preview first row without using previewRowKey?

I got an error when I tried to use this code :
[code]
Error :
[code]

Thank you.

[2018-05-23 03:23] jemise111 commented on #214
Hey @nzrin I don't think this is an issue with SwipeListView. It looks like `this.state.fetchedData` is undefined at some point. What if you just did something like:

[code]

something like that...

[2018-05-23 07:57] suwu150 opened #215 "Setting the background color does not work"
Setting the background color does not work，I set the background color, and when I first entered the list page, I could see it flicker, and it became like this in the picture below.
[code]
![beijingse](https://github.com/suwu150/static-resource/blob/master/images/react-native-swip-backgrouncolor.png?raw=true),

[2018-05-23 10:12] lovebehl commented on #211
@jemise111 as u said i tried using `<FlatList>` to check is it a bug of `<SwipeListView>` or not, but using `<FlatList>` also it occurs means either it's because navigation library `react-native-navigation` or with `react-native`.
I've opened a issue in `react-native-navigation` hope to solve it soon.

i guess the problem was it is not getting the proper height to calculate number of rows to rende

[2018-05-23 10:17] rf1804 commented on #211
@jemise111 as u said i tried using `<FlatList>` to check is it a bug of `<SwipeListView>` or not, but using `<FlatList>` also it occurs means either it's because navigation library react-native-navigation or with react-native.
I've opened a issue in react-native-navigation hope to solve it soon.

i guess the problem was it is not getting the proper height to calculate number of rows to render and

[2018-05-24 01:39] jemise111 commented on #211
Interesting.. well if you don't mind since this isn't an issue with this library I will close this. If you find any more issues feel free to re-open.

If I were you I would try to set fixed heights on everything - the main screen, the tab bar, and the list. Maybe some combination of fixed heights + `initialListSize` can do the trick. Good luck!

[2018-05-24 01:39] #211 closed

[2018-05-24 01:50] jemise111 commented on #215
Hi @suwu150 I'm pretty sure there are no issues with setting style on the SwipeListView. Here is the example using FlatList from `example.js` with the `style` prop added...

![image](https://user-images.githubusercontent.com/4265163/40460134-949ef6a8-5f48-11e8-9a47-1400abde203f.png)

[2018-05-24 03:04] suwu150 commented on #215
hi，But I do have this kind of problem here. I will give you specific code and I hope we can find out the specific reasons for the problem. Thank you.
[code]
And, my environment library version is as follows
[code]

[2018-05-24 03:17] jemise111 commented on #215
`{...this.props}`

Is it possible the parent is passing in a `style` prop that is overriding your style?

[2018-05-24 03:18] jemise111 commented on #215
Can I also see what `_renderRow` and `_renderHiddenItem` look like?

[2018-05-24 03:29] suwu150 commented on #215
![backgroundcolorok](https://github.com/suwu150/static-resource/blob/master/images/react-native-swip-backgroundColor-ok.gif?raw=true)

I found the reason because of the style in example.js.Because the background color in the rowBack style is not transparent, as follows
[code]
The background color I modified to the following,it can display normally.
[code]
I have changed this way and can use it. I

[2018-05-24 03:45] #214 closed

[2018-05-24 03:45] nzrin commented on #214
Thank you!

[2018-05-24 03:49] nzrin opened #216 "react-native-elements (Header) cause overflow."
I'm using SwipeListView Flatlist and react-native-elements(Header) as my header. The problem as shown as below :

![aaaa](https://user-images.githubusercontent.com/36392666/40463532-65166d6c-5f48-11e8-8431-d523bdf96fb0.png)

I can't scroll further and my list stuck and last row only shows half.

[2018-05-24 04:39] jemise111 commented on #215
Changing the example won't affect the project at all. So I'm a little confused - is your issue resolved?

[2018-05-24 04:40] jemise111 commented on #216
@nzrin Can you provide some code?

[2018-05-24 04:44] nzrin commented on #216
Sure. This is my code :

[code]

[2018-05-24 07:08] rf1804 commented on #211
@jemise111 i tried giving fixed height but no luck, even for to find out what is that white part i've even given background color to every component but i've not able to find from where that white part comes.

[2018-05-24 08:08] suwu150 commented on #215
It has been solved, because the style of roback is directly used in example.js. The background color of _renderHiddenItem blocks the background color of the bottom layer. When I change the color of the layer carrying the bottom button to transparent , list can see the bottom of the style

[2018-05-24 08:10] suwu150 commented on #215
Can I see the style of rowBack in your `<View style={styles.rowBack}>`? Since we are the same, how can I not show before?

[2018-05-24 08:15] suwu150 commented on #215
I suggest the rowBack this style, the default background color is transparent

[2018-05-25 04:49] ithieund commented on #34
The same for me with latest version.
In my case, the hidden row sometimes didn't show at all (the item does not slide at all), and that some other next try make it work but then the issue happen again.
This bug is anoying not only for client but also for developer :(

@jemise111 , Can you please fix this?

[2018-05-25 06:55] sargunv opened #217 "TypeScript type definitions"
Would you be open to a PR for TypeScript type definitions?

[2018-05-25 09:57] jemise111 commented on #217
For sure 👍😃

[2018-05-27 05:03] nzrin commented on #216
It's okay. Managed to solved this by set my parent view style to flex:1.

Render :
[code]

Styles :
[code]

[2018-05-27 05:03] #216 closed

[2018-05-28 08:08] vetrslav opened #218 "Only one opened tab, close previous when next tab open"
Hi!

What i need is to close previous opened tab whet next tab open.
I need only one active tab, is it possible?
I've tried **closeOnRowBeginSwipe** , but it seems doesn't work at all, i don't see any changes.

[2018-05-28 08:09] vetrslav commented on #218
![image](https://user-images.githubusercontent.com/20933356/40604398-9377316a-6267-11e8-86ac-d6c011c9b4cf.png)

[2018-05-28 09:51] jemise111 commented on #218
Hey @vetrslav this should be happening by default. Make sure each object in `this.props.data` has a `key` property. Or make sure you're passing a `keyExtractor` function, otherwise that behavior won't work.

If you like I can take a look at what `this.props.data` looks like

[2018-05-28 09:57] vetrslav commented on #218
Yep. The problem was solved by adding keyExtractor

Thanx

[2018-05-28 09:57] #218 closed

[2018-05-31 11:27] pgonzalez-santiago commented on #201
Same happening to me. rowMap[rowData.item.key] is undefined

[2018-05-31 11:53] pgonzalez-santiago opened #219 "Wrong params in renderItem callback"
I am using:
"react-native": "0.48.3"
"react-native-swipe-list-view": "^1.3.0"

I want to open a row when a click event is triggered but I can not do it.

This is my code:

[code]

In the documentation I see:
[code]

but when I inspect the params of the renderItem callback what I get is:

`{item: {…}, index: 0, separators: {…}}` instead of `(rowData, rowMap)`

so I can not access to the openRow fun

[2018-06-04 06:36] jdl7758258 opened #220 "I want to Click this row and right button show auto with no swip,how can I get it"

[2018-06-05 09:21] jdl7758258 opened #221 "previewRowKey can‘t refrersh"
I want to It can Preview when I click this row

[2018-06-06 12:14] steverob commented on #211
Any updates on this?

[2018-06-06 23:01] suchithc opened #222 "Swiped row doesn't close"
I'm using SwipeListView with useSectionList and SwipeRow for each item to have per row behavior for swipe actions.

[code]

[code]

Problem:
1) I want to close (go to un-swiped state) row when another row is swiped. And close when on scroll.

![jun-06-2018 15-48-54](https://user-images.githubusercontent.com/6964591/41069083-357758d8-69a1-11e8-866e-b8938b862021.gif)

2) With swipe action (which cha

[2018-06-07 04:52] rf1804 commented on #211
just give height: '100%' instead of flex:1 of main container, somehow it worked

[2018-06-10 13:56] orarr commented on #220
I am trying to implement this feature with `renderItem` using v1.3.0
[code]
But it seems `rowMap` object is not populated with refs on render. I can access refs only from `onRowOpen`

`rowMap['t1'] is undefined`

[2018-06-12 21:42] cmeredith commented on #222
+1. Having the same issues here with section list.

[2018-06-12 23:00] suchithc commented on #222
Found the problem, we need to have SwipeRow as top level component while passing it to renderItem:

renderItem={({ item, index, section }) => <SwipeRow> <HiddenComponent/> <VisibleComponent /></SwipeRow> }

[2018-06-13 15:29] cmeredith commented on #222
Even doing that, it's very hit or miss. Sometimes it will close but most of the time it won't.

[2018-06-20 07:02] rimzici opened #223 "Behaviour when 'voice over' is ON."
**Can something be done about the swipe right/left behaviour when 'Voice Over' mode is ON in IOS ?**
<br/>
I think right now the `SwipeRow` component does not take any properties related to [accessibility](https://facebook.github.io/react-native/docs/accessibility.html), or handles any.<br/>
Issue is, in IOS when 'Voice Over' is turned ON there is no way to swipe right/left(at least I could not fi

[2018-06-20 09:04] jemise111 commented on #220
Hey @jdl7758258, @orarr, the problem is like you said refs aren't populated until after the component renders. Also there is no method called `openRow` on a SwipeRow so I think it'll work if you change the above code to the following:

[code]

And you can change `data.item.key` to however your keys are calculated.

Give that a shot and let me know if you're still having problems, thanks!

[2018-06-20 09:04] jemise111 commented on #221
Hey @jdl7758258 is this the same issue as #220 ?

Please see my response there, thanks

[2018-06-20 09:07] jemise111 commented on #219
Hey @pgonzalez-santiago I think you might be having the same problem as another issue ( #220 ). The issue here is that the rowMap is populated at a time after the component is rendered once (since it is based on `ref`s. In order to open a row when it is touched try doing what I wrote here:

https://github.com/jemise111/react-native-swipe-list-view/issues/220#issuecomment-398678246

And if this doe

[2018-06-20 09:08] jemise111 commented on #201
@pgonzalez-santiago @pisangGoreng I think my response to another issue may help you here. Have a look at this and see if it solves your problems. If not please let me know:

https://github.com/jemise111/react-native-swipe-list-view/issues/220#issuecomment-398678246

[2018-06-20 09:12] jemise111 commented on #222
@cmeredith Hm I don't know why it would work some times but not others. Can you post some same code that can reproduce the issue. Happy to take a look. Thanks!

[2018-06-20 15:02] fmcruz opened #224 "Can't disable Scroll"
When using the prop `scrollEnabled={false}` in SwipeListView, the scroll is enabled again after a swipe gesture has happened? How can I solve this?

Thanks

[2018-06-21 14:28] novose opened #225 "OnRowOpen direction swipe opened"
Hello,

I read that it's possible to get the direction from where the swipe is opened but i can't get how to use it. I tried with "translateX" and "toValue" which are both undefined for me, I just can't get it how to use it in the right way. I would like to use it to know in which side the swipe is opened!

Thanks

[2018-07-02 09:25] lihuayu315 opened #226 "android carsh"

[2018-07-03 14:49] mmckinley8 opened #227 "Disable horizontal bouncing?"
Is there a way to disable swiping past the left/right open value to disallow any white space from appearing? Currently I am able to continue swiping the entire row while my open value is only 75.

[2018-07-03 18:22] jemise111 commented on #227
Hey @mmckinley8, `stopLeftSwipe` and `stopRightSwipe` props should do the trick for you

[2018-07-04 02:00] baicuhaha commented on #169
There is something wrong with the answer upstairs
 ref={ref => this._rows[data.item] = ref}
                    rightOpenValue={-ScreenUtils.scaleSize(210)}
                    disableRightSwipe={true}
                    onRowOpen={() => {
                        if (this.openRowId) {
                            if (this.openRowId == data.item) {
                            } else {

[2018-07-17 12:56] jemise111 commented on #226
Hi @lihuayu315 this is the only case of this I've heard about. Could you try the same code with just a plain `<FlatList />` (or `<ListView />`) and see if you can isolate the issue. Also posting the error you're seeing would help a lot

[2018-07-17 13:33] jemise111 commented on #224
@fmcruz good call, this was definitely a bug.

This should be fixed in v1.3.1, thanks!

[2018-07-17 13:33] #224 closed

[2018-07-17 13:34] jemise111 commented on #225
@novose good call, this was definitely a bug. This should be fixed in v1.3.1.

I've added `toValue` as the 3rd param in the `onRowOpen` and `onRowDidOpen` props. Let me know if you have any other problems, thanks!

[2018-07-17 13:34] #225 closed

[2018-07-17 13:36] jemise111 commented on #156
Closing as this was taken care of in #228

[2018-07-17 13:36] #156 closed

[2018-07-20 22:12] Elijen opened #229 "Add swipeToClosePercent prop"
Would be nice to add `swipeToClosePercent` prop that would work the same as `swipeToOpenPercent` just for closing. By default it should perhaps use the value from `swipeToOpenPercent` (a minor BC break).

[2018-07-26 02:29] rickysullivan opened #230 "Stop right wipe after onPress"
I have a button in my `renderHiddenItem` of a swipeable section list.

The button performs a fetch operation. While I wait for the response, I'd like to prevent the row from being swiped open again.

Is this possible?

[2018-07-26 03:37] rickysullivan commented on #182
My solution so far, is to prevent the hidden items from rendering until the page has transitioned. Using the `didFocus` event of ReactNavigation.

[code]

The only issue is a slight delay in being able to swipe the row.

[2018-07-26 05:43] jemise111 commented on #230
Hey @rickysullivan great question. Just gave this a try to make sure it is possible. Here's how I would approach it.

1. Keep track of your rowKeys for which you are fetching data in an array in your `state`
2. Render each row with individual props
3. Disable swiping on rows if your `state` array includes that key

Here's how I did it:

[code]

[2018-07-26 20:42] rickysullivan commented on #230
Legend!

I update each list item from Redux when making the fetch request, so the status changes from `Pending` to `Approving` or `Rejecting`, which I can then use to disable the swipe.

[code]

[2018-07-27 06:33] jemise111 commented on #230
Perfect, even better, looks great!

Closing this issue, reopen if you have any other problems, thanks!

[2018-07-27 06:33] #230 closed

[2018-07-31 11:41] PriyankaAshu opened #231 "How to openRow dynamically ?"
How to achieve that, I want show (or openRow)-> row's right side existed trash icon. This must be happens by outside function not manually.

[2018-07-31 16:02] jeanmaried commented on #213
TouchableHighlight with  `activeOpacity={1}` would make you lose the TouchableOpacity animation so I wrapped a View around my component in renderItem and gave it the same background as my screen's  background like so:

    renderItem = () => (
        <View style={{  backgroundColor: ScreenBackgroundColor}}>
            <TouchableOpacity>
                <Item />
            </TouchableOpacity>

[2018-08-01 03:51] hieupaul commented on #222
Have the same issue. I'm using flatlist:
<SwipeListView
        useFlatList
        data={data}
        renderItem={rowData => (
          <SwipeRow disableRightSwipe rightOpenValue={-115}>
            {swipeAction}
            <CardView
              title={rowData.item.title}
              time={rowData.item.time}
              location={rowData.item.location}
              address={rowData.item

[2018-08-01 12:35] bohdan145 opened #232 "hiddenRow flashing on screen change"
I can see the red hidden region in seconds every time i switch to that scene,then it disapper
I'm using react-native-router-flux for navigation.
I've tried setting **recalculateHiddenLayout** but it doesn't help
I know this issue is the same as  #182
But i don't use react-navigation

[2018-08-13 13:43] KeithM23 opened #233 "Hidden Row sometimes not there"
I have a strange issue where the hidden row does not appear sometimes, it tends to happen more so on an actual device (it happens most on an iPhone X) rather than the simulator but I haven't been able to find a way to consistently reproduce the issue.

I've toggled the inspector a few times when it happens and can see the row is not there, i.e. it's not that it's invisible it's just not there.

Th

[2018-08-24 14:50] NerdDiffer commented on #84
@jemise111, I'm looking at your example code. What's the reasoning behind storing the `rowIsOpen` value directly on the component instance rather than in state?

[2018-08-24 15:39] jemise111 commented on #84
@NerdDiffer You don't really want to be changing state properties unless your UI depends on them because calling `setState()` will trigger a re-render. Since no UI depends on `rowIsOpen` I don't want it in state. Does that make sense?

[2018-08-25 02:06] NerdDiffer commented on #84
It does, thank you!

[2018-08-28 12:43] KingAmo commented on #62
@npomfret have you solve this problem?

[2018-08-28 13:27] npomfret commented on #62
@KingAmo sorry no, I stopped using react-native

[2018-09-02 22:54] brunohkbx commented on #123
@terencestone have you found a solution?

[2018-09-06 03:00] aoarashi1988 commented on #232
have a try of
`previewOpenValue={.01}`

[2018-09-13 15:01] icastillejogomez opened #236 "I can run Demo"
When I execute `react-native run-ios` I get that error:

![image](https://user-images.githubusercontent.com/16567802/45496760-7b73a300-b776-11e8-91dd-fe23ca7bc4e3.png)

Somebody know what happens?

[2018-09-13 19:24] lucasfjportela opened #237 "closeOnRowPress don't be called when using TouchableHighlight"
Hi!

I'm having a problem with SwipeRow component. Inside the visible view I'm calling a TouchableHighlight component and when it's pressed so navigate to another screen and when I navigate back the row **didn't close**. How to call closeRow method from SwipeRow when the TouchableHighlight is pressed?

[2018-09-13 19:38] #237 closed

[2018-09-13 19:41] lucasfjportela commented on #237
I did resolve my problem just creating a ref of SwipeRow component and calling it from TouchableHighlight, like this:

`ref={(SwipeRow) => { this.refSwipeRow = SwipeRow }}`  on SwipeRow tag, and adding:

`this.refSwipeRow.closeRow()` on TouchableHighlight onPress method.

Thanks!

[2018-10-09 10:02] I-O-O-I commented on #183
THIS WORKED https://github.com/facebook/react-native/issues/10180#issuecomment-298375648

[2018-10-15 12:55] mjfiandaca opened #238 "When using FlatList with a SwipeRow, previewRowKey prop does not function"
Formerly, I was using a swipelistview with useFlatlist, but using the prop renderHiddenItem to define the hidden row.  However, I needed to modify this to a SwipeRow, so that I could disable specific rows within the flatlist from being 'swipeable' .  In reworking the code, I noticed that the previewRowKey now does not function - it should be noted that I do have circumstances where the 0th item in

[2018-10-16 21:57] jemise111 commented on #238
Hey @mjfiandaca if you're going to use your own custom `<SwipeRow />` the `previewRowKey` will no longer work because you can just use the preview props directly on the SwipeRow itself. See the docs for them here: https://github.com/jemise111/react-native-swipe-list-view#preview

So I think your code will look something like:

[code]

Something like that... does that make sense?

[2018-10-17 07:39] ldhios opened #239 "When i use Flatlist, "this._listView.getScrollResponder is not a function""
Flatlist don't have  getScrollResponder() function, Can you fix it?
!
![image](https://user-images.githubusercontent.com/9722423/47069831-7ea0f980-d222-11e8-9b1f-d67361774868.png)
[image](https://user-images.githubusercontent.com/9722423/47069795-6a5cfc80-d222-11e8-9734-02fc81bf332f.png)

[2018-10-17 11:18] mjfiandaca commented on #238
That totally works.  I guess I should have read the entire readme - however, perhaps the readme can be updated in the section regarding Per row behavior:
If you need rows to behave independently you can return a <SwipeRow> in the renderItem function. Make sure you import the <SwipeRow> in addition to the <SwipeListView>. See the example below and the docs under API for how to implement a custom <S

[2018-10-17 11:18] #238 closed

[2018-10-17 11:21] ldhios opened #241 "Hard open right row.."
- react-native-swipe-list-view Version: 1.3.1

- react-native version: 0.44.3

 Sometimes it's very hard to open right row。Can you help me？

![image](https://user-images.githubusercontent.com/9722423/47083059-2679ef80-d242-11e8-9ed1-999b3bf5fd0d.png)

![image](https://user-images.githubusercontent.com/9722423/47083076-32fe4800-d242-11e8-86b3-7c988800c59e.png)

[2018-10-17 12:58] jemise111 commented on #238
@mjfiandaca Glad it worked! PR's always welcome on that Readme change :)

[2018-10-17 16:57] IamStephan commented on #71
I know this is somewhat late but if anyone is still experiencing this issue, it's because the key that is used to identify the row is not correctly defined. Make sure if you are using the keyExtractor that it is not returning an undefined value or something

[2018-10-17 17:08] IamStephan commented on #222
I might be wrong but i believe this happens when either the key value is not defined or when there is a conflict in values. When you use the keyExtractor and involve values that are not necessarily unique or depend on index it tends to happen. For example if the index is used as the key it will keep the items open when one is deleted because the reference just jumped to the following row. Try usin

[2018-10-18 16:48] lucasfjportela opened #242 "Close all opened rows"
How to close all "swiped" rows after an action? I'm trying to do this using refs, but I'm stucked

[2018-10-19 09:41] theodelebarre opened #243 "Weird behavior when using ItemSeparatorComponent props"
Hi there,

Found out a weird bug when using ItemSeparatorComponent props.
The 7th item displayed in the list doesn't have the separator, tried to add and remove some, it's always the 7th.
This is my separator, nothing unusual, it is below every item except the 7th.
ItemSeparatorComponent={() => (
            <View
              style={{
                width: "100%",
                height: 0.5,

[2018-10-20 00:26] ppetrick opened #244 "Content height calculation of hidden view is off if image is first child in visible view"
First off, fantastic job on this lib. It's really useful.

I'm encountering a small issue with the hidden view height calculation (as shown below). Notice that the hidden views don't stretch the full height of the visible views unless the text contained in the visible view takes up more space than image within it.

As far as I can tell, this has something to do with the first component in the visi

[2018-10-27 23:04] scottmcpherson opened #245 "Is there a callback to know when the swipe open value has been reached?"
Is there a way to figure out if the swipe distance is past the open value?

I need to be able to listen to the x swipe distance in real time as the user is swiping.

[2018-10-27 23:15] scottmcpherson commented on #245
I'm looking through the code and not seeing anything like that. Maybe we could add an `onSwipeValueChange` function?

It could return something like:
[code]

[2018-10-29 09:06] YufengHu123 opened #246 "it can not add refreshController?thanks"
it can not add refreshController, thanks,can u add it

[2018-10-31 17:58] fdelavra commented on #137
Hello and thanks for your answer. Can you explain a little bit how and where to create this function?

[2018-11-12 13:36] lcrabbit opened #247 ""Cannot read property 'props' of undefined"."
I was trying to use the lib, but I can't even access the screen when I add it to it.

That's my import: `import { SwipeRow } from 'react-native-swipe-list-view';`

`                <SwipeRow
                    leftOpenValue={75}
                    rightOpenValue={-75}

                    <Text>Test.</Text>
                </SwipeRow>`

And this is what I was trying to do. I've tried a lot of pr

[2018-11-19 03:53] jemise111 commented on #229
Hey @Elijen apologies for the late response. `swipeToClosePercent` is actually already a prop! Somehow it was removed from the Readme but I just added it back here: https://github.com/jemise111/react-native-swipe-list-view#swipetoclosepercent

[2018-11-19 03:53] #229 closed

[2018-11-19 04:08] jemise111 commented on #233
Hi @KeithM23 sorry for the delayed response. So people have reported a few issues using SwipeRows inside of other listview packages (like sortable list) however no one has found consistent problems or repos so I'm at a bit of a loss as well.

My first suggestion would be to try and set `recalculateHiddenLayout={true}` on your swipe rows. This is a performance enhancement but can have unintended co

[2018-11-19 08:57] KeithM23 commented on #233
Hi @jemise111 , thanks for the response.

I actually forgot to update this saying I think I may have solved it.

I had my list that renders the swipeRow in a screen that's shown as a modal (comes up from bottom) and I believe that if the network call that returned my items returned before this animation finished, then the swipe row would have issues with rendering the hidden rows. This would expla

[2018-11-19 08:57] #233 closed

[2018-11-19 12:44] jemise111 commented on #233
@KeithM23 excellent! Glad to hear

[2018-11-19 13:08] #239 closed

[2018-11-19 13:08] jemise111 commented on #236
@icastillejogomez I've updated the example project to RN 57.5 and just tested this, it's working now. Sorry about that! Thanks

[2018-11-19 13:08] #236 closed

[2018-11-19 13:17] jemise111 commented on #244
Hey @ppetrick sorry for the delay in responding.

Using `recalculateHiddenLayout` isn't a huge deal. I would enable that prop and see if you have any noticeable performance issues. For large lists it could be problematic but I doubt it would be.

Another option might be to calculate the height of the row before it is first rendered and hard code the height so the hidden row infers the correct heig

[2018-11-19 13:17] #244 closed

[2018-11-19 13:21] jemise111 commented on #247
Hey @lcrabbit looks like you're not quite using the SwipeRow correctly. In addition to the first child passed (`<Text>Test</Text>`) you need to pass a send child as the hidden component. See the example here for how to use a standalone SwipeRow

https://github.com/jemise111/react-native-swipe-list-view/blob/master/SwipeListExample/example.js#L64

Please reopen if that doesn't work for you, thanks

[2018-11-19 13:21] #247 closed

[2018-11-19 23:08] jemise111 commented on #246
Hey @YufengHu123 The SwipeListView is just a ListView (or FlatList, or SectionList) under the hood so you can use it the same way. Adding a refresh control is just as it is in the docs:

https://facebook.github.io/react-native/docs/refreshcontrol#usage-example

Thanks!

[2018-11-19 23:08] #246 closed

[2018-11-19 23:17] jemise111 commented on #62
Closing as inactive, please re open if anyone still has this issue

[2018-11-19 23:17] #62 closed

[2018-11-19 23:31] jemise111 commented on #204
Closing as inactive, please reopen if you still have issues

[2018-11-19 23:31] jemise111 commented on #219
Closing as inactive, please reopen if you still have issues

[2018-11-19 23:31] #219 closed

[2018-11-19 23:32] #204 closed

[2018-11-19 23:32] jemise111 commented on #201
Closing as inactive, please reopen if you still have issues

[2018-11-19 23:32] #201 closed

[2018-11-19 23:33] jemise111 commented on #220
Closing as inactive, please reopen if you still have issues

[2018-11-19 23:33] #220 closed

[2018-11-19 23:34] jemise111 commented on #196
Closing as inactive, please reopen if you still have issues

[2018-11-19 23:34] #196 closed

[2018-11-19 23:35] jemise111 commented on #221
Closing as inactive, please reopen if you still have issues

[2018-11-19 23:35] #221 closed

[2018-11-19 23:36] jemise111 commented on #226
Closing as inactive, please reopen if you still have issues

[2018-11-19 23:36] #226 closed

[2018-11-19 23:36] jemise111 commented on #227
Closing as inactive, please reopen if you still have issues

[2018-11-19 23:36] #227 closed

[2018-11-23 13:49] yoyohko opened #250 "SwipeRow doesn't update anymore in 1.4.0"
This bug was introduced in https://github.com/jemise111/react-native-swipe-list-view/pull/235

shouldItemUpdate prop should be optional, but it actually is mandatory.

shouldComponentUpdate method of SwipeRow class should return true when shouldItemUpdate prop is null.

[2018-11-23 19:13] jemise111 commented on #250
@yoyohko Thanks for the catch! Fixed here: #251 and released in v1.4.1

[2018-11-23 19:13] #250 closed

[2018-11-24 01:38] jemise111 commented on #245
@scottmcpherson Love the idea, thanks for the suggestion!

`onSwipeValueChange` has been added as of v1.5.0, it behaves exactly as you described. See an example here:

https://github.com/jemise111/react-native-swipe-list-view#ui-based-on-swipe-values-the-gmail-effect

Closing this, please reopen if you have issues using it, thanks!

[2018-11-24 01:38] jemise111 commented on #245
Fixed in #252

[2018-11-24 01:38] #245 closed

[2018-11-24 01:54] jemise111 commented on #242
Hey @lucasfjportela, this wasn't possible before but I've added a prop called `closeOnRowOpen` that will allow rows to stay open all the time. It is available in the latest version. Here's an example of how to achieve what you want to do:

[code]

Going to close this but please reopen if you still have problems, thanks!

[2018-11-24 01:54] #242 closed

[2018-11-24 02:03] jemise111 commented on #243
Hey @theodelebarre I plugged an ItemSeparatorComponent into the example with this repo and I'm not seeing any problems with my list of 20 items:

![image](https://user-images.githubusercontent.com/4265163/48963569-a0487b80-ef5a-11e8-9caf-977b5db9a54f.png)

Sorry but I really don't think it's an issue with this Component, as I pass all props to the underlying FlatList and there's definitely nothing

[2018-11-24 02:06] jemise111 commented on #231
Hey @PriyankaAshu you just need to grab a reference to the row and then call `manuallySwipeRow` on that ref. Here's an example of opening a row when I button is pressed on the row:

[code]

I'm going to close this but please reopen if you have any issues, thanks!

[2018-11-24 02:06] #231 closed

[2018-11-24 02:09] jemise111 commented on #123
As of v1.5.0 `onSwipeValueChange` prop has been added. You can now take actions based on the swipe value of the row. Going to close this issue but please re-open if anyone has other questions, thanks!

[2018-11-24 02:09] #123 closed

[2018-11-24 02:10] jemise111 commented on #153
@grigy took a while but this is finally supported! See here:

https://github.com/jemise111/react-native-swipe-list-view#ui-based-on-swipe-values-the-gmail-effect

[2018-11-24 02:10] #153 closed

[2018-11-24 02:11] jemise111 commented on #203
Closing as inactive, please re open if you're still having issues, thanks!

[2018-11-24 02:11] #203 closed

[2018-11-24 06:12] grigy commented on #153
Thank you @jemise111. This is great!

[2018-11-26 08:37] yoyohko commented on #250
Well, it sure is fixed because now shouldComponentUpdate always returns true :slightly_smiling_face:

You wrote this.props.shouldComponentUpdate instead of this.props.shouldItemUpdate

Thanks

[2018-11-27 09:32] proof666 opened #254 "Swipe to delete functionality"
Hello! First of all, thank you so much for such a library. Great job.

I would like to know how I can achieve the functionality of a "swipe to delete", like this:
![1 junhn88r59ssvuu1muhkcq](https://user-images.githubusercontent.com/23525436/49071810-d9753a00-f23f-11e8-9a5e-6a0877c396b7.gif)

I apologise if this question has already been raised, but the search for the issues did not give a result.

[2018-11-27 11:05] proof666 commented on #254
It seems to work better with lodash debounce, but maybe you know a better way to achieve this?

[2018-11-27 20:14] jemise111 commented on #254
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/4265163/49108516-fdd81300-f24d-11e8-88d9-03b4ca7f90a3.gif)

Working pretty smoothly on my iOS simulator :) Not sure about an android device.

The basic idea is once the swipe value reaches the end of the screen (375 in this case) start an animation to reduce the height of the swiped row to 0. Once the animation finishes, do the ac

[2018-11-27 21:35] proof666 commented on #254
Thank you for such a quick and useful answer!

My performance problems were due to the fact that I kept the value in the state. When I did as in your example above (more precisely, as in the example with the gmail effect) everything became much better, but not completely. Then I tried to run the application in the iPhone 6 simulator - it became even better. Before that, I ran on iPhoneX.
On a real

[2018-11-27 21:37] proof666 commented on #254
I almost forgot ... you can not hide such a useful example :). Maybe it should be added to the documentation?

[2018-11-27 21:53] jemise111 commented on #254
@proof666 In response to your questions:

1. I'd guess you can fix this by adding something in your state like `showLeftButtons`. Then check the swipeValueChange callback and if the user is swiping to the left, call `setState({showLeftButtons: false})` and hide the buttons. I don't think that should have a big performance hit

2. Hm I would back the entire hiddenRow touchable. If they touch it whi

[2018-11-27 22:01] jemise111 commented on #254
@proof666 Oh I forgot to mention, yeah the iPhoneX_ simulators are all a little weird with gestures.. the other simulators and devices don't have the same issues.. like you said

[2018-11-28 06:30] lightninglu10 opened #255 "Turn Preview Off"
Is there anyway to turn the preview off for a SwipeListView? It gets annoying if it happens everytime for a user. It doesn't look like previewOpenValue={0} works

[2018-11-28 06:34] lightninglu10 commented on #255
Spent way too long on this. Setting `previewRowKey={false}` works...

[2018-11-28 06:34] #255 closed

[2018-11-28 19:49] proof666 commented on #254
1. `setState({showLeftButtons: false})` is ok.
2. `Animated.timing(this.rowTranslateAnimatedValues[key]).stop()` does not prevent from callback  in `.start()`. So i add check in `.start()` callback and if animation has been canceled then playback initial animation and don't delete item.

I think that if we have something like `on[Left\Right]ActionActivated` (called once when a certain position is

[2018-11-29 01:17] jemise111 commented on #254
@proof666 Thanks for the kind words! I'd be happy to look at a PR if you want to take a shot at those improvements :)

I also revamped the docs and added in some useful guides, including swipe to delete. Please see here:
https://github.com/jemise111/react-native-swipe-list-view/blob/master/docs/swipe-to-delete.md

Closing this issue but please reopen if you have any other problems!

[2018-11-29 01:17] #254 closed

[2018-11-30 08:56] vishalenrique commented on #232
`previewOpenValue={.01}` doesn't work, anything else?

[2018-12-05 05:30] devonhuangcodes opened #257 "Hidden row icons disappear after being left visible and changing orientation of device"
In the example provided, when you swipe open the list item and rotate the orientation of a device. The icons of the hidden row disappear. They reappear when you rotate it back to the previous orientation. I'm also getting the same behaviour in my project where I have react-native-swipe-list-view implemented.

**Orientation (Portrait)**
![original](https://user-images.githubusercontent.com/39835747

[2018-12-05 15:17] devonhuangcodes commented on #257
Recalculate the layout on the orientation change:
https://github.com/jemise111/react-native-swipe-list-view/issues/87

[2018-12-05 15:17] #257 closed

[2018-12-05 15:18] jemise111 commented on #257
@devonhuangcodes  👍

[2018-12-05 15:23] glevymayo opened #258 "Swipped Row does not goes back"
I copied the example and the swipe the row. Hidden buttons are showed but the main row does not return to the original position.
![swipe](https://user-images.githubusercontent.com/33731903/49523396-75c6be80-f888-11e8-830f-1cefd03fbf4c.gif)
Code
[code]

[2018-12-05 15:36] jemise111 commented on #258
@glevymayo Hm that's very odd - are you seeing any errors in your console?

[2018-12-05 15:38] glevymayo commented on #258
Nothing strange
![image](https://user-images.githubusercontent.com/33731903/49524487-9c85f480-f88a-11e8-9c33-4975fb122d7b.png)

[2018-12-05 15:44] glevymayo commented on #258
The same on my phone (Samsung S8)

[2018-12-05 15:55] jemise111 commented on #258
@glevymayo I've copied and pasted your exact code (replacing the trash icon for a trash image) and everything is working fine. Here are some versions/stats

I'm on a Motorola G6 running Android 8.0.0
SwipeListView version v1.5.0 (latest)
RN version 0.57.5

See if any of that is far off from what you're using.

After that could you go to `node_modules/react-native-swipe-list-view/components/SwipeRo

[2018-12-05 17:30] glevymayo commented on #258
I tried on 8.0 android version (in genymotion) and it worked. Then I tried again in an older version and it works but VERY SLOW. So I think I will continue using an 8.0 version to develop. Thanks in advance for your reply!

[2018-12-05 17:30] #258 closed

[2018-12-05 17:31] jemise111 commented on #258
@glevymayo Hm interesting, I'm def not an Android expert so I won't offer my opinion but glad you found a solution!

[2018-12-07 09:15] SeyhaIm opened #259 "hiddenRow don't resize when i rotate screen"

[2018-12-07 15:17] jemise111 commented on #259
Hi @SeyhaIm please use the prop `recalculateHiddenLayout={true}`

[2018-12-13 01:36] SeyhaIm commented on #259
Thank you very much.

[2018-12-13 01:36] #259 closed

[2018-12-13 07:00] bjacog commented on #48
@umut885 The prop is for the SwipeRow, see docs here: https://github.com/jemise111/react-native-swipe-list-view/blob/95a47b0a96a07471987b6bdaf45bd0819e6261ed/docs/per-row-behavior.md

[2018-12-13 16:16] canhtran10 commented on #232
Hi guys, Have you anything solution for this? I having same problem. hjccc

[2018-12-17 13:10] maniloo opened #260 "Fix shouldComponentUpdate method"
Please fix shouldComponentUpdate method as it is described in this [comment](https://github.com/jemise111/react-native-swipe-list-view/pull/251). Is very important because now I have to provide `shouldComponentUpdate={true}` to have shouldItemUpdate functionality working correctly

[2018-12-22 20:25] dsandmark opened #261 "Different stopRightSwipe per row?"
Thanks for this library @jemise111, it's very helpful.

I have a problem when swiping to reveal buttons behind a row. On some rows, I'd like the user to swipe to reveal one button and on others swipe to reveal three buttons. The buttons all have a width of `100`. That means a row with one buttons needs `stopRightSwipe` to be `100` while a row with three buttons need it to be `300`. Is there a way

[2018-12-30 03:34] #260 closed

[2018-12-30 03:37] jemise111 commented on #261
Hey @dsandmark yes you can definitely achieve that! Check out the docs for per-row-behavior here:

https://github.com/jemise111/react-native-swipe-list-view/blob/master/docs/per-row-behavior.md

Going to close this but please re-open if you have problems or any questions, thanks!

[2018-12-30 03:37] #261 closed

[2018-12-30 03:42] jemise111 commented on #260
@maniloo Oops! My bad good catch. Fixed in v1.5.1, thanks!

[2018-12-30 18:21] dsandmark commented on #261
That's exactly what I was looking for, thanks @jemise111.

[2018-12-31 08:53] maniloo commented on #222
Working (for me) example to use SwipeRow, not as a top level component:
`class YourComponent extends React.Component {

  //SwipeListView use references to close rows.
  //For now passing reference to child component causes problems, so closeRow function is passed to child component.
  setRef = (ref) => {
    this.rowRef = ref
  }

  closeRow = () => {
    this.rowRef.closeRow()
  }

  render(){

[2019-01-04 19:29] stonepreston opened #263 "How to prevent bounce when using closeRow() with standalone SwipeRow"
Whenever I call closeRow() on a standalone swipe row, it closes it but has a bounce effect that exposes the hidden row on the far left side of the row. I would prefer to not have that bounce, is there a way to disable it?

I have disableRightSwipe = {true} on my swipe row.

[2019-01-04 20:36] jemise111 commented on #263
Hey @stonepreston I think you're referring to the spring animation that's used to close the row. By default I think the spring animation overshoots the final value a bit before finishing.

You should be able to change the `friction` and `tension` props to achieve what you're looking for. See more here:

https://facebook.github.io/react-native/docs/animated#spring
https://github.com/jemise111/react

[2019-01-05 00:42] stonepreston commented on #263
awesome I increased the friction and its working great. Thanks for the quick reply!

[2019-01-07 15:12] jemise111 commented on #263
Sweet, glad to hear!

[2019-01-07 15:12] #263 closed

[2019-01-11 07:08] Sakthimalar opened #264 "Swipe button in right side automatically opened and closed when enters to screen every time"

[2019-01-11 09:46] olejka91 commented on #264
have same issue

[2019-01-11 15:11] jemise111 commented on #264
@Sakthimalar @olejka91 Do you guys have some example code or a gif of the problem. I'm not sure I'm understanding what's going on? Thanks

[2019-01-16 03:35] pbfrias17 commented on #264
Also running into this issue. Here's a (gigantic) gif of it happening. As you can see, as soon as the page refreshes the rows swipe to the left.

![swipe-list](https://user-images.githubusercontent.com/5976642/51224785-8ea9a180-1915-11e9-935a-c2aaa360fb0f.gif)

[2019-01-16 03:45] pbfrias17 commented on #264
Here's the component code
[code]

[2019-01-16 08:46] Sakthimalar commented on #264
Guys Thanks for the response. My problem is solved by adding
`previewOpenValue={0.01}`

[2019-01-16 15:10] pbfrias17 commented on #264
Yup. I did not read documentation very well. That being said, is this still a bug? I don't think using `leftOpenValue` results in the same behavior

[2019-01-19 18:55] jemise111 commented on #264
@pbfrias17 @Sakthimalar Glad the issue is solved but just wanted to double check. Is there an instance in which you're seeing row's slide open automatically _without_ passing `previewRowKey`? If so that's def a bug

[2019-01-25 16:47] Balasnest opened #265 "Invariant Violation: A VirtualizedList contains a cell which itself contains more than one VirtualizedList"
**Error**: Invariant Violation: A VirtualizedList contains a cell which itself contains more than one VirtualizedList of the same orientation as the parent list. You must pass a unique listKey prop to each sibling list.

<img width="330" alt="screen shot 2019-01-25 at 10 11 33 pm" src="https://user-images.githubusercontent.com/6050520/51759461-4301af80-20ee-11e9-8bfd-7e79ce891a11.png">

Tired but

[2019-01-25 17:05] Balasnest commented on #265
Worked after passing as a string unique value.

[2019-01-25 17:05] #265 closed

[2019-01-27 20:15] sturmenta commented on #231
This was happening to me: https://drive.google.com/open?id=1yTkYn0SCeS5RDi1DEUBrDFLMAv4CaNaD

but I got to fix it using:

[code]

[2019-01-29 12:53] vykumar opened #266 "ScrollTo mehod is not working in react native 0.57.8 and react native swipe listview 1.5.0."
this.swipeListViewRef && this.swipeListViewRef.scrollTo && this.swipeListViewRef.scrollTo({x: 10000000, y: 10000000, animated: true})
 This above code was working with older version but after upgrading, it's not working.

[2019-01-30 07:35] Lion-HC opened #267 "hiddenHeight and hiddenWidth calculated wrong in Windows"
What is this code fore?
`	onContentLayout(e) {
		this.setState({
			dimensionsSet: !this.props.recalculateHiddenLayout,
			hiddenHeight: e.nativeEvent.layout.height,
			hiddenWidth: e.nativeEvent.layout.width,
		});`

When I remove this code - everything is fine.
Current styling
`hidden: {
		zIndex: 1,
		**bottom: 0,**
		left: 0,
		overflow: 'hidden',
		position: 'absolute',
		**right: 0,**
		top:

[2019-02-12 18:29] cpboyd opened #268 "onSwipeValueChange: differentiate rebound direction from user swipe?"
Implementing a "swipe to <action>" like in #254 has a few issues:
The key issue is primarily that there's no real way to tell which direction the **user** had swiped in, only the direction that the row is moving in.

As a result, it's extremely difficult to implement something with "swipe to <action>" with a left and right swipe.

If you implement swipe functionality for the left side, then any sm

[2019-02-12 18:46] cpboyd commented on #268
Strangely, the problem just disappeared.

I'm not sure why the rebound was creating such issues to begin with.

For anyone looking, here's my modification to use both sides:

[code]

[2019-02-12 18:46] #268 closed

[2019-02-13 21:03] rollsroyc3 commented on #222
Just checking out this project for the first time, from the example gif in the repo it seems like the rows are auto closed when another is swiped, is that not the case? Do you have to create refs for each row and close yourself or is this handled automatically?

[2019-02-13 21:17] jemise111 commented on #222
@rollsroyc3 The rows will close automatically when another row is swiped so long as you have well defined `keys` or use a `keyExtractor` as is mentioned above.

You can also check out the `closeOnRowOpen`, `closeOnRowBeginSwipe` props listed here: https://github.com/jemise111/react-native-swipe-list-view/blob/master/docs/SwipeListView.md for more info

If you have any problems lmk, thanks!

[2019-02-16 20:45] jemise111 commented on #266
Hey @vykumar I assume you're using a flatList, in which case `scrollTo` isn't a supported method. RN may have deprecated it at some point. See here for a list of methods:

https://facebook.github.io/react-native/docs/flatlist#methods

I'm guessing you will achieve the same behavior with the following:

[code]

If not, please reopen and let me know, thanks!

[2019-02-16 20:45] #266 closed

[2019-02-16 22:53] jemise111 commented on #267
@Lion-HC Yes this allows for a default style that correctly positions the hidden row. TBH it has been a couple years since that original code was written and I don't remember what it fixed at the time.

Happy to look at a PR if you'd like to include a prop that lets the client disable those styles or passes its own :)

[2019-02-18 07:14] canh-tran-niteco opened #270 "onpress not work when rendering"
I have 20k rows and need fill to SectionList or FlatList. it's very large so I need to render by paging (50 rows/page). with 50 rows was rendering I can not press with TouchableOpacity (onPress). If I using the SectionList or FlatList it's work fine. Pls help me, thanks

[2019-02-18 09:03] canh-tran-niteco commented on #270
I have 20k rows and need fill to SectionList or FlatList. it's very large so I need to render by paging (50 rows/page). with 50 rows was rendering I can not press with TouchableOpacity (onPress). If I using <FlatList /> it's work fine. Pls help me, thanks

[2019-02-18 10:18] alexiri opened #271 "Working with Immutable lists"
I'm trying to get this component working with [ImmutableVirtualizedList](https://github.com/cooperka/react-native-immutable-list-view) using the support for renderListView from #165, but I can't get it working correctly. Here's my code so far:

[code]

I have a couple of problems here. One is that `PointListItem`s get rerendered many times, even though they should only be rendered once. The other

[2019-02-18 16:12] jemise111 commented on #270
@canh-tran-niteco just to confirm have you followed these instructions:

https://github.com/jemise111/react-native-swipe-list-view#note

?

[2019-02-19 04:04] canh-tran-niteco commented on #270
Yep, was followed and work well, thanks man

[2019-02-19 04:05] #270 closed

[2019-02-19 21:03] Slapbox opened #272 "Disable row entry animation?"
When a row first appears it bounces left and then returns to its start position. I can't find any option to disable this though? Am I overlooking something obvious?

Thanks for this great project!

[2019-02-21 15:01] jemise111 commented on #272
Hey @Slapbox, I think I found the issue here. By default it should not do a preview animation but I think there's a bug if you do not provide a `key` for each object in your data array or a `keyExtractor`. Could you confirm that adding one of those fixes the issue? And I'll release a fix shortly after that

Thanks!