[2019-02-21 17:44] Slapbox commented on #272
@jemise111 Brilliant! Thanks so much! Adding a `keyExtractor` definitely fixes the issue.

Do you need to add a code fix somewhere or is it at simple as updating the ReadMe? My items did not have a `key` property, but rather a `uuid` property.

[2019-02-21 18:11] jemise111 commented on #272
@Slapbox Excellent, I wouldn't worry about the readme - I'll release a fix for those who don't pass a key. Going to close this, thanks!

[2019-02-21 18:11] #272 closed

[2019-02-22 06:50] sarangpm18 opened #273 "How to add "pull to refresh" in swipe list?"
I want to implement "pull to refresh" in swipe list, is there any simple ways to do that?

[2019-02-22 14:51] jemise111 commented on #273
Hi @sarangpm18, a `SwipeListView` is just a `FlatList` (or ListView or SectionList) so you can pass the same props to achieve pull to refresh. See more here:

https://facebook.github.io/react-native/docs/refreshcontrol#usage-example

Closing.. please reopen if you have problems, thanks!

[2019-02-22 14:51] #273 closed

[2019-02-25 13:48] apostolnikov commented on #182
For react-navigation v2.12+

import CardStackStyleInterpolator from "react-navigation-stack/dist/views/StackView/StackViewStyleInterpolator";

[2019-02-26 21:22] Slapbox opened #275 "Programatically disable swipe behavior?"
Is there any way to disable the swipe behavior? I know that sounds like a ridiculous request, but I'd like to use this library, but not allow users access to the swipe functionality until I've had some more time to build it out.

[2019-02-27 17:09] jemise111 commented on #275
@Slapbox I haven't tried it but would `disableLeftSwipe={true}` and `disableRightSwipe={true}` do the trick?

Might not be the most efficient way but they do already exist

[2019-02-27 21:21] Slapbox commented on #275
@jemise111 that sounds like exactly what I'd need! Thanks for your quick response!

Oddly, swiping right is still something I can do after adding those to the `<SwipeListView />` component. It seems to prevent it about 90% of the time, but sometimes I can still swipe it. Swiping left seems to be 100% disabled, but swiping right is not 100% disabled.

[2019-02-27 21:34] jemise111 commented on #275
@Slapbox Hm, can you post your code? Will try to take a look when I can

Additionally the real "right" way to do this is to prevent the gesture handler from accepting gestures in the first place if a certain prop is passed. Will also try to do then when I can but if you want to give it a shot and submit a PR, it's always welcome :)

[2019-03-05 10:25] saeid85 opened #277 "Using multiple TouchableOpacity in a row"
In the **Readme.md** file, there is a part about **Good** and **bad** practice of using `TouchableOpacity`. What if you need multiple `TouchableOpacity` for each row? For example, a button on right side of the row and another on the other side.

Something like this:
[code]

What is the best practice in this case?
I'm working on an app and for a part I need to implement 3 different buttons (Touchab

[2019-03-18 06:08] kuangyliang commented on #220
When I use the TextInput component, when I click Close, it will trigger the focus. What should I do?

[2019-03-18 09:23] AndrewPulgade commented on #254
@jemise111 I tried your solution but it didn't work on my end. I got this error `cannot read property 'stopTracking' of undefined`, below is my code:

[code]

[2019-03-19 06:23] AndrewPulgade opened #279 "cannot read property 'stopTracking' of undefined"
I am trying to do a Swipe to delete functionality but I am always getting this issue `cannot read property 'stopTracking' of undefined`. I don't know which part I did wrong. Can anyone help me? Below is my code

[code]

[2019-03-19 09:48] KushalDesai1 opened #280 "Detect scroll end"
How to acheive pagination when end of list is reached after scrolling?

[2019-03-25 01:20] gtaylor44 commented on #213
Have also faced the same issue.

TouchableOpacity by default uses opacity of 0.2

Based on this... Another possible workaround:

onCellPressed = () => {
    this.setState({cellPressed: true});

    setTimeout(() => {
      NavigationService.navigate(...);
      this.setState({cellPressed: false});
    }, 100);
}

<TouchableWithoutFeedback onPress={this.onCellPressed}>
<View style={{opacity: this.s

[2019-03-26 16:48] Uzama opened #281 "##Onpress close open row is not Working"
When I try to add a Touchable component as the parent component to Visible Component, then it called Touchable's onPress method without closing the open row. Any solution??

[2019-03-26 17:55] Uzama commented on #34
Anyone found a solution for this issue??

[2019-03-30 07:47] Uzama opened #282 "TypeError: undefined is not an object (evaluating 'VisibleComponent.props')"
This is my code

<img width="776" alt="Screen Shot 2019-03-30 at 1 03 06 PM" src="https://user-images.githubusercontent.com/21138952/55273191-16386700-52ee-11e9-90e5-eaff4b704f8d.png">

I got TypeError: undefined is not an object (evaluating 'VisibleComponent.props')
<img width="1193" alt="Untitled 4" src="https://user-images.githubusercontent.com/21138952/55273226-a2e32500-52ee-11e9-858a-0108ca73

[2019-04-01 22:02] FloPMT opened #283 "DeadObjectException on Android when implementing SwipeRow"
After the latest React Native update (0.59), implementing SwipeRow crashes the app on Android only, with the following exception:

[code]

[2019-04-02 02:53] bcklup opened #284 "Uneven row separator width"
I've been experiencing this issue throughout all the instances on my app. It's become apparent that it's an issue with either RN or the library. I'm going with the former since my normal flatlists don't seem to display the said issues.. here's a screenshot:

![Pasted Image at 2019_04_01_04_50 pm_big](https://user-images.githubusercontent.com/23238488/55372666-1f674500-5535-11e9-9aee-2f6d9cbd1587.p

[2019-04-03 08:38] rickyliu93 commented on #131
I have this issue too, the hidden height won't rerender when an item is removed on the list

[2019-04-04 18:01] Messi10AP opened #285 "Render Hidden Row values are undefined"
renderHiddenItem={(item, secId, rowId, rowMap) => (
                        <View style={styles.rowBack}>
                            <TouchableOpacity
                                onPress={() => {
                                    console.log("AAB", rowMap);
....

When I tried to print out the contents of secId, rowId, and rowMap, they were all undefined

[2019-04-08 08:52] #279 closed

[2019-04-09 08:55] OrangeFlavoredColdCoffee commented on #170
i have same problem,what is the solution？

[2019-04-11 19:43] Messi10AP opened #287 "closeOnScroll not working"
https://codeshare.io/2jPMRM

However when the code above renders, none of those values seem to work

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/11220954/55987872-73c69f00-5c70-11e9-8a16-d6e9558a8e35.gif)

[2019-04-23 07:21] conradjonp opened #288 "onSwipeValueChange on SwipeRow is only called once"
When I implemented onSwipeValueChange on my individual SwiperRow component, it is only called once when I swipe right, or left. This is pretty much useless as I need the X movement in real time.

When onSwipeValueChange is implemented on the SwipeListView, this function is called multiple times per second which is the correct behaviour.

Am I missing something on the onSwipeValueChange implementat

[2019-05-03 10:19] Hirbod commented on #254
Can anybody tell me the values for "styles.rowFrontContainer"?
I had to use `overflow:hidden` in order to get this work + fixed height values.

Is there any chance to get this running without a fixed height (eg. auto-height > to 0) and without overflow hidden? (cuts my shadow off)

[2019-05-16 08:33] timoisalive opened #290 "Per Row Behavior documentation could use a note"
Seems like using `SwipeRow` as `renderItem` causes the list to ignore `closeOnScroll` and other similar flags. If this is intended behaviour, it could be beneficial to add in the documentation. :)

[2019-05-19 01:00] #267 closed

[2019-05-19 01:21] #222 closed

[2019-05-19 01:23] jemise111 commented on #243
Closing this issue, please reopen if it is still a problem, thanks!

[2019-05-19 01:23] #243 closed

[2019-05-19 01:24] jemise111 commented on #275
Closing, please reopen if this is still an issue, thanks!

[2019-05-19 01:24] #275 closed

[2019-05-19 01:30] jemise111 commented on #277
Hey @saeid85, what you are proposing should work just fine. That section of the Readme is only referring to when you want to wrap the entire row in a touchable. You can have as many child Touchables as you like :)

If you have any issue please reopen, thanks!

[2019-05-19 01:30] #277 closed

[2019-05-19 01:36] jemise111 commented on #280
Hey @KushalDesai1 you can use a `<SwipeListView>` exactly as you would a regular `<FlatList>`. So you can use the [onEndReached](https://facebook.github.io/react-native/docs/flatlist#onendreached) prop like so:

[code]

[2019-05-19 01:36] #280 closed

[2019-05-19 01:38] jemise111 commented on #281
Hi @Uzama have you tried following this?

https://github.com/jemise111/react-native-swipe-list-view#note

[2019-05-19 01:41] jemise111 commented on #282
Hi @Uzama, it doesn't look like you're returning anything for `renderItem` or `renderHiddenItem`.

Change this:

[code]

to this:

[code]

That should fix it. If you have any problems, please reopen, thanks!

[2019-05-19 01:41] #282 closed

[2019-05-19 01:42] jemise111 commented on #284
Hi @bcklup can you please post the code you're using to generate this issue, along with what device you're seeing this on? Happy to take a look, thanks!

[2019-05-19 01:58] jemise111 commented on #285
Hey @Messi10AP I just tried the above code and I'm not seeing any issues. Can you post a full example of how you're using the SwipeList and I can give it another look? Thanks!

[2019-05-19 02:03] jemise111 commented on #287
Hey @Messi10AP typically when those props aren't working it's an issue with the unique keys for your data. I see you're using a `keyExtractor` prop. Can you try giving each piece of individual data a unique key and seeing if that fixes it?

If you could show me an example of what's in `this.state.notes` I might be able to help further, thanks!

[2019-05-19 02:07] Messi10AP commented on #287
Yep, i forgot to close this issue, but using ’math.random()’ as my keyExtractor fixed it, thanks!

[2019-05-19 02:07] #287 closed

[2019-05-19 02:17] jemise111 commented on #288
Hey @conradjonp. Nope not missing anything. Just double checked and everything seems to be working properly... anything else you could tell me to help diagnose this? Platform, version numbers, stuff like that? Thanks!

![](http://g.recordit.co/Lv5ppPPWky.gif)

[2019-05-19 02:21] jemise111 commented on #290
Hey @timoisalive, nope that's not intended behavior. I just double checked and it's working properly on my end. If you're having issues please reopen and post your code and I'd be happy to take a look, thanks!

[2019-05-19 02:21] #290 closed

[2019-05-19 11:15] conradjonp commented on #288
@jemise111 thanks alot for checking, I figured out what was wrong, it was a mistake on my side, apologies :)

[2019-05-19 15:57] #288 closed

[2019-05-20 01:43] saeid85 commented on #277
Thanks

[2019-05-21 11:31] tientruongvan1995 commented on #285
you mean renderHiddenRow? it's deprecated, using renderHiddenItem = (rowData, rowRef) instead. See the latest docs

[2019-05-24 06:44] priteshpoddar commented on #222
I am also facing the same issue. If I only use `<SwipeListView />` it works fine i.e. previous swiped row closes on the opening of next swipe but on using `<SwipeRow />` with  `<SwipeListView />` in `renderItem` all the rows remain open and even on scroll it does not closes. Since the need to use per row behavior so I need to use `<SwipeRow />` inside `<SwipeListView />`.

As for @jemise111  solut

[2019-05-25 15:20] jemise111 commented on #222
Hey @priteshpoddar, I recently tested that behavior as it's similar to another issue (#290). It should definitely work. If it's not can you please open an issue and post some code to reproduce the issue? Thanks!

[2019-05-31 13:46] BrendanBerkley commented on #242
[code]

Running something like this crashes my app. If I change `onRowDidOpen={(foo, bar) => console.log("on row did open", foo, bar)}` to `  onRowDidOpen={(foo) => console.log("on row did open", foo)}`, it does not crash. But if I remove `bar`, then I don't get `rowMap` and therefore can't use this solution, correct?

[2019-05-31 13:54] jemise111 commented on #242
@BrendanBerkley I believe this has happened to me too. `rowMap` is actually a very large object and trying to log it to the console `myData.length` number of times is probably what's crashing your app.

You can try `onRowDidOpen={(foo, bar) => console.log("on row did open", foo, !!bar)}` to verify that `bar` is there. If so then the solution I posted above should work.

Hope that helps!

[2019-05-31 14:18] BrendanBerkley commented on #242
It does! Thank you for your prompt response.

[2019-06-10 03:30] davidleee commented on #281
I am having the same issue here.

Here is my SwipeListView:
[code]

and this is my `_onItemRender` function:
[code]

and here is the what I am returning from `render` of my ChatListItem:
[code]

I have bind `_onItemRender`, `_onPressItem` and `_selectitem` in their own constructors.

All the press logic works fine but `closeOnRowPress` seems broken to me, any ideas?

[2019-06-10 03:54] davidleee commented on #281
Aha! I see what's going on here.

The `onRowPress` function is handled in *SwipeRow.js* with a check of children's `onPress` function:
[code]

In my case, rename ChatListItem's `onSelect` function to `onPress` will do the trick.

Anyway to make this logic more user friendly? ... or maybe consider highlight this somewhere in the document?

[2019-06-10 13:56] jemise111 commented on #281
Hey @davidleee please see the Readme here: https://github.com/jemise111/react-native-swipe-list-view#note

PR's always welcome if you'd like to add anything to it :)

[2019-06-11 19:39] mikeKane opened #292 "Does not swipe + length undefined?"
I am getting an error located at ListView (at SwipeListView.js:255) stating cannot read property 'length' of undefined.

Also I cannot seem to get swipe working? It just won't swipe. The options show to the left of my cells

[code]

[2019-06-11 19:40] mikeKane commented on #292
This is being rendered inside of a drawer navigator , is that a problem?

[2019-06-11 19:47] mikeKane commented on #292
![IMG_3173](https://user-images.githubusercontent.com/7225808/59301694-35ddfb00-8c60-11e9-98a0-64cec58268f5.PNG)

[2019-06-11 20:39] eleallegue opened #293 "Expo does not work with this"
Hi,

I have a Snack with the code I am trying to use, and I just paste it into my project (in Visual Studio Code, for a whole app) the thing is that whenever I click on the button that redirects me to the compoenent where the Snack will appear, I get this error:
![image](https://user-images.githubusercontent.com/15983836/59304991-99384f00-8c99-11e9-8168-97f9205d7594.png)

You can take a look at th

[2019-06-12 20:04] jemise111 commented on #292
Hey @mikeKane do you think you could set up a reproducible example? It'll be tough to figure out what's this without knowing the styles of your components, how you're using the drawer navigator, the data you're passing to the SwipeListView, etc. Thanks!

[2019-06-16 21:19] mitchdowney commented on #285
@Messi10AP I ran into an issue like this where rowMap/rowRef was undefined, and it turned out my keyExtractor in the SwipeListView was not setup properly, and was using undefined values for IDs.

[2019-06-17 02:06] jiraiya103 commented on #217
long time ....

[2019-06-17 08:34] immikimaru opened #294 "Really slow animations on Android and FlatList"
[code]

I tried to display only 3 rows, but the problem remains the same. It seems to be ok on IOS.
Thank you very much in advance

[2019-06-19 08:37] DineshSutar commented on #283
+1

[2019-06-19 08:47] rjuevesano opened #295 "how to achieve section headers?"
How to achieve section headers? See picture below for reference.

![image](https://user-images.githubusercontent.com/4033035/59750539-8df4ad00-92b1-11e9-9afd-aaf4d30a24ab.png)

[2019-06-19 09:08] suvodeep-pyne commented on #283
Getting the same error but only in release builds. Debug build seems to work fine.

[2019-06-19 11:09] Bartozzz opened #297 "TouchableOpacity not pressable if out-of-window"
I need to display two `<TouchableOpacity />` in a row:
- the first one (red) must take all the available space on the screen;
- the second one (blue) should be displayed when the row is swiped left;

![image](https://user-images.githubusercontent.com/6741707/59760015-9937e080-9291-11e9-8a04-d3fd6cd5b861.png)

[code]
The problem is that the second `<TouchableOpacity />` is not pressable on Android

[2019-06-19 15:43] lsbiosite opened #298 "Not working in ios"
So I have the library working on android but I can't get it to work on IOS. I've looked at https://github.com/jemise111/react-native-swipe-list-view/issues/85 and I'm (guessing) it's caused by a conflicting issue with https://github.com/wix/react-native-navigation (?). Hopefully this can get resolved as that seems to be the de facto standard navigation library for RN!

Thanks for all your work so

[2019-06-19 19:06] Messi10AP commented on #285
yep, forgot to update this, but I fixed it by adding a properly defined keyextractor

[2019-06-19 19:07] #285 closed

[2019-06-21 09:51] taixw2 commented on #232
+1

[2019-06-21 12:29] Kirill-Cherkalov commented on #298
I ran into the same problem that the swipe effect didn't work well on ios(assuming you have `` react-native-navigation `` ). I managed to solve the problem by setting the value of `` openGestureMode: 'bezel' `` in `` Navigation.setDefaultOptions ``
[code]
Perhaps the same problem will be solved if you use [react-native-swipeout](https://github.com/dancormier/react-native-swipeout) .
I hope this he

[2019-06-22 17:20] jemise111 commented on #295
Hey @rjuevesano if you run the example you'll see there's a `SwipeListView` that uses section headers. Please see here:

https://github.com/jemise111/react-native-swipe-list-view/blob/master/SwipeListExample/example.js#L233

Let me know if you have any problems, thanks! (love the diagram btw :)

[2019-06-22 17:20] #295 closed

[2019-06-22 17:29] jemise111 commented on #298
Hey @lsbiosite this is going to be a little tough to diagnose given it depends on how you're using the navigation library. Do you think you could make a small example app with the problem? I'd be more than happy to take a look and try to figure out what's going on.

Also IMO I'm not sure rnn is the de facto standard, FB still recommends react-navigation https://facebook.github.io/react-native/docs

[2019-06-22 18:15] jemise111 commented on #297
Hey @Bartozzz, sorry man but it looks like this one is a RN issue, it's out of my hands:

https://github.com/facebook/react-native/issues/24046

Hope they can fix that soon :)

[2019-06-22 18:15] #297 closed

[2019-06-22 19:01] jemise111 commented on #283
Hey guys, sorry but I'm not able to repro this. Just updated the example to RN 59.9 and I'm not getting any crashes. If someone could post a reproducible example that would be super helpful. Also the two exceptions posted are slightly different so I'm not sure if you're facing the same issue.

Lastly also try upgrading to the latest version of RN. Perhaps it exists only in <59.9?

[2019-06-22 19:11] jemise111 commented on #294
Hey @immikimaru can you please try the latest version v1.5.6 (animation performance on android was improved in one of the merged PR's)?

Also please make sure you're running in release mode.

Reopen if you're still having issues, thanks!

[2019-06-22 19:11] #294 closed

[2019-06-22 19:46] suvodeep-pyne commented on #283
Tried that already. 0.59.9 doesn’t solve the problem. However the crash seems difficult to reproduce. I was able to reproduce it a few times on Nexus 5x and another even older phone on a release build. Even though I have crashlytics installed, it wasn’t capturing the stacktrace. I’ll try and see if I can find a reliable way of reproducing the issue.

[2019-06-22 23:16] rjuevesano commented on #295
Wow! I just saw it. Thanks a lot!

On Sun, 23 Jun 2019 at 1:20 AM Jesse Sessler <notifications@github.com>
wrote:

[2019-06-24 02:52] undercase opened #302 "Types are broken"
@MaShizhen's recent PRs to add types are breaking-he declares every single prop (the majority of which are optional) as mandatory.

[2019-06-24 03:04] MaShizhen commented on #302
ok, I will fix the problem as soon as possible

[2019-06-24 03:40] undercase commented on #302
They are also broken in a number of other ways. For example, they define function parameters for every function prop the wrong way (using a `params` argument).

[2019-06-24 10:26] taoqf commented on #302
@undercase Will this do? Could u pls take some time and review the pr?

[2019-06-24 14:24] jemise111 commented on #302
@undercase +1, my typescript type definition review skills are lacking. Would love it if you could take a look, thanks!

[2019-06-25 11:19] lsbiosite commented on #298
@Kirill-Cherkalov  - thanks. I'll look into that, but for now I've changed what I'm using unfortunately as I needed to finish the ticket for the sprint!

@jemise111  I can have a look at whacking one up after work :). I'm new to react-native (I'm an angular developer by experience) so I'm being baptised by fire here! Thanks for the prompt reply though :)

[2019-06-26 05:12] vinithreddy3 commented on #302
Hi all , if we are using a flatlist in swipelistview can we use all properties of flatlist directly as properties for swipelistview ?

[2019-06-26 14:34] MichaelKovich commented on #232
It's a bit of a hacky workaround but you can set a value on state, update it onRowOpen and onRowClose, and use that value to change the opacity of the view that contains the red region.

[2019-06-29 19:36] Slapbox commented on #293
It works fine for me with Expo 31 and 33.

[2019-06-30 16:32] #302 closed

[2019-07-02 10:56] SubashManian opened #304 "renderHiddenitem values are undefined"
this is my code

                        useFlatList
                        ref= {refs => this.swipelist = refs}
                        closeOnScroll={true}
                        closeOnRowBeginSwipe={true}
                        closeOnRowPress={true}
                        style={{marginBottom: 0}}
                        data={this.state.dataSource}
                        renderItem={ ({

[2019-07-02 20:14] jemise111 commented on #304
Hey @SubashManian you have unnecessary `{ }` in your `renderHiddenItem` callback. Instead of
[code]
it should be
[code]

That should fix your issue, thanks!

[2019-07-02 20:14] #304 closed

[2019-07-03 06:54] SubashManian commented on #304
Thanks for the reply @jemise111  after removing `{ }` also it not printing the rowMap it gives the error of circular reference JSON object but the opened row's are closing now it works fine. but i'm not able view the values in the rowMap.

thanks

[2019-07-03 11:09] zavin27 opened #306 "useNativeDriver causes onRowPress bug"
when using useNativeDriver, if I swipe in a direction, let's say to the left, then I tap on the row for the onRowPress to be called, the row animates back to the original state which is good so far, but then if I try to swipe again to the left it'll instantly snap back to the swiped position that it was from the first time I swiped and then continue the animation from there based on the direction

[2019-07-03 15:32] kyle-ssg commented on #283
@suvodeep-pyne @jemise111 @DineshSutar @FloPMT I've been able to efficiently reproduce this in an application I'm developing, I can confirm that upgrading to 59.10 definitely fixes it for me

[2019-07-03 15:39] kyle-ssg commented on #283
I've replicated this issue now on 2 production apps now on 59.9, to be clear though this is totally not to do with react-native-swipe-list-view

[2019-07-03 18:48] lorenc-tomasz commented on #306
Similar issue. From 1.5.8 you can disable native driver for now.

[2019-07-03 20:54] Slapbox opened #307 "Support for keyboardShouldPersistTaps and other ScrollView and FlatList props"
It would be great to be able to pass the list component `react-native-swipe-list-view` renders props like `keyboardShouldPersistTaps` .

Something like:

[code]

**or**

[code]

[2019-07-04 12:34] jobetdelima opened #308 "Change background JSX depending on swipe direction"
I want to render a different JSX depending on whether the user has swiped left or right. I could determine the swipe direction from  onSwipeValueChange but I'm needing to force re-render (i.e. I'm using forceUpdate()) to trigger renderHiddenItem (and renderItem) again.

Doing the latter is super expensive and is slowing down the animation drastically.

Is there a way to just render the row current

[2019-07-04 14:47] nicefella commented on #304
Same here

[2019-07-05 14:59] jemise111 commented on #283
@kyle-ssg Thanks for finding that! Would love to hear if upgrading fixes it for the rest of you

[2019-07-05 15:22] jemise111 commented on #306
@zavin27 Yeah I ran into this myself so I pushed a quick change to allow you to pass `useNativeDriver={false}` to disable it on the SwipeListView or SwipeRow

[2019-07-05 15:22] #306 closed

[2019-07-05 15:48] lorenc-tomasz commented on #306
@jemise111 Will fix it, so we will be able use Native Driver?

[2019-07-08 07:57] pa-bouly opened #309 "Warning: componentWillMount is deprecated"
I've just upgraded my app to react-native 0.60 and added the eslint from @react-native-community and now I'm getting this warning.
I think we just have to change **componentWillMount** to **componentDidMount** in SwipeRow.js What do you think?

<img width="446" alt="Capture d’écran 2019-07-08 à 09 52 50" src="https://user-images.githubusercontent.com/10745291/60792542-2cb05300-a166-11e9-8dc1-286

[2019-07-09 13:31] Psiiirus opened #310 "RN 0.60 Support?"
Hiya,
this component seems to be broken if you upgrade to RN 0.60 because you still use ListView.
is there already a branch where its already fixed which can I use?

[2019-07-09 21:54] jemise111 commented on #307
Hey @Slapbox you can! (as in your first example) I pass all props to the underlying FlatList. See here: https://github.com/jemise111/react-native-swipe-list-view/blob/master/components/SwipeListView.js#L234

[2019-07-09 21:54] #307 closed

[2019-07-10 02:13] ryandt opened #311 "Wrong swipe row briefly shown when swiping in the other direction"
In the `SwipeListExample`, I'm seeing a bug where the wrong swipe row is briefly shown when swiping in the other direction. I'm able to reproduce this in Android and iOS running the example and running my own usage of `SwipeListView` in my app.

react-native-swipe-list-view version: 1.5.8

**Steps to reproduce**:
1. Swipe to the right on a row (the text "Left" is shown)
2. Close the row by clickin

[2019-07-10 14:17] jemise111 commented on #311
Hey @ryandt I believe this is the same issue as #306. Can you try passing `useNativeDriver={false}` to your SwipeListView and see if that fixes it? Thanks

[2019-07-10 14:19] jemise111 opened #312 "Fix useNativeDriver on Android"
`useNativeDriver` causes `animatedValue._value` to not work correctly anymore on Android. Find a way to implement `useNativeDriver` on android without issues

[2019-07-10 14:20] jemise111 commented on #306
@lorenc-tomasz opened a new issue to address it. I'll get to it as soon as possible, it's a bit tricky.

 https://github.com/jemise111/react-native-swipe-list-view/issues/312

[2019-07-10 14:29] ryandt commented on #311
Hey @jemise111. That resolved the issue I was seeing, thanks!

[2019-07-10 14:48] #311 closed

[2019-07-11 01:44] jemise111 commented on #308
Hey @jobetdelima so this isn't perfect, I threw it together quickly. But it achieves what you want without calling `forceUpdate` and performs pretty well on my crappy Android phone so it should do the trick with a little modification.

Note I used `renderItem` instead of `renderHiddenItem` so you could better see the effect but it should work for both

Hope this helps! If you're still having probl

[2019-07-11 01:44] #308 closed

[2019-07-11 14:05] gtaylor44 commented on #310
try adding this property:

<SwipeListView useFlatList ... />

[2019-07-11 14:06] Psiiirus commented on #310
I already use this prop :) but i guess the code-checker sees deprecated usages.

[2019-07-11 14:21] jobetdelima commented on #308
@jemise111 First, 'Appreciate the feedback :)

We ended up doing something similar except we're monitoring that the `value` from SwipeData is within an acceptable range to determine whether we're swiping left or right, instead of just looking at `direction`. The latter tends to change a lot so it was resulting in lots of state changes, hence re-rendering. Re-rending fires renderItem() and renderHi

[2019-07-11 14:35] jemise111 commented on #308
👍 sounds good, glad you found a solution

[2019-07-11 14:47] blueturtle13g opened #313 "how can I close the swiped row on a condition?"
I want to be able to close the swiped row under some circumstances! is there any callback function or `ref` thing that I can call to close it?

[2019-07-11 15:12] jemise111 commented on #313
Hey @blueturtle13g yup you can see an example of this in action here:

https://github.com/jemise111/react-native-swipe-list-view/blob/master/SwipeListExample/example.js#L194

Let me know if you have any problems!

[2019-07-11 15:12] #313 closed

[2019-07-13 19:32] #309 closed

[2019-07-13 19:33] jemise111 commented on #309
@pa-bouly thanks for reporting! I moved it to the `constructor` instead. It'll be fixed in the next release

[2019-07-15 13:31] jemise111 commented on #310
@Psiiirus this should be fixed in the latest version! (v2.0.0)

[2019-07-15 13:31] #310 closed

[2019-07-16 13:30] adteague opened #317 "Preview Left and Right Swipe"
Hi, is it possible to preview a left-to-right swipe then a right-to-left swipe? I am able to do one, but not both

[2019-07-16 14:48] jemise111 commented on #317
Hey @adteague, this is a pretty unique use case so rather than use the preview props I'd do this one manually. You can get a reference to the `rowMap`, then whenever you want to preview get the row from the `rowMap` using its `key` and call `manuallySwipeRow` to swipe it whichever direction you like. Here's an example that worked for me:

[code]

[2019-07-16 14:48] #317 closed

[2019-07-16 15:02] a-klimashevsky opened #318 "HiddenItem become visible when parent component is unmounting"
react-native-swipe-list-view version: 1.5 and above (2.0.0 also)
react-native version 0.59.10
steps to reproduce:
1) open screen with list contained HiddenItem
2) close list

Result: HiddenItem is visible for all rows for a short period of time
Expected Result: screen goes off normally.

bug is not reproduced at react-native version 0.59.8 and below.

[2019-07-16 23:38] adteague commented on #317
I'm getting a `Cannot read property '0' of undefined` error when pasting in your code

[2019-07-17 03:19] rickysullivan opened #319 "Change row height of parent SwipeRow"
I have a reject button in my hidden SwipeRow that I want to use to toggle a view inside my hidden row, and at the same time resize (preferably animated) the parent's height to allow it to show. What's the best way to achieve this?

![reject-comments](https://user-images.githubusercontent.com/437480/61344634-0e550080-a8a6-11e9-9b78-5d7dcbc887c8.gif)

[2019-07-17 03:32] matheusbaumgart commented on #145
I'm also using it nested within a ScrollView and the any vertical scrolling, after starting the swipe action aborts the "swipe".

[2019-07-17 14:35] jemise111 commented on #317
@adteague That's just an example using my data from `example.js`. You need to replace the `'0'` with the key for the row you want to preview

[2019-07-17 14:48] BesartD opened #320 "Disable swipe only for one section"
Im using "SwipeListView" with "useSectionList" option and I have 2 sections. I want to disable swiping left or right for one section only. Is it somehow possible?

[2019-07-17 15:22] jemise111 commented on #320
@BesartD off the top of my head this might work for you: https://github.com/jemise111/react-native-swipe-list-view/blob/master/docs/per-row-behavior.md#setting-per-row-behavior-using-data

If not LMK

[2019-07-17 15:32] BesartD commented on #320
@jemise111 it worked, thank you :)

[2019-07-17 15:32] #320 closed

[2019-07-25 16:52] nferrara100 commented on #232
I had this problem, but realized it was because I had my front row in a TouchableOpacity. By default, that reduces the opacity on touch so I could see the background briefly. Putting it inside a view with the background color set to white fixed the issue:

[code]

[2019-07-25 17:29] nferrara100 opened #321 "Undocumented feature: Multiple buttons in same swipe"
In the example picture in the readme it is possible to have two buttons revealed in one swipe ("Right 1" and "Right 2"). However, after looking through the documentation I do not see how this is accomplished. If someone could provide example code that would be much appreciated!

[2019-07-25 20:19] jemise111 commented on #321
Hey @nferrara100 if you have a look at the example in `example.js` you can see how that is achieved with some sample code. See here for the 2 buttons in the hidden row: https://github.com/jemise111/react-native-swipe-list-view/blob/master/SwipeListExample/example.js#L124

Thanks!

[2019-07-25 20:20] #321 closed

[2019-07-27 09:31] wilsonting opened #322 "Hidden Row is overlapping with the Render Item"
Hi, when trying to use the SwipeListView, the hidden item always visible once the components is mounted. Is there any properties need to be defined ?? The code below is simplified and the screenshot shows the problem I faced. Thanks.

`class DummyList extends Component {
	renderRow(data){
        return (
            <DummyListItem data={data} />
        );
    }
	renderLeft(){
        return (

[2019-07-28 13:31] lincdh opened #323 "right view (Swipe left) is blank while left view (swipe right) contains all content of right and left"
I got below result:
[https://imgur.com/NBsS7Tn](https://imgur.com/NBsS7Tn)

It also happens with SwipeListView

[2019-07-29 06:50] Caglankaan commented on #323
i do have same problem +++

[2019-07-29 12:15] Johncy1997 commented on #99
Is it possible to open a row programmatically?

[2019-07-29 14:39] crypt0d3v opened #324 "Question: How do I know which rows have been swiped?"
I want to have a list of values, and track which ones have been swiped. I don't want them deleted - I want to use the swipe to mark data as chosen but I am struggling to get it to work.

render fn:

<SwipeListView
                    data={this.state.data}
                    leftOpenValue={125}
                    rightOpenValue={0}
                    onSwipeValueChange={this.handleSwipeValueCha

[2019-07-29 15:15] jemise111 commented on #322
Hi @wilsonting you need to define styles for your row and hidden row and give your row a background color to hide the hidden row. It is only "hidden" in the sense that it is positioned behind the row.

You can see `example.js` for some example code of styling that will achieve this. If you have more issues please re-open, thanks!

https://github.com/jemise111/react-native-swipe-list-view/blob/mast

[2019-07-29 15:15] #322 closed

[2019-07-29 15:26] jemise111 commented on #323
@lincdh Would be super helpful if you could post the styles as well!

[2019-07-30 13:43] msqar opened #325 "Can't change the renderHiddenRow height?"
I copy pasted the example.js code into mine so I could test it out, adapt it to my needs and so on. It works fine so far, except for the fact that I can't seem to change the hidden row height, seems to be stuck at 30-40ish ... I'm able to change the frontRow, though. So it looks ugly when I swipe and I see the delete button container is half the size of the actual front row.

Is this a bug?

Attem

[2019-07-30 15:29] mi-mazouz commented on #56
Any updates or suggestions? It's very uncomfortable not to be able to do that

[2019-07-30 15:39] #325 closed

[2019-07-30 17:02] lincdh commented on #323
hi,
i had to remove current style and add position: and right: css in right <Text> to make it works

also how can i close other opening rows while i am swiping new row in the lists?
i see the SwipeListView has closeOnRowOpen and closeOnRowBeginSwipe but none works?

thank u

[2019-07-30 17:02] #323 closed

[2019-07-31 07:10] robjweiss opened #326 "Question: Is there support for sliding in the hidden view?"
Is it possible to have the hidden view slide in from off screen rather than be revealed from under the main view?

[2019-08-01 02:15] robjweiss opened #327 "Using a SwipeRow Component"
I'm experiencing the same issue as #222.

I need to individually manage the state of a component within my SwipeRow when it is being swiped. I have a component that returns a SwipeRow and the state is managed within that component.

However since I am returning this component in `renderItem` in my SwipeListView, the rows do not close when another row is opened.

Here's what it looks like:

**Row.j

[2019-08-01 13:04] bockc commented on #327
I have the exact same issue, I am using a keyExtractor so every row should have a unique key. However props like `closeOnScroll` or `closeOnRowOpen` don't work.

[2019-08-02 12:54] KiranUppunda commented on #283
Hi,
I'm facing something similar to that.

`RemoteException occurs on reporting focusChanged, w=Window{ec2f368 u0`
`/my.com.my.app/my.com.my.app.MainActivity}`
   ` android.os.DeadObjectException`
      `  at android.os.BinderProxy.transactNative(Native Method)`
        `at android.os.BinderProxy.transact(Binder.java:1140)`
       ` at android.view.IWindow$Stub$Proxy.windowFocusChanged(IWindow.jav

[2019-08-04 03:00] msqar commented on #99
@jemise111 is there a method that has an indicator whether any row is opened or not ?

[2019-08-04 19:03] MikeMajara commented on #237
Hi @lucasfjportela , I am having the same problem, tried the same as you. But no luck. Could you share a bit more code? I your TouchableOpacity the very first levels? Is there one or several TouchableOpacities?

[2019-08-04 20:14] Loewe1000 opened #329 "renderItem view 'overshotes' when scrolling multiple times"
When I drag one item in a FlatList horizontally to show a hidden view for multiple times, the view overshoots, not saving the right position.

You can see what I mean in the following video:
[https://www.youtube.com/watch?v=18FRjnQbTIQ](https://www.youtube.com/watch?v=18FRjnQbTIQ)

This is the code:
[code]

And this is the style (with styled-components):
[code]

[2019-08-04 23:42] msqar commented on #99
Nevermind, it was super easy to accomplish.

[code]

[2019-08-05 06:47] fpyir commented on #329
Yes! I am getting this exact problem, when using a `SwipeRow` by itself or a `SwipeListView`. Driving me nuts!

[2019-08-05 08:25] SjoenH commented on #329
Is there a work-around?

[2019-08-05 13:31] pjcaro opened #330 "Two items open at the same time"
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/11360581/62468141-b2c2b800-b76b-11e9-9417-99df0a2e68fa.gif)

<SwipeListView
    contentContainerStyle={contentContainerStyle}
    useFlatList
        data={tasks}
        extraData={tasks}
        windowSize={11}
        keyExtractor={this.keyExtractor}
        // for optimization
        initialNumToRender={10}
        maxToRende

[2019-08-06 09:42] SjoenH commented on #330
Hey, you should try to explain your issue better...

It's good that you included a gif and a code snippet 👍 , but I'm really not sure what issue you're having.

[2019-08-06 14:21] pjcaro commented on #330
@SjoenH  i have the prop closeOnRowBeginSwipe in true, but it doesn't work when I quickly open a row before the other one closes. Only one should remain open.

[2019-08-06 18:45] MikeMajara opened #331 "onScroll Animated.event(...)"
I just migrated SectionList list I had with swipeable rows to this SwipeableListView with SwipeRow. So far so good. Until my Animated.event(...) I had in my list onScroll prop breaks the list. So all is working better than expected, and easy, but this one thing... So first things first congrats.

I have gone through your code and tried to modify it so maybe I could do a PR. But no success at all.

[2019-08-08 06:31] deepaksharma33 commented on #330
@pjcaro using the `closeOnRowOpen` prop and setting it to true might help.

[2019-08-09 08:49] SjoenH commented on #329
OK, I think I figured it out!

Try setting the prop stopRightSwipe to the same as your rightOpenValue:
[code]

[2019-08-09 12:04] rajaramanZencode opened #332 "How to trigger open action manually? llike( ex openRight(index))"

[2019-08-11 17:39] Loewe1000 commented on #329
That's not bad but I want to implement a "swipe to delete" where I swipe the complete row.

[2019-08-12 06:14] wuxiii commented on #325
did you achieve this feature？

[2019-08-13 14:22] ankhzet commented on #329
It's issue #312.
As a temporary workaround set `useNativeDriver` prop to `false`.

[2019-08-13 16:41] val-fom commented on #287
[code]
You forgot to return the value of the extracted key

[2019-08-13 17:09] Loewe1000 commented on #329
Thank you, that fixes it.
But I would like to leave this open until there is a really fix. :)

[2019-08-13 17:13] ankhzet commented on #329
@Loewe1000 original issue (#312) would suffice, I think. Just subscribe for notifications there so you would be aware when it is fixed.

[2019-08-14 08:27] shenwei235 opened #333 "not work with react-native-shimmer-placeholder"
Hey jemise111,

I've ran into issues with [shimmer-placeholder](https://github.com/tomzaku/react-native-shimmer-placeholder), shimmer-placeholder works well with FlatList before.

I used ShimmerPlaceholder._renderRows() in renderItem() of SwipeListView.

Any advice will be appreciated, thanks.

[2019-08-14 16:46] bockc commented on #290
@timoisalive hey, I'm currently having the same issue as you. Did you fix it and if yes, how ?

[2019-08-14 20:37] Stacyadam commented on #298
@Kirill-Cherkalov you just saved me several hours worth of pain. Thank you!

[2019-08-15 03:15] shenwei235 commented on #333
Sorry, it's my fault, it works.

[2019-08-15 03:15] #333 closed

[2019-08-15 15:06] ankhzet commented on #182
Somewhat fixed by forcing `needsOffscreenAlphaCompositing` on the container view of the list when screen is transitioning (`isFocused` set to `true` on navigation `didFocus` event and to `false` on `willBlur`):

[code]
This way it preserves native look&feel of navigation transitions and (hopefully) don't degenerate performance (swipe animations f.e.) when not in transitioning state.

[2019-08-18 15:23] jemise111 commented on #326
Hey @robjweiss unfortunately that's a very different component hierarchy than what this library is doing. As a sort of hack you could try to set the width of your `renderItem` to be the width of the screen + the additional width needed to render your hidden buttons. I do believe you'll have some issues on Android, as RN does not handle `overflow` very well

I'd suggest looking into these libraries

[2019-08-18 15:23] #326 closed

[2019-08-18 15:45] jemise111 commented on #327
Hey @robjweiss @bockc the most important thing for the `closeOnScroll` or `closeOnRowOpen` props to work correctly is the use of unique `key`s for each row. You either need to pass a `keyExtractor` to the `SwipeListView` or include a `key` with every object in your `data`.

It doesn't matter if you're using individual `SwipeRow`s or not. You can see an example of that in action here:

https://gith

[2019-08-18 15:50] jemise111 commented on #329
Yeah this is certainly the same issue as #312. @ankhzet workaround will work for now and I'll try to get that other issue resolved asap! Closing as a duplicate

[2019-08-18 15:50] #329 closed

[2019-08-18 15:52] jemise111 commented on #330
@pjcaro Cases like this are almost always due to a problem with `key`s or the `keyExtractor`. Double check that your data does in fact have a unique key for every row. If you're still having problems please post a more complete repro example with the `data` and `keyExtractor` you're using and I can try to reproduce on my end. Thanks!

[2019-08-18 15:57] jemise111 commented on #318
Hey @a-klimashevsky sorry but I need some more context here. I've tried to reproduce this by having the List rendered on the screen, and then by clicking a button I stop rendering it but it is appearing/disappearing correctly and I'm not seeing what you're talking about.

Could you provide a full reproducible example? Thanks!

[2019-08-18 16:39] jemise111 commented on #319
Hey @rickysullivan this is a fun one :)

I do a fair bit of overriding styles on the hidden item when rendering the SwipeRow. I think the easiest solution here it to animate the visible content when one of the hidden buttons is pressed. I threw together a quick example I hope is helpful. Here's the gif and code associated with it. Hope this helps!

![ezgif com-video-to-gif (2)](https://user-images

[2019-08-18 16:39] #319 closed

[2019-08-18 20:49] jemise111 commented on #324
Hey @crypt0d3v I'd suggest using the `onRowOpen` prop instead of tracking the swipe value changes. Here's a working example for you (rows turn green when they are "marked"). Hope this helps, if you have more questions please ask, thanks!

![ezgif com-video-to-gif (3)](https://user-images.githubusercontent.com/4265163/63230225-56ca4b80-c1cf-11e9-851d-3c4aedb6f987.gif)

[code]

[2019-08-18 20:49] #324 closed

[2019-08-18 21:20] jemise111 commented on #331
Hey @MikeMajara this is a tricky one. It turns out if you add the `{ useNativeDriver: true }` config to the `Animated.Event` it no longer returns a function, it instead returns an object. That's what is breaking your scrolling behavior. If you remove the `{ userNativeDriver: true}` from your onScroll event it will work just fine.

I would have a read through this issue to learn more: https://githu

[2019-08-18 21:29] jemise111 commented on #332
Hey @rajaramanZencode there are probably a few ways to do this but here's what I came up with. Hope this helps! Please re open if you have more questions:

![ezgif com-video-to-gif (4)](https://user-images.githubusercontent.com/4265163/63230647-4fa63c00-c1d5-11e9-87de-9c9ee42ef171.gif)

[code]

[2019-08-18 21:29] #332 closed

[2019-08-19 09:25] bockc commented on #327
I am using a custom component for my list, here's how I use it with your list component:
[code]

Inside my component, here's what the render function returns:
[code]

With `renderItem` being:
[code]

I told you I don't think this problem is caused by wrong keys, as you can see in the `renderItem` function, which returns a `<SwipeRow>`. I checked myself by logging the data, every key is different,

[2019-08-21 08:15] stoneWeb opened #334 "Delete the first line problem"
There is a problem with swap the first row to delete, which continuously triggers `onSwipeValueChange`

[code]

![git](https://user-images.githubusercontent.com/4115730/63414349-39df8380-c42e-11e9-929f-cb209d3e172d.gif)

[2019-08-23 11:19] codenaz opened #335 "TypeError: undefined is not an object (evaluating 'this._pandResponder.panHandlers')"
![Screenshot_1566558777](https://user-images.githubusercontent.com/19376441/63588879-78e11680-c59f-11e9-90e3-c5d733129511.png)
This error shows up whenever I navigate to the screen where this component is rendered.

[code]

[2019-08-24 22:43] outaTiME commented on #168
+1, any update with this feature? thanks !!!

[2019-08-25 09:56] MikeMajara commented on #331
Had to go on Holidays and switched to a different task mean while. Sounds about right dropping the `useNativeDriver` (I already had some problems with other animations solved this way). It never occurred to me to try this. So I'll comment back as soon as I can try to let you know if it worked alright that way.

[2019-08-25 09:56] #331 closed

[2019-08-27 17:21] mufaddalhamidofficial commented on #34
Is this now resolved can we use this package in production.
I hope my ipa will not become buggy.
Please resolve it fast if not resolved!!

[2019-08-28 11:59] terreb commented on #298
@Kirill-Cherkalov, I thought I've tried just everything... Thank you a lot!!!

[2019-08-29 15:28] JesusDiazDiaz opened #338 "Exception: Invariant Violation: Objects are not valid as a React child (found: object with keys {key, text}). If you meant to render a collection of children, use an array instead."

[2019-08-29 16:26] #312 closed

[2019-08-30 14:11] ankhzet commented on #318
@a-klimashevsky I guess you referring to updates to react-native's way of handling opacity on android (since 0.60, i guess?..). It's an issue with screen transitioning (due to how opacity is now handled): when transition kicks-in, unmounted screen receives partial opacity, which is then inherited by all its child nodes, including list rows, so swipe actions layer can be seen through upper layer -

[2019-09-02 15:14] jemise111 commented on #334
Hey @stoneWeb I cannot reproduce your issue, I'm really not sure what's going on. But clearly your `onSwipeValueChange` function is being called with the wrong key. Perhaps you could try keeping track of the key of the row you're deleting and don't let the animation run if it's being called with the wrong key?

I might be able to help more if you post more \code, or better yet a fully reproducible

[2019-09-02 15:19] jemise111 commented on #335
Hey @codenaz it doesn't look like you're using the correct props for SwipeRow. Please refer to this part of the example:

https://github.com/jemise111/react-native-swipe-list-view/blob/master/SwipeListExample/example.js#L166

[2019-09-02 15:20] jemise111 commented on #338
Hey @JesusDiazDiaz happy to look into your problem but can you please provide some example code? Thanks

[2019-09-02 15:25] codenaz commented on #335
This issue was a result of my index.android.bundle file being outdated updated, I fixed it by deleting and regenerating that file. Not an issue with this package

[2019-09-02 15:25] #335 closed

[2019-09-03 21:53] kldkv commented on #338
From example
[code]
    "react": "16.8.6",
    "react-native": "0.60.5",
    "react-native-swipe-list-view": "^2.0.1"
[code]
![Скриншот 2019-09-04 00 49 28](https://user-images.githubusercontent.com/6834243/64211166-fc5b0b80-cead-11e9-963c-02f68b83980f.png)

[2019-09-03 22:07] jemise111 commented on #338
Hey @kldkv change

[code]

to

[code]

And you'll be good to go

[2019-09-04 15:29] terreb opened #340 "Any way to disable bounciness temporarily for SwipeRow"
I'm using only SwipeRow component from the package NOT SwipeListView. I need gmail like swipe to delete functionality. I saw the [example for SwipeListView](https://github.com/jemise111/react-native-swipe-list-view/blob/master/docs/swipe-to-delete.md) (For some reason doesn't work for me at all, but no problem I need only row component anyway). I used onSwipeValueChange function from there. Works

[2019-09-04 15:32] terreb commented on #254
@Hirbod, have you ever found a solution?

[2019-09-04 17:04] terreb commented on #340
Ok, I think I've found a solution. Something like this works in my particular case.

[code]

[2019-09-04 17:05] #340 closed

[2019-09-04 17:12] Hirbod commented on #254
I did found a solution but I don’t remember it anymore. I just changed a lot of markup as far as I know

[2019-09-04 17:18] terreb commented on #254
@Hirbod, ok thanks, never mind, I thought the example didn't work for me because I also missed that style. It turned the reason was the list lacking `renderHiddenRow` property.

[2019-09-05 11:58] Mscynol opened #341 "react-native-swipe-list-view flatlistView demo"
can anyone gave one demo , use the flatlistView demo with react-native-swipe-list-view

[2019-09-05 17:32] jemise111 commented on #341
@Mscynol I'm not sure I understand the issue?

Here is the example with FlatList + RNSLV https://github.com/jemise111/react-native-swipe-list-view/blob/master/SwipeListExample/example.js#L108

Hope that helps!

[2019-09-06 02:25] Mscynol commented on #341
thanks!!!

[2019-09-06 02:25] #341 closed

[2019-09-08 09:29] serialbandicoot commented on #304
I have the same issue, it looks like `renderItem` has the following implementation:

[code]
So if it can't find `key` it defaults with `undefined`.

My datasource is external so there is no key in the example it looks like a key is being applied.

[2019-09-10 21:56] outaTiME opened #342 "Performance issue with Touchables on large lists"
Hi @jemise111,
A few days ago I started using this library and I found a potential performance issue with touchables, I'm using a large flat list (also with high level of uptates too) and the following method generates a large number of re-renders:

https://github.com/jemise111/react-native-swipe-list-view/blob/master/components/SwipeRow.js#L338

For the moment my alternative to solve this problem

[2019-09-16 15:51] GuillaumeMunsch opened #343 "Manually closing an open row increases the opening speed"
I'm encountering an issue with the `SwipeListView` component.

I'm closing an opened row manually with the `closeRow` method which works and closes the row. By reopening the exact same row with a gesture (swiping to the right) the animation goes clearly faster than the first time I opened it. If I close it again with the `closeRow` method, and then re-open it a 3rd time, it swipes even faster.

I

[2019-09-19 19:59] rsokz opened #344 "ListView issue for RN 0.60.5"
I'm noticing that ListView is still referenced in`test.tsx` inside the types folder.

![Screen Shot 2019-09-19 at 12 58 02 PM](https://user-images.githubusercontent.com/6425523/65276729-3eef2b80-dadd-11e9-9677-8deccf0e1a5d.png)

This is the only module in my app that has this reference. Could it be causing the issue?

[2019-09-22 22:18] iatsu commented on #332
This doesn't work for me. Is there any other way to do this?
rowMap only gives me a `{undefined: SwipeRow}` which does definitely not include the key inside. Even when I was able to create a ref to the row, it just says that's the function doesn't exist.

[2019-09-24 03:16] Mscynol opened #345 "Function components cannot be given refs. Attempts to access this ref will fail. Did you mean to use React.forwardRef()?"
![image](https://user-images.githubusercontent.com/13941582/65478532-b3024880-debc-11e9-9188-29a552d3976f.png)
rowMap is alaways null Objects, because i use the renderRow is Redux Component

[2019-09-24 05:49] Mscynol commented on #345
I finally solved this problem. After testing, I found that SwipeRow must be a top-level component. This seems to be a necessary condition now. It cannot be customized components. It must be a pure component,like this
<SwipeListView
          data={DATA}
          renderItem={(data, rowMap) => {
            return (
              <SwipeRow
                style={style}
                swipeToOpenPe

[2019-09-24 05:49] #345 closed

[2019-09-24 05:51] Mscynol commented on #345
<SwipeListView
data={DATA}
renderItem={(data, rowMap) => {
return (
<SwipeRow
style={style}
swipeToOpenPercent={10}
swipeToClosePercent={10}
disableRightSwipe={true}
rightOpenValue={-pxToDp(600)}
previewRowKey={'0'}
previewOpenValue={-pxToDp(600)}
previewOpenDelay={500}

<HiddenItem itemData={data} rowMap={rowMap} />
<VisibleItem itemData={data} rowMap={rowMap} />

);
}}
keyExtractor={this.keyExtr

[2019-09-24 10:30] flowridr opened #346 "First rows on iOS not opening"
Using React native 0.60.5 and react native navigation 3.2.0. The rows on first screen are not able to open (they are moving a bit but dont stay open). The swiping on rows after first screen is working fine. On Android everything works well.

[2019-10-02 03:04] JManuelMT commented on #237
It seems this is not working anymore, closeRow() doesn't exist in the ref

[2019-10-02 05:34] MikeMajara commented on #237
The solution back then was to store the references on time of creation (for example on an array). I could search for some code to illustrate how I managed to make it work, but in the end I left this library and went on to [React Native Gesture Handler](https://kmagiera.github.io/react-native-gesture-handler/) which has a [Swipeable](https://kmagiera.github.io/react-native-gesture-handler/docs/comp

[2019-10-02 07:02] MOHAMMADArsalan opened #347 "Auto close swiped row"
Hello! First of all, thank you so much for such a library. Great job.

I need a functionality auto close swiped row after some time. but unfortunately, I did not get any option in documentation.

[2019-10-02 17:19] wkoutre opened #348 "[feature]: add `flatListProps` or similar"
I've recently run into the need to pass in the `extraData` prop to a RNSLV-driven (with FlatList) component.

It'd be nice if the `SwipeListView` component took in something like `flatListProps?: Partial<FlatListProps<any>>` and spread them, in `render` (not `this.listViewProps`) accordingly.

Update: made a [quick PR](https://github.com/jemise111/react-native-swipe-list-view/pull/349)

[2019-10-05 02:40] riguy14 commented on #347
Would setting a setTimeout on the row opening work for you?
`
onRowOpen={(secId, rowId, rowMap) => {
        setTimeout(() => {
            rowMap[`${secId}${rowId}`].closeRow()
        }, 2000)
    }}
`

Got the idea the docs here https://github.com/jemise111/react-native-swipe-list-view/blob/master/docs/migrating-to-flatlist.md. There's a regular example and one for when using a FlatList.

[2019-10-05 13:07] jemise111 commented on #342
Hey @outaTiME great ideas! Created a PR to address your suggestions, #350. Feel free to try it out in the next release and reopen this if you have other issues, thanks!

[2019-10-05 13:07] #342 closed

[2019-10-05 13:16] jemise111 commented on #343
Hey @GuillaumeMunsch thanks for the example code but sadly I can't reproduce this issue at all. I've tried both an iOS and Android device. This sounds similar to an issue that was fixed in a recent release. Could you please ensure you're using the latest release (at least v2.0.1) and see if that fixes the issue. If not could you please let me know:

What platform you're seeing this on?
What versio

[2019-10-05 13:21] jemise111 commented on #344
Good call @rsokz, that file should have been removed, fixed in #351

[2019-10-05 13:22] #344 closed

[2019-10-05 13:24] jemise111 commented on #346
Hey @flowridr as with all issues involving react native navigation there are a ton of factors that could be contributing to this problem. To be able to debug this I'd really need a code sample that would allow this to reproduce the issue on my end, or better yet a repository I could look at on my machine that demonstrates the problem.

In the meantime issues with navigation libraries are usually c

[2019-10-05 13:28] jemise111 commented on #347
Hey @MOHAMMADArsalan, @riguy14 is right, that's exactly how I'd suggest doing it. If that doesn't work for you please let me know some more specifics around what you're trying to achieve and I can help more, thanks!

[2019-10-05 13:28] #347 closed

[2019-10-05 14:03] jemise111 commented on #348
Hey @wkoutre I'll look at your PR as well but I think this is already being done here: https://github.com/jemise111/react-native-swipe-list-view/blob/master/components/SwipeListView.js#L245

You can either pass `listViewProps` or just additional `props` to a `<SwipeListView />` component and they will be passed to the underlying `FlatList`

[2019-10-05 16:34] wkoutre commented on #348
Hm, well I think it’s just the latter (passing additional props) that’s the valid option. `listViewProps` is a class variable (line 23).

I stumbled upon this trying to pass `extraData` but it didn’t respond as expected. I’ll double check myself, though, before cleaning up that PR.
On Oct 5, 2019, 7:03 AM -0700, Jesse Sessler <notifications@github.com>, wrote:

[2019-10-05 18:24] wkoutre commented on #348
Yeah, not sure what I was thinking/looking at earlier! But any extra props are, indeed, already being spread to whichever List component is being used. Closing.

[2019-10-05 18:24] #348 closed

[2019-10-08 13:39] GuillaumeMunsch commented on #343
We updated to `2.0.3` and it looks like it is fixed indeed !

Thanks ! Closing

[2019-10-08 13:39] #343 closed

[2019-10-11 09:28] karlmarxlopez opened #354 "Missing `useNativeDriver` type def"
**Describe the bug**
Missing `useNativeDriver` on TS type definition.  I can submit a PR for this.

**To Reproduce**
Steps to reproduce the behavior:
`<SwipeListView useNativeDriver /> // TS throws an error`

**Screenshots**
If applicable, add screenshots to help explain your problem.
`n/a`

[2019-10-14 15:16] anjucheran opened #355 "Get index of data in new flatlist version"
When rendering a row, I need to know how to identify the index of the item in the data array. Is there a way to get it?

previously it was rowId

`renderRow={ (data, secId, rowId) => {
    return()
}}`

[2019-10-14 18:44] ThomasFindlay commented on #34
@mufaddalhamidofficial unfortunately it was not. I also spotted that occasionally swiper becomes buggy and when swiping instead of opening it will just go nuts and go all the way to the left or right and then close immediately.

[2019-10-14 21:38] jemise111 commented on #355
Hey @anjucheran you can use this

[code]

Hope that helps!

[2019-10-14 21:38] #355 closed

[2019-10-15 06:22] Helongzhou opened #356 "scroll to top when tapping on the active tab"
[https://reactnavigation.org/docs/en/scrollables.html](url)

[2019-10-15 14:17] jemise111 commented on #356
Hey @Helongzhou. Not exactly sure what you're question is but if you're looking to use your own List component with swipeable rows you can either use a standalone `<SwipeRow />` or you can pass your own list component. See the prop `renderListView` here https://github.com/jemise111/react-native-swipe-list-view/blob/master/docs/SwipeListView.md

[2019-10-16 15:08] jwilliamson-qb opened #358 "closeOnRowOpen not working correctly"
I'm using a SwipeListView with SwipeRows inside of it, and the `closeOnRowOpen` prop doesn't seem to close rows when a new one opens. I'm able to open all rows at the same time and none of them close automatically.

[code]

[2019-10-16 19:48] jemise111 commented on #358
Hey @jwilliamson-qb when `closeOnRowOpen` isn't working properly it's usually due to an issue with `keys` in the data. Can you ensure your keys are unique and being returned properly in the keyExtractor?

Beyond that I'm looking at my own example for any other differences: https://github.com/jemise111/react-native-swipe-list-view/blob/master/SwipeListExample/example.js#L209

Can you try using a to

[2019-10-17 11:49] ochrostowska opened #359 "SwipeRow's hidden row not displayed when nested inside Collapsible component."
Hello!
I would love to use your library inside a collapsible component (using most popular library https://github.com/oblador/react-native-collapsible). For some reason the bottom/hidden row is not displayed on swipe.

I have a list of rows. After clicking on "I am header" tile, collapsible content appears. In header red underneaths are rendered properly. But inside collapsible, it's missing.
Can

[2019-10-17 14:13] ochrostowska commented on #359
I've created a simple sample project and cannot reproduce it there. The issue must be somewhere deeper in my project code. Sorry! :)

[2019-10-17 14:13] #359 closed

[2019-10-18 10:40] michaelkowalski opened #360 "If items don't have the key attribute, rowMap is useless"
Hello, if the items in the list don't have the `key` attrubute, `rowMap` becomes one big merged row. I tried to use keyExtractor, but SwipeList seems to ignore it and still needs the key attr in the data prop.

The problem in my case is that I had to explicitly add the `key` attribute to the data prop to use `.closeRow()`.

Is this a bug or am I doing something wrong? For me the expected behavior

[2019-10-18 14:14] ochrostowska commented on #332
Same here for me. I am able to close row programatically, as SwipeRow gives me the closeRow method:

[code]

But what about opening it? I need to manually adjust leftOpenValue and rightOpenValue, because my hidden content width is dynamically changing.
Is there any way to do this? :)

I am using only SwipeRow, not the SwipeListView :)
Thank you very much for your incredible work :) It works smoooo

[2019-10-18 14:21] ochrostowska opened #361 "Opening SwipeRow programatically"
Hello!

I wanted to know if there is a way for opening the SwipeRow programatically. I need to manually adjust leftOpenValue and rightOpenValue, because my hidden content width is dynamically changing. Once I open the row with leftOpenValue=100 and rightOpenValue=-100 it doesn't seem to be possible to swipe it back to leftOpenValue=50 and rightOpenValue=-50.
I am able to close row programatically,

[2019-10-18 14:36] cisplRejjak opened #362 "Row not closing when other rows are opened"
React native version 0.60.1,please help

I have tried with the props but not working

closeOnRowBeginSwipe={false}
closeOnRowOpen={true}

[2019-10-19 07:07] elioncho commented on #360
+1

[2019-10-19 14:09] jemise111 commented on #360
Hey @michaelkowalski @elioncho I'm trying to repro this but I'm just not seeing the same issues. I'm going to lay out everything I'm looking at and you tell me what I'm missing.

Here is my example code. I do **not** have `key`s in my data array. Instead I'm using a `keyExtractor` and using `data.text` as the key since it is unique.

Note that the log in `onRowDidOpen` is showing the correct key,

[2019-10-19 14:13] jemise111 commented on #361
Hey @ochrostowska this is a bit untested but instead of using `swipeRow.closeRow()` try using `swipeRow.manuallySwipeRow(value)` in your case I think something like `swipeRow.manuallySwipeRow(-50)`

LMK if that works for you

[2019-10-19 14:15] jemise111 commented on #354
@karlmarxlopez PR would be great if you could, thanks!

[2019-10-19 14:47] jemise111 commented on #362
Hey @cisplRejjak please see my responses in these two places:

https://github.com/jemise111/react-native-swipe-list-view/issues/358#issuecomment-542862824

https://github.com/jemise111/react-native-swipe-list-view/issues/360#issuecomment-544148460

If those don't help please post some example code, thanks!

[2019-10-19 18:38] elioncho commented on #360
I don't see anything wrong. This is what I'm personally doing.

I am trying to display an array of basic array of objects:

`
[{"id":20,"name":"Item 1"},{"id":2,"name":"item 2"},{"id":3,"name": "item 3"}]
`

`
    <SwipeListView
      keyExtractor={item => String(item.id)}
      data={lists}
      renderItem={data => (
        <ListItem
          title={data.item.name}
          onPress={() => {

[2019-10-20 00:17] jemise111 commented on #360
Hey @elioncho I'm not seeing any `closeRow` function here, what exactly is the issue you're trying to fix?

[2019-10-21 05:21] elioncho commented on #360
Sorry, I copied the whole component and the closeRow and deleteRow functions in the following example. The only thing I'm not copying are the styles.

[code]

If I remove the line in bold that adds the key property to the array I will get a:
[code]
on the console.log on the closeRow function.

[2019-10-21 08:41] ochrostowska commented on #361
I've read your answer in previous issues mentioning manuallySwipeRow  function, but I dont have   available for SwipeRow... Do I have some deprecated dependency? It seems I can call only declared functions:

[code]

These are the suggestions IDE is giving me:
![Screenshot 2019-10-21 at 10 36 19](https://user-images.githubusercontent.com/15039955/67189766-1a91b200-f3ef-11e9-9ccf-5161faf40906.png)
!

[2019-10-22 02:07] 2JJ1 opened #364 "Request: Close SwipeRow programmatically"
I need to make SwipeRow close programmatically.

My use case (which may apply to many others):
onRowDidOpen triggers -> Perform action "e.g delete message" -> Close the swipe menu
^ Specific to SwipeRows with only one option rather than multiple buttons

[2019-10-27 04:55] elioncho opened #366 "Can I use SwipeRow without SwipeListView?"
Hi,

I am trying to use the SwipeRow component inside a DraggableListView (see this https://github.com/computerjazz/react-native-draggable-flatlist). It is rendering correctly along with all the animations, but I have not been able to close the row. I tried to do exactly what was explained in issue https://github.com/jemise111/react-native-swipe-list-view/issues/151, but the closeRow() doesn't do

[2019-10-31 02:59] thanhluantl2304 commented on #182
Thank ankhzet, that works fine. But why this issue is still open?

[2019-11-02 20:01] lashab commented on #362
I have a similar issue:

[code]

[2019-11-02 20:29] lashab commented on #362
**Solved**: I was missing keyExtractor:

[code]

[2019-11-05 04:56] sagargondaliya opened #368 "scrollToLocation is not a function."
**Describe the bug**
I am trying to implement scroll to top function on tap of button to scroll on top position of swipe list view and trying to access method `scrollToLocation` from SectionList but I am not able to access it using the reference of SwipeListView. So I need help how to achieve it.Below is code from `render` function.

[code]
Code for scroll to top of list.

[code]

**To Reproduce**

[2019-11-05 06:21] sagargondaliya commented on #368
I have made mistake for identify reference. Here is proper way to do it.

Replace
`ref={(ref) => this.sectionListRef = ref }`
with
`listViewRef ={ ref => this.sectionListRef = ref }`

And then, `scrollToLocation` works fine.

[code]
https://stackoverflow.com/questions/58704814/scrolltolocatoin-is-not-a-function-react-native-swipe-list-view

[2019-11-05 06:21] #368 closed

[2019-11-08 22:46] dcenatiempo commented on #364
If you get a reference to the SwipeRow using `useRef` called `myRef` then you should be able to call `myRef.current.combinedOnPress()`

If you get a reference the old fashioned way I think it would be `this.refs.myRef.combinedOnPress()` or `this.myRef.combinedOnPress()`

[2019-11-09 16:21] jemise111 commented on #361
Hey @ochrostowska sorry for the delay. I think the IDE is complaining because it is using the types from `types/index.d.ts` which was an open source contribution that doesn't have `manuallySwipeRow` function declared in it. I'm hesitant to add it to `types` because it's not really supported functionality (though a PR is always welcome if you'd like to add it)

But I have tested using `manuallySwip

[2019-11-09 16:29] jemise111 commented on #182
@thanhluantl2304 I agree! Looks like there are some good solutions in the comments, thanks all, going to close this - please reopen if anyone is still having issues

[2019-11-09 16:29] #182 closed

[2019-11-09 16:32] jemise111 commented on #362
Excellent! I'm going to assume the initial issue was due to missing keys as well. Closing... please reopen if there are still issues

[2019-11-09 16:32] #362 closed

[2019-11-09 16:39] jemise111 commented on #364
Hey @2JJ1, @dcenatiempo's option might work. How about this:

[code]

[2019-11-09 16:46] jemise111 commented on #298
Seems like this issue was solved, please reopen if it's still a problem, thanks!

[2019-11-09 16:46] #298 closed

[2019-11-09 17:07] jemise111 commented on #360
Hey @elioncho thanks for the detailed example and sorry for the delay in responding.

So in your example if you don't have a `key` set on every object in your `data` than indeed `item.key` will be `undefined` as you pass it to your `closeRow` function. In that case you'll have to  pass the same "key" that your `keyExtractor` function is creating for each object. So in your example you should chang

[2019-11-09 17:17] jemise111 commented on #366
Hey @elioncho I just double checked to confirm that this works in a standalone swipe row without a `SwipeListView`. Can you move your `rows` object to the constructor of the component.

i.e.

[code]

LMK if that helps

[2019-11-09 23:48] 2JJ1 commented on #364
@jemise111 Thank you for your reply, but I was looking for a solution with the SwipeRow component API

[2019-11-09 23:56] jemise111 commented on #364
@2JJ1 oops! Missed that part. In that case how about just:

[code]

[2019-11-10 00:05] #364 closed

[2019-11-10 04:55] elioncho commented on #360
Worked perfectly, thanks!

[2019-11-10 06:40] elioncho commented on #366
Thanks for the response. I am using a functional component so I don't have a constructor method. Can this be a problem? I tried again and added a couple of logs just to see what's going on. The swipe shows, but when I click on the action it just scrolls back.

[code]

[2019-11-10 13:41] jemise111 commented on #366
@elioncho Well `closeRow()` doesn't return anything so it makes sense that it would return undefined.

At this point I'm not sure what's going on. You could try debugging further by putting some breakpoints in the source code for rnslv. Maybe start by putting a breakpoint here: https://github.com/jemise111/react-native-swipe-list-view/blob/master/components/SwipeRow.js#L336

And making sure it's h

[2019-11-10 14:39] jemise111 commented on #360
Going to close this, please reopen if anyone else has issues, thanks

[2019-11-10 14:39] #360 closed

[2019-11-11 18:21] elioncho commented on #366
It was a mistake from my part. It is working correctly. Thanks and sorry for the inconvenience.

[2019-11-11 18:21] #366 closed

[2019-11-11 18:23] elioncho commented on #293
It's also working for me with Expo 35

[2019-11-11 18:44] jemise111 commented on #293
Doesn't seem like this is an issue anymore, please re-open if it is, thanks!

[2019-11-11 18:44] #293 closed

[2019-11-11 20:51] erikmueller opened #370 "onSwipeValueChange: Pass reference to item"
So maybe there is a better way to do this but would it be an option (or was there a conscious decision not to) to pass the `item` along the `swipeData` when `onSwipeValueChange` is called?

Background:
I have a controlled component that gets it's items as props and augments them with `Animated.Value`s when they're passed to the list (so I don't have to keep track of the changing Array which would

[2019-11-11 22:44] jemise111 commented on #370
Hey @erikmueller I'm not sure I understand the problem.

To answer your question the `onSwipeValueChange` event can be fired many many times per second. I'd be very worried about the performance impact of passing around lots and lots of data in that callback.

Could you show some code with what you're doing and maybe we can find another solution? Otherwise if you wanted to submit a PR and send the

[2019-11-12 17:14] erikmueller commented on #370
Thanks for the quick reply. I’ll try to provide a small example this week, maybe this already solves my problem magically 😉🦆 And good point with the performance hit.

[2019-11-14 14:21] Psiiirus commented on #370
@jemise111 maybe if the onSwipeValueChange-callback would pass the key variable into the callback as described in the documentation it would be enough? It seems this isn't implemented atm but will properly help identifying the current row.

FYI: I'm trying to add a handy right swipe gesture onto an item to do a quick-reply to this particular item

[2019-11-14 14:57] jemise111 commented on #370
@Psiiirus Not sure what you mean, the `key` is definitely provided as part of the data sent in the `onSwipeValueChange` callback. See below:

![image](https://user-images.githubusercontent.com/4265163/68868223-c3fd5800-06bc-11ea-9d06-8e29d818cd61.png)

![](http://g.recordit.co/Qr3dud8ziI.gif)

[2019-11-14 15:00] Psiiirus commented on #370
Mhh.... I'm using the SwipeRow Component which is not passing the key into the callback.

[2019-11-14 15:03] jemise111 commented on #370
@Psiiirus That's correct, if there is no SwipeListView than I'm not going to be keeping track of keys. You would want the SwipeRow to be passing `this.props.key` in the `onSwipeValueChange` callback?

[2019-11-14 15:05] Psiiirus commented on #370
Yeah maybe that be quite handy.

[2019-11-17 04:11] Hirbod commented on #356
This is actually easy. Register a NavigationEvent, set a ref to your ScrollView/Flatlist (lets call it this.scroll) and trigger
[code]

[2019-11-19 09:06] arghyaExicube commented on #361
It is working when js debugger is enabled, but in release build the process hanged and app is not responding.Any idea why?

[2019-11-19 23:07] VitaliiK91 commented on #145
@jemise111 I am experiencing similar issue in iOS. If list is not scrolled (or is at the very top) swiper works just perfect. But once list is scrolled even slightly swiping functionality stops working. It lets you start the swipe gesture but forces row to close right away. Any ideas what might cause it? Thanks you!

[2019-11-20 15:16] jemise111 commented on #145
@VitaliiK91 This is a tough one for me to debug as I don't have Windows.

I suspect the issue is that the parent ScrollView is becoming the responder for all gesture handler and the SwipeListView is not receiving touch events. Can you remove the ScrollView entirely and just use the SwipeListView's header and footer to render the rest of your content?

This may help as well: https://stackoverflow.c

[2019-11-20 15:18] sundayz opened #372 "iOS TextInput Prevents Swipe Gesture Being Passed To List"
I’m not 100% certain if this is a React Native issue or an issue with this package. On iOS if you have a TextInput inside a row of the swipe list, you cannot swipe left/right over the text input. You have to start the gesture outside of the text input. This isn’t an issue on android. You can begin the gesture on the text input and swipe just fine.

Tapping the text box is fine so it looks like the

[2019-11-20 16:49] VitaliiK91 commented on #145
@jemise111 Thanks for the quick response. Mine is actually not windows, but iOS (both simulator and actual device) I don't have it wrapped in ScrollView, however I use react-native-navigation in the app. I was debugging it last night and noticed that `onPanResponderTerminate` event is fired right away once I start to swipe row. Only happens if list view is scrolled even a tiny bit. Tested in Andro

[2019-11-20 17:03] jemise111 commented on #145
@VitaliiK91 Ah okay - in that case I would search through the GH issues here for "navigation" and see if any of the responses help you. Some people have found ways to make the gesture handlers play nice together but I don't know of any off the top of my head

[2019-11-20 18:20] VitaliiK91 commented on #145
Found the root of the problem (at least for my case). Sharing in case someone runs into similar issue. After more debugging I noticed that issue happens not when list is scrolled just a bit but when it is scrolled almost to the end (i.e. last item is seen). After wrapping the component in the `<SaveAreaView/>` the problem disappeared. I am pretty sure this can only happen on the devices with notch

[2019-11-20 18:22] jemise111 commented on #145
Excellent @VitaliiK91 glad you found a solution

[2019-11-20 23:59] jemise111 commented on #372
Hey @sundayz I didn't know about this prop until now but check this out:

https://facebook.github.io/react-native/docs/textinput#rejectrespondertermination

Sounds like exactly what you need

[2019-11-21 00:51] sundayz commented on #372
That's 100% what I need! Thanks so much, I have no idea how I looked over it, I was scrolling down that page just a few hours ago looking for a prop like that. At least others having this problem will find this issue on google.

One slight problem, the documentation seems to have it the other way around. When I set `rejectResponderTermination={false}` it allows textinput to pass the swipe events,

[2019-11-21 01:25] jemise111 commented on #372
Excellent! Going to close this issue. Maybe you should submit a PR to the react native repo 😏

[2019-11-21 01:25] #372 closed

[2019-11-21 13:54] erikmueller commented on #370
So I was reading the docs again. Maybe this helps to illustrate my problem better: In the `swipe-to-delete` example (https://github.com/jemise111/react-native-swipe-list-view/blob/master/docs/swipe-to-delete.md) you're creating an Object of animated values for each row (let's assume the row data comes through props).
Whenever an item is deleted, the `state` is updated and the `Animated.Value` corr

[2019-11-21 15:26] jemise111 commented on #370
@erikmueller Okay I think I get it now.. this was very helpful. I'm still hesitant about passing around the entire row's data as the row is being swiped, but it seems like the solution that would work for both you and @Psiiirus is what @Psiiirus suggested. Namely, if you pass a `key` to a `<SwipeRow />` it will be returned on every `onSwipeValueChange` event. That should allow you to track animate

[2019-11-22 07:57] superhos opened #373 "Hidden Item invisible sometime."
Most of time is normal. But sometime the hidden item was disappear. Has anyone ever been in the same situation with me? Or any suggestion?

[2019-11-22 08:01] superhos commented on #373
I have also output the `HiddenComponent` parameter in `renderCell`, the data is correct.

[2019-11-22 08:52] erikmueller commented on #370
I will try to implement it that way. To me this sounds like the most sensible solution. However, I'd like to keep your suggestion of passing some kind of `itemPropertyExtractList` for onSwipeValueChange in the back of my head ;)
Thanks for your help, I'll report back.

[2019-11-22 14:20] jemise111 commented on #373
Hi @superhos these issues are very difficult to figure out without some example code or a gif showing the issue. Can you please try to provide some more info like that? Thank you

Only thing I can think of off the top of my head that is a somewhat common issue is using a TouchableOpacity instead of a TouchableHighlight as your renderItem

[2019-11-22 15:13] #370 closed

[2019-11-22 15:20] jemise111 commented on #370
@Psiiirus @erikmueller made the change anyway. You can now use a `key` with SwipeRow and you'll see it passed through in the `onSwipeValueChange` callback. Make sure you're using > v2.0.5

Please open another issue if you have any other problems, thanks!

[2019-11-25 08:21] superhos commented on #373
I used the common demo code of the guide page.
react native version is 0.52.2
react version 16.2.0

It's really hard to identify the cause of the problem. I will debug the code and reopen the issue if any progress.

[2019-11-25 08:21] #373 closed

[2019-11-26 07:29] baicuhaha opened #377 "SwipeRow height"
![05418A4F-7390-4550-B720-989FF8930AB8](https://user-images.githubusercontent.com/20334376/69607858-23fee180-1061-11ea-9473-0514288f7f3f.png)
![BFEE7EA7-9C19-4E76-92AB-570E29BC9CAF](https://user-images.githubusercontent.com/20334376/69608194-dafb5d00-1061-11ea-9bfd-b0dd70de43f6.png)
![77277BAD-3C30-41A8-8596-E7DD5ED868E0](https://user-images.githubusercontent.com/20334376/69608199-de8ee400-1061-11

[2019-11-26 09:46] luobao1207 opened #378 "closeOnRowOpen inoperative"
Your issue may already be reported!
Please search on the [issue tracker](../) before creating one.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (please complete the following information):**
 - OS: [e.g. iOS or Android]
 - RNSL

[2019-11-26 14:50] jemise111 commented on #378
Hi @luobao1207, 9 out of 10 times if `closeOnRowOpen` doesn't work it is an issue with your data's `key`s or `keyExtractor`. Please double check these. If the issue persists can you show me some example code so I can take a look at the problem? Thanks

[2019-11-28 07:01] phyzical opened #379 "Preview Repeat"
Hey there!

i thought id ask incase im just blind but is there currently functionality to repeat the preview animation? if not i spent literally 30 seconds and found i can do the following to force a loop

[code]

i can make a pr to integrate this with a bool prop of say "repeatPreview". but my current usage is extremely basic. on preview should the open/close event fire ect? or is preview just a

[2019-11-28 09:34] phyzical commented on #379
i also noticed i was only repeating half the animation so potential implementation would look something like this

[code]

[2019-11-29 14:02] GuillaumeMunsch commented on #287
For anyone using this with `useSectionList`, the `index` is reset in each section.
You'll need to make the returned key unique.

Here's what I did for example:
[code]

Depends on which available values you have in each of your items

[2019-12-01 02:03] jonnynfb commented on #377
I have the same issue. Have you found the solution?

[2019-12-01 14:28] jemise111 commented on #379
Hey @phyzical PR's are always welcome :)

I think what you have in your second comment looks good, do you have a way of stoping the repeated preview animations?

I'd also add another prop to set the preview interval time instead of hardcoding to `this.props.previewDuration * 2.5`.

Otherwise put in a PR and I'll have a look, thanks!

[2019-12-01 14:47] phyzical commented on #379
sweet ill send the pr your way in the next few days when i get a chance, will do in regards to adding a prop for the 'previewRepeatInterval' or How about 'previewRepeatDelay' `(this.props.previewDuration * 2.5) + this.props.previewRepeatDelay` that way its more obvious it will be the time between each finished animation and wont require updating both props when changing duration

What do you mean

[2019-12-01 14:52] jemise111 commented on #377
Hey @baicuhaha @jonnynfb try adding `recalculateHiddenLayout={true}` as a prop to your `SwipeRow`. Let me know if that works, thanks!

[2019-12-01 15:00] jemise111 commented on #379
Hey @phyzical no no I don't think you need to handle the case you described.

I was just envisioning a scenario where maybe you'd want the preview animation to continue opening and closing and opening and closing until the user swiped a row, at which point you might want the loop to stop.

I thought maybe we'd want to run a `clearInterval` if a certain prop is set. Or maybe if repeatPreview is set

[2019-12-01 15:13] phyzical commented on #379
ah yes ofc. my current use case it a literal preview window :D but that will be needed now that you mention it for other cases.

i think we could keep it simpler and call `clearInterval ` in `onRowPress ` on `SwipeRow`

[2019-12-01 17:37] jemise111 commented on #379
Yeah I mean I lean towards my way because it allows the dev to decide which events trigger the loop to stop. onRowPress vs onRowSwipe vs onRowOpen vs (like you said) a dialog with a confirm button or anything else.

But I'll leave the final decision up to you :)

[2019-12-02 01:18] baicuhaha commented on #377
@jemise111 I've solved my problem. Thank you

[2019-12-02 01:18] baicuhaha commented on #377
@jonnynfb Using this recalculateHiddenLayout can be solved

[2019-12-02 15:14] #377 closed

[2019-12-02 18:41] jonnynfb commented on #377
@jemise111 @baicuhaha Thank guys! That fixed it for me.

[2019-12-04 12:02] phyzical commented on #379
hey man,

pr submitted. one thing i noticed is that on re-render, as in when saving and the code reloads another setInterval is called. i couldnt think of a good way to avoid duplicating this but i didnt notice any issues caused by it so i think itll be okay.
https://github.com/jemise111/react-native-swipe-list-view/pull/380

let me know if there is anything else you suggest should be changed

tha

[2019-12-04 21:13] VitaliiK91 opened #381 "rowMap is empty on the first render"
**Describe the bug**
On the initial render of the component rowMap passed to renderHiddenItem and renderItem is an empty object. It almost seems that rowMap is async value and gets resolved afterwards.
If I try to log and inspect it in console it shows as:
![Screen Shot 2019-12-04 at 1 06 52 PM](https://user-images.githubusercontent.com/7388109/70181704-457e4f80-1697-11ea-849e-84cce9e6b8f6.png)
![

[2019-12-04 22:48] VitaliiK91 commented on #381
I debugged it a bit and it appears that `ref={row => (this._rows[key] = row)` method of `<SwipeRow/>` is called after `renderHiddenItem` and `renderItem`, since they are called here:
[code]
so `rowMap` is not filled at the time of first render of items

[2019-12-05 00:07] VitaliiK91 commented on #381
Closing the issue as I found a solution. In case anyone runs in the problem. Don't create bound functions at the time of rendering (hidden)items. I added a function to my component:
[code]
and changed renderHiddenItem to:
[code]

[2019-12-05 00:07] #381 closed

[2019-12-05 08:14] ilibilibom commented on #355
Hi
data.index is returning 0 for all items:
[code]

[2019-12-06 10:47] ItsNoHax opened #382 "[TS] Definitions are out of date"
**Describe the bug**
When running the typescript compiler we get the following message:
[code]

**To Reproduce**
Run the typescript compiler when using SwipeListView

**Screenshots**
N/A

**Environment (please complete the following information):**
 - OS: All
 - RNSLV Version: 2.0.6
 - RN Version: 0.60.5

[2019-12-09 12:47] ilibilibom opened #383 "Is there a way to disable the swiper on an item ?"
Hi
I'm rendering a list of users, and I want the option to disable swiping on a list item - if a user is an admin.
Is there a way to tell  SwipeListView to do that?

[2019-12-09 16:34] Dag0n commented on #383
You can, however you'll need to use SwipeRow.

` <SwipeRow`
`            disableRightSwipe={parseInt(rowId) % 2 !== 0}`
`            disableLeftSwipe={parseInt(rowId) % 2 === 0}`
`            leftOpenValue={20 + parseInt(rowId) * 5}`
`            rightOpenValue={-150}`
`        >`

Example [here](https://github.com/jemise111/react-native-swipe-list-view/blob/master/docs/per-row-behavior.md)

[2019-12-10 07:30] ilibilibom commented on #383
I'm using the example in the link you sent:
[code]
I'm getting data is not defined.
What should ```data``` be ?

[2019-12-10 14:40] #338 closed

[2019-12-13 12:42] gvsakhil commented on #168
Need it badly :(

[2019-12-15 15:21] jemise111 commented on #379
@phyzical left some comments on the PR! Let's continue any discussion over there, I'm going to close this issue in the meantime

[2019-12-15 15:21] #379 closed

[2019-12-15 15:25] jemise111 commented on #168
Hey guys, this would require a pretty significant rewrite of the library which I just don't have the bandwidth to do at the moment, sorry!

Maybe one day..

[2019-12-15 15:28] jemise111 commented on #383
Hi @ilibilibom, like @Dag0n said you'll have to customize the rows to configure each one to be either swipeable or not depending on your `admin` condition. You can see all examples here:

https://github.com/jemise111/react-native-swipe-list-view/blob/master/docs/per-row-behavior.md

The guide is a little out of date (I'll try to update today). Don't pay attention to dataSource. You can use the `da

[2019-12-15 16:01] jemise111 commented on #382
@ItsNoHax My typescript knowledge is limited at best.

Seems the issue here is that SwipeListView props are identical to FlatList or SectionList props with one exception, the signature of `renderItem`

I did some quick research and _I think_ I fixed it. Can you (or anyone else) please have a look?

https://github.com/jemise111/react-native-swipe-list-view/pull/384

Thank!

[2019-12-17 09:02] ilibilibom commented on #275
@jemise111 - this is still not working for me.
I have 2 issues now:

this is my code:
[code]

1) I'm getting this error:
![Screen Shot 2019-12-17 at 10 57 47](https://user-images.githubusercontent.com/12745414/70980498-18309900-20bc-11ea-8dc1-3922a66ac1ff.png)
oddly enough, when I uncomment the console.log('user'), this error goes away ...

2) When this does render (byI add the console.log), no ef

[2019-12-17 09:06] ilibilibom commented on #383
@jemise111 - this is still not working for me.
I have 2 issues now:

this is my code:
[code]

1) I'm getting this error:
![Screen Shot 2019-12-17 at 10 57 47](https://user-images.githubusercontent.com/12745414/70980498-18309900-20bc-11ea-8dc1-3922a66ac1ff.png)
oddly enough, when I uncomment the console.log('user'), this error goes away ...

2) When this does render (byI add the console.log), no ef

[2019-12-17 18:41] jemise111 commented on #383
@ilibilibom if you are returning a `<SwipeRow />` in your `renderItem` function you should remove the `renderHiddenItem` prop entirely.

See the SwipeRow.md doc for instructions on how to pass the visible and hidden item

https://github.com/jemise111/react-native-swipe-list-view/blob/master/docs/SwipeRow.md

[2019-12-17 22:20] StevenBlack commented on #360
Jessie @jemise111 I'm wondering, why does the `key` (see the `item.key` I quote here) need to be a String, presently?

My keys are all integers, everywhere.  Coming at this straight and clean, no legacy to worry about, this machination is a source of cognitive loading, and code complexity.   So I'm fascinated, why a string, strictly?

[code]

[2019-12-17 22:35] jemise111 commented on #360
Hey @StevenBlack in this case above I was simply using the key provided by the OP's `keyExtractor` function above. i.e.

[code]

You could, in theory, use integers for your keys. This component will function properly. However you will get a warning from react-native. See this discussion for more:

https://github.com/facebook/react-native/issues/18291

[2019-12-17 23:20] StevenBlack commented on #360
ah!  So ignore the warning.  Cool!  That's valuable input.  Thank you, Jessie @jemise111.

[2019-12-18 08:42] ilibilibom commented on #383
@jemise111 thanks!
removing the renderHiddenItem ,and following the guidelines in the readme worked for me.

[2019-12-18 10:05] ItsNoHax commented on #382
Great, fixed with the newest release! Thanks for picking it up on such a short notice @jemise111

[2019-12-18 10:05] #382 closed

[2019-12-20 06:22] gvsakhil opened #386 "onScroll event not working with android"
Your issue may already be reported!
Please search on the [issue tracker](../) before creating one.

**Describe the bug**
onScroll is working fine in ios but not working in android

**To Reproduce**
const isCloseToBottom = ({ layoutMeasurement, contentOffset, contentSize }) => {
        const paddingToBottom = 20;
        console.log(layoutMeasurement.height + contentOffset.y >=
            content

[2019-12-20 16:17] GuillaumeMunsch commented on #381
Worked for me ! Thanks.
For some reason the keys in my `rowMap` are like `1-undefined`, but eh, whatever, this still works

[2019-12-20 16:19] jemise111 commented on #383
Excellent @ilibilibom , closing this then

[2019-12-20 16:19] #383 closed

[2019-12-20 16:45] jemise111 commented on #386
Hey @gvsakhil I tried your issue in my example using RN 60.3 and didn't see any issues with the onScroll event firing. Can you do me a favor and change the SwipeListView to a regular FlatList and see if the onScroll event is working in that case?

If it is I will upgrade to RN 61.5 and try to reproduce again.

If it is not this is an issue with RN itself and not this package.

Please let me know,

[2019-12-21 21:42] hamzapiri commented on #362
how to achieve this with only <SwipeRow/> Component ?

[2019-12-23 04:35] jevonsofcode opened #387 "When the disableRightSwipe is true, swipe right after opening again to open the right button."
[the line](https://github.com/jemise111/react-native-swipe-list-view/blob/12a85eb55bd25d6ab13eb02afeda11750bac06e8/components/SwipeRow.js#L314)  should not exist

**Describe the bug**
When the disableRightSwipe is true, swipe right after opening again to open the right button.

**Show BUG**
[codesandbox](https://codesandbox.io/embed/issue-react-native-for-web-sectionlist-sticky-header-sl8kh?fontsi

[2019-12-23 20:47] lixuanle opened #388 "Sending "onAnimatedValueUpdate" with no listeners registered."
**Describe the bug**
On some occasions, React Native will spit this warning out: Sending "onAnimatedValueUpdate" with no listeners registered.

**To Reproduce**
Usually happens after you remove a row, happens occasionally in the Example when you switch Lists without swiping.

**Screenshots**
![Screen Shot 2019-12-23 at 3 31 28 PM](https://user-images.githubusercontent.com/37774901/71379623-f773b20

[2019-12-27 22:03] kopax opened #390 "Does it work with react-native-web"
Hello everyone, I am new to react-native and started to build my first app with expo sdk 36.

I am not able to view the demo as the snack is broken but I strongly believe 2.x will help me achieve what I want.

One prerequisite I have is to do a web view, for that expo does it by default. Since I am not seing an compatibility for web, I assume it does not work for the web.

As anybody tested it on

[2019-12-29 02:30] jemise111 commented on #390
Hey @kopax, sadly I have not tested this with react-native-web, would be interested to know what you find though, thanks!

[2019-12-29 19:27] fontenele commented on #368
The only function that exists at listViewRef is scrollToEnd()

[2019-12-30 15:30] lixuanle commented on #388
Any update on this?

Just wondering if this warning can/will cause performance issues? As far as I know, everything is still working as intended its just react native giving me this warning.

Thanks!

[2019-12-31 14:57] jemise111 commented on #388
Hey @lixuanle, thanks for reporting and sorry for the delay - you're right this is an issue but I don't think there's much I can do about it. I've double checked and every listener that is added to the SwipeRow is removed on `componentWillUnmount`.

I'm guessing if a SwipeRow is animating while it is unmounting (like in the cases you described) than there will be a few pixels of animation where th

[2019-12-31 15:25] lixuanle commented on #388
No problem! Thanks for replying. 😁

After a bit more testing, the warning actually fires on rare occasions when using `SwipeRow` as well.

As far as performance problems, I haven't seen any issues currently since it only fires the warning once per swipe and when the row is removed it doesn't continue to send the same warning.

`SwipeListView` however, when switching to a screen that renders out th

[2019-12-31 15:38] jemise111 commented on #388
@lixuanle I believe the reason it fires in the example is because there's a preview row swipe running when you switch tabs to the one of the other list views.

Would you possible be able to upload a video of what you're seeing? I'm curious if you're doing some sort of swipe animation while the row is deleting? I'm seeing the warning in some instances but not after a deletion

[2019-12-31 16:11] lixuanle commented on #388
I figured out a way to recreate what I'm seeing fairly consistently when using `SwipeRow`.

If you try to delete a row after doing swipes in quick succession, it'll fire off the warning. I have 2 implementations of deletion in my own code. One is to click on a button in the back row and the other is to swipe across.

[I've uploaded a video here](https://streamable.com/loa75) for you to see what I'

[2019-12-31 16:22] jemise111 commented on #388
@lixuanle the video was very helpful, thanks! I just tried to add some more code to kill a running animation if the component unmounts and not only did the warnings still show but the UI looked a lot worse.

Given all you've told me I think you're right that there are a few events being fired without registered listeners but since it's always in the case of a row unmounting I'm not really worried

[2019-12-31 16:24] lixuanle commented on #388
Yea, as long as performance isn't an issue I have no problems with the warnings. That's all I needed to confirm was that there wouldn't be anything impactful.

Thanks so much for your help! Happy holidays! 😁

[2019-12-31 16:30] #388 closed

[2020-01-03 16:21] lixuanle opened #392 "SwipeRow doesn't open when using react-native-draggable-flatlist"
**Describe the bug**
When using the `DraggableFlatList` component from [`react-native-draggable-flatlist`](https://github.com/computerjazz/react-native-draggable-flatlist) v2.0.0+ to render `SwipeRow`, the row instantly closes upon swiping.

Using `onRowOpen` and `onRowClose` shows that the row does not actually make a callback to `onRowOpen` and only on `onRowClose`.

To clarify, I am on the late

[2020-01-03 16:22] lixuanle commented on #392
computerjazz/react-native-draggable-flatlist#107

[2020-01-05 21:08] proof666 commented on #390
@kopax, I am not sure about 100% compatibility, but in my simple case it is work as expected on web platform with react-native-web (not Expo).

[2020-01-05 22:55] kopax commented on #390
Excellent @proof666 , I will have a try. I must pop an item when I swipe left (like remove it, and scroll the list up). I only say this in case you already if that is impossible.

[2020-01-06 16:43] jphilippou commented on #168
+1, I love your library. Unfortunately, the vanilla touchable is flaky on android platforms using swipeable rows. I find if I have a button on the foreground view overlapping a button in the hidden view, press events to the foreground button aren't triggering.

[2020-01-09 22:21] perroudsky commented on #387
I have the same issue!

[2020-01-11 05:41] sarnakov commented on #94
It doesn`t work properly. I have an Image in every row, so every setState the images reload.

I solved the issue by removing **ScrollView** from the parent component.
Hope it will help.

[2020-01-15 07:39] BaoNguyen1815 opened #394 "Can swipe-list-view swipe up and down when horizontal ={true} ?"
When i set <SwipeListView horizontal = {true}>, the swipe action is still left and right.
I expect swipe action to be up and down. Is there any way to make it work?

[2020-01-20 22:27] FranciscoCHT opened #396 "Wrong row position on SwipeRow / Scrolling while swiping"
**Describe the bug**
I'm using only SwipeRow, and when I open a row with left swipe and then close, the row seems to bug itself, because then when I swipe the row again (left or right) it sets it's position like it's closing. **This happens only with the rows I open. Once opened (and closed), keeps happening that bug on the row.**

And, when I swipe, vertical scroll doesn't disable, so when I open

[2020-01-21 09:23] jevonsofcode commented on #387
sorry, I solved the problem but forgot to say

you just delete [this](https://github.com/jemise111/react-native-swipe-list-view/blob/6f22515c1d404d51bf8a6d1591ec51d241b77b9b/components/SwipeRow.js#L314) "if"

if u don't want to change the source code, u just set left||right is 0

[2020-01-21 09:31] perroudsky commented on #387
Works great! Thanks you so much!

[2020-01-21 10:02] salmanitb opened #398 "what if there is a onPress on renderItem to make trigger swipe open automatically..."
Your issue may already be reported!
Please search on the [issue tracker](../) before creating one.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (please complete the following information):**
 - OS: [e.g. iOS or Android]
 - RNSL

[2020-01-21 10:02] jevonsofcode commented on #387
; )

[2020-01-21 12:11] #398 closed

[2020-01-21 12:12] salmanitb commented on #398
clear guys...

[2020-01-21 17:21] #387 closed

[2020-01-21 18:03] AlbertMontolio commented on #142
The official documentation does said that
https://github.com/oliviertassinari/react-swipeable-views

[2020-01-21 18:10] hasanugr commented on #3
@jemise111 It works, thanks a lot. :)

[2020-01-21 20:41] mohitmishra22 opened #399 "How to avoid tap while doing swipe?"
**Describe the bug**
Whenever I swipe to see the options, the touch triggers the tap and goes to a child's view. I would like to know if there is any way to differentiate between tap and swipe.

Not sure if this qualifies as the bug but I really need help.

**To Reproduce**
In render item return TouchableHighlight and give onPress event to it. When you try to swipe it will trigger the onPress func

[2020-01-22 04:15] salmanitb commented on #399
just control opacity different for tap and swipe....

[2020-01-22 06:33] mohitmishra22 commented on #399
can you give more details on how I can handle the opacity for tap and swipe?

[2020-01-24 22:48] robert-narrate commented on #327
I too am running into a similar issue, If I use something similar to:
[code]

setting:
[code]

on SwipeListView does nothing

[2020-01-26 01:33] densk1 commented on #378
Was trying to debug this for a while.

[2020-01-26 01:38] densk1 commented on #358
Was trying to debug this for a while.

If your SwipeRow is a functional component, call it as a function in renderItem, rather than a component

This works:
[code]

This does **not** work:
[code]

[2020-01-28 13:11] dev7050 opened #400 "Please provide RTL support."
**Describe the bug**
swipe issues if device is set to RTL specific locale.

**Environment (please complete the following information):**
 - OS: [iOS & Android]
 - RNSLV Version: [e.g. v2.0.1]
 - RN Version: [v0.60.5]

[2020-01-29 00:35] dayaki commented on #378
Yes, I can confirm ``keyExtractor`` prop is the culprit. Adding it to mine solved this issue for me.

[2020-01-30 18:52] fukhaos commented on #56
@mi-mazouz I made a workaround using the hidden view as a empty View
and using the top view with full width and another view aside.
=(

[2020-02-04 07:07] bashen1 commented on #281
my workaround

**ChatListItem**
[code]

**ChatListItem parent component**
[code]

[2020-02-05 11:04] eladgel commented on #373
Same here

[2020-02-06 04:48] thanhluantl2304 commented on #71
hey @lamStephan, I still face this problem. keyExtractor I got from index so can not be undefined or something but still not working! Please help!

[2020-02-06 04:58] thanhluantl2304 commented on #96
@lelup cho mình hỏi với, bạn đã tìm được cách để fix bug này chưa?

[2020-02-06 08:14] Tilenozz commented on #56
Mind can i ask how ?

[2020-02-07 12:29] IamStephan commented on #71
Hey @thanhluantl2304, haven't worked with this library in some time. Mainly because it tends to be hard for users to identify this feature unless it is specifically shown to them.

This is purely based on memory and if you can provide a code snippet that will be helpful. I think what's happening is that when the user opens a list item the framework uses the key to know what item is open after a st

[2020-02-08 06:35] kopax opened #401 "Snack broken, markdown examples have bad synthax, SwipeListExample can't build for android, how can I use it for web/ios and android?"
Hello, in the development of a web/ios/android application with expo SDK 36, I am looking to achieve a google mail application swipe like list view in Android, iOS and web.

Will this fits my requirement ?

I haven't seen any issue tagged with react-native-web, is this library also supporting web?
Thanks a lot for sharing!

[2020-02-08 07:49] kopax commented on #401
Apparently, this is the prefered library in react-native to do swipe view. But all examples are incomplete and cannot just be copy-paste to demonstrate that it indeed, really work.

For instance, this is the [](),

I have created the class based on the one from the documentation with incorrect synthax, the `styles` were also missing, so I found the styles from the example, it's incomplete for that

[2020-02-08 08:49] kopax commented on #401
Expo snacks is also broken: https://snack.expo.io/@jemise111/react-native-swipe-list-view

![image](https://user-images.githubusercontent.com/1866564/74082223-7b222900-4a8a-11ea-8afa-efc688f8c25a.png)

I've tried with my expo client on android and it doesn't load anything as well

[2020-02-08 16:04] jemise111 commented on #401
Hi @kopax you've raised a number of issues here. I'm going to attempt to address them in order:

Maybe, I have no idea what your requirements are. There are examples and gifs showing what this library can do, if that fits what you're looking for then that's great.

I have never tried to use this library with react-native-web and do not make any claims that it will work there. There is another issu

[2020-02-08 16:13] kopax commented on #401
Thanks a lot for taking the time to read and reply in depth.

I get this from a few hours of google search, you should be proud :)

I am now digging into it and I will gladly do any PR I can see to improve the work already done here.

My requirement are to make the slide left to delete, and slide right to add to favorite, as in the android gmail application. Do you think it will make the deal? I h

[2020-02-08 16:13] #401 closed

[2020-02-08 16:14] kopax commented on #390
I am currently testing and it seems to work fine. So I am closing it and if necessary will reopen.

[2020-02-08 16:14] #390 closed

[2020-02-09 12:04] kopax commented on #34
Is this still unfixed ? (2020)

[2020-02-10 05:03] kopax opened #402 "[RFR] Update snack demo"
**Describe the bug**

The snack from the readme is broken.

**To Reproduce**

Click on that link: https://snack.expo.io/@jemise111/react-native-swipe-list-view

**Screenshots**

![snack on README.md](https://user-images.githubusercontent.com/1866564/74122266-189d6a00-4bfd-11ea-9404-f2f1066b5717.png)

![snack is broken](https://user-images.githubusercontent.com/1866564/74082223-7b222900-4a8a-11ea-8

[2020-02-10 05:10] kopax opened #403 "[RFR] Synthax issues on demos"
**Describe the bug**

This example have syntax issues: https://github.com/jemise111/react-native-swipe-list-view/blob/master/docs/swipe-to-delete.md

Other tutorial with same issue:

- https://github.com/jemise111/react-native-swipe-list-view/blob/master/docs/ui-based-on-swipe-values.md

**To Reproduce**

Open the markdown, copy/paste the code on www.codesandbox.io

Or visit that codesandbox: http

[2020-02-10 05:24] kopax opened #405 "Cannot run the example on Android"
**Describe the bug**

I am trying to run the example on android, I have the followed this guide:

https://github.com/jemise111/react-native-swipe-list-view#running-the-example

**To Reproduce**

The application under ./SwipeListExample will produce the above example. To run execute the following:

[code]

**Screenshots**

![image](https://user-images.githubusercontent.com/1866564/74123155-41732e80

[2020-02-10 05:51] kopax commented on #402
I have created a snack here: https://snack.expo.io/@kopax/swipelistview

All you need to do is fork to have the proper account and upadte the readme.

I am now trying to add examples and solve https://github.com/jemise111/react-native-swipe-list-view/issues/403

[2020-02-10 07:16] kopax opened #407 "Boost community engagement"
If you need contributors, I was thinking, not to contribute full time (ahah), I also do not have the bandwidth).

- [ ] add a documentation and some live editable web example in it (with [react-styleguidist](https://react-styleguidist.js.org/)).
- [ ] automatic documentation deployment on master
- [ ] add semantic release on master (optionnal) with travis-ci, for this, I need a little bit more acc

[2020-02-10 07:36] kopax commented on #401
Hi, I have just opened a bunch of issue and PR. I would gladly help more, see #407 for more.

[2020-02-10 08:25] kopax commented on #386
Hi @gvsakhil I would have had a look if this was properly formated for displaying code.

[2020-02-10 08:29] kopax commented on #377
I have tried to set `rowFront.height to 90` after settings `recalculateHiddenLayout` on `SwipeListView`, this is my code:
[code]

and my view looks like this:

![image](https://user-images.githubusercontent.com/1866564/74132839-ea7a5300-4c19-11ea-91ba-811c2deb23e3.png)

How do you set the height to be dynamic?

[2020-02-10 08:31] kopax commented on #319
This should also be in the running example, let's attach it to #406

[2020-02-10 09:16] kopax opened #408 "Can't set dynamic height with swipe to delete because of interpolate using fixed row value"
## Description

I am working on a `react-native` project using [expo SDK36](https://expo.io/).

I want to do a swipe left/right list view. I use [react-native-swipe-list-view](https://github.com/jemise111/react-native-swipe-list-view) to achieve it.

So far everything worked perfectly, the default example uses a fixed `height: 50` per row, while I want to  **set the height of each row dynamically*

[2020-02-10 10:26] kopax opened #409 "How to preview the left btn instead of the right button"
Hi again,

I have two swipe actions:
- swipe left to delete
- swipe right to add to my favorite

I want to display the preview for the add to my favorite action, which is starting the left side.

Currently, the demo show the right side.

Is it possible to animate the left button?

[2020-02-11 05:25] kopax opened #410 "Swipe list gesture bad on Android and very bad on iOS"
## Description

I have configured a swipe left to delete, swipe right to add to favorite action with the sample code from `example.js`.

I am comparing the swipe from my app when I try to swipe left/right with another app I am referring to as an example of valid user experience.

## 1\ iOS

The focus get lost super quickly in iOS interrupting the action, this require the user to be careful and the

[2020-02-11 05:26] kopax commented on #410
I am considering to **add some infinite scrolling** (loading list while scrolling), I feel like the longer the list is, the worst is the user experience when swiping.

Has anyone ever tried to implement such feature using `react-native-swipe-list-view`. Thanks again?

[2020-02-11 05:39] kopax opened #411 "Optimize the list rendering with lazy loading to imprive swipe effects"
## Description

The longer the list is, the slowest are the animation making it hard to have a correct user experience.

A way to optimize that is to add dynamic loading of the list to produce the infinite scrolling effect.

This feature request will allow a way to implement infinite to solve slow swipe rendering issues.

## Reproduction

- https://snack.expo.io/@kopax/react-native-swipe-list-view

[2020-02-11 06:27] kopax commented on #168
It seems that `react-native-gesture-handler` is also having a component swipable, perhaps more fast: https://github.com/software-mansion/react-native-gesture-handler/blob/master/docs/component-swipeable.md

Have anybody ever tried it?

[2020-02-11 08:02] kopax opened #412 "Upgrade to react-native-web 0.12.1 is not supported due to ViewPropTypes import being removed"
**Describe the bug**

I have tried to upgrade from `react-native-web` v0.11.7 to 0.12.1 and it break my app:

     Module not found: Can't resolve 'react-native-web/dist/exports/ViewPropTypes' in '/home/dka/workspace/test-native/node_modules/react-native-swipe-list-view/components'

See:

https://github.com/jemise111/react-native-swipe-list-view/blob/6f22515c1d404d51bf8a6d1591ec51d241b77b9b/compon

[2020-02-11 17:53] jemise111 commented on #34
@kopax This has been reported periodically across versions so I leave the issue open in case people have ideas how to solve

[2020-02-11 17:59] jemise111 commented on #215
Closing as inactive and solved

[2020-02-11 17:59] #215 closed

[2020-02-11 18:05] jemise111 commented on #327
Hey guys using a custom list view was a community addition to this library so I'm not 100% familiar with how it should work. If you are using a standard Flatlist with custom SwipeRows I can assure you this works as intended. If you are using a custom list view (perhaps a third party list view library) please provide a fully reproducible example and I'd be happy to try to figure out what's going on

[2020-02-11 18:06] jemise111 commented on #217
Closing as this has been completed

[2020-02-11 18:06] #217 closed

[2020-02-11 18:09] jemise111 commented on #232
Closing as it sounds like @nferrara100 has identified the issue and a fix, thanks!

[2020-02-11 18:09] #232 closed

[2020-02-11 18:09] jemise111 commented on #241
Closing as inactive

[2020-02-11 18:09] #241 closed

[2020-02-11 18:13] jemise111 commented on #271
Hi @alexiri sorry for never responding to this one. I made a comment addressing a similar issue here https://github.com/jemise111/react-native-swipe-list-view/issues/327#issuecomment-584772060

If you could provide a fully reproducible example as well I'd really appreciate it, thanks!

[2020-02-11 18:14] jemise111 commented on #281
Closing as this issue has been addressed and/or solved

[2020-02-11 18:14] #281 closed

[2020-02-11 18:20] jemise111 commented on #283
Closing as this doesn't appear to be related to this library

[2020-02-11 18:20] #283 closed

[2020-02-11 18:22] jemise111 commented on #284
Closing as inactive

[2020-02-11 18:22] #284 closed

[2020-02-11 18:30] jemise111 commented on #223
@rimzici This is a long outdated issue but just wondering if you were able to make any progress here? I'm not very familiar with `accessibilityTraits` so I'd love to hear about it!

[2020-02-11 18:32] jemise111 commented on #292
Closing as inactive

[2020-02-11 18:32] #292 closed

[2020-02-11 18:37] jemise111 commented on #318
@ankhzet Thanks for your response! This sounds like a great workaround, given the hierarchy of components in the swiperow. Closing as resolved

[2020-02-11 18:37] #318 closed

[2020-02-11 18:40] jemise111 commented on #334
Closing as inactive

[2020-02-11 18:40] #334 closed

[2020-02-11 19:36] jemise111 commented on #346
Closing as inactive

[2020-02-11 19:36] #346 closed

[2020-02-11 19:42] jemise111 commented on #356
Closing as inactive / there are a few solutions here. Thanks!

[2020-02-11 19:42] #356 closed

[2020-02-11 19:45] jemise111 commented on #358
Closing as inactive

[2020-02-11 19:45] #358 closed

[2020-02-11 20:24] jemise111 commented on #361
Closing as I believe this was solved

[2020-02-11 20:24] #361 closed

[2020-02-11 20:25] jemise111 commented on #378
Closing as inactive

[2020-02-11 20:25] #378 closed

[2020-02-11 20:25] jemise111 commented on #386
Closing as I do not believe this is an issue with this library

[2020-02-11 20:25] #386 closed

[2020-02-11 20:35] jemise111 commented on #392
Hi @lixuanle I see you were able to close your issue in the draggable-flatlist library. Is everything working for you now? If so can we close this issue? Thanks and sorry for the delay in responding!

[2020-02-11 20:43] jemise111 commented on #399
Hi @mohitmishra22 can you confirm you have set up your Touchable exactly in this way:

https://github.com/jemise111/react-native-swipe-list-view/blob/master/SwipeListExample/example.js#L128

I do not see the onPress triggered when I swipe the row

Also see this note please: https://github.com/jemise111/react-native-swipe-list-view#note

If you have any other info that would be very helpful

[2020-02-11 20:47] jemise111 commented on #400
Hi @dev7050 I've tried setting my region / language to a RTL region and didn't see any issues. What problem specifically are you having?

[2020-02-11 20:48] #392 closed

[2020-02-12 04:59] thanhluantl2304 commented on #71
Ok, i got this. You saved my life! Thank you very much!^^

[2020-02-12 09:36] rimzici commented on #223
Hi,

So far haven't been able to work that around, since it was not in the priority list kept it aside.

I believe there were some major updates in accessibility part with RN v0.60. I will try that and get back.

[2020-02-12 13:36] masum-mollik opened #413 "Can't close an open row by pressing an closed item"
I am using SwipeListView. I can close an open item by pressing on that. But how can I close an open item by pressing a closed item?

[2020-02-12 14:51] jemise111 commented on #413
Hey @masum-mollik have you tried setting `closeOnRowPress={true}`?

If that is not working it is almost certainly an issue with your rows not having unique `key`s or a `keyExtractor` prop.

Feel free to share the code you're using if you'd like me to take a look

[2020-02-12 14:57] #403 closed

[2020-02-12 16:30] jemise111 commented on #394
Hey @BaoNguyen1815 sorry but that isn't supported. There's a lot of code dealing with left and right swiping and it would be essentially an entirely new library to create a horizontal swipeable list view. I've added a note in the readme, thanks!

[2020-02-12 16:30] #394 closed

[2020-02-12 16:38] masum-mollik commented on #413
Here they are:

**Message-list.screen.tsx**

[code]

**Message.tsx**
[code]

Thanks.

[2020-02-12 18:34] jemise111 commented on #413
@masum-mollik I don't see anything immediately wrong unless there is an issue with item IDs.

This is the function that should be triggering the closing of a row when another one is pressed:

https://github.com/jemise111/react-native-swipe-list-view/blob/master/components/SwipeListView.js#L89

Can you try to debug in there and make sure that function is firing. And if so check the `safeCloseOpenRo

[2020-02-13 01:14] jemise111 commented on #405
@kopax given I have merged this PR: https://github.com/jemise111/react-native-swipe-list-view/pull/404 can we close this issue?

[2020-02-13 01:24] jemise111 commented on #396
@FranciscoCHT I just tried in my example and I'm not experiencing the same issue as you using a standalone SwipeRow.

I suspect that issue, as well as your second issue, is due to the fact that you are using a SwipeRow in a scrolling list and the gesture recognizers for the two components are conflicting. Since you are not using a SwipeListView the SwipeRow has no idea when the list is being scrol

[2020-02-13 06:29] kopax commented on #405
Hi @jemise111, It's your choice to close it. I was not able to test the `example.js`. I was able to test it with the snack I have created. Perhaps we should replace the example.js with my snack, which is more copy/pastable and separate concerns making it more readable.

[2020-02-13 08:04] masum-mollik commented on #413
Couldn't work with `closeOnRowPress={true}`. But I did the following thing to close a open row by pressing any other closed row(including the open item):

[code]

**Thanks Brother**

[2020-02-13 21:26] jemise111 commented on #413
Glad you found a solution! Mind if I close the issue in that case?

[2020-02-14 17:27] nferrara100 opened #415 "Remove misleading readme section?"
The following section of the readme was misleading in my case:

## Confusing section

#### Note:

If your row is touchable (TouchableOpacity, TouchableHighlight, etc.)  with an ```onPress``` function make sure ```renderItem``` returns the Touchable as the topmost element.

GOOD:
[code]
BAD:
[code]

## Rational

If you have a `<TouchableOpacity>` instead of a `<TouchableHighlight>` as in the exampl

[2020-02-14 17:28] nferrara100 commented on #415
Curious what you think, @jemise111

[2020-02-15 18:11] StevenBlack opened #416 "Question: Swipe as toggle — no need to stay open. How?"
Hi Jesse @jemise111, great component!  I love it.

I can't seem to figure this out: in one instance, I'm using the Swipe as a toggle, that's all.  So there's no need to keep the swipe open.

How can I automatically close the Swipe once its been open past a threshold, and released?

I must be missing something obvious...  Thank you in advance.

[2020-02-15 21:22] kevgrig commented on #56
I'm also interested in this because it basically means we can't have an ImageBackground behind the SwipeListView. @jemise111's comment from 2016 points to a deprecated alternative (which actually ends up pointing back to this component).

[2020-02-15 21:56] kevgrig commented on #56
Based on @fukhaos's comment, I'm able to show the items properly but their TouchableOpacity doesn't work even though zIndex is high:

[code]

[2020-02-15 22:34] kevgrig commented on #56
Okay, I got it to work. I'm not sure if this is the best approach, but I moved the TouchableOpacity to the renderHiddenItem. Roughly:

[code]

[2020-02-17 14:27] callyb opened #417 "Can't access {item} in onPress function"
Hi,

Thanks for all your work - great component!

I was using the experimental 'SwipeableFlatList' from react-native before until it was deprecated and with that package I could easily access data.item in each list item to use in the onPress function - I just passed {item} as an argument to the function attached to onPress (the same way it's passed to 'renderItem') then I could pass it to react-na

[2020-02-17 15:28] benzman81 opened #418 "onRowClosed/onRowDidClose not called if fully closed by user"
**Describe the bug**
The functions for _onRowClosed_ and _onRowDidClose_ do not get called if the user fully swipes back to position _0_ and _disableRightSwipe_ is _true_. The issue is in line https://github.com/jemise111/react-native-swipe-list-view/blob/master/components/SwipeRow.js#L314 . Since this is commented out in master only a release with this commented out code that fixed #387 is missin

[2020-02-17 15:52] StevenBlack commented on #417
Taking a guess here...

Since you're using `react-navigation`, for the `item` coming-in from the parent screen:

[code]

[2020-02-17 21:06] callyb commented on #417
Ok, I'm such a ditz!   I had the child component working fine when I was using 'SwipeableFlatList ' with `this.props.navigation.state.params.item` (same result as your suggestion) but thank you StevenBlack for getting me thinking about this another way round!  What I realised was that the problem was with the way I was not dealing with the fact that react-native-swipe-list-view uses `rowData.item`

[2020-02-18 07:53] tudiantuan opened #420 "Re-render renderHiddenItem?"
I want to re-render HiddenItem when item.Notify change status. How can i do that?
<img width="775" alt="Screen Shot 2020-02-18 at 14 51 38" src="https://user-images.githubusercontent.com/39153315/74714958-2dfa4000-525e-11ea-8c99-173fbf727366.png">

[2020-02-19 10:47] #413 closed

[2020-02-19 17:19] Native0629 commented on #242
class App extends Component {

    constructor(props) {
        super(props);

        this.openRowRefs = [];
    }

    onRowDidOpen = (rowKey, rowMap) => {
        this.openRowRefs.push(rowMap[rowKey]);
    }

    closeAllOpenRows() {
        this.openRowRefs.forEach(ref => {
            ref.closeRow && ref.closeRow();
        });
    }

    render() {
        return (
            <SwipeListView

[2020-02-19 17:21] Native0629 commented on #242
I am trying to close all right opened button at once using your code, but failed!
could u let me know the solution?

[2020-02-19 23:18] loodsite commented on #387
@jevonsofcode @perroudsky

What need to be set to 0?
I am using SwipeRow and I also notice this glitch, and don't want to change source code before new version
`<SwipeRow
          disableLeftSwipe={false}
          disableRightSwipe={true}
          rightOpenValue={-88}
          style={styles.swipeRow}>`
rightOpenValue={-88} is because i want to see my back delete button

[2020-02-20 12:57] jevonsofcode commented on #387
TRY:
set leftOpenValue & stopLeftSwipe is 0 or 0.01 （I forgot , sorry ）and don't use disableXxxxSwipe  ,  if you only want to open "right button"

[2020-02-20 14:28] jemise111 commented on #415
Hi @nferrara100 so the reason the `Touchable` has to be the topmost component is because when I render the row I have to run my own `onPress` callback in addition to whatever `onPress` the client wants to run. See here: https://github.com/jemise111/react-native-swipe-list-view/blob/master/components/SwipeRow.js#L441

If you have a `Touchable` inside of a `View` I think it would break certain funct

[2020-02-20 15:04] jemise111 commented on #416
Hey @StevenBlack that's a good question. You'll be very interested in this PR https://github.com/jemise111/react-native-swipe-list-view/pull/395 and the work that @proof666 is doing. Until that is merged the best solution I could think of until then is as follows:

[code]

Which produces this:

![ezgif com-video-to-gif (3)](https://user-images.githubusercontent.com/4265163/74947113-fe634900-53bf-1

[2020-02-20 15:12] StevenBlack commented on #416
Thanks Jesse @jemise111, that'll work!  Duh, how was this not obvious, now that I see your suggestion? 🙃  Honestly, I'm losing it.

Looking at the PR.... Sergey @proof666 rocks!  That's a tremendous PR.

[2020-02-20 15:15] jemise111 commented on #416
@StevenBlack glad to hear it, going to close this, please reopen if you still have issues, thanks!

[2020-02-20 15:15] #416 closed

[2020-02-20 15:18] jemise111 commented on #417
Thanks for the assist @StevenBlack!

Sounds like this is solved, I'm going to close

[2020-02-20 15:18] #417 closed

[2020-02-20 15:30] jemise111 commented on #242
@Native0629 I don't see where you are invoking `closeAllOpenRows`?

[2020-02-20 15:32] jemise111 commented on #420
Hi @tudiantuan I tried this in my local example and I don't have any problems. Are you doing anything to prevent re-renders like using a `PureComponent` or `shouldComponentUpdate`?

Maybe if you could provide and example of what `this.props.chatList` looks like it'd help me?

[2020-02-20 15:48] jemise111 commented on #418
@benzman81 that's my bad! I didn't realize I never released it.

This code should be released in v2.2.0. If this is still an issue there please re-open, thanks!

[2020-02-20 15:48] #418 closed

[2020-02-20 15:48] tudiantuan commented on #420
This is chatList initial : [{"CreDt":"2020-02-20T08:35:41Z","GrpId":"fa416091-53bb-11ea-a076-06305e00006b","GrpNm":"PersonA","GrpTp":"0","GrpFlg":"Y","GrpSec":"0","Status":"","TotMem":2,"Unread":0,"LastMsg":"","LastSeq":39,"OwnerId":"7d76cbbe-0600-11ea-a076-06305e00006b","UpdDate":"2020-02-20T12:35:49Z","AvatarID":"4ed92231-4c97-11ea-a076-06305e00006b","Notify":true},{"CreDt":"2020-02-20T07:57:15Z

[2020-02-20 16:04] tudiantuan commented on #420
This is 2 file template https://github.com/tudiantuan/TestList

[2020-02-20 20:13] loodsite commented on #387
@jevonsofcode fixed in new version 2.2.0, thanks anyway

[2020-02-20 20:28] kevgrig commented on #56
One additional comment is that my renderItem previously used a PureComponent, but with this required View wrapper to add the buttons, I didn't immediately realize why my list rendered more slowly. I had to convert the renderItem to a PureComponent.

[2020-02-21 03:44] jemise111 commented on #420
https://github.com/tudiantuan/TestList/blob/master/ChatList.js#L149

This is your problem, remove this and your changes will work just fine

[2020-02-21 03:44] #420 closed

[2020-02-21 04:06] jemise111 commented on #408
@kopax I don't understand your issue. There are no problems with swipe to delete and using dynamic heights. Just change the outputRange height to be dynamic. I just tried it using this:

[code]

And have no problems at all

![RPReplay-Final1582257548](https://user-images.githubusercontent.com/4265163/75003380-26d55c80-542d-11ea-888f-8a1121ff348a.gif)

[2020-02-21 04:19] kopax commented on #408
By dynamic height, imagine a collapsable list, how do you know the height the content will take in advance for each item?

I was describing the fact that the content will set the height. (not the index)

Using `minHeight`, I am able to animate, but not to `height: 0%`since it's just `minHeight`.

I have tried to play with `onLayout`, try to display and hide the content quickly, I am still looking

[2020-02-21 11:01] benzman81 opened #421 "Delay of about 1.3 seconds for functions onRowDidOpen and onRowDidClose after Animation finished"
**Describe the bug**
The functions for _ onRowDidOpen_ and _onRowDidClose_ have a delay of about 1.3 seconds after animation visually ends. This leads to wring behavior in my code if the user is fast. There is an issue in react native about it here https://github.com/facebook/react-native/issues/20783 . The suggestion is to use _restSpeedThreshold_ and _restDisplacementThreshold_ in _Animated_. I

[2020-02-21 14:01] jemise111 commented on #421
Hey @benzman81 great suggestion! Do you think you could put in a PR for this?

[2020-02-21 17:39] fukhaos commented on #56
I archive this here:
[https://vimeo.com/391505451](https://vimeo.com/391505451)
in 52 seconds.

[2020-02-22 02:06] jemise111 commented on #408
![ezgif com-video-to-gif (4)](https://user-images.githubusercontent.com/4265163/75084411-8abb5c00-54e5-11ea-995c-c968eac9681e.gif)

Here's a way to do it with `onLayout`. This is modified from the swipe to delete example. This is almost certainly not an issue with this library.

[code]

[2020-02-22 02:24] jemise111 commented on #409
Hi @kopax this isn't currently possible but it would be a pretty simple code change. Any chance you could put in a PR for this?

[2020-02-22 14:42] jemise111 commented on #411
@kopax this is not an issue with this library. The `SwipeListView` is just a wrapper around a `FlatList`. Anything you can do with a FlatList you can do here. There are lots of tutorials out there to achieve this affect. Here's one to get you started: https://levelup.gitconnected.com/react-native-firebase-cloud-firestore-implementing-infinite-scroll-lazy-loading-with-flatlist-a9e942cf66c6

[2020-02-22 14:42] #411 closed

[2020-02-22 19:50] jemise111 commented on #410
@kopax This is a recording of your snack. I see absolutely no issues with gesture recognizing, scrolling, locking scrolling, anything like that. I really don't understand this issue..?

![ezgif com-video-to-gif (6)](https://user-images.githubusercontent.com/4265163/75098298-e1727580-5579-11ea-8e7f-6440f3702953.gif)

[2020-02-22 22:44] jemise111 commented on #402
@kopax Thanks for creating the snack. As I had trouble running some of your examples locally, I decided to just redo them myself. They are now broken into different folders under `SwipeListExample/examples` and I have fixed the Snack as well

[2020-02-22 22:44] #402 closed

[2020-02-22 22:45] jemise111 commented on #405
Closing as this is now done

[2020-02-22 22:45] #405 closed

[2020-02-23 08:15] masum-mollik commented on #364
it should be :
[code]

[2020-02-23 21:12] kopax commented on #410
Hi jemise, I believe if you don't see the same issue perhaps you should test on a real devices. let's close this for now. I replaced react native swipe list view with react native gesture handler swipeable. This solved my issue.

[2020-02-23 21:12] #410 closed

[2020-02-23 21:15] jemise111 commented on #410
Sure thing, just FYI this was on real device

[2020-02-26 15:26] benzman81 commented on #421
@jemise111 created a pull request

[2020-02-27 15:28] #421 closed

[2020-02-28 14:16] sadikyalcin opened #424 "Set dynamic open values"
**Describe the bug**
Open values expect a number so we cannot pass a string. Is there anyway we can modify the module to allow a percentage value? This is an issue when a device is rotated. Unless I do a orientation change detection and update the value.

`rightOpenValue={-Dimensions.get('window').width / 2}` => `rightOpenValue={'-50%'}`

**To Reproduce**
Set a fixed number on an open value and ro

[2020-02-28 15:38] jemise111 commented on #424
Hey @sadikyalcin unfortunately if you look through the code of `SwipeRow.js` you'll see that we're doing a good amount of math with the assumption that the `rightOpenValue` and `leftOpenValue` are numbers. It would take a significant rewrite to allow for percentage strings, and even then I'm not sure how it would work.

I would ask that you apply the percentage to the window width like you showed

[2020-02-28 17:09] sadikyalcin commented on #424
Hi Jesse, thanks for that, that has solved my problem.

[2020-02-28 17:34] jemise111 commented on #424
Awesome, glad to hear it

[2020-02-28 17:34] #424 closed

[2020-03-02 11:45] matcwi opened #425 "Props onSwipeGestureEnd"
I don't see any similar issue. Is it possible to use something which is opposite to onSwipeGestureBegan?
I want to call a function after my swipe action (not open).

[2020-03-02 12:07] ramisalem commented on #409
Hello @jemise111 anyupdates for above request

[2020-03-02 12:12] kopax commented on #409
@jemise111 not yet, I will have to have to invest some of my free time, which I am currently investing on another topic. Ping me back in about 4 month and I might have a look then.

[2020-03-02 12:49] ramisalem opened #426 "Way to disable left or right swipe"
Hello thanks for such an awesome library, my app supports the Arabic language which is RTL.
 it would be easy for me if there is a way to disable left or right swipe respectively. when either right or left  swipe is enabled I need to show delete button

I am looking for somthing similar to fowlling screenshots
 when  lyout is RTL
![photo_2020-03-02_18-19-44](https://user-images.githubusercontent.c

[2020-03-02 15:01] jemise111 commented on #425
Hey @matcwi, there are currently props for `onRowClose`, `onRowDidClose`, `onRowOpen`, and `onRowDidOpen`

What would you be looking for in addition to these?

[2020-03-02 15:04] jemise111 commented on #426
Hey @ramisalem this isn't something currently supported out of the box but by changing the style for your delete button and changing things like `rightOpenValue` / `leftOpenValue` depending on if RTL is enabled or not this is definitely achievable

[2020-03-02 15:34] matcwi commented on #425
I want to use this props, when user will start swiping but not open the row - he will drop row and row will be not opened(it will return to previous position) - i want to call my function in this moment.

I am using onSwipeGestureBegan when i start swiping and i want to use onSwipeGestureEnd when user will swipe but drop row and not open it.

[2020-03-02 20:17] NHuebner1983 commented on #426
@jemise111 first off, this is the only swipe system we can get working with Expo - so grats to you on making this possible!

I am also looking to completely disable a drag direction.

[2020-03-02 20:25] jemise111 commented on #426
@NHuebner1983 Is that specific to RTL support?

There are props to disable a swipe direction such as `disableRightSwipe` | `disableLeftSwipe`. Does that solve your issue?

[2020-03-02 20:32] NHuebner1983 commented on #426
That totally did the trick.

[2020-03-02 20:37] jemise111 commented on #426
@NHuebner1983 Excellent!

[2020-03-02 23:29] anthonnyc2 opened #427 "scrollTo method not present?"
Hey guys, I've been trying to scroll to top manually after click a button but unfortunately I haven't had success.

According to my research the key is reference in a right way the SwipeListView. Here is what I got.

[code]
When I do it this way I got this in listRef

{
[code]

and when I use

[code]
the value that I got on listRef is

` {"current": null}`

So, I'm not completely sure if scrollTo

[2020-03-03 09:49] kampretosjr commented on #347
hey @jemise111 i have bug with this issue ,i open the row and try to go to previous screen ,there is an error  "TypeError: Cannot  read Property 'closeRow' of null, js engine: hernes"

[2020-03-03 16:50] jemise111 commented on #347
Hey @kampretosjr I'd need to see some code to help figure out what's going on, thanks!

[2020-03-05 03:41] jemise111 commented on #425
Hey @matcwi I just tested this. The `onRowClose` and `onRowDidClose` props **will** fire even if the row hasn't been opened. So if you have props for `onSwipeGestureBegan`, `onRowOpen`, and `onRowClose`, you should be able to tell exactly what is going on with swiping and each row

[2020-03-05 03:47] jemise111 commented on #427
Hey @anthonnyc2 please use `listViewRef` as the prop instead of `ref` and this should work just fine.

See here: https://github.com/jemise111/react-native-swipe-list-view/blob/master/docs/SwipeListView.md -> "listViewRef"

Thanks!

[2020-03-05 03:47] #427 closed

[2020-03-05 03:54] jemise111 commented on #409
@kopax @ramisalem Oops! This one is totally supported, not sure what I was thinking above. See the prop `"previewOpenValue"` here: https://github.com/jemise111/react-native-swipe-list-view/blob/master/docs/SwipeListView.md

Passing a positive value will preview the row to the left. i.e. `previewOpenValue={100}`

[2020-03-05 03:54] #409 closed

[2020-03-08 18:30] #426 closed

[2020-03-14 03:09] lyair1 commented on #1
Hey @Burak07 you could return "undefined" for the row that you want to disable the swipe for.

e.g.

`renderHiddenItem={(data, rowMap) => data.item.id == 5 ? <HiddenComponent id={data.item.id} /> : undefined}`

hope this helps

[2020-03-16 10:56] lm1073330969 opened #429 "ios上左滑只能出现一点点 不能全部滑出 android正常"
Your issue may already be reported!
Please search on the [issue tracker](../) before creating one.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (please complete the following information):**
 - OS: [e.g. iOS or Android]
 - RNSL

[2020-03-16 11:31] lm1073330969 opened #430 "在iPhone11中不支持左滑的效果"
Your issue may already be reported!
Please search on the [issue tracker](../) before creating one.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (please complete the following information):**
 - OS: [e.g. iOS or Android]
 - RNSL

[2020-03-16 14:14] jemise111 commented on #429
Hey @lm1073330969 can you post some example code of a gif of your issue? It's had to diagnose what is going on without additional context

[2020-03-16 14:15] jemise111 commented on #430
Hey @lm1073330969 can you post some example code of a gif of your issue? It's had to diagnose what is going on without additional context.

Also you can try updating to the latest version of rnslv (2.4.0)

[2020-03-17 08:55] salmanitb opened #431 "need to click 2 times to be able to open another swipe..."
Your issue may already be reported!
Please search on the [issue tracker](../) before creating one.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (please complete the following information):**
 - OS: [e.g. iOS or Android]
 - RNSL

[2020-03-17 08:56] salmanitb commented on #431
` onRowPress(rowMap,rowKey) {
        const rowRef = rowMap[rowKey]
        if (this.rowIsOpen) {
          this.rowIsOpen = false;
          rowRef.closeRow();
        //   console.log(rowMap[rowKey])

        } else {
            this.rowIsOpen = true;
            rowRef.manuallySwipeRow(normalize(-160));

        }
      }
`

[2020-03-17 08:57] salmanitb commented on #431
i use manuallysiperow to open and close swipe.. but need click 2 time to open another swipe

[2020-03-18 05:49] kampretosjr commented on #425
hey @matcwi did you find any solution for this issue yet ? i looking for this feature too

[2020-03-21 16:25] jemise111 commented on #431
Hey @salmanitb, so I think what you're saying is that when you tap on a different row than the currently opened row you have to tap a second time to get that row to open. I think what you're missing is keeping track of both the `rowKey` that was tapped and the previously opened `rowKey`. Here is an abbreviated example of how I was able to get this to work:

[code]

![RPReplay_Final1584806387 MP4](

[2020-03-22 07:28] downtowndev opened #432 "Scrollbar appearing on left instead of far right (iOS)"
**Describe the bug**
The scrollbar shows up near the left side of the screen instead of the far right.

**To Reproduce**
Add enough items to the list so that they don't all appear on the screen, causing the device to show a scrollbar. Observe that the scrollbar is shown to the left instead of the far right.

**Screenshots**
![Scroll list view](https://user-images.githubusercontent.com/54512894/772

[2020-03-22 13:46] jemise111 commented on #432
Hey @downtowndev, this is almost certainly not an issue with this library. There's nothing special happening with the styling of scroll indicators here, as underneath the hood this library just uses a plain FlatList (or SectionList).

e.g. this is from me scrolling in the example from the repo (https://github.com/jemise111/react-native-swipe-list-view/blob/master/SwipeListExample/examples/basic.js

[2020-03-22 16:29] iKrushYou opened #433 "per-row-behavior readme incorrect variable name"
**Describe the bug**
the readme found here: https://github.com/jemise111/react-native-swipe-list-view/blob/master/docs/per-row-behavior.md

contains an issue in the example
[code]

inside of the `renderItem` function, there appears to be an incorrect reference in `data.item.key` as that should be `rowData.item.key` instead as `data` is most likely an array that was passed into the props of the `Sw

[2020-03-22 17:21] iKrushYou opened #434 "Lack of documentation around importance of `key` in data array"
**Describe the bug**
I have spent about an hour now trying to debug as to why I couldn't get the rows to auto-close when touching other rows. And it finally came down to the fact that my data items did not have a `key` property. They did have a `uuid` property, but that wouldn't map for obvious reasons. So, I finally found the solution after digging through the examples and slowly recreating my ow

[2020-03-23 01:11] jemise111 commented on #433
@iKrushYou Any chance you could submit a PR for this one?

[2020-03-23 01:12] jemise111 commented on #434
Hey @iKrushYou, any chance you could submit a PR and add this to the readme?

[2020-03-23 05:02] downtowndev commented on #432
Thanks for the info, I will look into it a bit more. The issue doesn't appear when the app is first opened, it only appears sometimes after switching to a new list. I'm using `react-native-side-menu` which I think may be part of the issue. The scrollbar is drawn near the left of the screen, which is actually the far right *when* the sidemenu is open. I think the list view may calculate the scrollb

[2020-03-23 05:02] #432 closed

[2020-03-25 07:08] Shafran123 commented on #99
Thank You this is wonderful fix

[2020-03-25 14:32] osvald0 commented on #427
Hi, I'm having the same issue right now and listViewRef not solve the problem. HAve you an idea how I can scroll to top? Thanks!

[2020-03-25 14:35] anthonnyc2 commented on #427
Hi @osvald0, here it is what I did.

[code]

[2020-03-25 14:45] osvald0 commented on #427
Hi! Thank for you fast response. How you define _swipeListViewRef?

[2020-03-25 14:48] anthonnyc2 commented on #427
Well, I didn't defined anywhere. I just wrote this line
`listViewRef={ref => this._swipeListViewRef = ref}`
And I was able to use this reference in an OnPress method.

[2020-03-25 14:55] osvald0 commented on #427
I have the issue:  scrollToOffset is not a function :(

[2020-03-25 14:58] osvald0 commented on #427
Here my example code:

[code]

[code]

[code]

[2020-03-25 15:05] anthonnyc2 commented on #427
Ok, this is what I'd do.

1. Do not define swipeListViewRef.
2.
[code]
3.
[code]

[2020-03-25 15:14] osvald0 commented on #427
Weird how It works for you because in my case this is undefined on useEffect.
And then I can't set swipeListViewRef of undefined.

Thanks for your help.

[2020-03-25 18:07] osvald0 commented on #427
Are there any method to scroll to top when the lista data is updated?

[2020-03-25 21:21] proof666 commented on #425
@jemise111,
Sometimes you don’t need to sort through different events. It would not be bad to have an event triggered when you just stop touching the row. This can be useful when other parts of the interface depend on touch (for example, they hide or blur when you touch a row)

just my 2 cents

[2020-03-26 06:49] proof666 commented on #416
@StevenBlack, i think i am done with PR #395, it would be great if you can check it out from https://github.com/proof666/react-native-swipe-list-view master branch before it lands here and provide your feedback.

[2020-03-26 07:01] tacomanator commented on #168
@kopax I ultimately switched to `react-native-gesture-handler` so that I could render swipable rows outside of a FlatList on a screen with several small lists wrapped in a `ScrollView`. I tried using this library first, but the documentation seemed to be out of sync with the API.

The usage and behavior of `react-native-gesture-handler`'s `Swipable` is slightly different, but was easy to implement

[2020-03-26 14:00] salmanitb commented on #431
@jemise111 ty so much.... this library help me so much.

[2020-03-26 14:01] #431 closed

[2020-03-28 14:59] iKrushYou commented on #434
@jemise111 sure thing, just wanted to make sure it was actually a bug

[2020-03-28 21:43] #433 closed

[2020-03-28 22:13] #425 closed

[2020-03-28 22:16] jemise111 commented on #425
@matcwi @kampretosjr @proof666 see #440, this is done, please use prop `swipeGestureEnded`

[2020-03-28 22:28] ivangr1 commented on #427
I am having the same issue.
I can access the SwipeList with ref but `this.swipeList.props` returns only this:
[code]
I don't see any scrollTo() methods on this list, and every scrollTo method I tried accessing returns undefined. I would like to use this:
[code]

[2020-03-28 22:29] jemise111 commented on #427
Hey @osvald0 @ivangr1 it looks like there was an issue with the 2.4.0 release that caused problems with `ref`s.

I just released v2.5.0, please use that and let me know if this fixes your issue, thanks!

[2020-03-28 22:36] ivangr1 commented on #427
This was fast :)

Works great now, thank you!

[2020-03-31 10:46] elirangoshen opened #442 "TypeScript error: Cannot find name 'Omit'"
**Describe the bug**
I notice that you get this error in your index file.. and because of it when i use data in <SwipeListView it not identify it.  i'm using typescript 3.7.3

**To Reproduce**
write data prop in <SwipeListView and see the ts error

**Environment (please complete the following information):**
 - OS: [e.g. iOS or Android] both
 - RNSLV Version: 2.1.3
 - RN Version: 0.61.5

[2020-03-31 10:53] elirangoshen commented on #442
oops my ide issue.. sorry :)
need to select ts version in vs code

[2020-03-31 10:53] #442 closed

[2020-04-01 01:18] #434 closed

[2020-04-02 00:45] ryanvanderpol commented on #338
@jemise111 just FYI, the reason this happened is because this from the example code in the README.  I had the same problem because I just copy/pasted it from there.

[2020-04-04 07:51] aravi365 commented on #254
Onswiping i am popping up an alert, and after confirmation the row needed to be deleted (will be removed from the state as well as an api call). So inorder to do this, i need to get the ids of the corresponding list items. How to get the id of the item when swiped??

[2020-04-04 07:58] aravi365 opened #444 "Get row details when swiping to delete"
I've managed to store the list items data in a state and then pass it to SwipeListView as data={this.state.data} . Everything went ok till the swipe to delete implementation, but the thing is i need to get the id of every item (row) thats swiped so as to make an api call along with removing the item from state. How to achieve this? @jemise111

[2020-04-04 15:19] jemise111 commented on #444
Hey @aravi365 this would be a little easier to answer if I could see some example code but in general the `onSwipeValueChange` function passes you a `key` you can use to find the data of the row being swiped. Here is a modification of the example from https://github.com/jemise111/react-native-swipe-list-view/blob/master/SwipeListExample/examples/swipe_to_delete.js

[code]

And now you have the `ro

[2020-04-05 06:40] aravi365 commented on #444
@jemise111  Cool, thats what i wanted. Can you please make the readme more userfriendly, i feel like getting confused for minute things. Anyways a big thumbs up for this awesome library and your quick assistance. Thanks brother!

[2020-04-05 06:40] #444 closed

[2020-04-05 13:27] jemise111 commented on #444
Any suggestions?

[2020-04-05 20:24] samykolahi opened #445 "Delete on swipe + button"
**Describe the bug**
Hello, I tried to find in the reported issue and your documentation something like that but I could not.
Basically, I am trying to have the functionality in your documentation under the "basic" tab coupled with the "SwipeToDelete" functionality.
I am also quite new to React Native so might be that I just don't have the skill to do it.
I wanted to know if you could help me or g

[2020-04-07 13:20] jemise111 commented on #445
Hey @samykolahi that is a very interesting use case. I'm not sure that would currently be supported with the existing swipe_to_delete examples, however I think you should try out the latest beta version of the library (v3.0.0-rc2) and look at https://github.com/jemise111/react-native-swipe-list-view/blob/master/docs/actions.md

That might help you achieve being able to do both at the same time.

G

[2020-04-08 08:51] aditya-keri-wal commented on #56
I've found a much easier solution.

Just use the React Native Gesture Handler library. Works much better and renders the hidden component correctly even when the list item has a transparent background.

Watch this tutorial : https://www.youtube.com/watch?v=JxN9W9PRlUQ

[2020-04-08 10:02] hoangvv511 opened #446 "Change hidden view position"
Currently when the rendering of the hidden view is below the main view, is there any way to make it follow the main view?

[2020-04-08 12:44] dev7050 commented on #400
Hello @jemise111 , I am building an app that provides multilingual support. On RTL specific the whole UI is changes to RTL but RNSLV swipe direction is not affected which is wrong and also menu options does not appear.
![Screenshot 2020-04-08 at 5 45 40 PM](https://user-images.githubusercontent.com/58287483/78785406-bbd3eb00-79c4-11ea-91b8-9169d9b9355b.png)
![Screenshot 2020-04-08 at 5 46 52 PM](h

[2020-04-08 14:19] jemise111 commented on #400
Hey @dev7050 this isn't supported out of the box. I can try to implement it but in the meantime I don't think it would be too difficult to switch the `rightOpenValue` / `leftOpenValue` when RTL is enabled.

See this thread for an example where I believe someone was able to achieve thishttps://github.com/jemise111/react-native-swipe-list-view/issues/426

[2020-04-08 14:24] jemise111 commented on #446
Hey @hoangvv511 are you looking for this type of behavior? https://github.com/jshanson7/react-native-swipeable

That is not fundamentally how this library is set up. I would give that one a try

[2020-04-08 23:15] danmolitor commented on #427
Hi there, currently having the issue of `scrollTo` being undefined while using useRef in a functional component. Is this not designed to be used in this way? I'm using version `2.5.0`. Here is my code:

[code]

`scrollTo` doesn't appear anywhere when logging out `listRef`, and when logging `scrollTo` out explicitly it comes back as `undefined`.

Thanks!

[2020-04-09 07:40] hoangvv511 commented on #446
@jemise111 The behavior looks like scrollview i guest so, the hidden view will be on the same row
 with main view

[2020-04-09 12:07] samykolahi commented on #445
Hey @jemise111, thanks for the answer, I will give it a try when I have time.
Thanks for the answer & have good day,
Cheers

[2020-04-09 14:33] jemise111 commented on #446
So are you able to use that library instead?

[2020-04-10 10:21] proof666 commented on #407
I also think that the project is very cool and necessary for the community. At one time, I tried all the alternatives and came to the conclusion that this project is the best. Now I don’t have a lot of free time too, but I am with all hands for the development of this project.

Some additional actions that can increase popularity and attract new contributors:
- make the application with examples m

[2020-04-10 20:08] anAnun commented on #94
I solved this annoying issue by adding
swipeToOpenVelocityContribution={86} prop

I too was having trouble sometimes with swiping left/right before adding this

[2020-04-11 08:49] #446 closed

[2020-04-11 09:00] hoangvv511 opened #448 "render hidden item causes flicker"
**Describe the bug**
When I call an api to get a list, I use SwipeListView, but it renders the hidden part first and causes flickering on the first render of an item, see the example below.

**Screenshots**
![20200411_155319](https://user-images.githubusercontent.com/33971551/79039718-6d655d00-7c0d-11ea-8de8-3e32836e94b9.gif)

The blinking green part is the hidden view, is there any way to avoid t

[2020-04-11 19:17] Deboracgs opened #449 "key of rowMap"
I would like to use a different key to rowMap, today is "key", in my case I using id, had any props to set a key name to get rowMap?

[2020-04-13 08:20] JayM96 commented on #366
@elioncho can you please tell me how you managed it? because i also getting the undefined values.

Thanks.

[2020-04-14 14:36] jemise111 commented on #448
Can I see the code you use to render the SwipeList?

This sometimes happens when people use a `TouchableOpacity` for their rows instead of a `TouchableHighlight`

[2020-04-14 14:37] jemise111 commented on #449
I think you are looking for a `keyExtractor`. If you pass this prop to the SwipeListView you don't need to worry about having an explicit `key` for each object in your data:

https://reactnative.dev/docs/flatlist#keyextractor

[2020-04-16 12:33] isThereAnyF-ingNameAvailable opened #451 "SwipeRow cannot render View inside View"
This code shows a problem I'm having with rendering a View inside a View. If I use renderItem1(item) I will get the error depicted below. If I instead use renderItem2(item) it will work fine (it will look horrible but that's not the issue now). br Knut
[code]
![Screenshot_20180313-152640_BLE Central](https://user-images.githubusercontent.com/63792001/79456647-29989c00-7fef-11ea-9210-9e6003548211.j

[2020-04-16 13:07] isThereAnyF-ingNameAvailable commented on #451
oh - adding…
info Fetching system and libraries information...
System:
    OS: Windows 10 10.0.18363
    CPU: (8) x64 Intel(R) Core(TM) i7-8565U CPU @ 1.80GHz
    Memory: 8.66 GB / 15.68 GB
  Binaries:
    Node: 13.7.0 - C:\Program\nodejs\node.EXE
    Yarn: Not Found
    npm: 6.13.6 - C:\Program\nodejs\npm.CMD
    Watchman: Not Found
  SDKs:
    Android SDK:
      API Levels: 28
      Build Tools:

[2020-04-16 17:52] jemise111 commented on #451
Hi @isThereAnyF-ingNameAvailable Please see the docs for SwipeRow here: https://github.com/jemise111/react-native-swipe-list-view/blob/master/docs/SwipeRow.md

You must pass ***exactly*** two children. You cannot pass one top level View.

Please let me know if you have more questions, closing for now..

[2020-04-16 17:52] #451 closed

[2020-04-17 09:23] ghasemikasra39 opened #452 "scrollToIndex working on FlatList but not on SwipeListView"
**Describe the bug**
**scrollToIndex** working on **FlatList** but not on **SwipeListView**

**To Reproduce**
[code]

**Screenshots**
[code]

**Environment (please complete the following information):**
[code]

[2020-04-17 11:31] isThereAnyF-ingNameAvailable commented on #451
Ok, I see this: "Row that is generally used in a <SwipeListView/>. If you are rendering a <SwipeRow/> explicitly you must pass the <SwipeRow/> exactly two children. The first will be rendered behind the second. e.g." So I see now why there was a difference. The problem now is that I'm instantiating SwipeRow via the renderItem function in SwipeListView. SwipeListView solves the rendering of visible

[2020-04-17 16:01] cHaLkdusT opened #453 "SwipeListView useSectionList={true} imports undefined SectionList"
**Describe the bug**
SwipeListView returns null when useSectionList props is `true`

**To Reproduce**
[code]

Sample data:
[code]

**Screenshots**
<img width="638" alt="Screen Shot 2020-04-17 at 23 49 21" src="https://user-images.githubusercontent.com/2569355/79589126-825b5800-8107-11ea-833e-6dd8692b3cbb.png">

**Environment (please complete the following information):**
 - OS: iOS and Android
 -

[2020-04-19 13:09] jemise111 commented on #452
@ghasemikasra39 please use the prop `listViewRef` instead of `ref`

Look for "listViewRef" here: https://github.com/jemise111/react-native-swipe-list-view/blob/master/docs/SwipeListView.md

Thanks!

[2020-04-19 13:09] #452 closed

[2020-04-19 13:12] jemise111 commented on #451
Hey @isThereAnyF-ingNameAvailable, this applies no matter where you use the swipe row, as a standalone or as part of the list view

As for your second request, pull requests are always welcome :)

[2020-04-19 13:20] jemise111 commented on #453
Hi @cHaLkdusT, this is just a problem with the debugger, not the library. If you over over `SectionList` you'll see it is definitely not undefined.

Also in `examples/sectionlist.js` everything is working just fine

![image](https://user-images.githubusercontent.com/4265163/79688838-a0fc4480-8216-11ea-8075-355eb0cfec46.png)

[2020-04-19 13:20] #453 closed

[2020-04-20 15:32] kidasov commented on #445
Faced the same issue long time ago. Unfortunately didn't find anything similar. Made my own example with FlatList https://github.com/kidasov/react-native-swipe-to-delete

[2020-04-20 18:51] doruxan commented on #388
I think I have a problem with this actually.

I'm using rn 0.61.5 and react navigation v5.

when I open a full screen modal with rnv5, and while modal is open, make a request for the items thats placed in SwipeRows, when I come back, I have this yellow warning and I cant swipe theese rows.

[2020-04-22 16:57] Dannark opened #455 "Swipe to Delete item with Redux"
Hey Guys, Whats is up! Awesome job on this lib, I'm in love with it. I just need some help, i might be doing something wrong here.

**Describe the bug**
So, when I swipe the last item of the list, it seems to works fine all the animation. But if I swipe any others items on the list, the next item gets deleted instead of the one i choose! But if i re-open this screen, everthing is okay, so it is pr

[2020-04-23 00:16] Dannark commented on #455
I just figured it out. It was actualy the index of the array that changes when I remove the item. So if i have the array:

by removing the item **2**, the item **3** and **4** now becomes **2** and **3**... So i changed the `keyExtractor `to use a random Id instead a sequential, then i can later search the key on the list and find the index of it.

[2020-04-23 00:16] #455 closed

[2020-04-23 00:23] Dannark commented on #449
Like @jemise111 said, just use keyExtractor if you would like, See how i used in my app:

[code]

My data looks something like:
[code]

[2020-04-23 16:57] jriverarubia opened #456 "backRow do not increase height when frontRow does"
**Describe the bug**
I have a row with a text and an icon next to the text that when the icon appears the text shrink making breaking the text into two lines. I need to know if it is possible to update the back row when the front row updates to the new height.

It also happens on the other way. If I have the front row with the text of two line and it changes to one line, it can be seen at the bott

[2020-04-23 17:20] jemise111 commented on #456
Hey @jriverarubia can you try adding this to your SwipeListView component

[code]

and LMK if that fixes?

[2020-04-23 17:58] jriverarubia commented on #456
It works perfectly fine! Sorry,  It was my mistake I didnt see this property. Thanks you very much!!

[2020-04-23 17:58] #456 closed

[2020-04-26 14:22] jemise111 commented on #412
Fixed by #454

[2020-04-26 14:22] #412 closed

[2020-04-28 06:38] sshenoy700 opened #458 "leftActivationValue along with onLeftActionStatusChange are not working"
When i set leftActivationValue, and swipe to that value, onLeftActionStatusChange is not firing. Please check this.

[2020-04-30 18:45] PrescottJRynewicz opened #459 "Add `SwipeRow.isOpen` type"
# Add `SwipeRow.isOpen` type.

Quick one for you (love the library btw). Was hoping to add a type for the `isOpen` class value on `SwipeRow`.

[code]

Thanks!

[2020-05-01 10:42] espadon54 commented on #255
I am trying to turn off the preview as well but this is not working with the module 3.0.0

[2020-05-01 10:53] espadon54 opened #460 "Turn preview off"
Hi, I have looked at other issues and tried to turn off the row preview. I am using the 3.0.0 release with react-native@0.62.2.

Tried to pass previewRowKey to false, to play with previewDuration and previewOpenDelay values. But unfortunately the preview is always display when I press a row (tested on IOS only for now).

What is the proper way to disable the preview?

Thanks for your help.

[2020-05-01 13:15] Hirbod opened #461 "nativeDriver issues with Release 3.0.0"
After upgrading to 3.0.0, I get "Style property 'height' is not supported by native animated module".

I've set useNativeDriver to false on my interpolation, but now it complains "Attempting to run JS driven animation node that has been moved to "native" earlier.

Then I've seen that you've added "useNativeDriver" to SwipeListView in your Readme, but useNativeDriver isn't even exported and Typescr

[2020-05-01 13:26] Hirbod commented on #461
<img width="699" alt="Bildschirmfoto 2020-05-01 um 15 25 55" src="https://user-images.githubusercontent.com/504909/80808544-145f6800-8bc0-11ea-86fc-d50ffc445108.png">

Looks like it is actually working but reporting like its not existing. I had a useNativeDriver for my renderHiddenItem, fixed it, not its working.

[2020-05-01 23:39] skylerrichter commented on #458
I think you need to update to version 3.0.0.

[2020-05-02 19:25] jemise111 commented on #460
Hi @espadon54 I'm trying this in my own app and not seeing the same behavior. If I remove all "preview" related props the row never opens until I swipe. Can I see the code you're using? An example video would be super helpful too, thanks!

[2020-05-02 19:43] jemise111 commented on #461
Hey @Hirbod just to be clear, this is solely a typescript compiler warning issue now?

Also, I don't use Typescript often. It would be super helpful if you could tell me how to repro this locally and I can attempt to fix, thanks!

[2020-05-02 19:51] jemise111 commented on #459
Hey @PrescottJRynewicz turns out I already had the property set up, just had to add it to types!

[2020-05-02 19:51] #459 closed

[2020-05-02 20:10] Hirbod commented on #461
@jemise111 yes it is a Typescript warning - nothing more. I’m also pretty new into TypeScript but it looks like something is not exported correctly since it’s the only prop my compiler yells at.

At the end, the internals indeed did change since you’ve added the native driver but I was able to fix it since I am using a height animation which isn’t supported by native. My renderHiddenItem had an „r

[2020-05-02 22:56] SmritiSYadav opened #463 "Swipe gesture getting disabled for few minutes in android."
In android, whenever I land to the screen swipe gesture is disabled for few minutes and getting this error even though I hardly have 25-30 items in my sectionlist.

**Error:** _"VirtualizedList: You have a large list that is slow to update - make sure your renderItem function renders components that follow React performance best practices like PureComponent, shouldComponentUpdate, etc."._

[2020-05-03 07:07] espadon54 commented on #460
Hi, thanks, this is how I use it.

`<SwipeListView
  data={Object.values(rooms).filter(room => room &&
  room.name.toLowerCase().includes(search.toLowerCase()))}
   renderItem={(data, rowMap) => this.renderItem(data)}
  renderHiddenItem={ (data, rowMap) => this.renderHiddenItem(data)}
  rightOpenValue={-75}
  stopLeftSwipe={0}
/>`

[2020-05-03 13:53] #461 closed

[2020-05-03 13:53] jemise111 commented on #461
Ok I think I was also missing `useNativeDriver` in SwipeListView props in the types file, should be fixed now, thanks!

[2020-05-03 13:54] jemise111 commented on #458
@sshenoy700 Can you list the version you are using?

[2020-05-03 13:58] jemise111 commented on #460
@espadon54 Hm there's really no reason that should run a preview at all. If it's possible can you debug a little more by adding some breakpoints and see if this block of code is running?

https://github.com/jemise111/react-native-swipe-list-view/blob/master/components/SwipeRow.js#L238

[2020-05-03 14:02] jemise111 commented on #463
Hey @SmritiSYadav sorry but this is certainly not an issue with this library (since there is just a basic SectionList underneath it all). This is a warning being thrown by react native itself. There's a doc here that has some strategies for fixing rendering problems, perhaps your SectionList is re-rendering too often? I would try to use some optimization tips here and get that warning to go away:

[2020-05-03 14:02] #463 closed

[2020-05-07 13:12] ghmendonca opened #465 "Close all rows"
Hi, I need to close all rows at the same time, but looking the source code, I couldn't find a way to do this.

I think it could be a function called closeAll that lives inside SwipeListView, or a way to access each list item ref to call the closeRow function.

[2020-05-07 14:14] jemise111 commented on #465
Hi @ghmendonca I provided a way to do this in this issue: https://github.com/jemise111/react-native-swipe-list-view/issues/242

If this doesn't solve your problem please re-open and let me know, thanks!

[2020-05-07 14:28] ghmendonca commented on #465
@jemise111 it doesn't work in my case. In my case I'm passing a custom component which renders the SwipeRow, so all the functions and props passed in the list view doesn't work, since these functions are called by the SwipeRow component.

Here's my code:
[code]

And my ListItem:
[code]

Wouldn't be better if you keep tracking the list items refs inside the list view component? So I could just use

[2020-05-07 15:01] jemise111 commented on #465
@ghmendonca hm well you can still pass the refs from the SwipeRow up to your custom component.

I will try to implement this feature over the weekend, but in the meantime I think this is still achievable

[2020-05-07 15:16] ghmendonca commented on #465
Awesome! I'll implement passing the refs up while you don't release this feature.

Thanks man :)

[2020-05-08 13:49] #400 closed

[2020-05-13 12:37] jemise111 commented on #465
@ghmendonca done! This was fixed by #466

Grab a ref to the SwipeListView and call `closeAllOpenRows()` on it

LMK if you have questions

![RPReplay_Final1589372580 MP4](https://user-images.githubusercontent.com/4265163/81812945-738c7900-94ec-11ea-8a7a-55f1a591ef20.gif)

[2020-05-13 12:37] #465 closed

[2020-05-16 03:47] amitava82 commented on #448
I'm seeing this as well when moving in/out of view.
Here is renderItem:
[code]
And `ListItem` is using `TouchableHighlight`

[2020-05-22 18:34] imsam67 opened #467 "safeCloseOpenRow() is only working on the last item"
Once the user swipes to the right or left and clicks the button there, I call a function to make API calls and handle a few things. This is where I also try to close the row programmatically. This is working ONLY for the last item in the list. Anything above it, the row stays open.

I do hit my `handleClickUpdateItemStatus()` function and the API call works fine but as I said, only the last item i

[2020-05-23 04:48] masum-mollik opened #468 "useNativeDriver : true doesn't work in onScroll Animated.event()"
At first, thanks for your awesome library. But, this was good until I used the ` { useNativeDriver: true }` in the Animated.event and generate the following error:
[code]

![index](https://user-images.githubusercontent.com/42398581/82721516-8585cd00-9cdf-11ea-862a-30b5b785c6b1.jpg)

As I can't use NativeDriver, my animation in the header is missing frames. I'm waiting for your response. Thank you

[2020-05-23 13:29] jemise111 commented on #468
Hey @masum-mollik looks like you just misspelled the prop name. It's `useAnimatedList`, not `useAnimateList`

[2020-05-23 13:29] #468 closed

[2020-05-23 13:32] jemise111 commented on #467
Hey @imsam67, `safeCloseOpenRow` would only be useful if you only have one row opened at a time. I'm guessing based on what you said that you have multiple rows open and are trying to close them all at the same time..?

If so, you're in luck! I released a PR recently that exposes a new function called `closeAllOpenRows`

Make sure you update to the latest version and change

[code]

to

[code]

An

[2020-05-23 13:32] #467 closed

[2020-05-23 17:47] imsam67 commented on #467
@jemise111 Thank you for your response. I wasn't really trying to close all open rows but only the one the user has opened. Nevertheless, I thought it's actually a good idea to close all open rows anyway so I tried the `this._swipeListView.closeAllOpenRows();` method but that's not working either.

Interestingly, I'm getting the same exact behavior i.e. if I happen to swipe open the very last item

[2020-05-23 17:50] jemise111 commented on #467
That's definitely the right version. Based on what you're describing this sounds like an issue with the each row's `key`. How are you defining the `key` for the row or the `keyExtractor` for the List? Can I see an example of that?

[2020-05-23 18:17] imsam67 commented on #467
You were absolutely RIGHT! I had omitted the `keyExtractor`. Just added it and it works beautifully! Thank you so much for your help!

[2020-05-23 18:18] jemise111 commented on #467
@imsam67 glad to hear it! anytime :)

[2020-05-25 00:42] jasonwadsworth commented on #399
I'm having a similar problem. I'm not using `TouchableOpacity`, I'm using `TouchableHighlight`. When I swipe the `onPress` for the `Touchable` is firing.

[2020-05-25 16:45] odogono commented on #399
I experienced this - it turned out I was importing TouchableHighlight/TouchableOpacity from react-native-gesture-handler. Importing from 'react-native' solved it.

[2020-05-27 11:19] RayRojasGit opened #470 "How to prevent text from leaving the screen when swiping to delete?"
Hello when I swipe left to delete an item, the texts in my case are one word so they leave the screen, I would like to prevent that, is it possible to achieve the behavior? Thanks!

[2020-05-27 14:07] jemise111 commented on #470
Hi @RayRojasGit I'm not sure I understand the question, can you elaborate a bit please? Thanks

[2020-05-27 19:55] RayRojasGit commented on #470
Sure, I have a list of items. The delete behavior works fantastic. When you do the gesture to delete the item, you have to swipe to the left. What happens is that the contents inside my row for example a text like 'Cats', moves to the left too. They end up disappearing from the screen, just visually, then the delete button is shown, and I'm left with a blank row or the half of a word. I would like

[2020-05-28 15:04] jemise111 commented on #470
Hey @RayRojasGit, if I"m understanding you correctly I don't think that is really possible with this library. All of the animating and gesture handling happens on the topmost container for the row. You would need to absolutely position your text on top of that parent container but I don't think it would play well with this library :(

I'll keep trying to think of a way to make this work

[2020-05-28 15:09] RayRojasGit commented on #470
Alright thank you very much for the feedback (;. Best wishes.

[2020-05-28 20:17] ccannell opened #471 "How to preserve list scroll position"
First off. Great library. Thank you for taking the time to develop and maintain it!

When I change the state with `useState` the component renders again and the list looses its scrolled position. Is there a way to preserve its scroll position?

[2020-05-28 20:28] jemise111 commented on #471
Hey @ccannell I can almost guarantee this isn't an issue with this library. If you look at the examples in this repo you'll notice I use the `useState` hook to update state when a row is deleted and it definitely does not change the scroll position whatsoever.

e.g. https://github.com/jemise111/react-native-swipe-list-view/blob/master/SwipeListExample/examples/basic.js#L13

If you want to post mor

[2020-05-28 20:48] ccannell commented on #471
Here is the [code](https://github.com/connect-our-kids/mobile-app/blob/master/src/screens/RelationshipScreen.tsx#L735) in question.

Note. I'm using Redux connect as well.

I am trying to implement a scroll to top button that only appears when the list view is scrolled away from the top. I call [setIsScrolling](https://github.com/connect-our-kids/mobile-app/blob/master/src/screens/RelationshipScre

[2020-05-29 01:52] jemise111 commented on #471
Hey @ccannell very strange that you're seeing this behavior. I set up an example as close to your component as possible and this is what I came up with and it seems to be working just fine.

I'm not sure how to help from here.. maybe look through and try to find differences in your code and this code below. Maybe show me a recording and that might help..?

![SwipeScrollTop MP4](https://user-images

[2020-05-29 01:53] jemise111 commented on #471
@ccannell Okay one other thing I did notice is that you have two different SwipeListViews depending on which tab you're on. Is it possible you're losing scroll position because the tabs are changing? Maybe something about the using the same ref to track both SwipeListViews is causing problems? Again, a recording of the issue might help

[2020-05-29 15:20] ccannell commented on #471
@jemise111 Thank you for the help. I tested again and it IS working. I'm using expo and hot reloading. I suspect the app was in a weird state. When I ran it again fresh it worked as it should. Thank you very much for the help.

[2020-05-29 15:20] #471 closed

[2020-05-29 15:28] jemise111 commented on #471
Ah gotcha, yeah I find HMR Is really great for tweaking styles. But for changes in functionality it can get wonky. Glad it's working now.

Also @ccannell  complete side note but after you linked your codebase I was looking around the Connect Our Kids website and noticed there's a section for Technology Volunteers. If you have the time I'd love to hear more about that if you're looking for more vol

[2020-05-29 15:44] ccannell opened #472 "Missing type for scrollToOffset on SwipeListView"
**Describe the bug**
Typescript error: Property `scrollToOffset` does not exist on type `SwipeListView<MyType>` where the object is the `ref` parameter in the `listViewRef` function.

[code]

**Environment:**
 - OS: Mac using Expo, testing on iOS simulator
 - RNSLV Version: 3.1.0
 - RN Version: 0.61

[2020-05-30 12:17] m-ruhl opened #473 "Swipe problems in Modal [iOS 13]"
Hello 👋

**Describe the bug**
If we use the swipe-list in a modal VC (iOS 13) we cannot swipe completely to the right.

![swipe](https://user-images.githubusercontent.com/867772/83327882-8d191900-a27f-11ea-8d5f-27838415934a.gif)

We are using React-Native-Navigation 6.7.1

[code]

**Environment (please complete the following information):**
 - OS: iOS 13
 - RNSLV Version: 3.1.0
 - RN Version: 0.61

[2020-05-31 21:57] jemise111 commented on #473
Hey @m-ruhl, there are a lot of reported problems with interoperability between this library and react-navigation. Because of all the swipe gestures to navigate their library will often become the first responder when a user starts a gesture and I'm not sure if they allow you to override that? A quick search of the docs didn't reveal anything but maybe I missed something.. ?  Sorry it's not a bett

[2020-05-31 22:36] jemise111 commented on #472
@ccannell I don't use typescript often, I'm not exactly sure how to fix this one. AFAIK SwipeListView should be extending FlatListProps which should contain the `scrollToOffset` function, no? Any suggestions would be awesome

https://github.com/jemise111/react-native-swipe-list-view/blob/master/types/index.d.ts#L503

[2020-06-02 09:59] alexco2 opened #474 "Deleting over Action slower than onSwipeValueChange"
Hello,
first of all thank you for this amazing work!
I´m using a swipetodelete behaviour in my list and recently switched to deleting with actions, like in the actions example. Before that I used the method shown in the swipe_to_delete example. The delay in time it takes to start the Animation is in the actions example (rightActionState) higher than in the swipe_to_delete example (swipeData). This

[2020-06-02 15:11] jemise111 commented on #474
Hey @alexco2, I definitely see what you mean. I think what's going on here is that in the swipe_to_delete example you have direct control over when to trigger the delete animation because you are tracking the swipe value yourself.

In the actions example I believe you wait for one full render cycle before the action is triggered. Which might be the delay you are seeing. Actions already works by tr

[2020-06-02 15:55] alexco2 commented on #474
Thank you @jemise111 for your answer! Before I controlled every posible swipe interaction in a huge onSwipeValueChange function. Now the logic is outsourced into each ListItem component, which is defently easier for the eyes ;) It would be amazing if there would be a way to combine a fast animation response and actions :)

[2020-06-02 16:06] jemise111 commented on #474
Yeah I think that's sort of the tradeoff between direct tracking of the translate value and more complex code vs letting the library handle the tracking but waiting longer for the trigger. I'll see if there's anything I can do to combine them though..

[2020-06-02 16:15] alexco2 commented on #474
Do you think a acceptable solution might be tracking both? Conrolling/starting the animation by tracking directly through onswipevaluechange and still handle the rest of the logik (what to do with the data that was swiped) with actions? Or would that be an unnessecary performance loss?

[2020-06-02 16:22] jemise111 commented on #474
Hm.. TBH I think the best thing you can do is implement whatever you think is best and then do some performance testing and see how it feels. I try to stick to the motto of not implementing performance enhancing solutions until they are necessary

However I will say that actions will add an additional listener to the translate value (https://github.com/jemise111/react-native-swipe-list-view/blob/m

[2020-06-04 07:13] marioklaver opened #475 "Crash in SectionList"
Your issue may already be reported!
Please search on the [issue tracker](https://github.com/jemise111/react-native-swipe-list-view/issues) before creating one.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (please complete the f

[2020-06-04 07:19] marioklaver commented on #475
**Describe the bug**
Create a SectionList view with a couple of sections and sticky header. Number of listitems must be large enough to not fit the entire screen. Scroll down to the last item. When you delete this item the following error is shown (in xcode):

2020-06-04 09:08:41.259 [info][tid:main][RNGestureHandlerManager.m:136] [GESTURE HANDLER] Initialize gesture handler for root view <RCTRoot

[2020-06-04 13:11] tperich commented on #427
Same problem as @danmolitor and others before the update. Any news?

[2020-06-04 14:34] jemise111 commented on #475
Hey @marioklaver this is not happening to me. Can you please post some example code with how you're using the SwipeListView?

[2020-06-04 18:06] paulmasek commented on #475
Also happening for me. `onContentSizeChange` in `components/SwipeListView.js` is causing the bug I believe. The `useSectionList` prop just needs to be set to true for this to happen.

[2020-06-04 19:22] marioklaver commented on #475
Hi @jemise111 thanks for your quick response.

I created a clean react native project:
https://github.com/marioklaver/SwipeListView

Look at:
https://github.com/marioklaver/SwipeListView/blob/master/App.tsx

If you start the application and scroll all the way to Item 12 and try to delete that one, you can reproduce the error

Maybe this has something to do with rn 0.62.0 version, because I know th

[2020-06-04 19:55] marioklaver commented on #475
@paulmasek you are right, Paul. If I remove the useSectionList, the app doesn't crash.

[2020-06-05 14:42] #475 closed

[2020-06-05 14:45] jemise111 commented on #475
@marioklaver Thank you for that example repo! So few people are willing to do that and it is immensely helpful.

This should now be fixed in version v3.1.1

Please verify that is the case, otherwise I'll reopen this issue

[2020-06-05 19:48] marioklaver commented on #475
@jemise111 np that's the least I could do.

Thanks for fixing this so quick!
I can confirm that it works like a charm.

Regards

[2020-06-08 11:47] BlindDev opened #477 "Different open values for different rows"
Hi. Thank for this library. Great Job!

I wonder if I can specify different open values for swiping.

In my project in the swipe list I may have rows that should have different amount of actions:
1. one action on the right side and one on the left
2. one acton only on the right side
3. one action on the right, two actions on the left

So I need to somehow specify different leftOpenValue, stopLeftS

[2020-06-08 11:56] BlindDev commented on #477
Oh, sorry, my bad, I've found how to do that.

[2020-06-08 11:56] #477 closed

[2020-06-11 16:05] giale1234 opened #478 "close SwipeRow without using SwipeListView"
Because I render item in agenda in calendar library so that it is impossible for me to render item SwipeListView. So how can open SwiperRow be closed when another SwiperRow is opened without rowMap[ ] (without using SwipeListView) .

export default class Swipe extends Component {
  constructor(props){
    super(props);
    this.openRowRefs = [];
  }
  render() {
    const Swipe_Row = () => {

[2020-06-13 10:08] nenjamin2405 commented on #145
@VitaliiK91 Many thanks for your solution, I'm having the same issue just like you using react-native-navigation

[2020-06-14 16:55] jemise111 commented on #478
Hey @giale1234 here's a quick example for you I wrote up. Please LMK if you have any questions:

![Standalone MP4](https://user-images.githubusercontent.com/4265163/84599187-c9c74180-ae35-11ea-80d1-395a9dd870e6.gif)

[code]

[2020-06-14 16:55] #478 closed

[2020-06-15 03:22] rickysullivan commented on #388
Getting the same issue here during dev mode, I think that in prod mode it's crashing my app.

[2020-06-15 14:13] olegbraginmmc opened #479 "Prevent preview from repeat after re-render"
Your issue may already be reported!
Please search on the [issue tracker](https://github.com/jemise111/react-native-swipe-list-view/issues) before creating one.

**Describe the bug**
Use the SwipeRow component standalone. Set the preview as `true` and previewRepeat as `false`. After any re-render caused my a parent view the preview is shown again.

**Environment (please complete the following infor

[2020-06-15 14:41] jemise111 commented on #479
Hey @olegbraginmmc do you have some example code you can show me that would reproduce this behavior? Thanks!

[2020-06-16 17:58] tylercote commented on #427
Same here. I think the problem may have resurfaced.

[2020-06-19 15:16] sadikyalcin commented on #427
Have this issue on `3.0.1`.

[2020-06-20 14:40] jemise111 commented on #427
@danmolitor @tperich @tylercote @sadikyalcin Hi guys - the issue with trying to make this work with `useRef` and `React.createRef` is different than the original issue. I've just pushed a fix and it should be working now in version v3.1.2

Since you are not trying to get a ref to the `SwipeListView` but rather the underlying `ListView` I'm not really sure the best practice for that situation. I ju

[2020-06-20 15:24] tylercote commented on #427
Hey thanks for implementing a fix so quickly.  Something to note for someone else who might be running into the same problem as me, the only method present on a SectionList is scrollToLocation (not the other scrollToX functions).

[2020-06-20 22:58] sadikyalcin commented on #427
Hi @jemise111, thanks for your effort. Unfortunately, it still doesn't work for me. I have a class approach - not using hooks;

    constructor() {
        super();
        this.flatListRef = React.createRef();
    }

    someFunc = () => {
        //console.log('@ref: ', this.flatListRef.current);
        // none of the scroll methods are there
    };

    ...
    <SwipeListView  ref={this.flatLi

[2020-06-20 23:08] jemise111 commented on #427
@sadikyalcin

Your render function should look like

[code]

instead of

[code]

The `ref` will give a ref to the SwipeListView. The `listViewRef` will give. ref to the underlying listview

[2020-06-20 23:14] sadikyalcin commented on #427
Funny enough but I was using `listViewRef`. At what point I changed it to `ref` I don't remember. Any who, it's perfect now. Working. Thank you.

[2020-06-25 11:44] mikeslinkman opened #481 "Swipe to delete locks vertical movement of the Swipelistview"
**Describe the bug**
Swiping and then deleting the element from the list seems the vertical movement from the list until another row is swiped. So it seems the movement stays locked until another row is swiped (even if it is just a little).

**To Reproduce**
- Construct a list of elements
- Swipe to delete an item from the data array (redux controlled list)
- try to scroll vertically **(Now it doe

[2020-06-26 16:10] jemise111 commented on #481
Hey @mikeslinkman would you be able to post some code or better yet a reproducible example I could play with? Everything is working fine in my own examples so I need to see what you're doing differently, thanks!

[2020-06-27 00:56] Tiagopt3 commented on #449
Use this:

[code]
**id = unique key of ur object**

My data looks something like:

[code]

[2020-06-29 07:05] mikeslinkman commented on #481
Hi,

Hopefully I get some time later to work on a reproducible example but for now I'll post the code.

[code]
The data variable is a redux controlled data array.

[code]

[code]

[code]

[2020-06-29 14:31] jemise111 commented on #481
@mikeslinkman I don't see anything obvious that would cause this to not work. If you want a working example of using `onSwipeValueChange` to handle deleting rows (I just double checked) you can check out this file and see if there's something in there that looks different from what you're doing https://github.com/jemise111/react-native-swipe-list-view/blob/master/SwipeListExample/examples/swipe_to

[2020-06-29 15:29] mikeslinkman commented on #481
Hi,

Thanks for getting back to me. As far as I can tell not too much is different except for the handling of the actual deleting, since I'm using redux. I'll add the relevant portion of the handleChange which only exclude some calls to delete actual content from the device.

[code]

I only tried removing the animation running part of the code from the if check but re-adding it doesn't result in t

[2020-06-29 18:52] jemise111 commented on #481
Okay I think I get what's going on now. Usually when the row finishes swiping but before it is removed it will trigger a function to re-enable scrolling on the parent ListView. However in your case I think your redux action is removing the row before the animation actually finishes. Can I ask you to try to manually re-enable scrolling and see if that fixes it. Here's an example:

[code]

[code]

W

[2020-06-29 19:44] mikeslinkman commented on #481
I'm not near my computer so I'll try it tomorrow. Thanks for the help so
far and I'll get back when I've tried it.

On Mon, Jun 29, 2020, 20:53 Jesse Sessler <notifications@github.com> wrote:

[2020-06-30 07:45] mikeslinkman commented on #481
Hi

Just getting back now after I've tried your solution to identify the problem. Doing the above mentioned I was able to solve the issue for both iOS and Android. Although there might be better solutions (don't know one yet) this feels perfectly fine for now. So as far as I'm concerned this issue can be seen as closed

[2020-06-30 07:45] #481 closed

[2020-06-30 14:20] jemise111 commented on #481
Awesome! One way you could achieve this wouldn't manually re-enabling scrolling is to allow the animation to fully finish before you dispatch your setOnDeviceRoutes action.. just a thought.

Glad it's solved

[2020-06-30 14:31] mikeslinkman commented on #481
After I had my morning coffee I also got to that solution and I think that would make more sense. Thanks for the support helped me a lot!

[2020-07-03 00:06] yu-221 opened #482 ""Animated: 'useNativeDriver' was not specified" in swipe_to_delete example."
The "swipe_to_delete" example gives a warning message, so I propose the fix like this just for the better developer's experience.

https://github.com/jemise111/react-native-swipe-list-view/blob/4a701757398dc26a4c888555860df4a7287d7282/SwipeListExample/examples/swipe_to_delete.js#L34-L37

[code]

[2020-07-03 02:01] minhthien309 opened #483 "Add bottom button for loading more record"
Hello everybody, i'm create a list with button to load more record in bottom of list, but i see this component was not supported this. I wonder how i can do it?

[2020-07-03 14:25] filipe-valente commented on #483
Hello. SwipeListView supports FlatList so you can use FlatList props.
In your case, you can use ListFooterComponent to render a "Load more" button that will fetch more data. Then all you have to do is concat the new data to the state like this for example (will depend on the data structure so don't take this literally):
`setData(prevValue => ([...prevValue, ...newData]));`

[2020-07-04 02:59] minhthien309 commented on #483
Thank you very much

[2020-07-04 13:21] jemise111 commented on #482
Thank you, sounds great! Would you like to submit a PR for this?

[2020-07-04 17:22] jemise111 commented on #474
If it's cool with you @alexco2 I'm going to close this one, but if you think more work should be done here feel free to reopen, thanks!

[2020-07-04 17:22] #474 closed

[2020-07-04 17:23] jemise111 commented on #483
Hey @minhthien309, @filipe-valente is absolutely right. This library is just a wrapper around a plain `FlatList` (or `SectionList`), anything you can do with those lists you can do with this library. I'm going to close this, but if you need example code or anything LMK

[2020-07-04 17:23] #483 closed

[2020-07-04 17:25] jemise111 commented on #449
The above solutions should definitely be working, if not please re-open, thanks!

[2020-07-04 17:25] #449 closed

[2020-07-04 17:26] jemise111 commented on #458
Assuming this was just a versioning issue, please feel free to re-open if that's not the case, thanks!

[2020-07-04 17:26] #458 closed

[2020-07-04 17:28] #430 closed

[2020-07-04 17:28] #429 closed

[2020-07-04 17:28] jemise111 commented on #415
Closing but please re-open if more work needs to be done here, thanks!

[2020-07-04 17:28] #415 closed

[2020-07-04 17:32] jemise111 commented on #408
This was answered, please re-open if more work was needed here, thanks!

[2020-07-04 17:32] #408 closed

[2020-07-04 17:34] jemise111 commented on #482
@yu-221 nevermind, just took care of this one in v3.1.3

[2020-07-04 17:34] #482 closed

[2020-07-07 07:31] Traced opened #484 "Invariant Violation: ListView has been removed."
Invariant Violation: ListView has been removed from React Native. See https://fb.me/nolistview for more information or use `deprecated-react-native-listview`.

pleach help me, how can fix?

[2020-07-07 14:20] jemise111 commented on #484
Hi @Traced are you using the latest version of this library? There shouldn't be any more traces of `ListView`

[2020-07-07 15:30] sarnakov commented on #94
If you use SwipeRow without SwipeListView, and you have Class component, you should wrap you component to add hook.

`class MyScreen extends Component {
...
}

function listScrollWrapper(initialValue = true) {
  const [scrollEnabled, setScroll] = useState(initialValue);
  return [scrollEnabled, setScroll];
}
function ScreenWithListScrollWrapper(Component) {
  return function(props) {
    const [sc

[2020-07-14 14:25] damian-balas opened #486 "Is there a way to open/close all rows?"
# Toggle row open state
Hello :)
Is there a way to open all rows and then close them? I want to create something like a toggle button.

I've found: **closeAllOpenRows()**, but I didn't see anything related to opening all rows.

[2020-07-16 13:43] valsan opened #487 "swipeGestureEnded doesn't pass arguments to its function"
**Describe the bug**
Hi, I'm trying to get swipe values inside swipeGestureEnded. The code:
[code]

I expected the log to print an object
`{ rowKey: string; data: { translateX: number; direction: 'left' | 'right'; event: GestureResponderEvent; gestureState: PanResponderGestureState; } }`

**Environment (please complete the following information):**
 - OS: iOS and Android
 - RNSLV Version: v3.1.3

[2020-07-16 18:18] halfmatthalfcat opened #488 "Can't resolve 'react-native-web/dist/exports/ViewPropTypes' w/ RNW 0.13.x"
**Describe the bug**
A clear and concise description of what the bug is.

It looks like the solution is to remove ViewPropTypes entirely and just use PropTypes.

**To Reproduce**
Steps to reproduce the behavior:

- Install RNW 0.13.x
- Install RNSWV at latest version
- Run expo web

**Screenshots**

<img width="1537" alt="Screen Shot 2020-07-16 at 2 16 12 PM" src="https://user-images.githubusercon

[2020-07-18 14:17] #488 closed

[2020-07-18 17:04] jemise111 commented on #487
Hey @valsan I think you misread the docs for that func, there are actually two args passed to the `swipeGestureEnded` prop. Change your code to this and you should be good to go:

[code]

[2020-07-18 17:04] #487 closed

[2020-07-18 17:13] #486 closed

[2020-07-18 17:18] jemise111 commented on #486
Hey @damian-balas this is an interesting one.. opening all rows is a little trickier. Much of the appeal of this lib is that it handles all of the closing of rows while other ones are being opened, the list is being scrolled, etc. Opening all rows sort of breaks this behavior. I've gone ahead and added another instance function called `manuallyOpenAllRows` to `SwipeListView` that accepts a `transl

[2020-07-19 02:29] perfecten commented on #388
I have the same issue

[2020-07-20 05:49] GwFreak01 commented on #486
Hey @jemise111 , thanks for implementing this specific feature!! 🙏

In the `SwipeListView` nodule module, I see the method implemented, but I'm having issues getting `manuallyOpenAllRows` be recognized as a method even though I'm passing in the `swipeListRef` variable.

Not sure if you have any ideas on what I should check.

[2020-07-20 06:09] kapilwhaval commented on #201
rowMap[rowData.item.key] gives undefined because there is no any property called "key" in your item object.
You can use rowMap[rowData.item.id] instead as my item object consist of unique "id" in it.
Worked for me.

[2020-07-20 12:10] jungleyu opened #491 "Incorrect height after orientation change."
**Describe the bug**
Change orientation from portrait to landscape, then switch back, the multiple line text item's height is incorrect.

**Screenshots**
<img width="327" alt="Screen Shot 2020-07-20 at 20 08 48" src="https://user-images.githubusercontent.com/6914315/87936186-fc172f00-cac4-11ea-99ff-90ce5e7fea11.png">
<img width="716" alt="Screen Shot 2020-07-20 at 20 09 01" src="https://user-image

[2020-07-20 14:09] jemise111 commented on #491
@jungleyu have you tried passing `recalculateHiddenLayout={true}` to the `SwipeListView`?

[2020-07-20 23:16] GwFreak01 commented on #486
[code]

I tried removing unnecessary code so its a bit more legible.

I'm on React 16.11 and ReactNative .62.2

[2020-07-21 02:19] jemise111 commented on #486
@GwFreak01 Hm I don't see anything wrong with your code. What's the error you're seeing?

Are you sure you have the latest version of `react-native-swipe-list-view`(v3.2.3)

If you could, go into your `node_modules/react-native-swipe-list-view/components/SwipeListView.js` and make sure you're seeing the right code - https://github.com/jemise111/react-native-swipe-list-view/blob/master/components/S

[2020-07-21 02:19] jungleyu commented on #491
@jemise111 No, I retried without RNSLV, and this issue still exist, I think it's something related Flatlist and TouchaleOpacity.
`const renderItem = ({item}) => (
    <TouchableOpacity>
      <View style={styles.listCardWrapper}>
        <View style={styles.listCardLeftContentWrapper}>
          <Text style={styles.listCardType}>FYI Note</Text>
        </View>
        <View style={styles.listCardR